[2017-08-08 00:10] #198 closed

[2017-08-08 00:12] prescottprue commented on #216
Looking into this.

`populate` in v2 currently works with `storeAs` if you need an intermediate solution.

[2017-08-08 00:33] amaldare93 commented on #220
Im having the same issue; am I doing this right?

Firebase Data
[code]

[code]

[code]

Resulting profile prop:
[code]

[2017-08-08 05:33] compojoom opened #226 "Strange behaviour when trying to listen to path with ids"
v2.0.0.beta4 - I think that this is a bug, but please correct me if I'm wrong.

I have a user object like this:
![image](https://user-images.githubusercontent.com/693770/29056941-60c75996-7c0f-11e7-903d-5a43e5a28bcc.png)

each companyID points to the companies collection:
![image](https://user-images.githubusercontent.com/693770/29056958-7e3fc6d4-7c0f-11e7-9338-2dde67d2f46e.png)

I need to populat

[2017-08-08 09:16] prescottprue commented on #216
Great catch! Released in [`v1.4.5`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.4.5).

 More extensive testing on this to come, so we don't miss anything else with `storeAs`.

[2017-08-08 09:16] #216 closed

[2017-08-08 13:41] dchersey commented on #217
Yes, that was it ... and after working through a couple of other issues it loads without complaint.

However I am still unable to connect to my component, possibly due to an error in the doc for  [firebaseConnect](http://docs.react-redux-firebase.com/history/v2.0.0/docs/api/connect.html)

[code]

Unfortunately I am not fluent enough with ES6 to spot it myself, but it is complaining about an invali

[2017-08-08 17:01] prescottprue commented on #217
@dchersey `firebaseConnect` and `createFirebaseConnect` are different.

The way that you are using `createFirebaseConnect` (i.e. passing a string as the first argument) points it to a different store key, which is most likely not what you are trying to do unless you setup multiple stores (edge use case). Not passing anything as the first argument would create the type of `firebaseConnect` you are

[2017-08-08 17:48] #217 closed

[2017-08-08 19:22] dchersey commented on #217
Thanks again for your help; got it working finally. I'm using the decorators now .. here is the connect code that works with 2.0.0 ..using a simple counter to prove it works.

[code]

[2017-08-09 05:51] levithomason opened #228 "firebaseConnect creates massive empty arrays when path ends in a large number"
**Bug**

**What is the current behavior?**

When passing a path which ends in a number, `firebase.data` contains an array of length `number` filled with `undefined` where the last item in the array is the database leaf.

[code]

![image](https://user-images.githubusercontent.com/5067638/29106588-a5eb761c-7c8a-11e7-9f32-3f0ee4d6f1df.png)

Removing the `id` returns the correct result.  I get all my

[2017-08-09 05:56] levithomason commented on #228
I should note, this actually crashes the browser tab.

[2017-08-09 06:51] prescottprue commented on #228
@levithomason There is an update coming in [`v2.0.0-beta.5`]() that I believe fixes this (going to test to confirm).

[2017-08-09 06:57] prescottprue commented on #226
We chatted about this on gitter, but the fixes coming in [`v2.0.0-beta.5`](https://github.com/prescottprue/react-redux-firebase/pull/229) should hopefully take care of this.

Let me know if you get a chance to test the branch with the material example.

[2017-08-09 07:39] #203 closed

[2017-08-09 07:54] prescottprue commented on #220
@amaldare93 Populating multiple things with users will may cause you an issue with how things work currently. Going to try a similar pattern in the material example to confirm.

The feature mentioned in #126 would allow you to store the results of the different populate queries under different keys in redux, but I would rather address your issue (since your example looks correct at first glance).

[2017-08-09 08:45] prescottprue commented on #115
I believe that fixing #119 will handle this, but not sure. Putting it on the roadmap for v1.6.0.

[2017-08-09 09:49] prescottprue commented on #207
Released in [`v1.5.0-rc.4`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.5.0-rc.4).

[2017-08-09 09:49] #207 closed

[2017-08-09 09:53] prescottprue commented on #206
Released in [`v1.5.0-rc.4`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.5.0-rc.4).

[2017-08-09 09:53] #206 closed

[2017-08-09 09:54] prescottprue commented on #129
[`v1.5.0-rc.4`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.5.0-rc.4) includes this as well. Will soon be out of pre-release.

[2017-08-09 09:54] #129 closed

[2017-08-09 12:55] amaldare93 commented on #220
thanks, i appreciate you looking into these issues 👍

[2017-08-09 21:30] dchersey commented on #57
Thank you @brianlovin & @prescottprue; this was a helpful issue for me solving the same problem.
Might be a good update for the docs.

My 2.0 @connect code with mix of firebase and local state looks like:

### reducers
[code]
### component connect
[code]

[2017-08-10 07:34] trajakovic commented on #226
Well there are similar/same problem when fetching data by id. I'm running this on v2.0.0-beta.5 with react-native-firebase@^2.1.0 on real (android) device and error still persists.

Given this data:
![firebase-bug_report](https://user-images.githubusercontent.com/634401/29158014-8e5c10cc-7da9-11e7-9f7b-8ff3183906fb.png)

With this simple code:
[code]

(and this snippet from store.js):
[code]

reac

[2017-08-10 11:51] Domiii commented on #130
Seeing how my workarounds are running out of juice, I feel more and more compelled dedicating some time to this, even though I basically have negative time to work on this...

Did anything else happen in the meantime that would conflict with this plan, or can I go ahead on this (if I can find the time in the next two weeks)?

[2017-08-10 13:19] li-xinyang commented on #14
@prescottprue Based on the earlier code snippet you provided. I have tried to access the `uid` inside `@firebaseConnect` decorator but the `state` seems is an empty object.

[code]

I'm using version 2.0

[2017-08-10 14:53] levithomason commented on #228
Looking forward to it.  I will give it a go once released.

[2017-08-10 16:25] compojoom commented on #226
I was discussing this error with @prescottprue yesterday and it is exactly for the reason @trajakovic lists.
redux-firebase is creating an ordered array of the fetched data and there we use spread operator, but unfortunately some of the items in the collection are primitiveData.
The solution we decided on was to have the ordered list have the following structure:
{key: snap.key, value: snap.val()}

[2017-08-10 17:45] prescottprue commented on #130
@Domiii This would be awesome.

With v2 listeners are tracked in state already, which could make this quite bit easier. Other than that, this shouldn't be affected by too much that has happened recently.

If you are trying to add it to v2, then go with the `v2.0.0` branch, but if you are adding it to v1, go with the `v1.5.0` branch.

[2017-08-10 17:48] prescottprue commented on #14
@li-xinyang The first argument that `firebaseConnect` recieves is `props` not `state`. That means it will be an empty object unless you pass props.

If you need uid in `firebaseConnect` and are not passing it as a prop you can do the following:

[code]

[2017-08-10 17:50] prescottprue commented on #226
@compojoom I will try to get to it today. Thanks for reporting 😄

[2017-08-10 18:04] mike623 commented on #226
fyi, this problem also occur when I use `{ type: 'child_changed', path: 'users' }`. Can I only listen to the change instead pulling the whole database?

[2017-08-10 18:53] JosephShering opened #230 "bug(firebase): firebase error "TypeError: Converting circular structure to JSON""
For some reason `auth.json` has a circular structure in it, firebase version might need to be updated

`/Users/joseph/Projects/local_life/node_modules/react-redux-firebase/node_modules/firebase/auth.js:40`

Full stack
[code]

[2017-08-11 07:53] prescottprue commented on #226
@compojoom Ended up being super busy. It would be awesome if you could make a pull request against the [`v2.0.0-rc.5` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.5). If not I will try to get to it sometime soon.

[2017-08-11 15:26] mike623 opened #232 "feat(examples): lazy query example"
is HOC (ie. `firebaseConnect`) the only trigger to query? I have a situation which require to query by user's button click. I am expecting to start the query using `this.prop.firebase`. Does it make sense?

[2017-08-11 16:11] projoneftw commented on #85
@prescottprue I see you're planning to add this to 1.6.0, isn't going into 2.0?

[2017-08-11 18:38] prescottprue commented on #85
@projoneftw It will hopefully eventually make it into `v1.6.0` as well `v2.0.0` (since some still prefer the immutableJS `toJS` syntax).

The roadmap will indicate it under both, but switch the milestone back to `v2.0.0` for clarity.

[2017-08-11 23:19] marekolszewski commented on #206
@prescottprue The fix for this is nice, but it doesn't include the profile object as is included is social logins. Should it be?

Also, it appears that the bug still exists in v2.

[2017-08-11 23:25] marekolszewski commented on #206
@prescottprue Perhaps more importantly, the user object is inside the 'user' field in the social case, so perhaps the fix should return `{ user: userData }` instead.

[2017-08-12 01:17] prescottprue commented on #206
@marekolszewski You are correct that the signature should be the same. The issue with returning profile is that it would be need Yeah, the fix for that is going to be in the next [upcoming v2 release](https://github.com/prescottprue/react-redux-firebase/pull/229).

[2017-08-12 05:55] levithomason commented on #228
Version `2.0.0-beta.5` seems to have fixed the issue with the db leaf coming back as an array.  I now get the db leaf I was expecting.

However, the browser tab still freezes and eventually crashes.  Still investigating what is causing that.

[2017-08-12 06:21] levithomason commented on #228
False positive on the array bug fix.  When connecting to a path that ends in a number, the data retrieved is still an array of size `number`:
[code]
![image](https://user-images.githubusercontent.com/5067638/29238499-b7750322-7eeb-11e7-98b2-473b69a8593d.png)

[2017-08-12 11:34] compojoom commented on #226
closing this as we've merged the fix

[2017-08-12 11:34] #226 closed

[2017-08-12 17:52] prescottprue commented on #228
@levithomason Thanks for letting me know. I will look into it further.

Going to be busy this weekend so if anyone looks into it, feel free to create a PR.

[2017-08-14 00:22] fej-snikduj opened #234 "Does not unwatch all listeners upon unmount if there are multiple listeners with different queries at the same base path."
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
When using storeAs to create to unique queries to the same path, the listeners are not correctly unwatched upon component dismounting.  The initial watching works correctly, and all functions well, until the component dismounts.  Only one of the listeners is unset, and the remaining one remains on.

[2017-08-14 00:22] fej-snikduj commented on #234
submitting a PR to fix this

[2017-08-14 14:00] li-xinyang opened #236 "Query with Absolute Path get Full Data Set Instead of Entry Detail"
Screenshot below is the data structure lives in Firebase,

<img width="300" alt="screen shot 2017-08-14 at 21 55 33" src="https://user-images.githubusercontent.com/3349406/29274726-55deafb2-813b-11e7-8f8a-3b800d7b196c.png">

I would like to retrieve particular account details using an absolute account path ( `/accounts/${uid}/${repositoryId}/`), however, when I try to log the returned data. It is

[2017-08-14 14:09] li-xinyang commented on #232
From my understanding, when you query a data-souces inside `firebaseConnect` which bind the data-source to your components `props`. You do not need to query these data again, update them and the UI will get re-rendered.

[2017-08-14 21:18] #234 closed

[2017-08-15 04:07] prescottprue commented on #232
@li-xinyang Queries in `firebaseConnect` are only created/destroyed if the array returned to `firebaseConnect` is has a different value than the last time it was run.

That means that the case of props being used in a query path, the queries will only be created and destroyed if the props change.

[2017-08-15 13:43] mindtricksdev opened #238 "Support for multi location updates"
I would like to use firebase multi location update feature using react-redux-firebase internal instance.
https://firebase.googleblog.com/2015/09/introducing-multi-location-updates-and_86.html

Note that there's a simple workaround but it would be best if this was supported out of the box.

Instead of
`
firebase.database().ref().update(multipleLocationUpdates)
`

it would be nice if:
`
firebase.upd

[2017-08-15 15:49] prescottprue commented on #238
@mindtricksdev Update works the same in `v2`, meaning you must pass a string as the first argument to update (the path where to update). Meaning updating multiple paths looks like so:

[code]

[2017-08-15 15:53] prescottprue commented on #236
What does your mapStateToProps function look like? The path which you gather the data from redux must match the listener path.

[2017-08-15 16:04] mindtricksdev commented on #238
Actually, that throws an error
`Error: Reference.child failed: First argument was an invalid path = "". Paths must be non-empty strings and can't contain ".", "#", "$", "[", or "]"`

The paths to update are keys in `multipleLocationUpdates`.

[2017-08-15 16:12] prescottprue commented on #230
@JosephShering Have you tried using [v2](http://docs.react-redux-firebase.com/history/v2.0.0/)? It allows you to pass a Firebase instance meaning that you can manage the version yourself.

That said, it could have something to do with your setup. Are you using `nextjs` to try to do server side rendering? If so, have you set `enableRedirectHandling: false`? May be unrelated, but just a guess.

[2017-08-15 16:16] prescottprue commented on #238
There was a typo in my last comment. I actually meant for you to pass `'/'` as the path:

[code]

[2017-08-15 17:37] mindtricksdev commented on #238
I tested this and it works. Looks good 👍

Thanks!

[2017-08-15 17:37] #238 closed

[2017-08-15 22:56] li-xinyang commented on #236
Hi @prescottprue, thanks for the response.

[code]

This is my `mapStateToProps` function, I have to dynamic fields, so you mean I should do something like below?

[code]

[2017-08-15 23:39] benoj opened #239 "feat(populate): populate ordered data"
Is it possible to have ordered data that has been populated?

[2017-08-16 00:31] prescottprue commented on #239
@benoj No, `populatedDataToJS` does not currently handle ordered data in `v1` (but is a planned feature of `populate` in `v2`). You can however do the population from redux by hand since the data is available.

That means that data needed for populating can be gathered with `populates` in your query config, but you will need to do the mapping yourself.

Something like this (if using v1):

[code]

[2017-08-16 03:32] prescottprue commented on #236
@li-xinyang Correct. With your first function you are passing all firebase data from redux into your component under the prop `data` (which doesn't seem to be what you want). You second function should work as expected if I am correctly understanding the data structure.

Yup! Always glad to answer questions. If you have more questions along the way of implementation I am usually faster to respond

[2017-08-16 03:32] #236 closed

[2017-08-16 04:41] #223 closed

[2017-08-16 12:16] benoj commented on #239
Thanks, will look to migrate to v 2.0.0

Just a further general question w.r.t ordered data. My data looks as below

[code]
And my query looks like
[code]

The comments are coming back as an object, is there a better way to query this so that they are coming back as an ordered list?

[2017-08-16 16:34] prescottprue commented on #239
The query is no different, you just get it from a different place in redux (i.e. `ordered` instead of `data). If you are currently using v1, then the following should work:

[code]

[2017-08-16 19:46] benoj commented on #239
I meant more along the lines of my render method looks like this:

[code]

But my understanding is that `Object.keys` does not necessarily [guarantee the order](https://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order).. is there a better solution to this using the `orderedToJS`?

[2017-08-16 20:50] prescottprue commented on #239
@benoj `orderedToJS` is the same as `dataToJS` except for the fact that it does guarantee the order since it is an array, so not sure what is meant by "better".

Is there a reason you can't just pass the ordered data as your prop (as indicated in my last example)? That way, when you are mapping you can just to `this.props.comments.map(someMapFunc)` since **ordered data is an Array** instead of usi

[2017-08-16 21:49] benoj commented on #239
I am not seeing an array come through..

With the following I am seeing the ordered never coming through.. Am i misunderstanding how to use it? (Still on v1.5)
[code]

[2017-08-16 21:49] benoj commented on #239
^ here the comments is an object and ordered is coming through as the default `[]`

[2017-08-17 00:20] neospirit commented on #239
Hi there,
I'm having some issues to get objects of authenticated user. For the moment, I have to hardcode the Firebase user ID in the "equalTo" query parameter. I think I miss something here but I'm close :) . I'm on the 2.0.0-beta6 by the way.

[code]

[2017-08-17 23:40] prescottprue commented on #239
@neospirit What you are asking about seems to be unrelated to this issue. Feel free to [reach out over gitter]() or open a new issue if you believe you are experiencing a bug.

@benoj Usually I use `isLoaded` within the component's render itself so I can do different stuff (i.e. show a loader) when data is loading. From the looks of it though, what you are doing should work. Have you checked `redu

[2017-08-18 00:53] prescottprue commented on #232
@li-xinyang Does this solve your use case?

[2017-08-18 02:34] li-xinyang commented on #232
@prescottprue Yes, this does solve my use cases. Thanks for asking.

[2017-08-18 15:12] dchersey opened #242 "Connecting to a single object in firebase"
I'm using a passed-in property to connect a component to a single user in my firebase database, and I'm running into some conceptual(?) problems using firebase connect.

[code]

The above code seems to populate firebase data with a users collection of all users (granted, there is another component I have that connects to '/users' so perhaps this is why, but I cannot seem to extract a reference to

[2017-08-18 16:24] prescottprue commented on #242
Your listeners seem correct, but your connect function must then grab the data from redux that you want.
[code]

[2017-08-18 17:36] dchersey commented on #242
Ah, yes ... still wrapping my brain around arrow function object literals :)

That code did the trick, with the addition of a null check for the invocation with my props (from parent) and no firebase state yet.

[code]

Feeling nostalgic for ruby/coffee's safe navigation operator but liking ES6 more than coffee script :)

[2017-08-18 17:53] prescottprue commented on #242
Great 👍

You can also use the `isLoaded` and `isEmpty` helpers

[2017-08-18 17:53] #242 closed

[2017-08-18 17:58] dchersey commented on #242
Ah, that's what they are for :)

revised code
[code]

[2017-08-20 09:48] mike623 commented on #232
No, but it does not solve my case. My question is: can I create a query in my own function inside class like `handleButtonClick` instead of query on HOC

[2017-08-21 20:26] prescottprue commented on #232
@mike623 Yes, `watchEvent` can be used externally (even thought it is an internal function) if you pass dispatch to it.

An example will be coming soon.

[2017-08-23 05:51] zhang-z opened #244 "signInWithCustomToken API inconsistent?"
I'm using react-native + react-redux-firebase. After calling `this.props.firebase.login({token: xxx})`, I got `@@reactReduxFirebase/LOGIN_ERROR`.

Inspecting the code, I found the problem is here: https://github.com/prescottprue/react-redux-firebase/blob/master/src/actions/auth.js#L328

The code is expecting `userData` to be a JSON **string**, which contains `stsTokenManager. accessToken`. But in

[2017-08-23 05:54] zhang-z opened #245 "Login API document outdated?"
I tried to Custom Token login by `this.props.firebase.login(tokenStr)` (react-redux-firebase@2.0.0-beta.5). It doesn't work for me. Instead, I have to `this.props.firebase.login({token: tokenStr})`. Is the [API doc](http://docs.react-redux-firebase.com/history/v2.0.0/docs/auth.html#logincredentials) not updated?

[2017-08-23 07:01] prescottprue commented on #245
@zhang-z Looking into that now, thanks for reporting.

[2017-08-23 07:05] prescottprue commented on #244
It is not expecting it to be a JSON *string*, it is a JSON *object` (which is why there is the destructuring), then `accessToken`, which is a *string* is decoded using JWT decode.

What does the login error say? You should be able to check in state through redux devtools.

[2017-08-23 07:18] zhang-z commented on #244
@prescottprue , thank you for the quick reply.

In my project, I saw this action been dispatched:
[code]

In my bundled JS file:
[code]
If I'm not wrong, it's the transformed code of:
[code]

I inserted debugging code to `console.log(typeof userData)`. Result was `object` rather than `string`, so `toJSON()` failed. If I changed the line to `var _userData$toJSON = userData`, it passed. But the next

[2017-08-23 07:26] prescottprue commented on #244
`toJSON()` should be a method available on the object that returns from Firebase in that situation. It seems that this is a difference between the react-native-firebase API and the Firebase JS SDK API.

It would be good to open an issue on their end so that we can see if there is a reason that the API is different.

[2017-08-23 08:29] prescottprue commented on #245
Updated and published along with [`v2.0.0-beta.6`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.6).

[2017-08-23 08:29] #245 closed

[2017-08-23 09:22] prescottprue commented on #228
It seems that this may be due to the internals of lodash's `set`. Open to PRs if anyone has time, but I won't be able to look more until later.

[2017-08-23 10:01] prescottprue commented on #244
@zhang-z The authors of [react-native-firebase](http://invertase.io/react-native-firebase/#/) have confirmed that will not be changing the API to directly match the Firebase API.

It seems that we should use [`getIdToken`](https://firebase.google.com/docs/reference/js/firebase.User#getIdToken) instead. Will update soon.

[2017-08-23 10:58] zhang-z commented on #244
My mistake, there was nothing wrong with react-native-firebase's `toJSON`, the root cause is still `stsTokenManager`.

As a workaround, I will use `this.props.firebase.auth().signInWithCustomToken(token)` to replace `this.props.firebase.login({token})` before the next version is released. Thank you for your efforts.

[2017-08-23 17:20] levithomason commented on #228
I'm very familiar with lodash and it's shorthand but I'm not quite sure where to look in `react-redux-firebase`.  If you could point to a suspect file or two, I can likely fix it.

[2017-08-23 18:44] levithomason commented on #228
See #248 for the fix.

[2017-08-23 23:35] nicolasgarnier opened #249 "[v2] Getting `TypeError: firebase.auth is not a function` when passing a Firebase app instance"
I'm getting the following error when passing a firebase App instance rather than the firebase library to `reactReduxFirebase` :

[code]

Here is how to reproduce the issue:

[code]

This code, however, works (where I pass the firebase lib rather than a Firebase App instance):

[code]

However the best practice should be to pass a firebase App instance rather than the firebase library. The app Inst

[2017-08-23 23:39] prescottprue commented on #249
@nicolasgarnier Which version are you using? This syntax only works with v2. [Here are the docs about the migration from v1 -> v2](http://docs.react-redux-firebase.com/history/v2.0.0/docs/v2-migration-guide.html#pass-in-firebase-instance).

[2017-08-23 23:45] nicolasgarnier opened #250 "[v2] feature request: Make react-redux-firebase work with lazy loading and modular loading"
In general it would be nice if react-redux-firebase was compatible with lazy-loading or at least modular loading of the Firebase library which is rather large.

Use case is: What if I want to only use firebase auth (and not Firebase database) with react-redux-firebase?

In my code, if I only want to use Firebase auth (and not Firebase database, Firebase storage etc...) I would load the SDK like th

[2017-08-23 23:45] prescottprue commented on #249
Ahh... Just noticed the v2 in the title. Attempting to replicate now.

The initial thought was to pass the whole library since there could be multiple app instances, but I agree it would be best to pass the instance. It seems like it would make it easier to run firebase apps side by side in the same store (currently when doing this users have stored other apps under different store keys).

[2017-08-23 23:56] nicolasgarnier opened #251 "[v2] react-redux-firebase not working with isomorphic apps."
I'm currently trying to use react-redux-firebase on the server side (as part of a React isomorphic app). I'm getting the following error:

[code]

I'm not sure at this point what's causing the issue in react-redux-firebase.

[2017-08-24 00:40] prescottprue commented on #251
@nicolasgarnier Have you tried passing `enableRedirectHandling: false`?

By default redirect handling listener is setup, which could be breaking things in an environment that does not have http.

#199 is also asking for this, so I am working on an isomorphic app example now.
The responses of #157 [contain an example](https://github.com/prescottprue/react-redux-firebase/issues/157#issuecomment-3089

[2017-08-24 01:20] nicolasgarnier commented on #251
Thanks! `enableRedirectHandling: false` did the trick :)

Might be worth adding it to this page in the docs: http://docs.react-redux-firebase.com/history/v2.0.0/docs/recipes/ssr.html

[2017-08-24 04:18] levithomason commented on #228
Seems changing the base branch breaks the auto close feature? Closing as fixed.

[2017-08-24 04:18] #228 closed

[2017-08-24 05:04] prescottprue commented on #250
@nicolasgarnier This is a really interesting thought. Going to look into adding it.

[2017-08-24 05:08] prescottprue commented on #210
Closing since this is released in both active `next` and `canary` versions

[2017-08-24 05:08] #210 closed

[2017-08-24 09:55] codekiln opened #253 "feat(examples): redux-offline example"
I love how there are so many integration instructions posted in the docs. One integration that I would love to see posted in the docs is [`redux-offline`](https://github.com/jevakallio/redux-offline). Here's [a discussion of redux-offline in the firebase library's github issue related to offline-first PWAs](https://github.com/firebase/firebase-js-sdk/issues/17#issuecomment-312384837).

[2017-08-24 10:13] prescottprue commented on #250
[`v2.0.0-beta.7`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.7) includes a first swing at supporting passing just the app instance.

Let me know if it does not handle your use case or work for you as expected.

It uses `extendApp`, which I didn't know about until today, so totally open to other implementations.

[2017-08-24 10:14] prescottprue commented on #249
As I mentioned in #250, [`v2.0.0-beta.7`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.7) includes support for passing just the app instance.

[2017-08-24 10:14] #249 closed

[2017-08-24 10:16] prescottprue commented on #244
[`v2.0.0-beta.7`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.7) has been released, and it no longer automatically decodes the token to create the profile (left to be handle in app through `profileFactory`).

Let me know if this does not function as you expect.

[2017-08-24 10:16] #244 closed

[2017-08-24 10:18] prescottprue commented on #99
#253 may be releated

[2017-08-24 10:40] nicolasgarnier commented on #249
Sweet! Thanks so much @prescottprue

[2017-08-24 10:41] nicolasgarnier commented on #250
Thanks! I'll have a look asap and let you know :)

[2017-08-24 12:28] nicolasgarnier commented on #249
works like a charm! 👍

[2017-08-24 13:00] nicolasgarnier commented on #250
Unfortunately this did not work for me.

I tried using *react-redux-firebase* with only Firebase auth loaded (and not firebase database).

Usecase: Let's say that hypothetically I am not interested in database but only Firebase auth state event or I want to load `firebase/auth` first, so that the sign-in pages load faster and then delay loading the `firebase/database`.

I am getting this error:
[c

[2017-08-24 13:14] zhang-z opened #254 "feat(login): resetBeforeLogin option to enable/disable resetting of auth and profile on login"
I call `firebase.login({token: token})` every time my app starts, which means `login()` could be called while the user is already logged in (yup this point can be improved, but the potential issue still exist). In this case, `store.firebase.auth` got reset to `{isLoaded: true, isEmpty: true}`. Firebase actions were dispatched in this sequence:
1. AUTHENTICATION_INIT_STARTED
2. AUTHENTICATION_INIT_

[2017-08-24 16:25] prescottprue commented on #254
LOGIN_ERROR is run with `null` so that it empties out any login errors that could have occurred from previous login attempts.

It would probably be best to check for auth before you re-run `firebase.login`.

[2017-08-25 01:56] zhang-z commented on #254
Yup, I will add the check in my project.

This sounds good. Thanks.

[2017-08-26 08:13] mike623 commented on #232
@prescottprue Thanks. will have a try

[2017-08-27 22:49] prescottprue commented on #250
@nicolasgarnier Is there documentation other than [the API reference](https://firebase.google.com/docs/reference/js/firebase.app) for how best to use the app instance?

I am having trouble figuring out the best pattern to do this. When passing around the app instance instead of the whole firebase library, `firebase.database.ServerValue` does not work as expected (firebase.database is only a functi

[2017-08-28 08:51] nicolasgarnier commented on #250
Hey @prescottprue

As you've noticed the Constants (like ServerValue...) are not part of a Firebase App instance. They need to be referred directly with the firebase namespace e.g. `firebase.database.ServerValue`.

I'm thinking for the purpose of allowing lazy loading, the only way we could do this is:

[code]

But actually you can test for either `firebase.database` (on the SDK if you needed to i

[2017-08-28 08:54] nicolasgarnier commented on #250
By the way could you send me an email (email is on my profile), there are some non-public things I'd like to talk to you about :)

[2017-08-28 21:30] marekolszewski opened #256 "bug(populate) Population does not work for 'once' queries"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When marking a query as type: 'once', population ceases to function.

**What is the expected behavior?**
Population should work the same as 'on' queries.

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
I noticed thi

[2017-08-28 21:31] marekolszewski commented on #254
There are times when you might want to log the user in a second time. I believe I sometimes do that when Firebase requires a fresh login to change a user's email or password.

[2017-08-28 22:20] prescottprue commented on #254
@marekolszewski In that case, when logging in the second time, wouldn't you want the auth/profile to be removed since it is new data?

[2017-08-28 22:54] marekolszewski commented on #254
@prescottprue Unfortunately, in this case, no. Removing auth redirects the user away from the settings page because they are briefly no longer logged in.

I think I solved the issue on my end by using a login popup when someone is accessing a page behind a login wall, but others might still have this issue. I think firebase has a special re-login flow, but I didn't look into it too much. Maybe we

[2017-08-28 23:17] prescottprue commented on #254
@marekolszewski and @zhang-z What are your thoughts on a config option (something like `emptyBeforeLogin: false`) to control this?

In v1 it would have to remain `true` by default to remain backwards compatible.

I think in v2 it should be `false` by default, but open to input on this front.

[2017-08-29 02:14] zhang-z commented on #254
`resetBeforeLogin` sounds a better name over `emptyBeforeLogin`. Thanks!

[2017-08-29 07:24] prescottprue commented on #256
Support for populating once queries was added to the [`v2.0.0-beta.8` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.8). Would you mind giving it a try by before I release by testing locally [with npm linking](http://react-redux-firebase.com/docs/contributing.html#npm-linking)? Still need to write some more comprehensive tests.

If it works as expected, it will most

[2017-08-29 07:27] prescottprue commented on #239
Initial support for populating ordered data has been added to the [`v2.0.0-beta.8` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.8). Unit tests still need to be added.

It can be tested locally before the release [with npm linking](http://react-redux-firebase.com/docs/contributing.html#npm-linking).

This also comes with a ton of simplification to the populate logic

[2017-08-29 07:32] prescottprue commented on #254
@zhang-z Glad you saw the new name, was going to mention that. The update should be released soon, but you can try it now on [the `v2.0.0-beta.8` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.8).

[2017-08-29 07:38] prescottprue commented on #250
@nicolasgarnier Reached out over email :)

Also, just wanted to mention:
[The `v2.0.0-beta.8` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.8) includes changes that should fix the `TypeError: Cannot read property 'ServerValue' of undefined` issue you were seeing. Still not sure everything works 100% perfect when passing the app instance, but I have started expanding

[2017-08-29 08:43] nehvaleem opened #257 "bug(query): remove does not update state when query is applied"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

I am facing an issue when events won't fire when I delete element from my database when firebaseconnect using queryParams.  Data in redux is refreshed when creating new data, but upon deletion it stays the same.

**If the current behavior is a bug, please provide the steps to reproduce and if possi

[2017-08-29 23:10] marekolszewski commented on #256
@prescottprue Sure, will try to take a look later today. Awesome work!

[2017-08-30 13:01] ucare-wuh opened #259 "bug(populate) not working when firebaseConnect multiple paths"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
populate is not working when multiple paths specified in @firebaseConnect.

[code]

**What is the expected behavior?**
It should populate correctly.

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
Found this issue o

[2017-08-30 14:35] jsbranco opened #260 "Authentication with React-native-firebase not working?"
**Do you want to request a *feature* or report a *bug*?**
Potential Bug

**What is the current behavior?**
Cannot use react-native-firebase with this project

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

When trying to call this.props.firebase.login({}) from react-na

[2017-08-30 19:21] prescottprue commented on #260
Looks like you are correct, OAuth through `react-native-firebase` works different from the Firebase JS SDK. Based on [the react-native-firebase documentation](https://invertase.io/react-native-firebase/#/modules/authentication?id=examples) authentication to Facebook should use `react-native-fbsdk`.

[2017-08-30 19:34] prescottprue commented on #259
@ucare-wuh What is the intention with multiple queries to the same path without different `queryParams` in your first example?

As things are currently, multiple queries to the same path with the same query parameters (what your first example does) only sets the first query. This is intentional to match Firebase's internal logic that does not set another listener to a query path if one already exi

[2017-08-30 19:55] prescottprue commented on #257
Going to try to reproduce myself, but if the query is attached at that path, then removing data should come through the listener.

Side Note:

Not sure it is related, but I don't believe you can do `orderByChild=members/someId`? From what I understand, [orderByChild only accepts a single key(not a nested key)](https://firebase.google.com/docs/reference/js/firebase.database.Query#orderByChild).

[2017-08-31 01:23] ucare-wuh commented on #259
@prescottprue , they are not the same path. The first one is 'messages' the second one is 'members'. 'group1' is the group id.

messages and members can be successfully loaded into data without any population.

If I understand this mistakenly, please kindly let me know too.

[2017-08-31 03:23] ucare-wuh commented on #259
@prescottprue , I found the issue was on my side. My program did not handle the case where populated value is `undefined` before promise resolves. An error was raised and stoped the process, leading the populated value did not get set in store.

Sorry for the trouble and thank you very much!

[2017-08-31 03:23] #259 closed

[2017-08-31 11:24] nehvaleem commented on #257
Thanks, let me know if I can provide some additional info. Creating data at given path works, but removing doesn't.

In terms of nested keys I think there is an option :) First of all it works for me, and secondly https://firebase.googleblog.com/2015/09/introducing-multi-location-updates-and_86.html (section about **_Ordering queries by deep paths_**)

[2017-08-31 16:14] smkamranqadri commented on #138
Same happing here, I am using 1.4.6 of react redux firebase with async storage so when I login and restart the app, the auth is gone, have to relogin, even if I use getFirebase() same happen, what work is the core firebase, if I login with core and restart the app, the auth is still there.

any suggestions?

[2017-08-31 18:29] nicolasgarnier commented on #250
Cool :) as soon as it's on npm I'll give it a try :)

[2017-08-31 18:36] nicolasgarnier commented on #250
FYI in beta 7 I'm also facing another bug when I pass a FirebaseApp instance instead of the firebase lib:

[code]

I do not get the issue when I pass the firebase SDK.

In that componant I'm using the HOC:

[code]

and then in the render method I'm trying to access the firebaseApp isntance:

[code]

[2017-08-31 19:18] prescottprue commented on #250
@nicolasgarnier Good to know. Did you get a chance to try out [the `v2.0.0-beta.8` branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.8)? Hoping to get this ironed out before getting into RC.

[2017-08-31 20:54] nicolasgarnier commented on #250
What's the easiest way to test the `v2.0.0-beta.8` branch?

`npm run prepublish` and then use whatever is in `/lib` ?

[2017-08-31 21:01] prescottprue commented on #250
@nicolasgarnier [the steps in npm-linking section of the contributing guide](http://react-redux-firebase.com/docs/contributing.html#npm-linking) is usually what I suggest.

It will make it so with any project you want to test with you can run the v2.0.0-beta.8 branch logic.

[2017-08-31 22:17] nicolasgarnier commented on #250
On beta.8 I'm still getting the error above:

[code]

[2017-09-01 03:41] prescottprue commented on #250
@nicolasgarnier I found out that the app instance has `firebase_` which has everything that is needed. Using that, I was able to remove the `extendApp` logic from before.

I was able to get the material example working completely with passing in just an App instance even when importing one service at a time. Also added some error catching to make things more clear.

There are some other things tha

[2017-09-01 12:56] gwitteveen commented on #257
Facing a similar issue

[code]
When a file is uploaded/key is added, 'media' updates. When a file/key is removed from 'media', the key itself is removed from ...firebaseio.com, but media does not update.

Here is where it gets interesting: when I first delete a key (media doesn't update) and then add a key, media does update but **both the deleted key and new key** are in media.

When all keys are

[2017-09-01 13:30] nicolasgarnier commented on #250
Cool. We're getting a bit further now and I'm now getting this issue:

[code]

How to repro: I did not create a "default app" instead I created a "named app like this:

[code]

It looks like somewhere in your code you tried to use the firebase SDK to get the "default" app like `firebase.app()` or `firebase.auth()` would do that. If you do this calls on the Firebase App instance that was passed it

[2017-09-01 16:26] prescottprue commented on #250
@nicolasgarnier Didn't realize named apps function differently, thanks for the explanation. Looking into that now.

It is great to know your intended use case.

[2017-09-01 17:06] nicolasgarnier opened #264 "feat(auth): auth-ready Promise"
In some case I'd like to delay some events until I'm sure the auth state is ready and that the redux store contains the auth state of the signed-in user.

Typically I'd like to delay generating the UI until I'm sure that the auth state is ready which happens after the `auth().onAuthStateChanged` listener has fired once. There are multiple reasons why:

On the client I'd want to avoid a potential "

[2017-09-02 01:40] prescottprue commented on #264
Love the idea for the feature, and it is great to see how you think it would be used. I am going to start experimenting.

Here are a few existing things that may help with the meantime solution:
  * `onAuthStateChange` config option (hooks into internal `onAuthStateChange`)
  * `AUTHENTICATION_INIT_FINISHED` action type is emitted after auth is setup (maybe subscribe and wait for that?)
  * `isLoa

[2017-09-02 06:40] prescottprue commented on #256
Let me know if it doesn't work as expected.

[2017-09-02 06:40] #256 closed

[2017-09-02 06:42] prescottprue commented on #254
Released `resetBeforeLogin` option in [`v2.0.0-beta.8`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.8). Let me know if it does not work as expected :).

[2017-09-02 06:42] #254 closed

[2017-09-02 06:45] prescottprue commented on #239
Initial swing released in [`v2.0.0-beta.8`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.8). It should also work for `once` queries now too.

Reach out if things don't work as expected.

[2017-09-02 06:51] prescottprue commented on #230
@JosephShering Did you get a chance to try out [v2](http://docs.react-redux-firebase.com/history/v2.0.0/) yet? Thinking this will no longer be an issue.

The v1 syntax will continued to be updated but since the Firebase version is linked to the library in v1 (again, not the case in v2), may take time for this to be solved for v1 users.

[2017-09-02 07:20] prescottprue commented on #84
v2 has seen major adoption, so this thread may be dead, but those still working with v1:

Since data is stored in an Immutable Map in v1, you can just pass the Map object down as props in the connect function. That way JS object conversion (most often through `.toJS()` or `dataToJS`) can happen in other places such as Component methods and the `render` function.

This can be particularly useful if

[2017-09-02 07:20] #84 closed

[2017-09-02 08:28] prescottprue commented on #220
@amaldare93 [The recent release of `v2.0.0-beta.8`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.8) includes smarting merging and improved population logic.

Other than that I am not able to reproduce.

[2017-09-02 08:31] prescottprue commented on #257
This seems to be due to recent additions of merging logic. The current plan is to add an action that will be fired when calling delete at a certain path.

[2017-09-02 08:39] prescottprue commented on #99
@manishtpatel Offline database updates are supported if you use [the native-modules integration with `react-native-firebase`](http://docs.react-redux-firebase.com/history/v2.0.0/docs/recipes/react-native.html#native-modules). There is also [the react-native-firebase complete app example](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0/examples/complete/react-native-firebase) which

[2017-09-02 08:39] #99 closed

[2017-09-02 09:15] prescottprue commented on #130
@Domiii [`v2.0.0-beta.8`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.8) support for this (thanks for the help @marekolszewski) through the `MERGE` action.

[2017-09-02 09:15] #130 closed

[2017-09-02 09:19] prescottprue commented on #55
"empty on unmount" capability is under consideration, and will most likely be part of v2. Using `storeAs` is the current suggestion.

[2017-09-02 09:19] #55 closed

[2017-09-02 09:21] prescottprue commented on #126
@Domiii  Are you currently using v1 or v2? There has been a ton of adoption of v2, so I was planning on moving this feature to there (meaning it will most likely get done sooner too). Any objections?

[2017-09-02 09:23] #220 closed

[2017-09-02 14:28] Domiii commented on #130
That is truly awesome! Looking forward to the final version actually not overriding data or removing data when subscribing to supersets and subsets of data across different containers! :D

(sorry, I did not end up finding/allocating the time myself :/)

[2017-09-02 17:03] Domiii commented on #126
Sure!

TBH: I'm not sufficiently up2date on recent developments anyway, so I'm not sure what the trade-offs are... Sorry! :)

[2017-09-02 20:12] marekolszewski commented on #256
@prescottprue Looks like it works great! Thanks!!!

[2017-09-03 14:21] amaldare93 commented on #220
i think i got around that original problem by upgrading to beta.5 and  populating everything via `profileParamsToPopulate`.

Are there any differences (performance, functional, real time updating) between populating values through the profile vs with `firebaseConnect` ?

[2017-09-06 15:58] christophervalles opened #266 "Enabling presence option throws exception"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to re

[2017-09-06 16:06] christophervalles opened #267 "bug(react-native-firebase): enabling presence option throws exception "Invalid Firebase Database path""
**What is the current behaviour?**
I setup `react-redux-firebase` along with `react-native-firebase` following the documentation. So far so good, but when I set the config option `presence` I get an error saying "Invalid Firebase Database path: //.info/ connected. Firebase Database paths must not contain '.', '#', '$', '[' or ']'"

When calling `reactReduxFirebase` I'm passing an instance of fireb

[2017-09-06 16:20] #266 closed

[2017-09-06 16:50] prescottprue commented on #267
@christophervalles It looks like it may be an issue with `react-native-firebase` not supporting the `.info/connected` path (which is how the JS SDK determines if it is online or not).

We should file an issue with them and see if there is another method we should be using or if they can support this path. In the meantime though, I will look into ways to catch the error and make it more clear.

[2017-09-06 17:13] christophervalles commented on #267
Oh, I see. I will open a ticket on their side too then.

Feel free to close this one unless you want to left it open to track any changes you do in regards to catching the error.

Cheers

[2017-09-06 23:15] adrienjt opened #268 "bug(auth): LOGIN action not dispatched after currentUser.linkWithCredential()"
Hi,

I use `react-redux-firebase@2.0.0-beta.8` with `react-native-firebase@2.1.4`. Users can start using the application anonymously and later log in with Facebook (keeping the anonymous `uid` if the linked Facebook account isn't already a user).

Here are snippets from thunks:

1. Login anonymously (from unauth state):
[code]
1. Login with Facebook (from unauth state):
[code]
1. Logout
[code]
1.

[2017-09-06 23:26] prescottprue commented on #268
Will look into reproducing this later today, thanks for reporting!

[2017-09-07 09:47] christophervalles commented on #267
@prescottprue I haven't opened a ticket on their side yet but I was just checking on my side. If I execute the following code to retrieve the `.info/connected` path, it works without issues, I get `true`. Should this call not fail too if they didn't support it or am I missing something?

[code]

[2017-09-07 17:28] prescottprue commented on #267
@christophervalles Hmm... that is interesting. Let me continue to debug with that in mind.

[2017-09-11 09:29] pzmudzinski opened #271 "bug(docs): redux-observable recipe link broken"
Docs are pointing to dead link: https://github.com/prescottprue/react-redux-firebase/blob/master/docs/recipes/redux-observable.md.

[2017-09-11 22:28] maitham1 commented on #85
Hi Scott, awesome library! I think this is a vital feature. Is there an eta for when this is likely to make its way on to v2.0.0 ?

[2017-09-12 11:15] maitham1 commented on #85
Is there a way we can achieve this now without waiting for populates method to be updated ?

[2017-09-12 16:59] prescottprue commented on #271
[I believe this page replaces it](http://react-redux-firebase.com/docs/recipes/epics.html).

Great find with the missing link though. Will clean that up.

[2017-09-12 17:08] prescottprue commented on #268
@adrienjt I was able to reproduce, so a fix for this is now in the works (basically what you did with dispatching the action). Should come to v2 soon, might take a little longer to make it back to the `1.*.*` versions.

[2017-09-12 17:33] prescottprue commented on #85
@maitham1 Population can be done manually, `populate` is just a convenience method.

### One Level Without Populate
If you pass populates to your query, the queries needed to retrieve that data and place it in redux will be created.

Usage of `populate` in the connect function is up to you:
[code]

### Nested

That said, if you are trying to create queries for "nested" data, for now you will have

[2017-09-12 20:08] maitham1 commented on #85
@prescottprue  Awesome thanks for this. I have a question isn't this method really inefficient, you're querying your entire user's directory, rather than the specific user you're after?

[2017-09-12 20:43] prescottprue commented on #85
@maitham1 Yes it is inefficient to do, but will be more than fine for most applications. It can also help if you do `type: 'once'` on the users query.

This answer is part of why the future plan is to get nested population working (then only needed queries are run).

[2017-09-14 21:50] pzmudzinski commented on #114
any news on that?

[2017-09-15 06:25] artisin commented on #230
I ran into the same exact error while using this fantastic library with Next.js and the [next-redux-wrapper](https://github.com/kirill-konshin/next-redux-wrapper) library. To make a long story short, this problem originate in the next-redux-wrapper and it simply will not work with `v1.X` or `v2.X`. However, all is not lost because the good news is you can easily create your own `withRedux` HOC  an

[2017-09-15 16:21] prescottprue commented on #230
@artisin Thanks for mentioning that, I will look into trying to work that into the docs and/or an example.

[2017-09-15 19:38] henrymoulton opened #272 "userProfile and profileFactory issue"
**What is the current behavior?**
Using the 2.0 beta, when a user signs up, the auth data is not being saved to the firebase database using the following config:

[code]
 ###   Database Rules:
[code]

I wasn't able to create a codesandbox due to this issue:https://github.com/zeit/next.js/issues/1999

**What is the expected behavior?**
Should be saving under /users/auth.uid/email: user.email

**Whi

[2017-09-15 19:49] prescottprue commented on #272
@henrymoulton What type of signup are you using and how do you call it?

Using `createUser`, or `login` with an external provider?

[2017-09-15 20:31] henrymoulton commented on #272
[code]

Similar to the material example

[2017-09-15 20:38] henrymoulton commented on #272
Ahhh I wasn't giving it a username properly from redux-form, my apologies!

[2017-09-15 20:38] #272 closed

[2017-09-15 20:39] prescottprue commented on #272
Also, side note: `createUser` logs you in automatically by default, so calling that yourself shouldn't be necessary  😄

[2017-09-15 20:48] henrymoulton commented on #272
https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/material/src/routes/Signup/containers/SignupContainer.js#L44

Was just following the docs 😇

[2017-09-15 23:23] prescottprue commented on #272
@henrymoulton Thanks for pointing me to that, I will clean that up.

[2017-09-16 17:48] lench4991 opened #273 "feat(auth): Reload auth"
Calling `firebase.auth().currentUser.reload()` fetches latest account data from firebase. An example use case for this is when we want to check if user has verified their email.

This however does not update the Redux state. My workaround is pretty simple but ugly. I'm dispatching a `LOGIN` action with the new reloaded auth object.

[code]

A better solution would be a `reloadAuth` function on `fi

[2017-09-17 22:22] prescottprue commented on #273
@lench4991 Yes, I think this would be a great addition. Feel free to open a pull request.

[2017-09-18 08:08] prescottprue commented on #271
Fixed in [`v1.5.0` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.5.0).

[2017-09-18 08:08] #271 closed

[2017-09-18 14:03] nicolasgarnier commented on #264
Thanks @prescottprue !

FYI this is what I've used in the mean time:

[code]

[2017-09-19 00:02] raghavendracs commented on #49
Think it was working earlier, but seem to getting same behaviour as detailed by @psych0der . Tried with both versions 1.4 and 1.5. Am I missing something?

[2017-09-19 00:35] prescottprue commented on #49
@raghavendracs and @psych0der With v1, if you have multiple populates with the same root in redux (i.e. `companies`), then the second query results will overwrite the first. This doesn't happen in v2 as it merges the data at a given path if it exists, which should yield better results for this type of thing.

I am going to open up a new issue with multiple paths at the same root so that the bug is

[2017-09-19 00:38] prescottprue opened #274 "bug(populate): multiple populates with the same root"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

When using multiple populates that contain the same `root` parameter, data is not correctly populated.
[code]
The reason seems to be that only data from one of the two populates is available.

More details available in #49

**What is the expected behavior?**
It is expected for data to be merged, so tw

[2017-09-19 00:46] prescottprue commented on #49
#274 Will be used to track issue with multiple populates at the same path.

[2017-09-19 01:02] elisechant opened #276 "bug(docs): the title is incorrect for the saga recipe"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behaviour?**
The title on the Redux Saga Recipe, incorrectly shows "Redux Form Recipes"

![screen shot 2017-09-19 at 11 02 23 am](https://user-images.githubusercontent.com/2195815/30571285-0ba07a56-9d2a-11e7-8025-bdd653749557.png)

**What is the expected behavior?**
Change the title from "Redux Form Recipes" -> "

[2017-09-19 09:56] raghavendracs commented on #274
Was doing further testing at my end on this bug and I wanted to share the following observations.

My structure is as follows,

[code]
When the keys actionsIn, actionsOut, archivedActionsIn and archivedActionsOut all exist the populates from same root /allActions works fine.

If any one of the "child keys" is not in the /users/ path the entire populates appears to be failing.

[2017-09-19 13:54] minusoneman commented on #239
I've been testing the new populate method (v2.0.0-beta.8), but I think there is an issue with ordered data.

[code]
seems to return a (unpopulated) object - I would expect an array.

I've prepared a few failing unit tests, but I want to make sure I understand the expected behaviour before I start debugging the new populate method.

Let me know if I'm missing something - and thank you for a great l

[2017-09-19 19:21] #276 closed

[2017-09-19 23:42] raghavendracs opened #277 "bug(populate): missing childKey causes no population"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

Trying with 2.0.0 latest version.

When trying to pass a set of child keys to populate if some of the keys does not exist in the firebase route none of the keys are populated.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem vi

[2017-09-20 06:21] prescottprue commented on #274
@raghavendracs From your error it looks like you are attempting to pass an object at the end of your query instead of a string (i.e. a uid). If you are loading auth and using the user's uid, you might want to do that in a parent component above the component using populate.

[2017-09-20 06:37] prescottprue commented on #277
Going to attempt to replicate, but a few things that stick out initially:

1. If you do not use connect, you will never be getting this data out of redux (maybe it got left out of the example or I missed something?)
1. If`AuthProfile`doesn't exist, then nothing is returned to `firebaseConnect`, which means that no queries will be created
1. Your queries might work more as expected if you [load/che

[2017-09-20 06:57] raghavendracs commented on #277
Thanks Scott.

1. Yes there indeed a connect as well just did not include in the snippet.

2,3. This component indeed is launched only for logged in users

4. Sure realised that and had tried without the / but situation does not change.

Also will look at de-capitalising the prop names if that is standard approach.

[2017-09-20 16:55] prescottprue commented on #277
If the component only shows for authenticated users, is the if statement within the `firebaseConnect` necessary (assuming `AuthProfile` prop) carries the auth. That could keep queries from being created.

[2017-09-20 16:57] prescottprue commented on #273
@lench4991 This can be added to v1.5, but it should also be added to v2.

[2017-09-20 16:57] raghavendracs commented on #277
No that is surely not needed. Was trying various things and it must have been left behind. I see same behaviour even without that check.

________________________________
From: Scott <notifications@github.com>
Sent: Wednesday, September 20, 2017 5:55:36 PM
To: prescottprue/react-redux-firebase
Cc: raghavendracs; Author
Subject: Re: [prescottprue/react-redux-firebase] Problem with Populates when ch

[2017-09-24 02:11] minusoneman opened #278 "feat(database): access store state within firebaseConnect"
**Do you want to request a *feature* or report a *bug*?**
It would be useful (sorry if there is already a way to achieve this), if it was possible to dynamically set the rootRef based on a redux value. This way a sort of multi-tenant structure could be used.

[code]
**What is the current behavior?**
Now I explicitly have to connect to redux before a query or action, ex:
[code]

Would love to hear

[2017-09-25 02:03] prescottprue commented on #278
@minusoneman This is already possible by passing a function (like what you did). Did you give your example a try?

[2017-09-25 02:20] prescottprue commented on #278
@minusoneman Connecting to state as you did in your example has been the accepted pattern.

Often times in bigger applications I have loaded this key or path in a higher component and passed it down.

#### Idea for v2

Are you using v2? Maybe a way this could be simplfied is have the second argument of functions passed to `firebaseConnect` receive the whole` store instance of the current internal

[2017-09-25 02:24] prescottprue commented on #277
@raghavendracs Is it possible for you to include the full example (including those `connect` snippets) so that the issue can be replicated?

Are you attempting to populate your own user profile? If so, it would take using `profileParamsToPopulate` along with `populate`.

[2017-09-26 06:45] prescottprue commented on #277
@raghavendracs Would love to reproduce the bug so it can get fixed. Any way you can post your full example?

[2017-09-26 06:48] raghavendracs commented on #277
Sure Scott. Will pull out the relevant code from my repo and post.

Best Regards,
Raghu

+44 7470 123 259
________________________________
From: Scott <notifications@github.com>
Sent: Tuesday, September 26, 2017 7:45:23 AM
To: prescottprue/react-redux-firebase
Cc: raghavendracs; Mention
Subject: Re: [prescottprue/react-redux-firebase] Problem with Populates when childkey does not exist (#277)

@ra

[2017-09-26 13:00] pzmudzinski opened #279 "bug(docs) Populate example has typo"
If you look here: http://docs.react-redux-firebase.com/history/v2.0.0/docs/populate.html#initial-data

It seems it should be `profileParamsToPopulate: [ 'displayName:displayNames' ]` instead of `'username:usernames'` (`usernames` aren't mentioned anywhere).

[2017-09-26 15:21] pzmudzinski opened #280 "bug(docs) invalid startAt & endAt explanation"
Docs [here](http://docs.react-redux-firebase.com/history/v2.0.0/docs/queries.html#startat) say:
```Limit query results to include a range starting at a specific number```

Which isn't exactly true, as it might be string, e.g.
`/todos#orderByKey&startAt="key1"&endAt="key10"`

[2017-09-27 01:44] minusoneman commented on #278
Thanks for the response! I am using v2, so let me try your suggestion and see if I encounter any performance issues.

[2017-09-27 03:22] prescottprue commented on #279
@pzmudzinski Looks like you are right. Will fix soon. Thanks for reporting!

[2017-09-27 03:25] prescottprue commented on #278
@minusoneman What I proposed for v2 *does not actually work* with current syntax, it was just a proposal for possible syntax.

That said, I have begun to look into doing this for v2.

[2017-09-28 07:33] levithomason opened #282 "firebaseConnect function crashes the browser tab"
**Bug**

**What is the current behavior?**

Browser tab hangs and crashes with this connect function, where `propertyId` is a number.

[code]

**Steps**

1. Create a data structure like `{ analyses: { 123: {}, 456: {} }`
1. Try connecting `analyses/123`, as a function that returns an array with a single string containing a number segment.

**What is the expected behavior?**

The data should be fet

[2017-09-28 07:38] prescottprue commented on #282
@levithomason Will try to replicate, thanks for reporting. Is that not the same issue mentioned in #228 ?

[2017-09-28 07:42] levithomason commented on #282
No sir, that issue was that a path ending in a number caused the fetched data to be an array of that size.  I fixed the issue related to `_.set` with number path segments in #248.

In this case, if I return an array of strings in firebaseConnect it crashes, but it works if I return a string only.

This might be related to lodash magic, but the crux is whether or not an array is returned in the fir

[2017-09-28 07:59] prescottprue commented on #279
Fixed. There is soon to be much more coming to the populate and query docs. Recently been busy with trying to get `v2` closer to stable.

[2017-09-28 07:59] #279 closed

[2017-09-28 08:01] prescottprue commented on #273
Into v2.0.0-beta.9 with matching tests. Will wait to close until it is published.

[2017-09-28 09:53] prescottprue commented on #268
Planning on adding a `linkWithCredential` method to the firebaseInstance that should handle this. Should hopefully be part of [`v2.0.0-beta.9`](https://github.com/prescottprue/react-redux-firebase/pull/281).

[2017-09-28 09:57] prescottprue commented on #282
@levithomason I see now, I didn't read the example closely enough the first time around.

This does seem unexpected, `firebaseConnect` usually expects an array of queries. What about if you do an array of objects instead of strings?

[2017-09-28 18:04] levithomason commented on #282
I will try to get some more detailed info here and perhaps a small repro.  I'm getting another crash when changing the `propertyId` prop after the first load.  This is code smell that something else could be involved.  Will let you know as soon as I find out.

[2017-09-29 17:35] prescottprue commented on #260
[This issue on `react-native-firebase` may be related](https://github.com/invertase/react-native-firebase/issues/431). Even if the two are not related, all OAuth with `react-native-firebase` updates will be posted to this issue.

Not totally sure yet, but it seem like OAuth with `react-native-firebase` may require a deeper integration with `react-native-google-signin` and/or `react-native-fbsdk`.

[2017-09-30 11:59] prescottprue commented on #115
In `v2` the `LOGOUT` action will only be able dispatched by actually calling `logout`, so this will no longer be an issue  (once `v2.0.0-beta.9 is released).

As for `v1`, a similar change would potentially be breaking if anyone was depending on state being emptied on failed redirect logins. May end up having to make it available through a config option, but will update when there is more info.

F

[2017-10-02 07:27] prescottprue commented on #119
@JulianJorgensen did you get everything working as expected? @Ethan-Arrowood as I understand, the only real issues are with the [`routing-recipes` in the docs](http://react-redux-firebase.com/docs/recipes/routing.html), specifically the stuff with `redux-auth-wrapper`.

Been trying to get time to work on an example, but stuff with `v2.0.0` has been taking up my time.

[2017-10-03 10:13] raghavendracs commented on #69
@prescottprue wanted to check if there is any update on this? Is it still on track for 2.0?

Also is there any way for force a populate?

[2017-10-03 15:16] prescottprue commented on #69
@raghavendracs Yes, this is still planned for v2.

Not sure what you mean by "force a populate".

[2017-10-03 15:24] raghavendracs commented on #69
Ok thanks.

At the time of loading a component there might be a set of keys which have been populated. Due to actions in the application I am firing some firebase cloud functions which do one of two possible things

1. Add some keys and associated data
2. Change data that was populated earlier during loading.

While I know that data has changed in firebase is it also possible for me have react-red

[2017-10-03 15:35] prescottprue commented on #69
@raghavendracs No there isn't. That is in essence what a listener would be doing.

You could create your own listener, but guessing that it is a unique path of some kind.

There is some people that have been asking for this in person as well, so it is very well known that this feature is needed.

[2017-10-03 15:40] raghavendracs commented on #69
Ok thanks. Will wait for the feature in v2.0

Was only checking in the hope that a complete refresh of the Firebase state on request (without differentiating between keys which have changed and ones that haven't) might have been possible.

[2017-10-03 17:12] benoj opened #284 "Firestore integration?"
Just seen this has been released: https://firebase.google.com/docs/firestore

Is this worth including into this library?

[2017-10-03 17:55] D1no commented on #284
For people who are confused what the difference is to the firebase real-time database, here is a blog post: https://firebase.googleblog.com/2017/10/cloud-firestore-for-rtdb-developers.html

Fair to expect, that Firestore will be somewhat the successor

[2017-10-03 17:59] benoj commented on #284
@D1no yeah seems that way, although it is still in beta - possibly worth a fork or feature switch?

[2017-10-03 21:04] barneyb opened #285 "feat(storage): customizable file name with uploadFile/uploadFiles"
**Do you want to request a *feature* or report a *bug*?**

feature!

**What is the current behavior?**

When uploading files with `.uploadFile` or `.uploadFiles`, the `name` property of the browser's `File` object is always used for the storage path.

 - If two files are uploaded with the same name, the second overwrites the first, with no collision detection.
 - There is no way to use generated (

[2017-10-03 22:50] prescottprue commented on #285
Agreed that this should be a feature and it is actually on the [roadmap for v1.6.0](http://react-redux-firebase.com/docs/roadmap.html#features).

I came up with a way to do it without it being a breaking change, so going to try to get it into a`v1.5.*` release.

As for a current way to get "non-guessable" names would be to provide a unique path (includes something like at timestamp) when calling u

[2017-10-03 22:57] prescottprue commented on #284
I have created a new library called [`redux-firestore`](https://github.com/prescottprue/redux-firestore) that will house logic for redux + firestore (research has been going on for a few months while the product was still in alpha).

It is intentionally front-end framework agnostic so that it can eventually be used in a framework specific library similar to `react-redux-firebase` (or even just use

[2017-10-03 23:03] #284 closed

[2017-10-04 05:19] sh-a-v opened #286 "feat(core): support for Cloud Firestore"
What about [Cloud Firestore](https://firebase.google.com/products/firestore/)?

[2017-10-04 10:16] max-barry commented on #286
Looks like the maintainer is [also working on Firestore bindings](https://github.com/prescottprue/redux-firestore).

That project currently doesn't build (from NPM or direct from the Git), but this is all great work so happy to be patient!

[2017-10-04 15:57] prescottprue commented on #286
@sh-a-v Yup, @max-barry is correct about the separate Firestore bindings.

[As mentioned in this issue](https://github.com/prescottprue/react-redux-firebase/issues/284) there is a [separate gitter channel just for the Firestore](https://gitter.im/redux-firestore/Lobby) stuff. That being said there is also a longer term plan of making them both available from a library like `react-redux-firebase`.

[2017-10-04 17:28] NathHorrigan opened #287 "firebase.auth(...).getRedirectResult is not a function"
BUG

**What is the current behavior?**
Error when remote debugging: firebase.auth(...).getRedirectResult is not a function

**What is the expected behavior?**
No Red box error

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
React Native: 0.48.3
react-native-firebase: ^2.2.0
react-redux-firebase: canary

OS: And

[2017-10-04 19:17] prescottprue commented on #287
@NathHorrigan Did you try passing `enableRedirectHandling: false` to config [as mentioned in the react-native recipe doc](http://docs.react-redux-firebase.com/history/v2.0.0/docs/recipes/react-native.html#react-native).

Either way, there was code added to detect this automatically for v2, so the fact that you are experiencing it is still a bug. Thanks for reporting!

[2017-10-04 22:13] samuelbriole commented on #267
Hi, I'm having the same bug, any news about the debugging ?

[2017-10-05 01:44] LaloHao commented on #287
I'm still getting this error on `"react-redux-firebase": "^2.0.0-beta.8",`, but only when Remote JS Debugging is on

[2017-10-10 12:48] pzmudzinski commented on #111
I am working on something similar, but my case is infinite scrolling.
So there's list of messages and when user reaches the top then next page is loaded (the same Messenger is doing).

I am going to use mix of `orderByKey#endAt=...&limitToLast=pageSize`.

So when you load it for first time you do
`orderByKey#limitToLast=pageSize`.
You need to save your load-more state in some separate object (e.g.

[2017-10-10 16:25] pzmudzinski commented on #119
This is my solution for v2 and RR v4:
[code]

[2017-10-10 18:07] prescottprue commented on #111
Not sure if it will be helpful, but here is some logic we have used:
[code]

[2017-10-10 19:37] pzmudzinski commented on #277
I am able to reproduce it on v2.
This is my config:
[code]

Each user has his neighborhood, but not all of them have direct messages.
Something like:
[code]

I pass that into a `reactReduxFirebase` as a config:
[code]

Then in my container I have something like that:
[code]

If user has both `neighborhood` and `directMessages` then profile is populated. If `directMessages` are missing there's *not

[2017-10-10 22:20] prescottprue commented on #277
@pzmudzinski thanks for pointing out a easy to reproduce case. Going to look into this later this week, but always open to PRs.

[2017-10-10 22:20] prescottprue commented on #287
@NathHorrigan Any update?

[2017-10-10 22:22] prescottprue commented on #119
Thanks @pzmudzinski. I will update the docs with this example. After I can confirm it working I will close the issue.

[2017-10-10 22:37] prescottprue opened #288 "bug(reducer): auth not stored as Immutable Map"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

[code]

**What is the expected behavior?**

Auth should be stored as an immutable map just like `profile`

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**

* v1.5.0 is affected, but would most likely require release

[2017-10-11 18:42] prescottprue commented on #286
Things are getting close with `redux-firestore`.

I can now confirm that `react-redux-firebase` will soon have Firestore capabilities. Logic is being strategically separated in to libraries so that only what is needed can be imported while still providing everything to libraries like `react-redux-firebase`.

Separating things may seem like overkill, but it is an intentional pattern. There are many

[2017-10-12 00:08] prescottprue commented on #273
[`reloadAuth` method included in `v2.0.0-beta.9` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.9)

[2017-10-12 00:08] #273 closed

[2017-10-12 00:08] prescottprue commented on #268
[`linkWithCredential` is included in `v2.0.0-beta.9` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.9)

[2017-10-12 00:08] #268 closed

[2017-10-12 00:10] prescottprue commented on #264
Included in [the `v2.0.0-beta.9` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.9). Let me know if it doesn't work as expected or cover what you needed. Thanks for the feature suggestion!

[2017-10-12 00:10] #264 closed

[2017-10-12 00:31] prescottprue commented on #119
Confirmed and placed in docs. Thanks again @pzmudzinski.

[2017-10-12 00:31] #119 closed

[2017-10-12 10:44] NathHorrigan commented on #287
`enableRedirectHandling: false` fixed it
@prescottprue

[2017-10-13 02:16] levithomason commented on #282
After refactoring, I'm unable to reproduce this.  I'm not sure what the issue was exactly.  One possibility could be related to connecting to paths that include `undefined` in the pathname.  I was using `auth.uid` in some cases before it was initialized.

Closing for housekeeping.

[2017-10-13 05:07] prescottprue commented on #282
@levithomason Thanks for the update. Great to know.

[2017-10-13 05:07] #287 closed

[2017-10-13 05:09] prescottprue commented on #287
Going to add something to the roadmap for checking existence of `getRedirectResult` before using it. That way, the config option won't be required.

[2017-10-13 22:38] prescottprue commented on #126
Bump. Had a few more people ask for this, both for `v1.*.*` and `v2.*.*`. Going to move it up on the roadmap since it seems like so many people want it

[2017-10-14 22:37] Modestas opened #290 "bug(auth) isLoaded incorrect behaviour"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]
Can't show spinner on auth loading because `isLoaded` state is behaving incorrectly.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**
Not loaded auth - `auth: { isLoad

[2017-10-15 01:50] prescottprue commented on #290
@Modestas This is definitely an issue thanks for reporting.

The change to separated reducers in v2.0.0 means that default state is required (which is why things are different than v1). It seems that in that change we did not correctly have auth state updating.

[2017-10-15 03:20] prescottprue commented on #285
Support for this will be part of the next v2.0.0 release. The 4th argument is now an options object which accepts a `name` parameter that can be either a string or a function. It can be used with the following syntax:

[code]

[2017-10-15 06:42] Modestas opened #292 "bug(auth) logout from custom token"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]
`metadata` path not fetched after logout. Metadata path in firebase is `read: true`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**
1. Sign in with `this.props.fireb

[2017-10-15 07:36] prescottprue commented on #292
@Modestas Currently listeners are not attached/detached based on auth state. That means you should be able to use `preserveOnLogout` to keep metadata from being removed. Something like:

[code]
It could also be done by hand currently using the `onAuthStateChanged` option to call a function that re-applies listeners.

All of that said I am going to look into adding something to the roadmap for re-a

[2017-10-15 09:55] Modestas commented on #292
Thanks for quick reply! I didn't find it in documentation because apparently it was missing in `compose.md` while `logout` docs were telling me to go look there.

Added quick PR.

[2017-10-15 10:19] prescottprue commented on #285
Available in `v2.0.0-beta.10`

[2017-10-15 10:19] #285 closed

[2017-10-15 10:22] prescottprue commented on #292
@Modestas Great find! I addressed that PR.

As for you original issue, going to close since it seems like you can solve with `preserveOnLogout` (correct my if I am wrong). Going to continue to look into an option to detach/reapply listeners on auth state change.

[2017-10-15 10:22] #292 closed

[2017-10-15 10:25] prescottprue commented on #290
@Modestas The fix for this was included in v2.0.0-beta.10. Let me know if still does not function as you expect. Going to add more extensive testing for the `onAuthStateChange` (where it seemed that this issue came from) stuff before `v2.0.0` is out of pre-release.

[2017-10-15 10:25] #290 closed

[2017-10-15 10:32] prescottprue commented on #286
`redux-firebase` is now passing the unit tests from `v2.0.0` of `react-redux-firebase`, so now it is just a matter of wiring it into `react-redux-firebase` which is planned for the next few days.

There are not yet tests or docs for the Firestore stuff, so that and a `firestoreConnect` or similar are still to come.

Thanks to everyone for the patience and help with testing while things are being b

[2017-10-15 10:40] Modestas commented on #286
Just for clarification, correct me if I'm wrong:

- I'm using `react-redux-firebase v2` and `Firebase Realtime Database`
- `redux-firebase`, `redux-firestore` and `react-redux-firebase` are finished for integrating.
- I switch my database from `Realtime Database` -> `Cloud Firestore` and change in my code that `react-redux-firebase` will use `redux-firestore` instead of `readux-firebase`.
- compat

[2017-10-15 19:52] prescottprue commented on #286
@Modestas To clarify:

* **Yes** - keep using `react-redux-firebase v2` and `Firebase Realtime Database`. `redux-firestore` and `redux-firebase` are lower level libraries that will be used in `react-redux-firebase v2`
* **Kinda** - Yes they are for the most part "finished for integrating" **BUT** are not actually integrated yet (which is what I am working on today). I would *suggest not using* `re

[2017-10-16 01:43] minusoneman opened #294 "bug(query): listener removal does not include query parameters"
**Do you want to request a *feature* or report a *bug*?**

Potentially a race-condition, but there might be a another explanation that I don't see, or perhaps it's a more general Component Lifecycle/redux issue.

Seems similar to #234, so I wonder if this could be still be a problem in 2.0.0-beta-10?

**What is the current behavior?**

1. Mount a firebaseConnect enabled container (Container1) with

[2017-10-16 05:13] prescottprue commented on #294
@minusoneman Interesting. Glad you brought it up with details and code snippets. Going to try to reproduce myself, but you may be correct with the routing being the cause.

Open to others ideas on this front if anyone else is experiencing it.

[2017-10-16 23:10] prescottprue commented on #286
### Update

The first phases of integration of `redux-firestore` into `react-redux-firebase` are on the [`v2.0.0-beta.11` branch](https://github.com/prescottprue/react-redux-firebase/pull/295).

`firestoreConnect` was added and `firestoreReducer` from `redux-firestore` is exposed so it can be used along side your current firebase reducer.

There is still a bit of work to do with correctly tracking

[2017-10-17 03:50] minusoneman commented on #294
Thanks @prescottprue !

I did some more testing, and it indeed seems like the Component2 (using Container2) is mounting before Component1 is unmounted, which explains the ordering of the dispatches.

Should react-redux-firebase v2 (currently) be able to handle unwatching uniquely assigned on()'s?

I'll dig deeper into the code, but this bit (utils/query.js:104) seems odd to me:

[code]

Is this wh

[2017-10-17 04:15] prescottprue commented on #294
@minusoneman That is the line where the listener is being removed.

What you are saying with the listener being detached based on just the path and not the query params seems exactly right. Hopefully the change is as easy as passing any query params along as we are making the off call.

Totally open to a pull request if you can get to it. I have been really busy with the firestore integration stuf

[2017-10-17 05:16] minusoneman commented on #294
@prescottprue happy to help! Not sure it's as easy as simply providing the query params to the off() call:

Let me try and outline a (possible?) solution, and let's see if it makes sense to you.

As per the firebase documentation (https://firebase.google.com/docs/reference/js/firebase.database.Reference), in order to cleanly turn off a listener, we need to keep track of the actual callback (snapsh

[2017-10-17 15:31] prescottprue commented on #294
So storing the callbacks for unregister is actually what I am currently doing for the Firestore stuff. What I have been doing is just store them on the internal Firebase instance that is passed around (on the `_` parameter).

I'll try some stuff out today/tomorrow and get back to you

[2017-10-17 17:26] Modestas opened #296 "[2.0.0] feat(populate): childParam support for string query config"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0-beta.11/src/utils/populate.js#L25
Unimplemented `childParam` in populate.

Small example with correct auth:

[code]

[2017-10-17 17:34] prescottprue commented on #294
@minusoneman Thanks for the update, been thinking a lot about this.

I don't of a method or listing listeners/queries, but I usually turn on `enableLogging: true` so you can see the debugging info that comes from the firebase lib.

Part of why I have been intending to store info about the watchers/listeners in state is so that we could easily see a list of them like you are mentioning. There has a

[2017-10-17 20:55] prescottprue commented on #296
@Modestas Another great catch! I will try to get the logic for this into the next v2.0.0 pre-release

[2017-10-18 02:45] minusoneman commented on #294
@prescottprue I agree that keeping a list of active listeners in redux would be great. If only the firebase SDK allowed for listeners to be turned on/off with an self-assigned identifier (instead of a callback), that would be great.

I managed to get some debug information out (since react-native-firebase, there is no easy way to initialize a firebase instance in JS), so I have currently hardcoded

[2017-10-18 06:20] prescottprue commented on #294
@minusoneman I am talking about storing the callback itself (the function) on the internal instance that is passed around (which for lack of a better term I called "firebase"). It is an extended version of Firebase that has a `_` parameter which is used to store internals.

As for still seeing the data coming back it is hard to tell without looking deeper. `react-redux-firebase` will only react to

[2017-10-18 07:33] minusoneman commented on #294
@prescottprue I'm trying to wrap my head around this. If we're going to store the callback in the 'firebase' instance (and not the component), how will we know when to turn off the listener?

I like that the current implementation clean up at componentWillUnmount(),  but that will still require some sort of mapping from component(s) <=> callback(s) (no matter how or where we store it), so we can t

[2017-10-19 01:54] prescottprue commented on #294
We will know how to turn it off by its key that it is stored on the internal Firebase object (which can be the queryId).

`componentWillUnmount` will still be able to call `unWatchEvents` with the list of query config objects (stored on the component) to detach listeners, but the listeners themselves (the functions) will be stored on the internal object.

That way, in the future we can support com

[2017-10-19 08:56] prescottprue commented on #277
Fix was included as part of [`v2.0.0-beta.11`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.11).

Shout out to @jeremyplease for the PR that fixed it

[2017-10-19 08:56] #277 closed

[2017-10-19 09:47] prescottprue commented on #286
[`v2.0.0-beta.11`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.11) adds support for Firestore through redux-firestore.

[The Firestore section](http://docs.react-redux-firebase.com/history/v2.0.0/docs/firestore.html) has also been added to the docs with info about Profile and queries stuff.

Please feel free to open issues/pull requests if the docs are not clear o

[2017-10-19 09:47] #286 closed

[2017-10-19 09:50] prescottprue commented on #267
The recent v2.0.0-beta.11 release uses `firebase.database().ref('.info/connected')` directly as @christophervalles mentioned works for him. I have not yet tested it on react-native, but will try to in the next week. If this didn't fix it (which it most likley won't), it might require a deeper dive.

[2017-10-19 10:27] samuelbriole commented on #267
@prescottprue

Are we supposed to use `firebase.database().ref('.info/connected')` or is it now possible to use `presence` in the config ?

[2017-10-19 17:33] prescottprue commented on #267
@samuelbriole The goal is to have you be able to use the `presence` config.

Like I said though, I didn't actually test if the small change in react-native yet, all I did was make the internal call use `firebase.database().ref('.info/connected')` directly (instead of using both `ref and `child`).

Going to test it out myself, reproduce, and confirm before closing the ticket though.

[2017-10-19 17:34] AVVS commented on #250
firestore in recent beta increases bundle size by 60KB gzip, so it would be great to see separation there as well

[2017-10-19 17:39] prescottprue commented on #250
@AVVS Yup, I noticed that as well. Using babel-plugin-lodash I was able to shrink it a bit, but we may need to make it a peer dependency and have including it be part of the setup.

[2017-10-19 20:17] prescottprue commented on #250
@AVVS I have come up with a way to have `redux-firestore` be an optional dependency instead of a full dependency. This way it is up to the end user to choose to include `redux-firestore`.

The setup instructions will fully outline this.

[2017-10-19 20:21] AVVS commented on #250
awesome!

[2017-10-20 18:14] stevematdavies commented on #128
I have the same error, im using react-dom 16 and no other library

[2017-10-20 18:40] prescottprue commented on #128
@stevematdavies This issue is from a while back and should be solved by being up to date. A few questions would help me get to the bottm of it faster:

* What version of `react-redux-firebase` are you using?
* What does your `.babelrc` look like?
* Are you npm linking?
* What does your webpack/rollup config look like? (or your build setup if not using one of these)
* Have you tried any of the exam

[2017-10-21 00:54] jake-nz commented on #14
It's great being able to access `authUid` like this, without needing to `@connect` first just to get auth from the store. I'm scared of `firebase._` though! `_` is clearly an internal object not intended to be accessed by users. Maybe you could make it available at `firebase.authUid` too?

[2017-10-21 17:32] fivetwentysix opened #300 "feat(examples): example showing how to query a single record from a collection"
I'm trying to get a single item in a collection for a component.

Perhaps it could be included in the todos examples.

[2017-10-21 23:26] prescottprue commented on #14
@jake-nz Yes it is an internal object. That is an interesting suggestion, going to look into it a bit more.

[2017-10-21 23:30] prescottprue commented on #300
The material complete example [shows this in the Project Container](https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/material/src/routes/Projects/routes/Project/containers/ProjectContainer.js).

The todos example was originally made to be a bit more simple. I'll look into adding something simple that still gets the point across. Also, totally open to suggestions a

[2017-10-22 09:28] prescottprue commented on #115
Apparently the cause of this in `v1.*.*` was that some auth methods would return empty auth info in `onAuthStateChanged` (which dispatches `LOGOUT` action) after an auth error had been returned.

`disableEmptyAuthDispatch` config option was added in [the `v1.5.1` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v1.5.1) for disabling dispatch of `LOGOUT` action when auth u

[2017-10-22 09:28] #115 closed

[2017-10-22 09:31] prescottprue commented on #232
A `watchEvent` example has been added with two flavors:

* [basic](https://github.com/prescottprue/react-redux-firebase/blob/v1.5.1/examples/snippets/watchEvent/Basic.js) - simple usage of `watchEvent`
* [recompose](https://github.com/prescottprue/react-redux-firebase/blob/v1.5.1/examples/snippets/watchEvent/Recompose.js) - watchEvent usage simplified with `recompose`

[2017-10-22 09:31] #232 closed

[2017-10-22 14:03] Modestas opened #301 "bug(profile) inconsistent profile isLoaded, isEmpty states"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In one of the prop states during login process, I get such result:

**no auth:**
 isLoaded(auth) `true` isEmpty(auth) `true` isLoaded(profile) `true` isEmpty(profile) `true`
**after login pressed**
 isLoaded(auth) `false` isEmpty(auth) `true` isLoaded(profile) `false` isEmpty(profile) `true`
**[corrupt

[2017-10-22 21:06] AVVS opened #302 "bug(docs): queries including startAt, endAt, equalTo & limits with orderByValue are order dependent"
**What is the current behavior?**

[code]

When query is:

[code]

`limitToFirst` and `startAt` would be treated as string failing the query. It would work if we do

[code]

**What is the expected behavior?**

`orderByValue` does not turn on `doNotParse` on

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**

Branc

[2017-10-23 06:03] prescottprue commented on #302
Good find @AVVS, the order shouldn't matter, so this is for sure a bug. I'll look into fixing it, but also open to pull requests if anyone gets to it.

It may be irrelevant, and should definitely be documented more, but did you try out the `noParse` param?

[2017-10-23 06:09] prescottprue commented on #301
@Modestas Going to investigate further, but from what you are reporting this seems like a bug. Thanks for reporting.

[2017-10-23 06:28] prescottprue commented on #301
@Modestas Upon further investigation it seems that this may be expected because you will first be logged in, then your profile listener will be applied, then finally the profile response will come back.

That means that `auth` will always come back before `profile`.

Could you look at which actions are being dispatched in redux devtools so we can confirm?

[2017-10-23 06:31] fivetwentysix commented on #300
Thank you @prescottprue for getting me unstuck. Would it be simpler moving forward to merge all the examples into one example?

[2017-10-23 06:35] prescottprue commented on #300
Thanks for the suggestion, will look into ways to make things more simple.

[2017-10-23 06:35] #300 closed

[2017-10-23 20:49] Modestas commented on #301
Action: `{ type: '@@reactReduxFirebase/LOGIN', auth: {...} }`
State: `auth: { isLoaded: true, isEmpty: false }`, `profile: { isLoaded: true, isEmpty: true }`

Action: `{ type: '@@reactReduxFirebase/SET_PROFILE', profile: {...} }`
State: `auth: { isLoaded: true, isEmpty: false }`, `profile: { isLoaded: true, isEmpty: false }`

Maybe this is fine, but in that `LOGIN` moment, state is kind of **inval

[2017-10-23 21:23] prescottprue commented on #301
That is a **GREAT** point with having profile set to loaded false by the `LOGIN` action.

Going to change that now, and it should be ready for the next v2.0.0 pre-release.

[2017-10-24 06:52] prescottprue commented on #125
[`v2.0.0-beta.12`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.12) added support for passing an object to preserve other parts of state.

[2017-10-24 06:58] prescottprue commented on #301
[`v2.0.0-beta.12`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.12) was released with profile not being set to `isLoaded: true` unless profile is actually loaded (`LOGIN_ERROR` action no longer affects profile state).

Let me know if it is not functioning as you expect. Thank you for helping test out v2!

[2017-10-24 07:07] prescottprue commented on #257
Can anyone confirm they are still experiencing this? If so, this can be reopened, but going to close for now.

I am no longer able to replicate through calling `remove` or through removing directly on the database. Going to add a test that checks this case

[2017-10-24 07:07] #257 closed

[2017-10-24 07:24] prescottprue commented on #253
As you can read in the provided link, firestore is now the preferred way to handle offline stuff, and `v2.*.*` has support for firestore through `redux-firestore`.

With that in mind, going to leave it with the [`redux-persist` example](http://docs.react-redux-firebase.com/history/v2.0.0/docs/integrations/redux-persist.html) for now. Also, just as a side note, I think that [`redux-persist`](https:

[2017-10-24 07:24] #253 closed

[2017-10-24 08:15] prescottprue commented on #211
If you start with the [functions-samples email users quickstart](https://github.com/firebase/functions-samples/tree/master/quickstarts/email-users), you can easily modify it to do this based on an auth event.

Have the function (triggered by auth events) load a list of "approved users" from your DB (that way it can be populated by an admin UI of yours or through the Firebase console). Your list of

[2017-10-24 08:15] #211 closed

[2017-10-24 08:31] prescottprue commented on #114
Have yet to write a full example, but the key behind it is making sure that your component has `store` within the `context` that points to a redux store that includes `reactReduxFirebase` in its creation.

Something like this should work out (based on tests for `react-redux-firebase`):

[code]

Feel free to [reach out over gitter](https://gitter.im/redux-firebase/Lobby) if this does not get you go

[2017-10-24 08:31] #114 closed

[2017-10-24 08:33] prescottprue commented on #111
Firestore is now the preferred method for doing pagination. With that and the previously provided example in mind, going to close.

[2017-10-24 08:33] #111 closed

[2017-10-24 09:10] nehvaleem commented on #257
@prescottprue to be honest I haven't checked this very precisely but I've noticed that in my case problem seems to be gone since beta.8 or later. I will let you know if the problem resurface.

[2017-10-24 16:55] prescottprue commented on #257
@nehvaleem Thats right about where I was expecting it would have been caught too. Great to know, thanks for the update.

[2017-10-25 09:03] chino23 opened #308 "Simple example doesn't make sense to me. Please explain"
The simple example is really confusing me: https://github.com/prescottprue/react-redux-firebase/tree/master/examples/complete/simple/src

There is:
- no reducer which listens for dispatches
- no action ever defined

Instead, the components themselves fire actions directly by sending requests to firebase.

How is this redux? What's the point?

I thought the whole thing was supposed to be structured

[2017-10-25 09:11] prescottprue commented on #308
@chino23 There is very much a reducer ([here it is](https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/simple/src/reducer.js)).

The whole thing **IS** structured in actions. Those actions are fired by the `firebase` library based on config that is passed when setting up your store or based on listeners you set.

Feel free to [reach out over gitter](https://gitter.i

[2017-10-25 09:11] #308 closed

[2017-10-25 09:21] chino23 commented on #308
Thanks for the quick response @prescottprue

I've added some more detail on gitter

[2017-10-26 06:24] prescottprue commented on #137
Just as a heads up, this is being removed from `v2.0.0`. It is replaced by `preserveOnEmptyAuthChange`, checkout the [migration guide](docs.react-redux-firebase.com/history/v2.0.0/docs/v2-migration-guide.html) for examples.

[2017-10-26 06:32] prescottprue commented on #301
[v2.0.0-beta.13](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.13) also includes updates to `profile` state (updating it to loaded on empty Auth change). Not really related to this issue, but may be the solution for some finding themselves here.

[2017-10-26 09:03] prescottprue commented on #267
Found another issue while testing this out where a few versions of `react-native-firebase` did not have `setPriority` on their version of  [firebase.database.ThenableReference](https://firebase.google.com/docs/reference/js/firebase.database.ThenableReference). `v2.0.0-beta.13` includes logic that handles these versions.

From there, for me, using the react-native-firebase example, I'm no longer se

[2017-10-27 11:24] aQustic opened #310 "bug(populate): undefined child causing expected behavior"
**What is the current behavior?**

Every object of an array which does not have the child element defined in population rule gets transformed into an object full of arrays.

[code]

[code]

This produce the expected population
from
[code]
to
[code]

but if a group does not have a child array of messages it produces strange arrays within the group object for every attribute it has:
[code]

In addit

[2017-10-27 17:04] prescottprue commented on #310
@aQustic This is for sure not expected. I am going to try to replicate myself to confirm and see what could be causing it.

[2017-10-27 19:07] prescottprue commented on #278
After a bit of research, it seems that it is common practice to pass the results of `store.getState`, and it is [actually how react-redux does it in connect](https://github.com/reactjs/react-redux/blob/master/src/components/connectAdvanced.js#L16).

With that in mind, I went ahead and me the syntax as follows:

[code]

This will be a breaking change for those that were depending on the second argu

[2017-10-28 15:19] 0x80 opened #311 "bug(typings): multiple exports not included"
I started using beta14 with TypeScript and I am running into a few problems:

- `withFirebase` is not exported, or so the compiler tells me.
- `ReduxFirebaseConfig` passed to reactReduxFirebase need all of the properties set. None of them are optional. I think all should be optional?
- `firebaseReducer` is not exported, or so the compiler tells me. I still have to use `firebaseStateReducer` instea

[2017-10-28 20:19] 0x80 commented on #311
I have temporarily solved these issues by generating a new types file with `dts-gen`. I had to manually remove the index.d.ts file from the node_modules package because I couldn't find a way to overrule these definitions with my newly generated local d.ts file.

Below are the updated types

[code]

[2017-10-29 05:58] prescottprue commented on #311
I don't often use typescript, so I am not totally sure, but will try to look into it. It may have to do with the fact that `firebaseConnect` can be provided with either an array or a function.

For now I will update the typings with what you posted.

[2017-10-29 07:44] jaschaio opened #314 "question(query): attach listener that returns first response in Promise"
I am using `react-redux-firebase` in combination with `react-chrome-redux` and followed the example given in https://github.com/prescottprue/react-redux-firebase/issues/157#issuecomment-308972067.

Like described in that issue, I can't use firebaseConnect but instead have set up manually `.login`, `.logout`, `.push`, `.update`, `.remove` and `.watchEvent` methods within my `redux-thunk` reducers.

[2017-10-29 08:47] prescottprue commented on #314
@jaschaio `'value'` queries do not return promises as you are creating a watcher. If you intend to get just one set of data you will want to do `watchEvent` with a type `'once'`.

[2017-10-29 10:50] prescottprue commented on #311
[`v2.0.0-beta.14`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.14) was released with the changes you posted as well as some updates to descriptions within the typings. Let me know if it doesn't function as expected and we can reopen, Thanks for reporting.

I don't use it that often myself, but hoping to add a typescript example at some point. Always open to PRs if

[2017-10-29 10:50] #311 closed

[2017-10-29 11:00] prescottprue commented on #278
[`v2.0.0-beta.14`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.14) was released with `store` as the second argument of `firebaseConnect` as mentioned above.

More info was added to the docs including [the migration guide](http://docs.react-redux-firebase.com/history/v2.0.0/docs/v2-migration-guide.html) which has a [section about state based queries](http://docs.re

[2017-10-29 11:00] #278 closed

[2017-10-29 12:14] jaschaio commented on #314
Thanks for your prompt reply. That makes sense. So I would probably use a once query to populate the initial state and than a value query to watch out for changes.

But I still don’t understand how I than would setup my store to update when a listener gets triggered. The storeAs property doesn’t seem to work for me and I couldn’t find anything related in the docs or within github issues as most pe

[2017-10-29 12:58] 0x80 commented on #311
Thanks for the update! It does solve the import issues.

The compiler error about "does not have any construct or call signatures"  still persists though.

I am new to both Typescript and Firebase but once I sort all of this out I'm happy to submit a PR with some example code.

[2017-10-29 14:42] minusoneman commented on #278
@prescottprue great! The syntax look good - I'll give beta.14 a spin and report back if I find any issues.

Thanks,

[2017-10-30 04:26] prescottprue commented on #311
@0x80 Yeah, lets open an issue to track that, so it can get taken care of too. Also, the PR sounds great if you get around to it.

[2017-10-30 04:31] prescottprue commented on #314
@jaschaio The store is "setup to update when a listener is triggered" by the fact that you are using the `firebaseReducer` and the `watchEvent` action creator ([here is the redux docs section about action creators](http://redux.js.org/docs/advanced/AsyncActions.html#async-action-creators)). The events are dispatched by the listeners you create with `watchEvent`.

You can pass the data from the Pro

[2017-10-30 06:19] jaschaio commented on #314
Okay I think I wasn't clear enough. Of course the state.firebase is already updating because of the firebaseReducer. But what if I wan't that data somewhere else in the store? I thought `storeAs` is responsible for that.

Here is a minimum repo example https://github.com/jaschaio/react-redux-firebase

OnClick an action is dispatched that updates the `/clicks` node on Firebase. And when the compone

[2017-10-30 06:36] prescottprue commented on #314
@jaschaio That should be what is happening automatically? It should happen without you even needing to provide `storeAs` since queries are automatically stored under the path of the query (in your case `/clicks`).

Would you be open to reaching out [over gitter](gitter.im/redux-firebase/Lobby) so I can work with you back and forth to better understand?

[2017-10-30 07:12] #314 closed

[2017-10-30 08:20] 0x80 opened #318 "bug(typings): issues with firebaseConnect & withFirebase in Typescript"
I'm running into problems connecting my component when using Typescript.

[code]
error TS2604: JSX element type 'LoginPage' does not have any construct or call signatures.

The TS compiler is fine if I leave out the react-redux-firebase connector:

[code]

Also this syntax seems to work, manually passing the output from one function into the other.

[code]

And as I understand it `withFirebase` co

[2017-10-30 08:44] prescottprue commented on #318
@0x80 First: which version are you running? There have been releases in the last few days that may fix what you are seeing with `withFirebase).

Second: It would be awesome to see a typescript example I could test things out it. Since I don't often use it, I don't have a regular typescript setup/project to test things in.

[2017-10-30 08:56] prescottprue commented on #287
`getRedirectResult` can now only be called if it is a function, so you should no longer need this config option.

[2017-10-30 09:08] 0x80 commented on #318
I'm using beta.14. I'll try to prepare a repo for you. I don't have time to set something up from scratch, and the project is not OSS, so I'll have to strip out some things first.

[2017-10-30 09:33] 0x80 commented on #318
Here it is: [cra-typescript-redux-firebase](https://github.com/0x80/cra-typescript-redux-firebase)

[2017-10-30 21:33] prescottprue commented on #301
@Modestas Yes, it does still set that way. This is to correctly match functionality of `v1` which set `profile: null` (i.e. loaded) when auth empty changed.

It seems that this is expected by some using this in production (including my company). I am currently working on a config option to disable this (thinking `loadProfileOnEmptyAuthChange`), but it will include notation about the deviation from

[2017-10-31 01:25] mike623 commented on #232
Is the snippet different on 2.0.0?

[2017-10-31 01:52] prescottprue commented on #232
@mike623 Only handling of state is different (i.e. no `toJS` functions needed). You can still call `watchEvent`.

The example will soon be ported over to v2

[2017-10-31 08:14] Modestas commented on #301
It makes sence to set it that way because when there is no **auth**, **profile** is non existant.

From my point of view, **profile** is solely and fully dependant from **auth**. Correct me if I'm wrong but it cannot exists without **auth**? So I can't think of a reason why `@@reactReduxFirebase/LOGIN` action should not invalidate profile.

Like this `{ type: '@@reactReduxFirebase/LOGIN', auth: {.

[2017-10-31 11:15] 0x80 commented on #318
BTW as you see there is also some old login code I used to implement auth with firebaseui. Please ignore that.

Meanwhile I found a workaround to easily circumvent the TS compiler error:

[code]

[2017-10-31 15:13] boaticus commented on #294
Just to add another vote/voice: I'm seeing this same exact issue in my project.

Specifically, if I browse to two different routes back-to-back in my project, with both routes having at least one components that are watching the same Firebase path, the UNSET_LISTENER for the previous component is fired _after_ the SET_LISTENER for the new component.

I'm on 2.0.0-beta.14.

Using or not using store

[2017-10-31 17:44] prescottprue commented on #294
@boaticus Great to hear. This is the next highest bug on the list, so hoping to have an update on it soon.

[2017-10-31 20:09] jacobfunch opened #319 "feat(auth): signInWithPhoneNumber"
It would be much appreciated if react-redux-firebase supported Firebase signin with phone number (https://firebase.google.com/docs/auth/web/phone-auth).

Remember that it requires reCAPTCHA.

[2017-10-31 22:22] prescottprue commented on #319
I agree, I'll make an action creator.

@jacobfunch Do you plan to [use the invisible Captcha](https://firebase.google.com/docs/auth/web/phone-auth#use-invisible-recaptcha) attached to a button? Either way, that might be what I end up using for an example.

It should be able to work like so:

[code]

Good news: There may be a way to extend Firebase's functions with dispatch (still looking into it),

[2017-10-31 22:26] prescottprue commented on #318
@0x80 It is definitely helpful to know the workaround.

[2017-10-31 22:34] prescottprue commented on #301
@Modestas I agree with what you are saying (assuming you meant "fully dependent *on* auth" and not "fully *independent* from auth").

I will give this a try and see if that prevents things from breaking on our end.

[2017-10-31 22:35] prescottprue commented on #310
@aQustic Have you happened to confirm this on v2.0.0-beta.14 as well?

[2017-10-31 23:31] aQustic commented on #310
@prescottprue i've updated to beta.14 but the same error appears.

The console says
[code]
and the props of the object contain the same arrays i've experienced with beta.13 if populated array don't exist
[code]

[2017-11-01 00:52] prescottprue commented on #310
@aQustic Great to know, thanks for confirming.

[2017-11-01 06:29] minusoneman commented on #294
Just a note to those who might experience this using react-native-firebase. A new version was just pushed, that (in my initial testing) seems partly solve the issue ( see https://github.com/invertase/react-native-firebase/issues/532)

[2017-11-01 10:31] prescottprue commented on #301
@Modestas This will most likely live under another action type (maybe `UNLOAD_PROFILE`), but I was able to confirm that this shouldn't be breaking for us.

When `login` or any other method that could attach/detach the profile listener is called, this new action will be called. That way, profile will be marked as `isLoaded: false` right away.

[2017-11-01 10:51] prescottprue commented on #294
Have a fix on the `v2.0.0-beta.15` branch I am working on (not yet published to npm) that you can feel free to test out by npm linking. I was able to reproduce the unset/reset as described, then was able to prevent it by including `storeAs` in the `queryId`:

**Before**
![react-redux-firebase_material-ui_demo](https://user-images.githubusercontent.com/2992224/32271337-ab5601f8-beb6-11e7-81d4-0bad6

[2017-11-01 12:08] jacobfunch commented on #319
@prescottprue perfect! And yes indeed, I plan on using the invisible reCAPTCHA – which I think most products will use as it is less intrusive.

[2017-11-01 12:45] optimistiks opened #320 "bug(firebaseConnect): inconsistent arguments for the callback"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

Currently, on `componentWillMount`, first argument is `props`, second argument is `store`.
https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0-beta.14/src/firebaseConnect.js#L47

But on `componentWillReceiveProps`, first argument is `props`, but the second argument is `firebase`.
http

[2017-11-01 12:57] drexkdal opened #321 "bug(docs): HOCs applied in inconsistent order within examples"
In the documentation, examples show `firebaseConnect` applied to a component first and then `connect` applied to the resulting higher order component (`fbWrapped`). Decorators are written in the same sequence.

However, `compose` applies its arguments from right to left. So `connect` and `firebaseConnect` are applied in reverse order in the examples where `compose` is used.

It's confusing when re

[2017-11-01 17:47] prescottprue commented on #321
@drexkdal Great call. Will work on making this more consistent.

[2017-11-01 17:49] prescottprue commented on #320
You are correct, Great catch! Seems like the recently release that changed it didn't change the `componentWillRecieveProps`. Going to try to add a unit test to catch this in the future.

[2017-11-01 23:24] prescottprue commented on #319
The first swing at it is on [the v2.0.0-beta.15 branch](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0-beta.15) (not yet published to NPM). Feel free to npm link and test it yourself, but I have yet to write tests for it or do much testing myself.

[2017-11-02 06:33] sshadmand commented on #257
Just implemented a remove action and experiencing the same problem. Calling `ref.child(...).remove()` is not updating the data saved to firebase.data.

[code]

[2017-11-02 14:13] 0x80 opened #323 "Where to find customAuthParameters options?"
Were do I find a reference to what options you can pass to customAuthParameters? I can't seem to find it.

[2017-11-02 14:20] 0x80 commented on #323
Found it :)

https://firebase.google.com/docs/reference/js/firebase.auth.FacebookAuthProvider

[2017-11-02 14:20] #323 closed

[2017-11-02 14:55] drexkdal opened #324 "Change buildChildList to work with proper arrays"
The function `buildChildList` that is invoked when populating an array (rather than a single property) expects an object instead of a proper array. I don't why the code is written like that, since the Firebase API automatically casts array-like data as an actual array.

Consequently, however, the lodash function `mapValues` is used, which returns an object (!) where the keys are array indices.

ht

[2017-11-02 16:50] prescottprue commented on #324
@drexkdal It is also invoked when populating a key list (which is the reason for using `mapValues` since we intend to have an object come back).

Open to checking if it is an array or object before doing this, but the population of an object is *very common* so any solution would still need to support that (which switching to `map` would not).

[2017-11-02 16:56] prescottprue commented on #257
@sshadmand You need to update 😄 . We are on `2.0.0-beta.14` now. You can switch your package file to `"react-redux-firebase": "next"` if you always want the most up to date version of 2.0.0 (until it is stabilized and released on `latest`).

[2017-11-02 18:03] drexkdal commented on #324
I did notice the signature. Could you describe the use case for populating an object? What would the keys be?

It is surely a bad practice to populate an object with ids as both keys and values 🙂

From what you describe, it seems clear that using the same function for populating objects and arrays is incorrect – they should be delegated to each their own `buildChild*` function.

[2017-11-03 07:33] jeandavid opened #325 "Routing Recipes - Some inconsistencies"
I have noticed some inconsistencies within `docs/routing/recipes.md` page.

* In the Advanced Section - Auth Required, for react-router v4 + redux-auth-wrapper v2, you import
`import { browserHistory } from 'react-router'` but there is no `browserHistory` in react-router v4.

* In the Advanced Section - Redirect Authenticated, for react-router v4 + redux-auth-wrapper v2, you import `import { UserA

[2017-11-03 07:53] prescottprue commented on #324
@drexkdal It is actually seen as a "Best Practice" on Firebase because it is common to store `$key: true` lists instead of arrays.

**Why?**
Removing an item from an array on Firebase can get annoying because using `update` with arrays is not supported. You have to get the whole array, remove the item locally, then call `set`. You can "guess" at the index, but that gets hairy when there are multip

[2017-11-03 09:08] drexkdal commented on #324
Thanks for the explanation. I still don't understand how `$key: true` is being populated, in practice, when it is the value, not the key, that is taken as an id (hence `mapValues`)?

[2017-11-04 17:53] 0x80 commented on #239
Hi all, @prescottprue, I an trying to populate ordered data with beta.14, but I can't figure it out. In the code below the state contains `firebase.ordered.approvals` without the user being populated.

[code]

The commented out version in connect works. So non-ordered data populates as expected. Am I missing something here?

[2017-11-04 23:01] NathHorrigan commented on #325
Hello! I would like to add to this discussion regarding an error I am having trying to implement this.
I have the following decorator (copied from docs) that doesn't have reference to firebase and so doesn't compile. Am I being stupid here?? I can't use `getFirebase` so I'm not sure what to do 😕

[code]

[code]

The error I'm getting is:
[code]

[2017-11-05 07:17] prescottprue commented on #325
@NathHorrigan Looks like you are using the `v1.*.*` syntax and there is an issue in the `authenticatingSelector` (`({ firebase: { auth } }) ` should be, `({ firebase }) `).

[2017-11-05 07:41] prescottprue commented on #324
@drexkdal Since we are mapping over an object of `$key: true`, we are hoping to map the value (which is currently `true`) to whatever we are populating with.

Consider the following structure of projects and users:

[code]

Populating using: `{ path: 'projects', populates: [
[code]

Would yeild

[code]

Notice how we are using `mapValues` to map the values of `collaborators`, which is an object, i

[2017-11-05 07:41] #324 closed

[2017-11-05 07:50] prescottprue commented on #239
@0x80 The example you provided should be working. Reopened this to track looking into it.

[2017-11-05 09:09] prescottprue commented on #327
@jeandavid It is more so an `optionalDependency` because some users actually use `react-native-firebase` instead of `firebase` directly. In that case, making `firebase` a peer dependency would cause those users to see an npm warning.

Open to the idea of making it a `optionalDependency` at least though so version ranges can be accounted for.

[2017-11-05 09:20] prescottprue commented on #327
v2.0.0 have been updated with the fix for what you mentioned in the `redux-persist` example. Thanks for reporting!

[2017-11-05 09:52] 0x80 commented on #239
I had a closer look the populate function with a debugger, and I think I spotted the problem.

When using a path in `ordered`, the value of data will be an array instead of an object. Therefor the last line below results in `false`, always, because lodash `has()` is not made for querying arrays.

[code]

[2017-11-05 09:58] jeandavid opened #327 "Redux-Persists Documentation - Some inconsistencies"
I have noticed some inconsistencies in the [redux-persists documentation page for v2](http://docs.react-redux-firebase.com/history/v2.0.0/docs/integrations/redux-persist.html#).

`reactReduxFirebase()` should have a firebase app instance as first argument.

[2017-11-05 10:21] prescottprue commented on #239
@0x80 Great find! Totally open to a PR if you get the time, if not I will try to get to it when I can. Been switching my company over to v2 recently, so I have been super busy.

[2017-11-05 10:39] prescottprue commented on #325
Routing recipes docs have been updated. The examples update will be coming at some point, but if you have time to capture it in a pull request, totally open to it.

[2017-11-05 10:39] #325 closed

[2017-11-05 11:36] 0x80 commented on #239
https://github.com/prescottprue/react-redux-firebase/pull/328

[2017-11-05 11:39] 0x80 commented on #239
BTW why is there a 2.0 branch and a 2.0 beta branch?

If 2.0 is still in beta I'd expect that to be the "next" branch or something, and the beta releases being tags in that branch. Creating this PR I wasn't sure if I should base it on beta.15 or 2.0.0.

[2017-11-05 19:21] samuelbriole commented on #267
Hello @prescottprue, thank you for this fix, now it seems to work on iOS, but I still have the same error on Android.

It could also be a problem with the `react-native-firebase` library. What do you think ?

[2017-11-05 21:01] prescottprue commented on #267
@samuelbriole Yeah that may be it, especially if it works on iOS. What version of react-native-firebase are you using?

[2017-11-05 21:05] samuelbriole commented on #267
@prescottprue v3.0.6 (last release)

[2017-11-05 21:09] prescottprue commented on #239
There are the two branches since active changes are going onto beta.15, then merged back into v2.0.0. Things were done this way since before there was more than just `v1.*.*` and `v2.*.*` (when `v1.4.*` and `v1.5.*` were both active).

Totally agree this is unclear though. I like the idea of have the branch matching the tag name, so going to look into doing that.

[2017-11-06 09:46] prescottprue commented on #321
@drexkdal Just to note, order shouldn't really matter, if you find a situation where it does, please file an issue.

Was there a specific place in the docs that you saw the inconsistency? Just want to make sure I clear it up everywhere.

[2017-11-06 10:42] prescottprue commented on #319
`signInWithPhoneNumber` action creator added in [v2.0.0-beta.15](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15). It was interesting to integrate with the existing profile stuff, so let me know if things do not function as expected.

[2017-11-06 10:42] #319 closed

[2017-11-06 10:45] prescottprue commented on #301
As of [the v2.0.0-beta.15 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15), the `UNLOAD_PROFILE` action type is dispatched when calling the `login` action creator. This causes the `profile` reducer to switch `state.profile.isLoaded` to `false`. This "invalidates the state on login" as you were mentioning, still investigating doing this with all auth method

[2017-11-06 10:46] prescottprue commented on #320
The [v2.0.0-beta.15 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15) includes the fix for this.

Post if this or anything else doesn't work as expected. Thanks for reporting!

[2017-11-06 10:46] #320 closed

[2017-11-06 10:51] prescottprue commented on #294
The initial solution was included in [the v2.0.0-beta.15](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15). Still continuing to investigate the remove listener by callback instead of id route (hoping to have it ready/tested for an upcoming v2.0.0 pre-release).

Please let me know if this does not fix things for you or if it causes any issues. Issues with listener m

[2017-11-06 10:51] #294 closed

[2017-11-06 11:24] drexkdal commented on #321
I am mildly surprised that `connect` and `firebaseConnect` seems to be commutative. I don't think that rule applies to all HOCs, but it's worth a thought.

Sorry, but I can't remember exactly on which pages I saw the examples. Everywhere `compose` is used, I suppose?

[2017-11-06 11:38] drexkdal commented on #324
I understand the point about removing or updating items, but how is sequence preserved if it is important? Do people silently rely on the fact that JavaScript engines tend to retain declaration order, even though its not required by the language? Or do they store an array of ids separate from the `$key: true` map (which actually removes the point)?

Populating arrays doesn't work with the current

[2017-11-06 19:21] prescottprue commented on #324
@drexkdal There was a fix for this released in [`v2.0.0-beta.15`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15), did you give that a try yet?

Arrays can also be used if preserving order is required. react-redux-firebase [uses the `state.firebase.ordered`](http://docs.react-redux-firebase.com/history/v2.0.0/docs/queries.html#ordered) to store ordered data (i.e a

[2017-11-06 19:58] drexkdal commented on #324
I've upgraded to `beta.15` now, but I still get an object back from `populate` instead of an array. I don't see any changes in that part of the code, so I guess it's not that strange.

[2017-11-06 21:20] Modestas commented on #301
Same result since `AUTH_EMPTY_CHANGE` received after UNLOAD_PROFILE.

`@@INIT`
`@@reactReduxFirebase/AUTHENTICATION_INIT_STARTED`
`@@reactReduxFirebase/AUTHENTICATION_INIT_FINISHED`
`@@reactReduxFirebase/LOGIN_ERROR`
`@@reactReduxFirebase/UNLOAD_PROFILE`
`@@reactReduxFirebase/AUTH_EMPTY_CHANGE`
`@@reactReduxFirebase/LOGIN`

[2017-11-07 09:22] minusoneman commented on #294
Thanks a lot @prescottprue. Have been testing for a couple of days, and it seems to work as expected.

[2017-11-08 22:02] Jonovono opened #330 "React Native Firebase 3.0?"
Hi. Does this library work with react native firebase version 3?

[2017-11-09 02:00] prescottprue commented on #330
@Jonovono It should, you will have to use `react-redux-firebase v2` [as described in the react-native section under native-modules](http://docs.react-redux-firebase.com/history/v2.0.0/docs/integrations/react-native.html#native-modules).

Is it not working as expected? If so we can reopen this.

Feel free to [reach out over gitter](https://gitter.im/redux-firebase/Lobby) if you have questions since

[2017-11-09 02:00] #330 closed

[2017-11-09 02:31] prescottprue commented on #321
@drexkdal I believe what you are saying about "reverse order" may be incorrect. Both decorators and compose follow the same order meaning that they wrap from bottom to top.

It can be shown with a simple example and using react-dev-tools:

**decorators**
[code]
In dev tools:

![image](https://user-images.githubusercontent.com/2992224/32585452-6950748a-c4b2-11e7-9156-8fb548047b97.png)

**compose**

[2017-11-09 02:31] #321 closed

[2017-11-09 02:45] prescottprue commented on #296
@Modestas Were you able to test if object notation works? Since the plan is to move away string query config in the future, I am only going to keep this open if you are having an issue with object notation (which again should work).

[2017-11-09 02:49] prescottprue commented on #239
[`v2.0.0-beta.15`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.15) includes a fix for this.

Thanks for the pull request @0x80!

[2017-11-09 02:49] #239 closed

[2017-11-09 03:04] Jonovono commented on #330
Awesome, thanks. I may have spoke too soon. I'm getting tonnes of errors but think they are just related to updating react/react-native in my project. 😢

[2017-11-09 04:45] fej-snikduj commented on #310
I was able to reproduce this @aQustic .  I just released a fix for a similar issue with beta.16 (currently writing release notes) but unfortunately it doesn't fix this issue.  I know what's going on and should be able to come up with a fix for beta.17

[2017-11-09 05:57] drexkdal commented on #321
You're absolutely right, of course.

[2017-11-09 08:32] 0x80 commented on #239
@prescottprue BTW I'm now in the process of moving to Firestore. I read somewhere that populate doesn't work for Firestore yet. Is that correct? Would it require a similar approach?

[2017-11-09 20:50] 0x80 opened #332 "How to find uid directly after createUser()"
I am trying to do something like this

[code]
However I can't seem to find a way to fetch the new user id. I have to wait for my props to update, but then the redirect kicks in.

`currentUser` should be available on the Auth instance I think but maybe I'm misunderstanding the docs: http://docs.react-redux-firebase.com/history/v2.0.0/docs/api/firebaseInstance.html#auth

Is there a way to fetch the

[2017-11-09 21:40] prescottprue commented on #332
`firebase.auth().currentUser` is not a function, but instead a property [as the firebase docs explains](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#currentUser).

That means you should be able to do:

[code]

[2017-11-09 21:40] #332 closed

[2017-11-10 06:36] 0x80 commented on #332
Thanks! I thought I'd tried that already but apparently not. It's working now.

However, it confused me that the docs say "Returns firebase.database.Auth". Or is that correct?

[2017-11-10 06:53] prescottprue commented on #239
@0x80 That is the case. `populate` itself should work the same accept for needing to get passed `state.firestore` instead of `state.firebase`. As for they query side of things, `firestoreConnect` does not support the `populates` parameter on its query config (the way `firebaseConnect` does), so that will need to be completed.

Hoping to make some progress on it this weekend.

[2017-11-10 08:55] prescottprue commented on #332
@0x80 You are right about that being incorrect. I put that on the todo list to fix, great catch.

[2017-11-10 14:44] 0x80 opened #333 "[2.0] firestore.setListeners is not a function"
I'm trying to use Firestore but run into this error

`firestore.setListeners is not a function`

I have imported firestore next to my firebase config like so:

[code]
My configure store contains this:

[code]

And in my component I do this:

[code]

Am I missing something?

I will get rid of firebase realtime db later, but for now they'll live next to each other if that's ok.

[2017-11-10 19:41] prescottprue commented on #333
@0x80 All of this seems right, but did you wrap your top level component with `Provider` from `react-redux`? Its what makes store available within context, which contains `store.firebase` and `store.firestore` (placed there by the `reactReduxFirebase` and `reduxFirestore` enhancers respectively).

[2017-11-10 23:33] prescottprue commented on #302
Query docs have been updated with a note about how order is important, as well as how to use `notParsed`.

In v2.0.0-beta.17 I have planned on adding a `parsed` query parameter. That way, you will be able to pass your params out of order, and enable/disable automatic parsing as needed.

Let me know if this doesn't address your concerns, and we can reopen. Thanks for reporting!

[2017-11-10 23:33] #302 closed

[2017-11-11 00:19] prescottprue commented on #301
@Modestas It hasn't been released yet, but [v2.0.0-beta.17](https://github.com/prescottprue/react-redux-firebase/pull/334) is changed so `LOGIN` now sets profile to `isLoaded: false`. It also adds a `preserveOnLogin` config option in case you would like you preserve auth or profile state on login:

[code]

[2017-11-11 10:21] 0x80 commented on #333
Yes, I was already using firebaseConnect() successfully. I basically just added the firestore parts. So I don't get it.

Are you sure the two work together? Or should I try to remove the firebase middleware etc maybe?

[2017-11-11 22:03] prescottprue commented on #333
Yes, I'm sure they work together (currently using them together in a project). I'll be debugging this over the weekend and see if we are missing something.

[2017-11-12 08:56] 0x80 commented on #333
Thanks. Let me me know if I can help.

[2017-11-12 13:59] prescottprue commented on #333
@0x80 Try changing the order of them as well. I noticed there is an issue where `redux-firestore` where it can collide with `react-redux-firebase`. It may be unrelated, but I have the fix for the collision working on the [branch for this PR](https://github.com/prescottprue/redux-firestore/pull/21).

Glad to have some people helping test out the Firestore integration.

[2017-11-12 14:30] prescottprue commented on #301
[v2.0.0-beta.17](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.17) includes a change where the `LOGIN` action changes `profile` state to `isLoaded: false` with a unit test to confirm that this is happening.

If I misunderstood or this solution does not work for you, please let me know. The migration guide has not yet been updated with this yet, but it will most like

[2017-11-12 14:30] #301 closed

[2017-11-12 14:32] prescottprue commented on #310
[`v2.0.0-beta.17`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.17) includes the fix for this.

@aQustic if it doesn't work as expected for you after upgrading, please reach out. Thanks for reporting!

[2017-11-12 14:32] #310 closed

[2017-11-12 14:37] prescottprue commented on #267
@samuelbriole Did you open an issue with `react-native-firebase`? I am wondering how/why the iOS and Android interactions would be different. Are you sure you are doing a fresh build for Android?

Not sure there is much that can be done in `react-redux-firebase` for this at this point, so going to close for now. If there are any updates totally down to re-open it.

[2017-11-12 14:37] #267 closed

[2017-11-12 14:40] prescottprue commented on #296
Closing for now since, as mentioned, string notation is not really documented much and is on the way out. Open to re-opening if object notation isn't working as expected. Thanks for reporting!

[2017-11-12 14:40] #296 closed

[2017-11-12 19:50] 0x80 commented on #333
@prescottprue Reversing them doesn't seem to make any difference. Leaving the arguments empty results in a different error:

`Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it.`

[2017-11-12 20:03] 0x80 commented on #333
I've updated from beta 14 to 17 and now the error disappeared. Forgot that I was behind already.

However when I try to call `collection()` on the `firestore` instance from props, I now get the error `firestore.collection is not a function`.

[2017-11-12 20:12] 0x80 commented on #333
Ah sorry [RTFM](https://github.com/prescottprue/redux-firestore).

But, I would like to add a document to `commands/${userId}/register`. This is a collection in a document in a collection. The API for `add` has a collection and a document parameter.  How would I go about this?

[2017-11-12 21:45] 0x80 commented on #333
After sorting out permissions...all is working 🎉

[2017-11-13 04:50] prescottprue commented on #333
@0x80 Ok great to hear! I'll close, thanks for reporting. If anything else isn't working as expected, let me know.

[2017-11-13 04:50] #333 closed

[2017-11-13 07:29] scottcrossen opened #335 "multiple firebaseConnect calls"
**Do you want to request a *feature* or report a *bug*?**

First, I’m really glad for the existence of this tool. It is a really great idea. I’m not a professional with it yet. I’m currently building my second project using it. I’m rather confident that this is a bug. It actually might be two bugs to be perfectly honest.

**What is the current behavior?**

It would seem that firebaseConnect only w

[2017-11-13 07:44] prescottprue commented on #335
@scottcrossen Glad to hear you benefit from it! If you are beginning to get familiar with things you may want to try out [v2.0.0](https://github.com/prescottprue/react-redux-firebase/tree/v2.0.0) which has a more simple API (there is [a migration guide](http://docs.react-redux-firebase.com/history/v2.0.0/docs/v2-migration-guide.html)) .

Not sure why you wouldn't be seeing the listener change base

[2017-11-13 09:08] jacobfunch commented on #319
Thanks @prescottprue! When signing in after a user has been created it overwrites the entire user object even though there was custom data saved. Can one use the merge option?

[2017-11-13 10:46] prescottprue commented on #319
@jacobfunch Are you referring to the `auth` or `profile` object be overwritten? Is it the `SET_PROFILE` action that is overwriting it or another action type?

[2017-11-13 19:23] scottcrossen commented on #335
@prescottprue Wow. I appreciate your prompt response. Unless you're some sort of closet-Asian (a geographical not racist comment), then you were monitoring your GitHub issues at 1-3 a.m. Dedication.

Anyway, seen as nobody else has this issue (I thought that perhaps they might) -- and the fact that I'm a novice with this technology -- I suspect that the most likely cause is me. Though you're welco

[2017-11-14 05:29] ankit7878 opened #336 "Navigation is not working using redux-saga"
I am trying to navigate to Main Screen and code still work fine if the JS DEBUGGER is ON(running) but the problem is when i try to run my application when JS DEBUGGER is OFF(disable) and try to login at that time "yield put(NavigationActions.navigate({ routeName: 'Main' }));" this piece code is not redirecting to Main screen.

Given below is my code:
import { NavigationActions } from 'react-naviga

[2017-11-14 08:24] prescottprue commented on #336
@ankit7878 Did you try placing the `applyMiddleware` enhancer before the `reactReduxFirebase` enhancer in your create store call? The order you have things in currently could potentially cause your middleware to not get some stuff `reactReduxFirebase` (since `compose` stacks things from bottom to top).

Other than that, I will have to try to replicate myself. Do you have a project that I could run

[2017-11-14 09:31] ankit7878 commented on #336
thanks. but still i tried placing the applyMiddleware enhancer before the reactReduxFirebase enhancer. but still not working while iOS simulator is disable.
now the thing is that i am using react-redux-firebase 1.5.1, am i dont what this code "enableRedirectHandling: false" is doing .could you tell me what this enableRedirectHandling is . because some where i have readed that it kind of stop navig

[2017-11-14 13:52] andreugrimalt commented on #335
Hi everyone,

I'm having exactly the same issue as you @scottcrossen. The `firebaseConnect()` only gets called once on the first render and doesn't get called again when the props are updated on the component.

In my case I've found a workaround by reversing the recommended order of composition of `firebaseConnect` and  `connect` (exactly like you do @scottcrossen) **and** updating the store. This

[2017-11-14 14:20] canyavall opened #337 "bug(withFirebase): "Warning: Failed child context type..." when using react v16"
Hi there!

First of all, ty very much for this library, I'm enjoying it a lot.

Actually, I'm doing some testing with the version 2.0..-beta16, everything is working but, when I'm loading the firebase functions with "withFirebase()" I get the message:
proxyConsole.js:54 Warning: Failed child context type: Cannot read property 'store' of undefined

Maybe I'm doing something wrong but, I don't think

[2017-11-15 01:50] scottcrossen commented on #335
@andreugrimalt I'm glad I'm not the only person with the problem. When you say you "update the store" could you be more explicit on that?

[2017-11-15 11:04] andreugrimalt commented on #335
For sure. An example of how the state in my store looks like:
[code]
In my component on `componentWillMount` I dispatch an action that updates the `login` field in the store state:
[code]
When I do that, the  `firebaseConnect` callback triggers and the listener reattaches. What I don't understand is why this doesn't happen when the `firebase` object gets updated in the store which is what happens

[2017-11-15 19:09] prescottprue commented on #335
@andreugrimalt Is there a reason that you are doing all of this user management yourself? There is a `profile` state in the `firebaseReducer` that is updated `onAuthStateChange`. We should be able to get this fixed even the way you are doing it, but just wondering.

#### My Thoughts
The way things currently work is that `componentWillReceiveProps` runs when `firebaseConnect` receives props, but li

[2017-11-15 19:18] jpmazza opened #338 "bug(auth): signIn: false option with createUser still logs new user in"
I am trying to create user as an admin user.

I am using this method: http://docs.react-redux-firebase.com/history/v1.5.0/docs/auth.html#createusercredentials-profile including the parameter `credentials.signIn` setting as false.

But it is not working. Why?

[2017-11-16 12:14] andreugrimalt commented on #335
@prescottprue thank you so much for your answer really appreciate it.
There's no reason at all to do the user management myself, other than I couldn't make it work.
I'm getting closer to get everything working though. Basically, I'm trying to use what's described in the docs [Data that depends on state](http://docs.react-redux-firebase.com/history/v2.0.0/docs/api/connect.html).
If I do:
[code]
`da

[2017-11-16 18:22] lopesmcc commented on #273
Shouldn't this `reloadAuth` be updating the firebase auth state? I see the message but the state is not being updated.

[2017-11-16 18:54] prescottprue commented on #273
@lopesmcc Yes it should. The tests should be confirming this too, so I will attempt to replicate.

If I am able to replicate, we will reopen this to track.

Thanks for reporting.

[2017-11-16 18:59] prescottprue commented on #337
It seems that this may be an issue of using `recompose` and `react v16` not playing nice as far as context types. Only able to replicate on react v16, so I wonder if context is handled in a different way (possible even involving `react-redux`)?

Not sure which it is (`recompose`/`react-redux` or both), but depending on how quickly it can be addressed we may have to switch `withFirebase` to a custo

[2017-11-16 19:06] prescottprue commented on #335
@andreugrimalt yup, glad to help. Good to know about the typo.

The first one not working kind a makes sense since the props it is receiving never change (it won't now to re-render and re-attache listeners).

This should definitely be noted in the example, and maybe we should consider it "dangerous" to use `store.getState()` since this can happen. Dealing with this s actually why at work we usuall

[2017-11-16 21:15] canyavall commented on #337
Perfect, thank you very much!

I'll check it when I can as I0ve to finish some things

By the way, thank you very much for the library, it is just awesome

[2017-11-17 17:33] phoenixrip opened #339 "Setting auth persistence."
Trying to set the auth-state-persistence to 'none' using the method described [here](https://firebase.google.com/docs/auth/web/auth-state-persistence) on the firebase object added by firebaseConnect: but I'm getting:

`Uncaught TypeError: firebase.auth(...).setPersistence is not a function`

(V1.5.1)

It seems it is not possible to set the persistence type of the auth in v1.5.1.
Am I missing somet

[2017-11-17 19:12] prescottprue commented on #339
@phoenixrip You are correct. Have you tried out [using `v2.0.0`](http://docs.react-redux-firebase.com/history/v2.0.0/#use)? It has a more simple API and allows you to pass your own Firebase instance (you can manage version and call `setPersistence` yourself).

Not only does v2.0.0 give you that capability, but it has actually proved to be much more performant in our production applications. We are

[2017-11-17 19:15] awadesmoline commented on #111
@prescottprue I couldn't get to the example on the pagination branch link you shared above.
@pzmudzinski were you able to create the example?

[2017-11-17 20:08] phoenixrip commented on #339
Thanks so much for a quick response.... I will start working on transitioning to v2.0.0 now.

[2017-11-17 20:40] phoenixrip commented on #339
Well, that was insanely easy.

Not done by any means, but getVal as a drop in replacement (except having to add .data to paths) makes this a really nice transition.

I gotta say, this is a really beautiful, well written and supported bit of software. Thank you so much for it. Will definitely be contributing once the project goes live :)

[2017-11-18 02:07] sshadmand commented on #257
Worked. Thanks @prescottprue!

[2017-11-18 02:10] sshadmand opened #340 "Developer is able to use a "Data loading" flag to let user know data is still being loaded"
**Do you want to request a *feature* or report a *bug*?**

Feature: Some way of showing the user that the data is still being received from firebase.

**What is the current behavior?**

Firebase state shows some variables but nothing (as far as I can tell) that tells me when something is still loading.

**What is the expected behavior?**

Data in the state that tells me "loading: true" so I may sh

[2017-11-18 03:23] prescottprue commented on #340
@sshadmand This already exists in few  different flavors

### Helpers

There are the `isLoaded` and `isEmpty` helpers (as shown [in the use section of the README](https://github.com/prescottprue/react-redux-firebase#use)).

These work by checking if the value that is passed to them is `undefined` or `null` (in this case the prop which is the part of state associated with the data you are loading)

[2017-11-18 03:23] #340 closed

[2017-11-19 18:57] Klabauterman commented on #318
I had the same problem and this helped me:
https://spin.atomicobject.com/2017/04/20/typesafe-container-components/

I ended up using this:
`
interface StateFromProps {
    auth: any | null;
}

export default connect<StateFromProps, {}, void>(
    (state: any) => ({
        auth: state.firebase.auth
}))(firestoreConnect()(App));
`

[2017-11-19 20:08] 0x80 commented on #318
@Klabauterman Very helpful! Thanks for sharing the article!

[2017-11-19 23:36] prescottprue commented on #318
It might be good to add a typescript example incase people run into this in the future (would also be helpful for future development of typings).

Are there any changes that should be made to the typings for `firebaseConnect` based on this or should we close?

[2017-11-20 10:17] hwaterke opened #341 "bug (reducer): error using redux-persist v5"
This library does not seem to work with the latest version of redux-persist.
The state is not rehydrated.

```redux-persist/stateReconciler: sub state for key `firebase` modified, skipping.```

Here is my store config:

[code]

[2017-11-20 11:04] 0x80 commented on #318
I feel the generated types file from dts-gen is messy and largely incorrect, but I don't know enough about Typescript or your library to offer to take this on.

[2017-11-20 15:59] nicolasgarnier commented on #264
Hey Scott,

I'm trying to use this feature now but I am not able to.

Here is my code to create the store:

[code]

I'm always getting errors such as `There was an error TypeError: store.firebaseAuthIsReady is not a function`.

And yes I made sure I upgraded to beta.9 and above :)

Any idea?

[2017-11-20 16:09] nicolasgarnier commented on #264
I just also tried:

[code]

Since `firebaseAuthIsReady` is probably directly a Promise and not a function but I get this error:

`info: There was an error TypeError: Cannot read property 'then' of undefined`

[2017-11-20 16:17] nicolasgarnier commented on #264
OK I found the issue. It looks like the config variable to enable this is not set to true by default.

Also we need to use `attachAuthIsReady: true` and not `attachAuthIsLoaded` as indicated in the beta.9 release notes :) probably this was changed after beta.9

[2017-11-20 20:24] nicolasgarnier commented on #264
@prescottprue

I'm facing an issue where `firebase.auth.isLoaded` is never true initially if we are starting with no signed-on user. My expectation would be that `firebase.auth.isLoaded` is true whenever the initial auth state is reflected in the Redux store, no matter if there is a signed-in user or not.

Basically if I use this new feature after beta.9 to wait to load the entire UI the UI of my

[2017-11-20 20:38] nicolasgarnier commented on #264
I filed: https://github.com/prescottprue/redux-firebase/issues/2

[2017-11-21 18:31] fej-snikduj opened #342 "bug(populate) - populate returns a new instance of an object on every render, preventing pure components from working"
**Do you want to request a *feature* or report a *bug*?**
Bug

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
When using `populate` in the connect function, it returns a new

[2017-11-23 20:51] phillyfan1138 opened #343 "Support for firestore querying"
It would be awesome to support more advanced querying like that described in the following firestore document:

https://firebase.google.com/docs/firestore/query-data/get-data

Currently, it appears that only basic querying based of the url is supported.

[2017-11-24 01:04] phillyfan1138 commented on #343
Never mind, it appears it is supported...are there any docs on this?  I got it to work using inside the firestoreConnect function:

`[
        {
            collection: `apps`,
            where: ['uid', '==', store.getState().firebase.auth.uid]
        }
 ]`

[2017-11-24 06:38] prescottprue commented on #343
The [Firestore section of the docs](http://docs.react-redux-firebase.com/history/v2.0.0/docs/firestore.html) is where the notes on this live for now. There will be more documentation coming in the future.

If you have any questions or want to bounce ideas around while implementing, feel free to join us on the [redux-firestore gitter channel](https://gitter.im/redux-firestore/Lobby).

Sidenote: BE

[2017-11-24 06:38] #343 closed

[2017-11-24 17:56] jackkinsella commented on #341
I also couldn't get **react-redux-firebase** to play nicely with v5 of **redux-persist**. Here's my configuration (React Native):
[code]

Next up, here are the actions that were called by Redux:
![screen shot 2017-11-24 at 18 54 07](https://user-images.githubusercontent.com/151206/33220471-f181cee2-d148-11e7-83a2-ae30188a3006.png)

Finally, here are the log entries:
[code]

[2017-11-24 18:39] prescottprue commented on #341
It seems like this might require removing the `REHYDRATE` action from the reducers, and possibly allow for a plugin setup similar to [how redux form does it](https://redux-form.com/7.1.2/docs/api/reducerplugin.md/).

I am going to work on adding redux-persist example to an example so that we can debug this better.

[2017-11-24 18:48] #339 closed

[2017-11-25 08:11] ankit7878 commented on #336
hey, you can close this issue for now i really dont know how this 'yield put(NavigationActions.navigate({ routeName: 'Main' }));' statement statet working after few day i will try to upload code as soon as possible

[2017-11-25 16:54] #336 closed

[2017-11-25 18:36] prescottprue commented on #338
@jpmazza Could you explain a little more about "it is not working"? What are you seeing? What are you expecting to see?

Currently the logic in `v1.5.*` will not log you in if you are already logged in which is intended (happens in [this line here](https://github.com/prescottprue/react-redux-firebase/blob/master/src/actions/auth.js#L414)).

[2017-11-26 06:24] 0x80 opened #344 "question(query): query a firestore document based on firebase auth uid"
Is it possible to query a document from firestore based on the auth uid coming from the firebase, within the same composed enhancer?

I'm trying to do something like this:

[code]
I find the documentation about Firestore highly confusing. Every example takes a different approach and some of it is incomplete like the example under Automatic [here](http://docs.react-redux-firebase.com/history/v2.0.0

[2017-11-26 06:41] 0x80 commented on #344
Also I ran into some example code in the docs where auth was taken from firestore instead of firebase. Is it possible to use firestoreConnect for auth? I don't see it documented anywhere.

[2017-11-26 08:13] scottcrossen commented on #335
In an attempt to isolate and fix the problem, I upgraded to version ^2.0.0-beta.17 and now the problem doesn't seem to exist. I'm fine marking this issue as resolved unless you think more work is needed.

[2017-11-26 19:58] prescottprue commented on #335
@scottcrossen Great to know. Going to close, but ready to reopen if someone runs into this with newer versions.

[2017-11-26 19:58] #335 closed

[2017-11-26 20:02] prescottprue commented on #344
Yes, it is possible to use the auth from Firebase to query Firestore (you don't need to add `firebaseConnect` since firebase state lives in redux. So this should work fine:

[code]

There is not currently support for grabbing auth from Firestore state (as it would require `redux-firestore` having an auth reducer).

I'm going to clean up the examples a bit more since I agree they are unclear and th

[2017-11-27 15:05] 0x80 commented on #318
@Klabauterman If I have a component that needs both firebase from state and the firebase instance to call methods on would this be correct?

[code]
In any case, I'm not happy with the name `PropsFromProps`, but I'm also unsure why you called the other one `StateFromProps`. Could it be `StoreToProps` or `StateToProps`, since it's a mapping?

[2017-11-27 16:04] 0x80 commented on #318
Never mind! I think I was trying to fix an error that I didn't understand. Of course the second parameter to connect is mapDispatchToProps, and as nothing to do with this.

But the `StateFromProps` question still stands. I think `PropsFromState` makes a lot more sense. Because you're converting redux state to component props. What do you think?

[2017-11-27 16:40] 0x80 commented on #318
Sorry for the noise. I clicked close by accident. Then opened it, and noticed it was moved to done. Closed it again.... I don't know. I think this is not an issue anymore.

As long as you don't try to use redux compose with firebaseConnect you're fine. I'm not sure if the problem is with my use of compose, or with the firebaseConnect type signature...

[2017-11-27 17:16] 0x80 commented on #318
Ah yes, I still have an issue with this.

For example the code below compiles without errors, but if I try to use the component in JSX I do not get any warning about missing props. This is because the firebaseConnect() return type is `any`.

@Klabauterman any idea how I can make the JSX aware of the required props?

[code]

[2017-11-29 11:56] azimgd opened #346 "uploadFileWithProgress is not defined"
https://github.com/prescottprue/react-redux-firebase/blob/ed6b902aee8ca225b02e307b71ff1b93b4f9f6fe/src/actions/storage.js#L25

`uploadFileWithProgress` is not defined/included into compose. While i see relevant code and tests in place.
https://github.com/prescottprue/react-redux-firebase/blob/ed6b902aee8ca225b02e307b71ff1b93b4f9f6fe/src/compose.js#L325

Is there any particular reason for this ?

[2017-12-01 00:25] TimMeade opened #348 "v2 non-immutable issue with firestore example"
We use an immutable store and are trying to integrate v2 for firestore access.

The issue comes from this bit in Home.js

connect(
    ({ firestore }) => ({
      todos: firestore.ordered.todos,
    })
  ),

this does not work at all with immutable store.   I found the reference for using getVal, but have tried multiple iterations of it and nothing seems to work.

Is there a simple way to use immu

[2017-12-01 00:29] TimMeade commented on #348
Closed as seems i was not on v2 examples.

[2017-12-01 01:16] prescottprue commented on #348
@TimMeade this may be an issue for [redux-firestore](https://github.com/prescottprue/redux-firestore). I am assuming you mean ImmutableJS and not general "immutablability" as ([since redux requires an immutability](https://redux.js.org/docs/faq/ImmutableData.html#why-is-immutability-required)). v1 of react-redux-firebase actually used Immutable internally, but for v2 we moved away from that (for a

[2017-12-01 01:18] TimMeade commented on #348
I had similar thoughts on the store with different types.    Been a long day, I'll look into it tomorrow and get back.  Was hoping i had missed something simple.

[2017-12-01 21:27] MikeKoval opened #349 "example(populate): populate by object's keys"
Hi!

I have a profile object:
[code]

To populate list of friends I just need to add:
[code]

How can I populate matches by keys instead of values or maybe by subfield?
I just don't want to get the full list of users from db, I think there must be a better way.

[2017-12-02 16:03] omoki opened #350 "Fix 2.0 beta documentation error for getting started"
According to the migration guide, the reactReduxFirebase function no longer takes firebaseConfig as an argument. Rather, firebase object that is already initialized should be passed in.

The error in documentation is found in getting started guide under [Compose Function](https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0-beta.18/docs/getting_started.md#compose-function)

The followi

[2017-12-03 23:11] prescottprue commented on #350
Fixed in [v2.0.0-beta.18 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.18). Thanks for reporting.

[2017-12-03 23:11] #350 closed

[2017-12-03 23:15] prescottprue commented on #346
`uploadFileWithProgress` was intentionally not exposed as the goal was to have a single interface where you could choose to have progress or not. The [v2.0.0-beta.18 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.18) includes the option for progress when calling `uploadFiles` or `uploadFile`:

[code]

The option is false by default, so if you want actions di

[2017-12-03 23:15] #346 closed

[2017-12-04 02:04] prescottprue commented on #126
`childAlias` was added as part of the [`v2.0.0-beta.18` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-beta.18). Thanks for the feature suggestion!

[2017-12-04 02:04] #126 closed

[2017-12-04 04:20] Jonovono opened #351 "question(Usage Confusion)"
Hi. So I am looking to integrate this into a RN app. I am using firebase and redux, but not currently this library. I have my redux state currently set up as so:

[code]

So what I currently do is I set up listeners on app load on different FB paths and onChange/onCreate etc I dispatch actions which will place the data in the right place. For example, I get a new friend they will get added to the

[2017-12-04 12:54] kolj commented on #349
Also interested how to solve such kind of issues.

[2017-12-04 16:11] 0xClpz opened #353 "Sending email confirmation"
Hello, I'm trying to figure out how i can send a confirmation email to a user after he registers but I can't seem to find any information on how to dit using your library.

In vanilla firebase i'd simply use user.sendEmailVerification()

Thank you,

[2017-12-04 20:05] prescottprue commented on #349
Great to know there is interest in this.

If the values are `true` (i.e a `$key: true` list) it will populate automatically. If the values are not `true` (like in the example you provided) - you can provide a function that calculates you population settings (instead of just an array). I'll work on an example to show what I mean.

[2017-12-04 20:13] 0xClpz commented on #353
Alright that's what I was thinking I should do but I just wanted to make sure :)
Personally I would not need it no, the only thing I'd implement on my side if it's not in the library yet is updating the store whenever the user confirms his email !
Thank you very much

[2017-12-04 21:07] MikeKoval commented on #349
@prescottprue Thank you!

Do you mean https://github.com/prescottprue/react-redux-firebase/blob/master/src/utils/populate.js#L108 , https://github.com/prescottprue/react-redux-firebase/blob/master/src/helpers.js#L251 and https://github.com/prescottprue/react-redux-firebase/blob/master/src/helpers.js#L264 , am I right?

It'd be great if you could provide an example :slightly_smiling_face:

[2017-12-05 07:29] prescottprue commented on #351
**No**, you do not necessarily need listeners for whatever components need data from Firebase. You can create listeners in a parent component and then connect to state in any other component.

Though it is a common pattern `firebaseConnect` and `connect` on the same components when building really simple applications, in larger applications many of your components can/will have no idea how data go

[2017-12-05 10:31] #353 closed

[2017-12-05 19:33] Jonovono commented on #69
Wondering if this in in yet? Would be great to use!

[2017-12-05 21:43] Jonovono commented on #351
Hey @prescottprue , a question related to this. Say I am using `populate`. How can I persist that value to the redux store so that on other components that I want to use that populated data within I don't have to set up the same populate query? Is that possible to do?

Thanks.

[2017-12-06 01:44] prescottprue commented on #351
Populating profile parameters is mentioned within the [profile recipes section of the docs](http://docs.react-redux-firebase.com/history/v2.0.0/docs/recipes/profile.html#populate-parameters).

Also, unrelated to your question, but having filtering within `connect` can cause issues of unwanted re-rendering. You may want to use something like [reselect](https://github.com/reactjs/reselect) to make s

[2017-12-06 01:46] Jonovono commented on #351
Thanks, what if it's not a profile parameter I want to populate?

And ya hah. I'm going to be looking into one of those next :p Thanks for the reminder!

[2017-12-07 06:54] maxvashchuk commented on #349
I would also like to see an example

[2017-12-10 05:59] sushant23 opened #355 "Dynamic limitToLast (load more feature)?"
First of all, thank you so much for this awesome project, it is really helping us with our workflow.

I wanted to know if there is a way to make `limitToLast` query dynamic. My use case I want to create a chat app where I need to sync just 20 message at first and upon scrolling I need to sync 20 more data and so on.

I would really appreciate any help

[2017-12-10 17:03] prescottprue commented on #355
`firebaseConnect` accepts a function, which means that you can pass props and use them within your queryParams. It is common to have have query parameters from react-router be passed as props, so that your URL can show which data is loaded on the page.

[code]

[2017-12-10 18:44] eranhirs opened #357 "bug(SSR): memory leak when using renderToString"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I am rendering my redux app on the server using the `renderToString` method.
I stress-loaded the system with ApacheBench and the memory consistently grows over time.

After some profiling and reading [this code](https://github.com/firebase/firebase-js-sdk/blob/7db74e6111051eab499b0d3e95fb0789200cb14a/p

[2017-12-10 19:02] prescottprue commented on #357
@eranhirs Really interesting use case (the stress loading sounds cool too).

Do you have a project you can share where you are doing this? Would love to replicate the issue so we can look into debugging.

[2017-12-10 19:05] prescottprue commented on #344
@0x80 Going to close this. Let me know if the usage is still not clear or if you think it should be added somewhere else in the docs.

Thanks for reaching out.

[2017-12-10 19:05] #344 closed

[2017-12-10 19:08] prescottprue commented on #69
@Jonovono This is not in yet. The difficultly is around making sure we correctly track listeners that are created.

When using `once` queries are not left open, making tracking not too difficult. Open queries are a little more complex.

Really hoping to get the time to get this in, but not sure of a timeline. Open to PRs if anyone has the time.

[2017-12-10 19:51] eranhirs commented on #357
It seems the issue starts when I initialize `reactReduxFirebase` on every request, and each time [this code](https://github.com/firebase/firebase-js-sdk/blob/7db74e6111051eab499b0d3e95fb0789200cb14a/packages/app/src/firebaseApp.ts) is creating event listeners.

I don't have a project I can share, but I based my implementation on [this tutorial](https://medium.com/@benlu/ssr-with-create-react-app-v

[2017-12-10 20:29] eranhirs commented on #357
Initializing `reactReduxFirebase` once did the trick, thanks!

[2017-12-10 23:35] eranhirs commented on #357
So this wasn't the only problem.
It seems `componentWillUnmount` [is not called ](https://github.com/facebook/react/issues/3714)when calling `renderToString` .

I still see a lot of observers stacking up attached to an object in `auth`.
Any idea where are these observers created?
I see `firebaseConnect` [has a method](https://github.com/prescottprue/react-redux-firebase/blob/71a3e7781a77052afc7d0b

[2017-12-11 07:15] sushant23 commented on #355
Got it thank you so much.

[2017-12-11 07:15] #355 closed

[2017-12-11 19:41] prescottprue commented on #337
@canyavall The [PR for v2.0.0-rc.1](https://github.com/prescottprue/react-redux-firebase/pull/358) includes changes where `withFirebase` and `withFirestore` use classes directly instead of `recompose`'s `withContext`.

Feel free [to npm link it](http://docs.react-redux-firebase.com/history/v2.0.0/docs/contributing.html#npm-linking) and give it a try yourself, but I was able to get it running with

[2017-12-12 09:05] Ionut-Milas opened #359 "bug(auth): login with custom token throws error"
Hello,
I am using react-redux-firebase with redux-thunk to make an custom auth with LinkedIn.
I am following Google's repo here: https://github.com/firebase/functions-samples/tree/master/linkedin-auth.
All works fine, i get the token but when I call the login function auth get populated for a second and then an error message appears in console and auth is emptied.
In the DB the user is created, de

[2017-12-12 11:10] Ionut-Milas commented on #359
It appears that by default updateProfileOnLogin is true and it updates the profile with an undefined object.
I added in config the following  `updateProfileOnLogin:false` and now it is working.
If you have any insight into this, would be greatly appreciated.

[2017-12-12 20:11] Ionut-Milas commented on #359
@prescottprue Rules are the default ones
`{
  "rules": {
    ".read": "auth != null",
    ".write": "auth != null"
  }
}`
`UNAUTHORIZED_ERROR` returned `{}`.
The strangest thing was that for a second the user was logged in.
I conditionally display a menu based on the auth state and it appeared for a second or so until the `UNAUTHORIZED_ERROR` popped.
I caught that error with `validation.js:218` on

[2017-12-14 07:16] canyavall commented on #337
Perfect, I'll try it, sorry to don't answer before, I'm out of time actually ^_^

[2017-12-14 10:33] prescottprue commented on #359
@Ionut-Milas I may have an insight into what is going on (think it has to do with the profile not being passed with custom token) but going to test further. Hope fully `updateProfileOnLogin:false` works for you for now.

[2017-12-14 10:35] Ionut-Milas commented on #359
@prescottprue thanks for your support on this matter!
It works with with `updateProfileOnLogin:false`

[2017-12-14 12:54] QuentinBrosse opened #360 "bug(firestore): profile update error when using Firestore"
Hi,

Thanks for your great library. I use it with `react-native-firebase` but I want a little issue with profile creation / update with firebase.
I want the current to be always connected (anonymously or by email/password) will using the app.

# Auth Flow
So here is my auth flow when the user si not signed in yet:

1. Sign In Anonymously
[code]
2. The user discovers the app..
3. The want to create

[2017-12-15 03:51] drailanjohngss commented on #284
can It be integrated with expo?

[2017-12-15 07:22] MikeKoval commented on #349
@prescottprue Could you please help me, how I can provide my own function calculating my population settings (instead of just an array) ?

[2017-12-15 20:08] dibondi commented on #349
I am working with firebase and would like to know a better way as well.

[2017-12-17 07:05] prescottprue commented on #318
The [`v2.0.0-rc.1` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-rc.1) includes a switch to creating all HOCs within `react-redux-firebase` instead of using `recompose`'s `withContext` and `getContext` (`recompose` is not longer a dependency).

It seems like the theory of these `recompose` HOCs being the issue was correct since I was no longer having the issue w

[2017-12-17 07:05] #318 closed

[2017-12-17 17:20] canyavall commented on #337
Checked and fixed, thx man!

[2017-12-17 23:01] #337 closed

[2017-12-19 10:23] 0xClpz opened #361 "feat(populate): populate object of keys"
Hello,
First of all, thank you for creating this library, it's really great.

My question is the following, how can I populate an Object of keys using your library when I don't know the child in advance?

Here's what my data structure looks like

[code]

Where the keys are IDs for resources somewhere under /something/{resource_id}

Thanks, Antonio.

[2017-12-19 11:20] ctwhome commented on #349
Hi, I found myself doing the next, although it works, I am not sure if that is the way to go:
[code]
Is it there a direct way?

[2017-12-19 20:38] JeremyPlease opened #362 "v2 Firestore populate"
I've been working with Firestore and `firestoreConnect` in the latest v2 (rc1) and it would be great to get "populate" functionality working with Firestore.

I see that `firesoreConnect` is using `redux-firebase`'s `setListeners` function. I also checked out the Firebase functions for `watchEvent`, `promisesForPopulate`, and the `utils/populate.js` file. The functionality for Firebase populates is

[2017-12-19 22:01] prescottprue commented on #362
Aware of the fact that this is wanted, but haven't started on it yet.

Like you are saying, most of the utils used with redux/connect should work the same, but [`setListener` within `redux-firestore`](https://github.com/prescottprue/redux-firestore/blob/master/src/actions/firestore.js#L167) will need support for creating other listeners associated with population (similar to how `watchEvent` does

[2017-12-20 13:03] barnomics commented on #360
I have just stumbled into the same error ... i have a fix if @prescottprue isn't already on it

[2017-12-20 13:07] barnomics commented on #360
The profile _does_ actually update in Firestore but the error is thrown regardless

[2017-12-20 13:17] barnomics commented on #360
the last line in auth.js needs to change to...
[code]

[2017-12-20 17:41] heebnerd commented on #338
I'm seeing the same issue. I'm on version 1.5.0 and no matter what I set "signIn" (currently setting it to false) it logs me out and I get logged in at the newly created user.

`let credentials = {
   email : user.email,
   password : user.password,
   signIn: false
};

let profile = {
   disabled: user.disabled,
   email: user.email,
   role: user.role,
   customer: user.role === 'admin' ? '' : u

[2017-12-23 17:02] Modestas commented on #359
Nice work! I just bumped into the same problem as defined here.

[2017-12-25 13:32] Klabauterman opened #365 "firestoreConnect does not update on props change"
I am using firestoreConnect with paths that depend on the component props, but the listeners do not get updated when the props for the paths change.

Are there plans to fix this issue in the near future?

[2017-12-25 21:36] prescottprue commented on #365
@Klabauterman Can you provide a replication? What version are you using? Is the path of the listener itself changing or just query params?

Re-rendering not occurring is not expected behavior. There are many production applications (including multiple my company is running) that use this re-rendering based on props.

[2017-12-26 10:04] Klabauterman commented on #365
@prescottprue It looks like it was fixed already I just updated from redux-firestore from 0.2.2 to 0.2.5 and react-redux-firebase from 2.0.0-beta.17 to 2.0.0-rc.1 and now it seems to work :).

[2017-12-26 10:04] #365 closed

[2017-12-27 14:52] izakfilmalter opened #366 "bug(firestore): logging in deletes any custom fields on user object"
My reactReduxFirebase Config:

[code]

When I use Firestore for my profile, and I write any custom data to it and end up with a profile similare to this:
[code]

When I logout and log back in my profile looks like this:
[code]

I can get around this by changing my reactReduxFirebase Config to the following, but that is less than optimal:
[code]

[2017-12-27 22:40] prescottprue commented on #366
@izakfilmalter I was not able to replicate. Which version of `react-redux-firebase` and `redux-firestore` are you running?

Are you setting the custom profile params somewhere else other than on login?

[2017-12-27 22:47] izakfilmalter commented on #366
Versions:
[code]

I'm doing it after a user logs in. Basically it's to manage organization membership within the app. When a user initially logs in, I check if they are apart of an organization, if not, they create one and then I store the orgs id in the membership object. Once that user logs out, and logs back in, it gets wiped. I was using the realtime db before and then it worked fine, once I s

[2017-12-27 22:58] prescottprue commented on #366
@izakfilmalter Ok, cool. Will try to replicate with that info and get back to you.

Thanks - Its a huge help to report bugs with the Firestore integration since it is still young.

[2017-12-27 23:19] klis87 opened #367 "Items from db not updated after user login"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After user login, items should be fetched from database. Currently, browser refresh is required, which shouldn't be necessary.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.*

[2017-12-27 23:36] prescottprue commented on #367
@klis87 This is currently expected behavior. [The state based query example](https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0/examples/snippets/stateBasedQuery/Home.js) shows loading auth in a parent component and passing it as a prop.

Reloading based on auth state change can cause unexpected re-renders in other situations (i.e. components wrapped in `firebaseConnect` not using au

[2017-12-28 00:31] prescottprue commented on #367
@klis87 For clarity, I included a note about this in the updates of the roadmap for the v2.0.0 release.

Going to switch this issue to a place to track the new feature.

[2017-12-28 00:36] prescottprue commented on #359
`v2.0.0-rc.2` is not yet released to npm, but the branch includes support for the `profile` param as shown above. Release coming soon.

[2017-12-28 10:50] prescottprue commented on #360
@QuentinBrosse and @barnomics [`v2.0.0-rc.2`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-rc.2) includes this change.

Just as a side note: it is noted in the release, but v2.0.0 is stable so it will be going into master soon.

[2017-12-28 10:50] #360 closed

[2017-12-28 10:54] prescottprue commented on #359
The [`v2.0.0-rc.2` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.0-rc.2) includes support for the `profile` param as shown above.

@Ionut-Milas and @Modestas reach out if this doesn't cover your use case, and we can reopen.

[2017-12-28 10:54] #359 closed

[2017-12-28 14:46] karltaylor opened #368 "Bug(Listeners): Component with same listeners does not update correctly."
**What is the current behavior?**

I have two containers with the same structure.

[code]

[code]

They both have the same listeners on them,

ComponentOne
[code]

ComponentTwo
[code]

When I navigate to ComponentOne, it sets the listeners fine,

![](https://cdn.pbrd.co/images/H0jp23T.png)

But then I go to ComponentTwo, and the listeners are `UNSET`, but the componentTwo listeners are not set.

!

[2017-12-28 18:07] klis87 commented on #367
@prescottprue That's awesome this going to be included in core! For now, I tried to make some workaround:
[code]
Unfortunately then no todo is displayed as `equalTo` doesn't hit anything. Without `equalTo`, it doesn't work either - todos aren't fetched after logging like in above example - passing `profile` doesn't change anything. Could you please advise there is anything I am doing wrong?

[2017-12-28 21:23] prescottprue commented on #367
@klis87 Did you try confirming that data is loaded in a parent component first as shown in [the state based query example](https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0/examples/snippets/stateBasedQuery/Home.js#L6-L18)?

If your profile prop is not yet available, that could cause you to be creating a query that you are not intending to (with a query param `'equalTo=undefined'`).

[2017-12-30 22:47] klis87 commented on #367
@prescottprue in my case `profile` is never `undefined`. For logged out user it is equal to `{ isLoaded: true, isEmpty: true }`, for authenticated `{ isLoaded: true, isEmpty: true ...rest }`. However, I really don't want to use any `queryParams`, my use case is the following - I have dababase objects which are public (common for all users), but I want them to be loaded only after user signed in, I

[2017-12-31 08:56] prescottprue commented on #367
@klis87 Passing as a prop as done in [the state based query example](https://github.com/prescottprue/react-redux-firebase/blob/v2.0.0/examples/snippets/stateBasedQuery/Home.js#L6-L18) should work great for that then.

[2017-12-31 15:52] klis87 commented on #367
@prescottprue I try but without any effect. Please see https://www.webpackbin.com/bins/-L1hFJz7jujeHpXvI_oE

[2018-01-05 11:49] budgefrownie commented on #349
@prescottprue happy new year! was hoping you could share your example for this! Thanks!

[2018-01-06 21:54] prescottprue commented on #349
Hey everyone,  just an update:

Got really sick while traveling for the holidays, so I have been out of commission the past few days. Hoping to be back to it early next week, and this is on the list of todo items.

[2018-01-08 18:25] ralcon commented on #362
Hi @JeremyPlease
Do you have any example project, maybe on github, with a documented sample model structure, where i could join working on it?

[2018-01-08 20:45] JeremyPlease commented on #362
Hey @ralcon
I haven't had a chance to dive into this yet. And, unfortunately, I don't have any public example data to work with right now. If you start working on this, please update this issue.

[2018-01-11 01:11] ralcon opened #372 "How to query user specific data within firebaseConnect (incl. population)"
Hi,

i'm working with react-native and have the problem to load only user specific data with `firebaseConnect`. Imagine there are thousends of `todos`, `users` and `doers` and don't want to reference all elements of them.

First of all, a shortcut of my data structure in the real time database:
[code]
I have a view/screen in RN, where all informations should be displayed. For now, i have...
[code]

[2018-01-11 02:08] prescottprue commented on #372
If I am understanding correctly - yes it is possible to populate both`createdBy` and `doerList`. That would be done by providing multiple populates:

[code]

Something to note: I believe where you are passing your populates parameter incorrectly, which will prevent the population queries from being created under the hood.

[code]

Glad to hear you are interested in helping the cause! To donate thr

[2018-01-11 02:10] #372 closed

[2018-01-11 06:32] ralcon commented on #372
Hi, thank you very much! You are right. It was an incorrect passing of parameters. Now, it works as expected!
But what about diving into a deeper level, populating the `user` for every entry in the `doerList`?

[2018-01-11 07:28] prescottprue commented on #372
@ralcon That is something we called "child populates" and it is [described in #85](https://github.com/prescottprue/react-redux-firebase/issues/85).

The redux side of it is easy enough, but I think it has been long running due to the query managing side of it. It would be fun to tackle, but I haven't had the time yet.

[2018-01-12 09:13] jacobfunch opened #374 "bug(signInWithPhoneNumber): actions may not have an undefined "type" property"
Error when calling `props.firebase.signInWithPhoneNumber(phoneNumber)`:
```Uncaught Error: Actions may not have an undefined "type" property. Have you misspelled a constant?```

Furthermore would be nice with better documentation for `signInWithPhoneNumber`: http://react-redux-firebase.com/docs/auth.html#signinwithphonenumbercode – it is not entirely clear if one need to pass the reCAPTCHA.

[2018-01-12 09:58] imdragonet commented on #128
https://webpack.js.org/configuration/externals/

try add prop-types library to external field.

[2018-01-12 10:07] prescottprue commented on #128
@imdragonet Do you mean within `react-redux-firebase` or in an application using it?

From what I thought (could be totally wrong), it was supposed to be a dependency handled by any library using it instead of a peer dependency. Open to doing that though if it some are still seeing this issue.

[2018-01-14 20:06] kylepotts commented on #368
I am having a similar issue. Using the 2.0 version. Kinda makes using this pointless since nothing updates.

[2018-01-15 12:00] lopesmcc commented on #273
Hi again.
Has this been fixed? I think not by looking at the current reducers logic.
I you want I can prepare a PR with it.

[2018-01-15 17:06] prescottprue commented on #273
@lopesmcc [Here is the source](https://github.com/prescottprue/react-redux-firebase/blob/94580288a028d14bc474a336a756138c0d072eb9/src/actions/auth.js#L745-L772) of the `reloadAuth` function that dispatches the `AUTH_RELOAD_SUCCESS` action.

It looks like you are right about there is not a reducer case for it (great catch), so it would be awesome if you wanted to open a PR! Don't worry too much abo

[2018-01-16 00:20] prescottprue commented on #368
Looking into this. Haven't replicated yet, but will post any updates here.

@karltaylor So that I correctly replicate - Were you no longer receiving updates in that collection (i.e. listener actually detached) or were you just seeing the `UNSET_LISTENER` action dispatched? Trying to figure if the dispatches are erroneous or if the listeners are actually being detached.

@kylepotts Same questions t

[2018-01-16 09:16] prescottprue commented on #374
@jacobfunch You are correct, the reCAPTCHA verifier does need to be passed. The [docs have been cleaned up](http://react-redux-firebase.com/docs/auth.html#signinwithphonenumbercode) to make this more clear.

[`v2.0.1` was released](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.1) with a fix for the dispatch issue.

The material example also shows using it through `login`.

[2018-01-16 09:16] #374 closed

[2018-01-16 10:25] karltaylor commented on #368
Hey @prescottprue thanks for looking into this!

I was no longer receiving updates in that collection, so it's definitely detatched.

@kylepotts for a part time fixed I just added a `watchEvent` on `componentDidMount`. It adds the listeners again for me and works ok. Probs not the best solution...

[code]

[2018-01-16 14:38] jacobfunch commented on #366
I can confirm this is an issue.

[2018-01-16 19:02] prescottprue commented on #319
@jacobfunch There is no merge option yet, but since #366 is asking for that, we can discuss the feature in that issue.

Thanks for your patience and clarifying your use case.

[2018-01-16 19:03] prescottprue commented on #366
As mentioned by @jacobfunch in #319 it would help to have an option to merge.

[2018-01-17 01:00] mixcas commented on #338
any updates on this?

[2018-01-17 06:50] prescottprue commented on #338
@mixcas Are you still on `v1.5.*` or are you on `v2.0.*`? A fix hasn't been started yet, but I am trying to get a sense of which should be prioritized.

So we can get a sense, others reading this should either:
* up vote this comment if you are using `v2.0.*`
* down vote this comment if you are using `v1.5.*` and would like to see that fixed first

[2018-01-17 07:19] prescottprue commented on #361
@0xClpz If I am understanding your question correctly, then there is not yet a great solution for this.

You should be able to get something working by querying the whole collection and populating each like so:

[code]

An issue with this is that you are loading the whole `subscriptions`collection then populating just the one user's subscription list, but querying the whole list may not be ideal a

[2018-01-17 07:35] prescottprue commented on #351
@Jonovono When you use populate with parameters other that `profile` (i.e. passing to `firebaseConnect`), the data that results from the populate queries is written into redux therefore making it available to your other components.

Is there anything still unanswered here or should we close?

[2018-01-17 07:36] #351 closed

[2018-01-17 07:37] prescottprue commented on #274
This does not appear to be an error with `v2.0.0`. If anyone experiences something similar, let me know and we can open a new issue with better repro steps.

[2018-01-17 07:37] #274 closed

[2018-01-17 09:28] eranhirs opened #379 "Intergration with firebaseui-web"
Would love to see an example of how to integrate `react-redux-firebase` with  `firebaseui-web` https://github.com/firebase/firebaseui-web

[2018-01-17 21:24] kylepotts commented on #368
@prescottprue I can do some digging around and let you know.

Pretty much on every page I have I have two things in the firebaseConnect() which are always the exact same thing.

[2018-01-18 16:27] QuentinBrosse opened #380 "fix(docs): include scope parameter in login method documentation"
Is it possible to specify [additional OAuth 2.0 scopes](https://developers.facebook.com/docs/facebook-login/permissions) in the [login function](http://react-redux-firebase.com/docs/auth.html#logincredentials) ?

Something like this:
[code]

I can't find anything who speak about it in the documentation and the issues.
Thanks a lot :)

[2018-01-18 18:55] prescottprue commented on #380
Yes, it works exactly as you indicated (passing an array or string to `scopes` parameter). The `email` scope is included by default.

I didn't realize it wasn't covered clearly in the `login` method docs. I'll update that, thanks for reaching out.

[2018-01-19 20:55] kylepotts commented on #368
Just an update adding a different store as seemed to make it work just fine.

[2018-01-21 08:28] prescottprue commented on #366
`updateProfileOnLogin: false` seems to also work for me, which makes sense since the `set` isn't being called.

The change to using `update` is part of the current progress for `v2.0.2`.

[2018-01-21 10:45] prescottprue commented on #366
Fixed as part of [`v2.0.2`](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.2). Profile's now include more of the auth data by default as well (including timestamps that are formatted).

Let me know if it doesn't work as folks were expecting.

[2018-01-21 10:45] #366 closed

[2018-01-21 10:49] prescottprue commented on #380
Included as part of the [`v2.0.2` release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.0.2).

Let me know if you think anything else should be added to make it more clear.

[2018-01-21 10:49] #380 closed

[2018-01-22 16:35] serhiipalash opened #382 "watchEvent method returns a non-standard response, if I pass populates in options"
If I do like this

[code]

In response I get object based on `populates` param

[code]

Normally, without `populates` param, response will be

[code]

I use `2.0.0` version.

[2018-01-23 19:19] csumrell opened #383 "Usage Question: Is there a purpose for listening to refs (firebaseConnect) if you can get everything from Profile state?"
I have been using the library for awhile and manually listening to users/uid/ ref nodes in all my components. However, I realized every time those nodes are updated, SET PROFILE is called as well.

So is there any point to doing these users/uid/ manual refs? Couldn't I just forgo them and use Profile from connect and use the user's data I need from there? The only data the app uses is from the use

[2018-01-23 20:56] prescottprue commented on #383
@csumrell Yes you can! If you set the `userProfile: 'users'` config option then the `users/${uid}` path will be automatically handled for you. There is even support for [populating profile params through `profileParamsToPopulate`](http://react-redux-firebase.com/docs/recipes/populate.html#populate-profile-parameters).

There is no inherent added benefit from doing it by hand. On a more positive no

[2018-01-23 20:56] #383 closed

[2018-01-23 22:36] prescottprue commented on #379
@pablomorales92 reached out over [gitter](https://gitter.im/redux-firebase/Lobby) and mentioned he is trying to get this working as well.

Even though it is not ideal, dispatching the `SET_PROFILE` action manually should help at least for login:

[code]

It seems like a solution may be allowing passing in a firebase-ui instance as part of config, but more investigation is needed to determine if th

[2018-01-24 23:42] johnkmzhou commented on #379
I wrote a workaround: https://github.com/johnkmzhou/firebaseui-react-poc

[2018-01-26 06:04] prescottprue commented on #379
@johnkmzhou Nice work! Its great to see an example. It may be easier if we made a proper integration, but in the meantime it would be great to include some of this in the docs.

Especially [this part with the auth callback](https://github.com/johnkmzhou/firebaseui-react-poc/blob/master/src/App.js#L23-L29) that calls `createUserProfile`.

Something to note:

The `firebaseConnect`  HOC is only requi

[2018-01-26 18:54] barneyb opened #384 "firestore listeners aren't correctly cleaned up"
Inside `FirestoreConnect.componentWillReceiveProps` w/ in `createFirestoreConnect` the wrong set of listeners is cleaned up:

https://github.com/prescottprue/react-redux-firebase/blob/3e41c91b87c120317c71ff7a7635ee36f2734e59/src/firestoreConnect.js#L66

`this.prevData` is overridden _before_ the extant listeners are cleaned up, so it ends up leaking. The call to `unsetListeners` should be made bef

[2018-01-27 15:42] QuentinBrosse commented on #344
@prescottprue personally, I must fo something like this to make it works:
[code]

[2018-01-28 02:33] prescottprue commented on #344
@QuentinBrosse Yup, thats how you pass auth as a prop. Definitely needed to create a query with `auth.uid`.

Does anything need to be added to the docs to make this more clear?

[2018-01-28 02:36] QuentinBrosse commented on #344
I don't think so, it was just to complete your [previous answer](https://github.com/prescottprue/react-redux-firebase/issues/344#issuecomment-347034191) who does not worked in my case. :)

[2018-01-28 19:12] QuentinBrosse opened #385 "feat(profile): additionalUserInfo reachable in the profileFactory"
**Do you want to request a *feature* or report a *bug*?**
Feature (I think)

**What is the current behavior?**

When I login with facebook and the `public_profile` scope:
[code]
I can access to the all the `public_profile` [relative data](https://developers.facebook.com/docs/facebook-login/permissions/#reference-public_profile) in `response.additionalUserInfo.profile`.

**What is the expected beha

[2018-01-28 19:55] prescottprue commented on #385
Yeah, that totally makes sense, thanks for reporting. Haven't seen the use case so far, but it should be handled. Feel free to open a PR if you have the time.

[2018-01-28 22:35] QuentinBrosse commented on #385
Yes, I need it so I will try to open a PR with week. :)

[2018-01-29 11:19] lukeda opened #386 "firestoreConnect permission exceptions are uncaught"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**What is the current behavior?**

When initialising firestoreConnect at the App component level, if permissions do not allow one of the collecitons to be queried, an exception is thrown.

`Uncaught Error in onSnapshot: Error: Missing or insufficient permissions.`

**If the current behavior is a bug, please provide the ste

[2018-01-29 23:28] prescottprue commented on #386
@lukeda Are you seeing anything written into `state.firestore.errors`? Though an error is being thrown the listener should hopefully still update state.

Not sure we want to silence the Error itself since the Firebase methods themselves throw, but it should be helpful to see the error appear in state.

[2018-01-30 03:23] johnkmzhou commented on #379
I had to create my own `createUserProfile` based off the one in auth.js of react-redux-firebase because I couldn't find a way to get react-redux-firebase to handle writing to the user collection even with the `userProfile` config.

On a similar note, I am facing the same issue with Cordova where I have to write my own `createUserProfile` implementation because the way Cordova handles authenticatio

[2018-01-30 14:46] abjorck commented on #368
Got the same issue, it looks like. I found that reloading the browser while on a "working" component, it stopped working and hung waiting for data - I see it unset_listener before data arrives.

[2018-01-30 18:55] mnindrazaka opened #388 "auth props is empty when use login(), but not empty when use createUser()"
when i tried to use auth with login() and try to shows auth props, i got this
![login](https://i.stack.imgur.com/1oZuA.png)

but when i use createUser() i got this auth props
![createUser](https://i.stack.imgur.com/H6l9y.png)

this is my login() code
![image](https://user-images.githubusercontent.com/11532800/35584958-26b70edc-0629-11e8-81b3-5e46709fcec5.png)

this is my createUser() code
![image]

[2018-01-30 20:26] prescottprue commented on #379
@johnkmzhou Thanks for the update. Especially because of what you are mentioning with cordova, we should expose a way to plug in to profile creation.

[2018-01-30 20:32] #384 closed

[2018-01-30 20:35] prescottprue commented on #368
@abjorck Good to know. Something to note: `storeAs` fixes the issue for some

[2018-01-30 22:11] lukeda commented on #386
I am currently not seeing any errors in the firestore state. It might be a bit ambitious but I would love to be in control of everything my app specifically outputs to the console. Perhaps a 2nd parameter to firebaseConnect which catches the exception and lets the code deal with it. If that 2nd parameter isn't present then continue to throw the error?

Console output:
[https://i.imgur.com/3BodEGE.

[2018-01-31 16:51] krewllobster opened #390 "2.0.2 --> 2.0.3 Error initializing firebase from react-native-firebase"
**What is the current behavior?**

After updating from 2.0.2 to 2.0.3, using the react-navigation integration docs here ([docs](http://react-redux-firebase.com/docs/integrations/react-native.html)), I am now receiving an error with text: "Failed to initialize app. FirebaseOptions missing or invalid 'apikey' property"

**What is the expected behavior?**

With react-native-firebase, I shouldn't need

[2018-01-31 17:05] krewllobster commented on #390
Nevermind. I had to do a full rebuild of the application. Sorry to bother!

[2018-01-31 17:05] #390 closed

[2018-02-01 00:19] Ammonix commented on #335
@prescottprue Hi there, first of all great library!
I think i ran in the same problem tho (i am running version 2.0.3)
for some odd reason the 'users' object isn't available in the data object after i run firebase.login()
´´´javascript
export default connect(mapStateToProps)(firebaseConnect(['users'])(Main));
´´´
but if i reload the site (with the user still logged in) the 'users' object exists

[2018-02-01 01:07] prescottprue commented on #335
@Ammonix I think what you are seeing may be due to the fact that re-renders are not triggered on auth state changing. If you are hoping to have your listener attached after the auth state changes from non existing to existing you will want to wait for auth to load first.

Something like

[code]

The pattern is outlined in [the query docs](http://react-redux-firebase.com/docs/queries.html). It can

[2018-02-01 10:05] compojoom opened #391 "bug(profile): firestore profile causes error: "parsing string to date. JSON parse error: Unexpected identifier undefined""
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
react-redux-firebase 2.0.3
redux-firestore - 0.2.6
react-native-firebase 3.2.3

As reported on gitter by @krewllobster creating a user account and then populating his profile causes an error: error parsing string to date. JSON parse error: Unexpected identifier "undefined"

when the profile should be p

[2018-02-01 16:03] krewllobster commented on #391
To add one more piece, when createUser() is called, it first calls the login() method. This seems to ignore my reduxFirebaseConfig that specifies resetBeforeLogin = false, and dispatches the LOGIN_ERROR action regardless. This occurs here: https://github.com/prescottprue/react-redux-firebase/blob/master/src/actions/auth.js#L456

@compojoom thanks for writing this up!

[2018-02-02 02:21] prescottprue commented on #391
Unless I am misunderstanding your explanation, `SET_PROFILE` is supposed to be called twice (once to clear state when starting auth and once to set it after profile result comes back).

As for this

...

By default `userData` includes `createdAt` which is a timestamp, which was causing issues when not providing a `profileFactory` that handled this. In switching to handling the date logic internall

[2018-02-02 18:32] compojoom commented on #391
Ok, i'll check again if the null on set_profile is causing the issue.
In my case userData didn't container createdAt - createdat was available in the metadata property.

I personally don't like the internal handling of this. I think that it should be disabled completely if you specify profile factory. I'm not storing created_at and last login on the user profile. And also there are a lot of unnece

[2018-02-03 04:17] prescottprue commented on #391
@compojoom I agree with not liking the internal handling. It is nice to have a default that works for those that want to try things without specifying anything, but it should be completely configurable (including not running at all if you provide your own factory).

As for how to handle it, we should move [this logic handling converting user data](https://github.com/prescottprue/react-redux-fireba