[2019-07-31 18:52] #736 closed

[2019-08-01 19:13] prescottprue commented on #682
Great work debugging it, happy to hear you solved it. Thanks for posting your solution!

If this is a common setting, maybe we should make note of how setting to `false` may cause issues.

[2019-08-01 19:13] #682 closed

[2019-08-02 11:26] rajivxux commented on #689
@prescottprue any updates on this?
I have noticed that the firestore listeners too are impacted. They do not progress from SET_LISTENER to LISTENER_RESPONSE state.
The peculiar thing is that if I let 10+ seconds pass between reloads the listeners and profile loading continue to function normally.

[2019-08-03 12:19] joerex commented on #531
@prescottprue I've simplified the code and revised the docs https://github.com/prescottprue/react-redux-firebase/pull/741/commits/7f8f693969570c46fa57faa224acadb47e9d949a.

Could you let me know what you think of this PR https://github.com/prescottprue/react-redux-firebase/pull/741?

[2019-08-05 09:03] MasriNaser commented on #650
Hello everyone!
I have the same issue.
<img width="1434" alt="Screen Shot 2019-08-05 at 11 01 54" src="https://user-images.githubusercontent.com/42206435/62452515-9ecd8500-b770-11e9-9a53-2560cf2b01ae.png">

[2019-08-05 17:14] prescottprue commented on #650
@MasriNaser It appears you are using a version from `latest` and not from `next`, which has a different setup as noted [in the v3 migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html)

[2019-08-06 06:05] Shreky commented on #653
Hey @prescottprue,
Thank you for the update.
Now useFirebase is available, but appears like it is of type ExtendedFirebaseInstance therefore, I am not able to use auth actions like: logout(). I think the definition should include Auth:
export function useFirebase(): ExtendedFirebaseInstance & Auth & Storage.

[2019-08-07 15:30] Aparus commented on #729
I have the same issue with web (not native)

[2019-08-07 15:48] prescottprue commented on #653
@Shreky Made that change and confirmed it fixed what you were mentioning, I'll try to release soon.

It would probably be nice to combine all of the different action set types into the actual `ExtendedFirebaseInstance` type itself, but this should work for now

[2019-08-07 15:50] prescottprue commented on #729
@Aparus Are you sure that have your indexs set to match the query? If you are still not seeing results please open a new issue with a codesandbox or similar where the issue can be reproduced. Thanks for reporting!

[2019-08-11 08:16] prescottprue commented on #732
In order to keep backwards compatibility with react versions without hooks for `firebaseConnect` and `firestoreConnect` for v3.0.0 I switched them back to classes, but included similar changes to what you did in #733. So it should be good now - let me know if things aren't functioning as expected and we can reopen

[2019-08-11 08:16] #732 closed

[2019-08-11 08:20] prescottprue commented on #667
I actually ran into this as well when using a newer version of the Firebase SDK than I had before. This should be fixed in [v3.0.0-alpha.15](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.15) since I switched them over to `any` for now.

Open to ideas getting more specific with it in future typings. Thanks for reporting

[2019-08-11 08:20] #667 closed

[2019-08-11 09:34] prescottprue commented on #653
More updates have been made to hooks recently by @illuminist and myself. Make sure to update from `next` for the newest updates! Going to close this since they are now supported.

[2019-08-11 09:34] #653 closed

[2019-08-11 10:28] prescottprue commented on #585
I believe that if you also check for the list before hand (i.e. `isLoaded(state.firestore.data.books) && isLoaded(state.firestore.data.books.123)` ) things should work as expected if not, lets open an issue on the redux-firestore repo. Thanks for reporting!

[2019-08-11 10:28] #585 closed

[2019-08-11 10:39] prescottprue commented on #486
This may be able to be added to `isLoaded` through a reduce that is checking for any non falsey values. The problem that may come up with that though is the loading a document with all falsey values or an object in RTDB which is all falsey values.

Open to ideas, but going to give this some thought before moving forward with a solution. Thanks for posting!

[2019-08-11 10:42] prescottprue commented on #614
Using `useFirestoreConnect` in the new hooks API available by installing through `next` tag may help solve this since it uses `React.useMemo`

[2019-08-11 10:46] prescottprue commented on #587
Not sure I understand the issue here. react-redux-firebase is returning the result of calling push on a ref to keep consistent with the Firebase JS SDK. Are you saying the issue is that you are not able to call `.then`?

[2019-08-11 10:47] #618 closed

[2019-08-11 11:04] prescottprue commented on #538
Realized that it didn't make much sense to write the result of a boolean like this into state when trying to implement. Open to ideas, but going to close for now. Thanks for posting

[2019-08-11 11:04] #538 closed

[2019-08-12 12:23] qalqi commented on #587
As on `^2.1.8`.  `pushWIthMeta` or `updateWithMeta` is not working with react-native-firebase

[2019-08-12 18:09] Staxxx6 opened #751 "bug: Redundant field is added after deleting an item from firestore collection"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When page is loaded, I get exptected data which looks like this:

![Screenshot (43)_LI](https://user-images.githubusercontent.com/47669215/62884484-5816f680-bd3f-11e9-8899-563dfbe1d35e.jpg)

However, after deleting an item, redundant `todayFeed` is embedded. With every deleted item, `todayFeed` field i

[2019-08-15 13:42] lucasharada opened #752 "question(core): issue building for production with react-boilerplate"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Component following the Load Data example works locally, but doesn't work when building for production. On production, when the component is mounted, the following exception is thrown:

For reference:
[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a m

[2019-08-24 20:10] AOUNT commented on #594
Hello @prescottprue ,

Sorry to ask but I'm facing an issue when migrating. I'm receiving this error:
![image](https://user-images.githubusercontent.com/27626560/63642107-5d1e6300-c6ba-11e9-9f6a-cba6973bea90.png)

I ensured to use the correct versions:
      "react": "^16.9.0",
     "react-redux": "^7.1.0",
     "react-redux-firebase": "^3.0.0-alpha.16",

Before using firestoreConnect, when loggin

[2019-08-25 07:35] dmcshehan commented on #581
I'm getting the following error:
`
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.
`

I want to use firestore and trying to configure the react-redux-firebase before configuring redux-

[2019-08-25 07:46] AOUNT opened #754 "cannot read property dispatch of null"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

Bug

**What is the current behavior?**

After adding the firestoreConnect argument I'm receiving the

[2019-08-26 03:31] prescottprue commented on #581
@dmcshehan can you please open a new issue with a full codebase where the issue can be reproduced? It is hard to tell what may be wrong from just the one snippet.

[2019-08-26 03:40] prescottprue commented on #754
How do your imports looks? Are you sure that you also imported firestore? It looks like `createFirestoreInstance` is being pointed to by your linter, is that because it isn't imported? That will be required in order to setup the `ReduxFirestoreProvider` internally.

Something else to note is that you may want to be using `redux-firestore@alpha` (i.e. the v1.*.* pre-release series) to have things c

[2019-08-26 06:39] jjang16 commented on #754
I was having a same problem.

The official v3.0.0 documentation has an example snippet which imports with
`
import withFirebase from 'react-redux-firebase/lib/withFirebase'
`

When I changed to this
`
import { withFirebase } from 'react-redux-firebase'
`

The problem disappeared, firebase being connected correctly.

So I guess it's a documentation error :)

[2019-08-26 07:16] AOUNT commented on #754
Hello @prescottprue,

Thank for getting back.

Here are my imports:

import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';
import App from './App';
import * as serviceWorker from './serviceWorker';
import { createStore, compose, applyMiddleware } from 'redux';
import rootReducer from './store/reducers/rootReducer';
import { Provider } from 'react-redux';
import thunk f

[2019-08-26 07:50] sklaghari commented on #673
@prescottprue How to use auth state?

[2019-08-26 09:09] Chbe commented on #621
Same problem here.

[code]

[2019-08-27 16:55] shevchenko0 opened #755 "bug(HOCs): use of componentWillReceiveProps in HOCs cause warnings with 16.9.0"
# **Bug report**

## **Steps**
Use firestoreConnect with react-redux-firebase@3.0.0-alpha.16 and react@16.9.0
Open your console to see the warnings

## **Expected Result**
No warnings should appear

## **Actual Result**
[code]
## **Version**
3.0.0-alpha.16

[2019-09-05 07:21] prescottprue commented on #513
Confirmed that `createUser` does still call `LOGIN` action and logs the user in v3.0.0-beta. Thanks to everyone for the input

[2019-09-05 20:10] prescottprue commented on #614
Closing since a reselect section with a similar example has been added to both `latest` and `next`.

Thanks to everyone for posting

[2019-09-05 20:10] #614 closed

[2019-09-05 23:20] prescottprue commented on #427
Progress on debugging this issue will be tracked in [139 of redux-firestore](https://github.com/prescottprue/redux-firestore/issues/139)

[2019-09-05 23:20] #427 closed

[2019-09-06 04:06] prescottprue commented on #699
Updated the docs to also include an example of doing this with a cloud function

[2019-09-06 06:18] prescottprue commented on #619
Support released in [v0.9.0](https://github.com/prescottprue/redux-firestore/releases/tag/v0.9.0). Reach out if it doesn't work as expected. Thanks for reporting!

[2019-09-06 06:18] #619 closed

[2019-09-06 08:16] prescottprue commented on #513
Released in [v3.0.0-beta](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-beta). Reach out if it doesn't work as expected or doesn't solve your issue.

Thanks for reporting

[2019-09-06 08:16] #513 closed

[2019-09-06 08:21] prescottprue commented on #635
The [v3.0.0-beta release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-beta) includes adding back `getFirebase`. It works directly with `createFirebaseInstance` instead of with the old  `reactReduxFirebase `/`store.firebase` method. The extended firebase instance should be shared as expected as far as config and listeners (at least it was while testing).

I also was abl

[2019-09-06 08:21] #635 closed

[2019-09-06 08:23] prescottprue commented on #755
Wasn't able to go straight to `componentDidUpdate`, but that will most likely happen in the future to support v17 of react.

The warning is fixed in [the v3.0.0-beta release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-beta).

[2019-09-06 08:23] #755 closed

[2019-09-06 19:41] braican opened #758 "Failing PropTypes for FirestoreConnectWrapped component"
It looks like in the recent update to the 3.0.0-beta, there was an adjustment to the props passed to the `FirestoreConnectWrapped` component where the `firebase` prop was updated to match the value passed to the `dispatch` prop:

https://github.com/prescottprue/react-redux-firebase/pull/756/files#diff-31f278ad6811ed873821e17ba66c026bR108

However in the `FirestoreConnectWrapped` component, the pro

[2019-09-06 23:42] prescottprue commented on #758
Whoops, thanks for reporting!

[2019-09-07 00:17] prescottprue commented on #758
Fixed in [v3.0.0-beta.2 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-beta.2). Reach out if anything else isn't working as expected!

[2019-09-07 00:17] #758 closed

[2019-09-09 18:51] zaptrem opened #760 "(Question) Are all the docs on the website updated for v3?"
I’m planning to use this library on a React-Redux/Expo project I’m working on (I’m new to all of these). Are the tutorials and examples in the v3 section of http://docs.react-redux-firebase.com/ updated yet? I don’t want to use v2 just to have to rebuild everything when it’s no longer supported in a short while. Instability is okay as I’m not planning on releasing the app for a while.

[2019-09-09 19:26] prescottprue commented on #760
The [v3.0.0 docs](http://docs.react-redux-firebase.com/history/v3.0.0/) are up to date, if you find anything that doesn't work as documented then please feel free to open an issue.

That said, I believe a few of [the complete examples](https://github.com/prescottprue/react-redux-firebase/tree/next/examples/complete) are not yet updated but should be shortly.

I would definitely go with the v3.0.0

[2019-09-09 19:35] zaptrem commented on #760
The complete examples are totally separate from the docs right? E.g., the tutorials aren’t made out of the complete examples.

[2019-09-09 19:36] prescottprue commented on #760
Correct they are separate - I just like to note that since some folks have also asked if/when those are being updated.

[2019-09-09 19:38] zaptrem commented on #760
Alright, final question from an inexperienced person: will I need to change anything (e.g., in my packages file) when v3 becomes the main release?

[2019-09-09 19:42] prescottprue commented on #760
You will go from wanting to change your package file to point to a version on latest instead of just using `next` (which most folks stick to while things are still in pre-release):

[code]

To install while it is in pre-release you can use `npm i --save react-redux-firebase@next`

[2019-09-09 19:45] zaptrem commented on #760
Thanks. If I have further questions (e.g., looks like the method of integrating Firestore with my Redux state is different from the normal middlewear combination function now) is there a better place to ask than here?

[2019-09-09 19:45] #760 closed

[2019-09-09 20:03] prescottprue commented on #760
[The gitter channel](https://gitter.im/redux-firebase/Lobby) is where most back and forth chat goes. You can also feel free to send me a DM

[2019-09-10 14:31] fuhrmannb opened #761 "Auth: non-serializable value detected in an login action using redux-starter-kit"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Using `redux-starter-kit` in my program, this library alerts me after a successful login that an non-serializable value is detected in the action `@@reactReduxFirebase/LOGIN`:

![Screenshot_20190910_160832](https://user-images.githubusercontent.com/19579566/64622253-4f214f80-d3e7-11e9-9b90-a9ae5571d3

[2019-09-10 17:18] prescottprue commented on #761
Interesting thanks for reporting, I'll look into if there is a fix that won't break things.

As noted [in this comment](https://github.com/rt2zz/redux-persist/issues/988#issuecomment-529407939) you should be able to configure the middleare to remove the serilizable check or ignore specific actions:

**Disable Check**
[code]

**Disable Certain Actions (Such as `LOGIN`)**
[code]

[2019-09-11 11:09] fuhrmannb commented on #761
Thanks for this workaround.
I just want to notice that this workaround only work with `redux-starter-kit` v0.7.0, the last current version released 3 days ago (which add the ability to set options to `getDefaultMiddleware`)

[2019-09-13 11:41] fuhrmannb opened #762 "bug(types): uploadFile() return type is incorrect"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

To upload a file on Firebase and get its download URL, the documentation suggests to write something like this:

[code]

However, Typescript raised the following error:

[code]

The `uploadFile()` Typescript return type is `Promise<StorageTypes.UploadTaskSnapshot>` but `UploadTaskSnapshot` does not h

[2019-09-13 12:36] fuhrmannb commented on #761
I have also this error to the following actions:
* `FILE_UPLOAD_START`
* `FILE_UPLOAD_ERROR`
* `FILE_UPLOAD_COMPLETE`
* `FILE_DELETE_START`
(and I think to all related `FILE_*` event from storage)

[2019-09-13 18:28] prescottprue commented on #762
Feel free to make a PR with the changes to the types, but if not I will try to get to is soon. Thanks for reporting!

[2019-09-16 09:25] W34therwax opened #763 "typescript type definition missing getFirebase function"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to re

[2019-09-16 15:04] rtessler opened #764 "react-redux 5 componentWillUpdate"
react-redux 5.1.1 is using componentWillUpdate which wont be around in react 17. It seems like the current version of react-redux-firebase needs react-redux 5. Do I need the @next version or can I just wait for the next official release of react-redux-firebase. At the moment just doing a npm update in my project doesnt make the warning go away. I need to update react-redux but Im worried react-red

[2019-09-16 16:19] fuhrmannb commented on #720
I comment this issue because the feature was not released on `next` version.
Is it possible to add the feature also on the beta release?

[2019-09-16 17:45] prescottprue commented on #764
Yes, for newer versions of react-redux, you will need to use the `next` version of react-redux-firebase. It is a pretty major shift in the internals and how things are set up for react-redux-firebase, so it has been on `next` while some of the bugs are ironed out.

Keep an eye on the the `next` tag/branch for updates, but I'm hoping to have the new version out in the next couple weeks

[2019-09-18 05:31] oliver-ni commented on #467
Hi,

Apparently `signInAndRetrieveDataWithCredential` is deprecated and `signInWithCredential` is the new method now.

[2019-09-19 07:42] JCBsystem opened #765 "Listeners keys is not the same on reactjs and react native ?"
Is it a bug or am i doing something wrong ?

exact the same code running from react js and react native
generate diffrent keys

console.log('state.firestore.listeners.allIds', state.firestore.listeners.allIds)

React js =
"projects/cjoh61emj000002s69x2m8sid"
"projects/cjoh61emj000002s69x2m8sid/weekview/2019-38_2019-38"
"projects/cjoh61emj000002s69x2m8sid/shiftMetaData/2019-38_2019-38"

this uses t

[2019-09-19 23:12] prescottprue commented on #765
No idea what this would be off the top of my head. Could you provider your listener settings just so that I can be sure I am replicating the issue?

[2019-09-20 18:05] JCBsystem commented on #765
It looks like this

   var doc = {
                    collection: "projects",
                    doc: projectKey,
                    subcollections: [{
                        collection: "weekview",
                        doc: dateKey,
                    }],
                    storeAs: listnerKey
                }

                context.store.firestore.onSnapshot(doc);

[2019-09-23 11:14] JCBsystem commented on #765
@prescottprue
sorry it was a user error on my side :(

[2019-09-23 11:14] #765 closed

[2019-09-30 20:15] farzansalimian commented on #740
@illuminist thanks it solved my problem

[2019-09-30 20:15] #740 closed

[2019-10-01 23:41] jarodpeachey opened #767 "Page doesn't update after Firestore data appears in Redux store"
**Do you want to request a *feature* or report a *bug*?**
A bug
(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
I use firestoreConnect and connect to grab a single doc from a

[2019-10-02 03:45] 1990-X commented on #708
Hi @prescottprue, how would one go with integrating `redux-firestore` with React Native? I can't figure it out for the life of me! I'm using `react-native-firebase` and following along with the `RNFirebase` component to initialize the Firebase application.

I can't find any resources on how to integrate this. Any ideas?

[2019-10-02 07:27] prescottprue commented on #767
storeAs was originally meant to work for storing lists at a different location - it appears that is what is happening in the gif you posted of it going into redux state.

It also looks like your state connection is expecting the client object to be at that location of the redux store, not an array which contains the client object.

You might want to try not using store as and just looking up the s

[2019-10-02 07:28] prescottprue commented on #708
You would include the `reduxFirestore` store enhancer and pass the RNFirebase instance into that as well the same way you do with `reactReduxFirebase`.

[2019-10-02 16:48] Shubhon9 commented on #702
i tried this and got an error at <provider> stating Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.

[2019-10-03 00:16] prescottprue commented on #702
@Shubhon9 make sure you are using the correct version as the above provided code is from beta versions (available on the `next` branch - can be installed using `npm i react-redux-firebase@next`). The reason being that `ReactReduxFirebaseProvider` is not defined in earlier versions, and that error can appear when trying to render

[2019-10-03 10:39] illuminist commented on #767
[code]
`this.props.client` initially is `undefined`. When new props come, `&& this.props.client` conditioned as `undefined` will prevent component update no matter what. You probably should avoid using `shouldComponentUpdate` entirely if you don't know what are you doing.

[2019-10-04 06:43] jjang16 commented on #751
Try updating redux-firestore to 0.9.0 (current latest).

[2019-10-05 08:02] prescottprue commented on #467
[This code is](https://github.com/prescottprue/react-redux-firebase/blob/v3.0.0-beta.3/src%2Futils%2Fauth.js#L94-L101) supposed to only run it if it exists, but maybe that logic should just be removed all together if it throws this warning.

[2019-10-10 01:41] mawilliamson opened #771 "Calling firebase.updateProfile directly after firebase.login causes profile.isLoaded and profile.isEmpty incorrectly change values"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I am calling firebase.login(), then directly after, I am calling firebase.updateProfile(). firebase.updateProfile() is finishing before firebase.profile is loaded from the login. This causes firebase.profile to have the values that were updated with {..., isLoaded:true, isEmpty:false} values, even thou

[2019-10-10 08:54] dannyvaughton opened #772 "Adding firebase parameter to profileFactory in createUserProfile"
I would like to discuss/request a small addition to the `profileFactory` callback in the `createUserProfile` user function.

Currently `createUserProfile` calls `config.profileFactory` with two parameters: `userData` & `profile`. I would like to discuss adding third: `firebase`.

The reason is because in profileFactory, I would like to run a few database checks before writing data to the user's pr

[2019-10-10 16:42] prescottprue commented on #772
Interesting idea! Feel free to submit a PR.

Have you been using the `next` version (v3 series in pre-release)? I ask because that is about to be released to latest, and since this is a change in the API, maybe it would be good to add it to a pre-release version before it goes to latest?

If not, making it the third argument should prevent breaking changes for most, so we could add it to a new min

[2019-10-10 16:53] prescottprue commented on #771
Thanks for reporting. Currently the profile listener is actually separate from login and is triggered by auth state change with the results write to redux state, so it may take a bit of a change to handle this case.

Something to consider may be using RTDB or Firestore to store profile values instead of storing it on the built in profile object. I say this for a few reasons:
* You can trigger even

[2019-10-10 18:59] dannyvaughton commented on #772
Yes, I am using v3. Ok great thanks, will submit a PR 👍

[2019-10-10 23:46] mawilliamson commented on #771
@prescottprue

The method you described works for me!

Thank you so much!

[2019-10-10 23:46] #771 closed

[2019-10-11 15:57] prescottprue commented on #767
Going to close since I believe this is due to the `shouldComponentUpdate` as @illuminist pointed out. If you are still having the issue, please provide an example code base where the issue can be reproduced and we can reopen. Thanks for reporting!

[2019-10-11 15:57] #767 closed

[2019-10-11 15:58] prescottprue commented on #763
This has been added back in pre-release versions since `getFirebase` is now remaining part of the API. Thanks for reporting!

[2019-10-11 15:58] #763 closed

[2019-10-11 16:00] prescottprue commented on #751
Going to close for now as I believe this is fixed by newer versions of redux-firestore. @Staxxx6 try updating to `0.9.0` as mentioned - if you are still experiencing the problem, we can reopen. Thanks for reporting!

[2019-10-11 16:00] #751 closed

[2019-10-11 16:04] prescottprue commented on #558
@Dong-Nhan yes, anonymous auth is a great idea, especially if you want to be tracking the users when they aren't logged in. It also helps with writing security rules if some of your data is public and other parts are not (super common).

Going to leave this ticket open to handle adding this feature.

[2019-10-12 03:10] prescottprue commented on #762
This was release in v3.0.0-beta.3 to the `next` tag. Thanks for reporting

[2019-10-12 03:10] #762 closed

[2019-10-12 03:18] prescottprue commented on #754
As @jjang16 mentioned, I believe it is due to the import of `import ReactReduxFirebaseProvider from 'react-redux-firebase/lib/ReactReduxFirebaseProvider';` which could be `import { ReactReduxFirebaseProvider } from 'react-redux-firebase'.

Going to make sure the docs are up to date on that front

[2019-10-12 03:18] #754 closed

[2019-10-12 04:41] prescottprue commented on #691
Going to close since it appears that a the proposed workaround suffices. Thanks for reaching out

[2019-10-12 04:41] #691 closed

[2019-10-12 09:38] prescottprue commented on #772
Released in v3.0.0-beta is is now part of `latest` since v3.0.0 went out. Thanks for reporting and making a PR so quickly

[2019-10-12 09:38] #772 closed

[2019-10-13 15:53] robwafle opened #777 "feat(core): remove extending of firebase"
Good Morning,

I believe I am reporting a bug, but I'm not sure if this is a bug with react-redux-firebase v3.0.x or react-native-firebase v6, or perhaps I'm just doing this wrong.

Bug:
Attempted to assign to a Readonly Property in ReactReduxFirebaseProvider -> createFirebaseInstance.js line 1, char 2483.

Bug Description:
I'm following the example here: https://react-redux-firebase.com/docs/inte

[2019-10-13 18:05] prescottprue commented on #777
Believe this is a duplicate of [this issue on redux-firestore](https://github.com/prescottprue/redux-firestore/issues/240#issuecomment-541377564). It is due to the newer version of react-native-firebase not allowing for object extension like older versions and the firebase SDK do. It seems like it would be a pretty big change to handle this, also not exactly sure why they did it when the Firebase

[2019-10-16 10:46] Ehesp commented on #777
I'll ping @Salakar on this one as he re-wrote most of the internals. We do have an `extendApp` function: https://github.com/invertase/react-native-firebase/blob/master/packages/app/lib/FirebaseApp.js#L63

I'll get Mike to take a look anyhow.

[2019-10-16 15:38] stevenhales commented on #346
Hi, any updates on this one? Or any guidance on how to access the progress payload on the fly in the meantime? I am without upload progress at the moment with the package. Thank you!

[2019-10-16 17:05] prescottprue commented on #346
@stevenhales The progress payload is dispatched in actions as shown in the screenshot above.

To capture them and write to state, you will want to create a reducer that responds to `FILE_UPLOAD_PROGRESS` which can be imported like so:

[code]

As noted, #556 will track adding this as a feature.

[2019-10-18 18:09] ricmatsui commented on #777
Having the same issue. For what it's worth, I made a custom build of react-redux-firebase v2 with `extendApp` instead of `defineProperty/assign` and early testing looks fine for now:

https://github.com/ricmatsui/react-redux-firebase/commit/0b2edcd66f782ca0092529173bd175cc3c3529b8 and then creating the Redux store with the default app
[code]

Not sure if this would be a breaking change, but it mig

[2019-10-18 20:41] prescottprue commented on #777
@ricmatsui Thanks for reporting! I like the idea of a separate object/map to store the methods, and actually think that is the way things will go (since I wasn't sure that `extendApp` would work as expected). The reason the standalone object/map wasn't done originally it that there are other unmodified Firebase statics/methods copied over as well. One breaking change for this switch would be to ha

[2019-10-19 06:38] daiky00 commented on #751
@prescottprue isn't `getFirebase, getFirestore` no longer available in V3? if so whats alternative how do we use it with `redux-thunk` can you props an example please?
for this part in specific
[code]

[2019-10-19 06:57] daiky00 opened #780 "redux-thunk issue"
# Bug Report
redux-thunk issue
## Package name / version
 "@material-ui/core": "^4.5.1",
    "@material-ui/icons": "^4.5.1",
    "firebase": "^7.2.1",
    "formik": "^1.5.8",
    "formik-material-ui": "^0.0.22",
    "node-sass": "^4.12.0",
    "prop-types": "^15.7.2",
    "react": "^16.10.2",
    "react-dom": "^16.10.2",
    "react-lazyload": "^2.6.2",
    "react-redux": "^7.1.1",
    "react-redux

[2019-10-19 08:32] daiky00 commented on #635
@prescottprue  what do you mean with `it works directly with createFirebaseInstance instead of with the old reactReduxFirebase /store.firebase method` how can we use it any documentation? any example project?

[2019-10-19 16:26] prescottprue commented on #635
@daiky00 Yes, the examples have been updated and the [material example uses thunk](https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/material/src/store/createStore.js#L23).

[2019-10-19 16:29] prescottprue commented on #780
getFirebase was added back to the API so you can use it. `useFirebase` and `useFirestore` are hooks that are meant to be used in components. If you would like to see a project that uses these [check out the material example](https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/material/src/store/createStore.js#L23). Make sure you follow the [setup instructions that sh

[2019-10-19 16:29] prescottprue commented on #751
It is available, it was added back to the API

[2019-10-19 22:41] daiky00 commented on #780
@prescottprue for me is still not working let me put the files below so you can see my setup which is still not working. I would like to see if you canns ee what I am missing. `I am still getting getFirebase is not a function`

`/src/Firebase/Firebase.js`

[code]

`src/index.js`

[code]

[2019-10-19 22:51] daiky00 commented on #780
`src/store/index.js`

[code]

 `src/store/reducers/index.js`

[code]

`src/store/actions/authActions.js`

[code]

[2019-10-20 02:04] daiky00 commented on #780
@prescottprue I already solve the issue I was missing the following:

[code]
and

[code]

and

[code]

[2019-10-20 02:05] #780 closed

[2019-10-22 16:21] darthzyklus opened #782 "Quick question about firebase sdk support"
Hello world,  before asking my question I want to say thanks for this amazing project.

My question is about if this project supports firebase 7.2 sdk and since what version release is supporting this sdk?

[2019-10-22 17:52] prescottprue commented on #782
No problem, glad to save time

Yes, 7.2.0 version of the SDK works with this project. I would suggest the using latest (by calling `npm i --save react-redux-firebase`), but it has also been run successfully with the older `v2.*.*` series.

That said, there are not currently redux actions + reducers for some of the new Firebase features, but that should not limit your usage of them since the new fe

[2019-10-22 17:53] #782 closed

[2019-10-23 12:54] ChristopherJohnson25 opened #783 "_reactReduxFirebase.reactReduxFirebase is not a function - Error"
Hi, I'm using the React Native example from the repo [https://github.com/prescottprue/react-redux-firebase/tree/master/examples/complete/react-native-firebase](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/complete/react-native-firebase) and am currently getting this issue.

I'm on

"react-redux-firebase": "^3.0.3"
 "react-native-firebase": "~5.5.6",

createStore.js cod

[2019-10-23 15:42] prescottprue commented on #783
@ChristopherJohnson25 This is the old api, please use the new API which does not have a store enhancer (reactReduxFirebase).

Thanks for noting that the example is out of date, I'll make sure to get that updated.

[2019-10-23 16:38] ChristopherJohnson25 commented on #783
Thanks, I'll play with that.

[2019-10-23 16:41] ChristopherJohnson25 commented on #783
Can anyone help me out with getting this updated to the new API? The example is very, very different than this, and I'm quite lost. Thanks!

[2019-10-23 18:16] prescottprue commented on #783
@ChristopherJohnson25 You should be able to just follow the [setup steps in the README](https://github.com/prescottprue/react-redux-firebase#use). The only difference being that you pass in `react-native-firebase` instead of firebase:

[code]

This coded isn't fully tested, but the point being, you can follow all of the examples, and just replace firebase with react-native-firebase.

[2019-10-23 19:05] ChristopherJohnson25 commented on #783
Sounds good, thank you!! I'll mess around with this.

[2019-10-24 02:39] coloradocolby opened #784 "Odd behavior when requesting all users (only when authenticated)"
Let me first explain the desired effect:

An authenticated user navigates to `/users` in my application and is presented with all users. (for simplicity, let's assume no pagination) Once the call is finished, the authenticated should see all users loaded on the page.

The odd behavior that I'm experiencing is that when a user is authenticated and navigates to this route, their user card is loaded

[2019-10-24 17:23] petermarks12 opened #785 "getFirestore in redux-thunk"
How to access firestore to read and write data in redux thunk.  Only getFirebase is available, not getFirestore in the latest release v3.

[2019-10-24 19:03] prescottprue commented on #785
You should be able to do `getFirebase().firestore()` to access it for now, but I will look into why `getFirestore` isn't exported

[2019-10-24 19:05] prescottprue commented on #784
Did you try passing an array to `useFirestoreConnect`? Like `useFirestoreConnect(['users'])` since it is supposed to be a list of listener settings

Not sure if it is setup to accept just a string directly - I'll check though

[2019-10-24 23:47] coloradocolby commented on #784
Yeah I tried that, same result... Any other ideas as to what it might be?

[2019-10-25 01:04] coloradocolby commented on #784
Actually, why would I be seeing `@@reduxFirestore/DOCUMENT_ADDED` dispatched multiple times each time this page loads? Since behind the scenes no documents were added to Firestore, I'm not sure why this action would be dispatched 🤔

[2019-10-25 17:59] prescottprue commented on #784
@coloradocolby I agree, we should see that when documents are added, not on main list listener resposne - Which version of redux-firestore are you using, going to try to reproduce later today

[2019-10-25 20:32] coloradocolby commented on #784
I’m on latest!

[2019-10-28 00:23] ryanwarsaw commented on #783
Oh no! Super disappointed to see the store enhancer was removed. I was attempting to use this library following along with the Chrome Extension example (using redux-webext library) and couldn't figure out why I was running into issues. Back to the drawing board I guess 😆

[2019-10-28 05:00] prescottprue commented on #783
@ryanwarsaw The store enhancer was removed since the React Context API is now stable and is the suggested way for passing a context such as the extended Firebase instance.

You should still be able to use `createFirebaseInstance` to get the extended instance (which is what the context provider does internally). I'm working on updating the examples to follow this pattern

[2019-10-29 22:52] hunterbecton opened #786 "bug(core): async/await code in profileFactory causes "regeneratorRuntime is not defined" error"
**What is the current behavior?**

Getting `WebpackError: ReferenceError: regeneratorRuntime is not defined` on `react-redux-firebase` packages when I run `gatsby develop` or `gatsby build`.

I've tried installing and adding plugins like `@babel/plugin-transform-runtime` to a `.babelrc` file without any luck.

**If the current behavior is a bug, please provide the steps to reproduce and if possibl

[2019-10-30 16:55] prescottprue commented on #786
Thanks for reporting - I believe this is due to the [recent addition of async/await code in `v3.0.3`](https://github.com/prescottprue/react-redux-firebase/commit/aebe5cd154818228a125ab59addcd4b3b0fb2585#diff-1ea25756c9a60d368fabffd19b77c0feR290) (from [this PR for adding promise support for `profileFactory`](https://github.com/prescottprue/react-redux-firebase/pull/778) by @dannyvaughton). I'll lo

[2019-10-31 00:15] eleventhaus commented on #452
Hey @prescottprue its been a few months and I returned to this same issue. Can you help?

Why is firestore data/ordered undefined up until the LISTENER_RESPONSE action is called by firestore? It's throwing everything off for me.

Can I get a component to reload after LISTEN_RESPONSE is called?

[2019-10-31 15:48] prescottprue commented on #786
@dannyvaughton I am going to start by removing promise support for the `profileFactory` in v3.0.4, then I'll add back that support in a later version in a way that is not breaking for this type of setup (most likely without `async/await`).

Thanks to all for reaching out

[2019-10-31 19:59] dannyvaughton commented on #786
@prescottprue Sure, no worries. Sorry, I had no idea this was breaking either.

[2019-10-31 20:09] chuckinSpace commented on #338
Following this from the future, I'm using now 3.0.3 and I am facing a similar issue, My user is signed in as an admin for a hotel and I need to be able to add more admins to that hotel (the original admin will add admins) but because of the automatically signed process I can add that feature, and I see that the signIn credential is gone on this version, is there any other way of doing this?
Regard

[2019-10-31 21:25] prescottprue commented on #338
@chuckinSpace As mentioned above the best practice is to do this through a cloud function - Firebase automatically logs the user in when they are created on the client since the assumption is that the user being created will then be active.

Doing this through a cloud function would allow you to keep the user that is creating the new users logged in (that is the use case the user would expect).

[2019-10-31 21:27] prescottprue commented on #786
All good! I'm sure we will figure out a way to get it in there without a breaking change - just wanted to make sure you knew that the next patch release would break any promise logic you have in the `profileFactory`

[2019-10-31 21:32] prescottprue commented on #452
That is intentional so that a difference can be told between not loaded (`undefined`), loaded but empty (`null`) -> and loaded and existing (a value).

You get a component to reload by passing the value as a prop from state (through `connect`) or through a hook doing the same (`useSelector`).

Not sure I understand what is unexpected

[2019-10-31 21:55] eleventhaus commented on #452
when `isLoaded` is true and `isEmpty` is false, firebase has loaded but firestore has not loaded, per the screenshots in my post above.

Why is `isLoaded` true if firestore still hasn't received data?

[2019-10-31 22:32] prescottprue commented on #764
This has been released to latest. Please open a new issue if things are not working as you expect.

Thanks for reporting 😄

[2019-10-31 22:32] #764 closed

[2019-10-31 22:37] prescottprue commented on #785
Just remember that `getFirestore` is actually exported from [redux-firestore](https://github.com/prescottprue/redux-firestore), so if you want to add it to your thunk integration you would grab it from there. Thanks for reaching out

[2019-10-31 22:37] #785 closed

[2019-10-31 22:38] prescottprue commented on #784
@coloradocolby Are you able to provide a codesandbox or similar to replicate the issue? I wasn't able to reproduce earlier, but maybe I missed something

[2019-10-31 22:40] prescottprue commented on #752
I am not able to reproduce this issue. Are you still experiencing it on the v3 version?

[2019-10-31 22:44] prescottprue commented on #530
Going to close since tracking is on redux-firestore

[2019-10-31 22:44] #530 closed

[2019-10-31 22:49] mixcas commented on #338
@chuckinSpace heres an example of how I did it: [https://github.com/interglobalvision/functions-andamiaje-co/blob/master/functions/index.js#L16](https://github.com/interglobalvision/functions-andamiaje-co/blob/master/functions/index.js#L16)

It could be a little outdated but serves as a reference.

In the front-end you just make a call to the function endpoint: https://github.com/interglobalvision

[2019-10-31 22:51] prescottprue commented on #452
@eleventhaus For the case and code you listed above, it doesn't look like you have isLoaded or isEmpty in there to check? You should also be able to provide `initialValues` in the same `connect` as your first state connection - also the error you are showing in your screen shot appears to be because you are trying to spread that value when it won't exist on initial render.

Can you open up a new i

[2019-10-31 23:37] prescottprue commented on #32
For those looking for an integration for Firestore, found [geofirestore](https://github.com/geofirestore/geofirestore-js) listed on [firebaseopensource.com](https://firebaseopensource.com).

[2019-11-01 00:09] coloradocolby commented on #784
No problem @prescottprue. I added you as a collaborator on the project (just a pet project of mine). I'm guessing just check your inbox for that? To reproduce, you should just need to run the project, authenticate, and navigate to and from the 'riders' section of the app

[2019-11-01 02:14] prescottprue commented on #784
I see it, I'll look into reproducing tomorrow

On initial glance, a few things I noticed (though they probably don't have to due with the issue):

* [This `storeAs` should be dynamic](https://github.com/coloradocolby/unehub/blob/14ac4d2c042752403979cf8eeab9102be4bab8a6/src/components/Profile.jsx#L49) - or else every profile that is loaded will replace the previous one. If you are loading a single

[2019-11-01 06:02] prescottprue commented on #786
Fixed in v3.0.4 - thanks for reaching out!

[2019-11-01 06:02] #786 closed

[2019-11-02 19:11] petermarks12 commented on #785
I request you to please update docs because I can only see getfirebase, not getfirestore, even after doing search in docs. It will be helpful for those who just started using this library for the very first time. I started using it around 1 month back so I thought you have removed it in v3 since it was not working for me at that moment.   Also, thanks for solution, now it works.

[2019-11-04 09:19] dsgriffin commented on #114
@prescottprue @bfirsh any way to do something like the above using the new hook format e.g. `useFirestoreConnect`?

[2019-11-04 18:55] prescottprue commented on #114
@dsgriffin I don't think there are any good examples floating around yet - would you mind opening a new issue so we can track adding some to either the tests or the docs or both?

[2019-11-04 19:12] el1f commented on #690
Any update on this @prescottprue?

[2019-11-04 19:50] prescottprue commented on #690
No current update, but would not having the errors list build up with null handle your case?

Or are you needing the different action type?

[2019-11-04 22:01] coloradocolby commented on #784
@prescottprue thanks for taking a look - I appreciate the feedback! Any luck with repro?

[2019-11-04 22:35] dsgriffin opened #788 "feat(example): Examples of testing components using RRF Hooks? (Jest/React-Testing-Library etc.)"
Hi all, wondering if there are any examples of how to test components/providers that use React Redux Firebase hooks? Specifically using Jest/React Testing Library but other libraries are welcome. Thanks!

[2019-11-05 15:59] prescottprue commented on #784
I was able to repro, didn't get to the change until today. It appeared to be due to an extra unnecessary listener - made [this PR with the change and pictures explaining](https://github.com/coloradocolby/unehub/pull/1).

Going to close since I don't believe there is an issue here, but feel free to ping me [over Gitter](https://gitter.im/redux-firebase/Lobby) if you would like more explanation.

[2019-11-05 15:59] #784 closed

[2019-11-06 13:17] MichalKalita opened #789 "Cannot login with Google, only in version 3.0.4"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

[code]

Throws exception
[code]

Workaround is downgrade to 3.0.3

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

**What is the expected behavior?**
It should work like 3

[2019-11-06 16:49] Peeeep commented on #783
Here's a little helper function to get the extended firebase version. Please note that react-native-firebase has been split up in several different modules since v6.0.0, which have to be cherry-picked.

[code]

You are then able to either use `getFirebase()` or reference the exported firebase instance (e.g. `sagaMiddleware.run(rootSaga, firebase)`.

[2019-11-06 18:50] prescottprue commented on #789
Thanks for pointing this out! This was a silly mistake from switching back from async/await in v3.0.4 - I updated the tests to confirm that a promise is always being returned from `createUserProfile`. Fix went out in [v3.0.5 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.5)

[2019-11-06 18:50] #789 closed

[2019-11-06 18:51] prescottprue commented on #739
Docs have been updated

[2019-11-06 18:51] #739 closed

[2019-11-06 18:54] prescottprue commented on #571
Going to track in [the redux-firestore ticket](https://github.com/prescottprue/redux-firestore/issues/155)

[2019-11-06 18:54] #571 closed

[2019-11-06 18:55] JorgeMoralesLopez commented on #783
I have updated to version 3.04 and I get this error: (0, _reactReduxFirebase.reactReduxFirebase) is not a function. (In '(0, _reactReduxFirebase.reactReduxFirebase) (_ firebase.default, rrfConfig)', '(0, _reactReduxFirebase.reactReduxFirebase)' is undefined)
configureStore
     configureStore.js: 31: 25
I am using firebase sdk and not RNFirebase because I use Expo
My Store is:
`import { createStor

[2019-11-06 18:56] prescottprue commented on #624
v3 sizes are below the 100kb mark. Going to continue to try to drop this further - currently experimenting with [switching redux-firestore to Typescript](https://github.com/prescottprue/redux-firestore/pull/238) which may help a bit as well

[2019-11-06 18:59] prescottprue commented on #587
Going to close since I believe react-native-firebase updated to include both of these and things should be working as expected. If not, please feel free to open a new issue with a description and repro steps

[2019-11-06 18:59] #587 closed

[2019-11-06 19:00] prescottprue commented on #752
Going to close since the issue was not reproducible

[2019-11-06 19:00] #752 closed

[2019-11-06 19:01] #660 closed

[2019-11-06 19:02] Peeeep commented on #783
@JorgeMoralesLopez v3 doesn't support `reactReduxFirebase` any more, see [v3 migration guide](https://react-redux-firebase.com/docs/v3-migration-guide.html) and [getting started section](https://react-redux-firebase.com/docs/getting_started.html) in the docs.

[2019-11-09 20:14] JorgeMoralesLopez commented on #785
How could you solve it?@petermarks12  I still can't find a way to use getFirestore in thunk

[2019-11-12 21:28] doublejosh opened #791 "fix(examples/docs): Firestore"
The "complete" example for Firestore is fairly broken. This includes various errors when trying to run the example after adding your own config.

Additionally, the docs snippets and examples around Firestore are inaccurate.

Here's my best attempt at listing issues...

**Example:**
1. Static file locations
1. Config variable passing
1. Redux Thunk dependency
1. Data structure docs (to setup the Fi

[2019-11-13 01:56] prescottprue commented on #791
Thanks for reporting, I'll look into it. It has been a while since I did an update of that example.

If you are looking for a way to start a redux-firestore based project in the meantime, checkout [generator-react-firebase](https://github.com/prescottprue/generator-react-firebase). This is actually what I will use to regenerate this example

[2019-11-14 05:40] prescottprue commented on #791
Working on updating, but wanted to note for each point:
1. - 3. (being updated)
4. By "undocumented" do you mean it should be listed somewhere that the todo contains `text` and `done`?
5. `todos` seems to be working just fine?
6. Handling of the empty collection is being done with `isEmpty` (pictured below)
7. Where would there be a `mapStateToProps` in this case? That is for the `connect` HOC? Th

[2019-11-15 00:15] doublejosh commented on #791
Thank you.

I updated the description to call-out that the missing "Missing `mapStateToProps`" was actually in the docs rather than the functional example. This is regarding the `FirestoreConnect` technique. As a noob, this threw me for a loop... but might be more of an assumption for an expert.

[2019-11-15 01:59] doublejosh commented on #791
**4. "undocumented"**
It's required to setup a collection before using the app, but it's tough to figure out what it needs to look like just by looking through code alone.

It's possible other trouble was purely due to the above issue.

[2019-11-15 19:39] bcgilliom commented on #777
BTW - I give a 👍 to move away from extending the fb object, but extend app seems to work as a stopgap 🤷‍♂

[2019-11-18 02:35] FiskaniC commented on #785
@prescottprue I can confirm that `getFirebase().firestore()` works when using redux thunk

[2019-11-19 18:13] Aparus commented on #621
same problem
[code]

[2019-11-22 13:46] xdarkleonx commented on #580
I have same problem. Help me please https://stackoverflow.com/questions/58974610/react-redux-firebase-populate-doesn-t-work

[2019-11-23 15:46] prescottprue commented on #580
@xdarkleonx this ticket is about populating the profile section of Firestore, which as mentioned, is not yet supported. It looks like in your stack overflow post though that you are trying to just populate an item in a list loaded from Real Time Database, not something on the users profile or from Firestore.

[2019-11-23 17:32] xdarkleonx commented on #580
ok, my mistake

[2019-11-25 09:26] Beamanator commented on #631
Think we could add this to the [v3-migration-guide](https://github.com/prescottprue/react-redux-firebase/blob/master/docs/v3-migration-guide.md)? It caused me a little bit of pain trying to find this :)

I created an intermediate component that can load a splash screen (or whatever you want) before auth loading is complete:

[code]

[2019-11-25 10:04] davedc commented on #738
Ran into this as well.

@tomoyuki28jp try including this to your `rrfConfig`. This should make sure that profile and auth data is not cleared.

[code]

@prescottprue The TS types on the config could be updated. Is there any pending issue / PR for this as far as you are aware?

[2019-11-28 06:30] prescottprue commented on #738
@davedc no I don’t believe that is, but yes it would be great to have them as accurate as possible. Feel free to open an issue explaining what is out of sync, or a PR with the changes if you get a chance.

Thanks for reporting and noting the workaround. I think making this more clear in the docs could mean we can close this

[2019-11-29 06:35] Rajiv-Khushiram commented on #674
Still no one here? I still need help paginating my data using fireStoreConnect

[2019-11-30 20:39] goleary opened #794 "Firestore "Profile" shows up in Firebase store (rather confusing)"
**Do you want to request a *feature* or report a *bug*?**
when I specify to use firestore for users profiles the data shows up under firebase in the store.

**What is the current behavior?**
i configured rrf to use firestore for the userprofile
[code]
yet it shows up inside the "firebase" section of the store, not the "firestore" section.
![image](https://user-images.githubusercontent.com/16123225

[2019-11-30 20:56] prescottprue commented on #794
Both auth and profile are within the firebase section since this library has been around since before Firestore. I agree that is somewhat unclear, but that will be a pretty breaking change for most, so this change would have to be in a next major version.

[2019-12-01 03:28] zgunz42 commented on #19
I also have same problem using typescript
![Screenshot_2019-12-01-10-57-54-82](https://user-images.githubusercontent.com/11344981/69908951-b3bfd980-142d-11ea-92c2-f37f011cccfd.png)

[2019-12-01 03:32] zgunz42 opened #795 "Can't import modules reduxReactFirebase"
Im using typescript and use react-native-firebase at first starting app, ITS crash with error' like this
![Screenshot_2019-12-01-10-57-54-82](https://user-images.githubusercontent.com/11344981/69908970-3c3e7a00-142e-11ea-938b-d9d1f2a41bf0.png)

[2019-12-02 09:35] prescottprue commented on #795
The store enhancer (reactReduxFirebase function) is no longer part of the API in v3. This is due to the usage of react context. There is more information available in the [v3 migration guide](http://react-redux-firebase.com/docs/v3-migration-guide.html).

[2019-12-02 09:35] #795 closed

[2019-12-02 20:47] goleary commented on #794
sure that makes sense, just hoping to prevent others from banging their heads on the table in the future as I did.  Now that I understand how things are arranged I don't mind.  Perhaps some additional clarity in the documentation would help in the interim.

[2019-12-05 15:29] illuminist opened #796 "Warn if trying to use `firebase.initializeAuth` without importing 'firebase/auth'"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

If I forget to import 'firebase/auth' and call `firebase.initializeAuth()` or use ReactReduxFirebaseProvider with `initializeAuth` prop, the thunk action will exit without explanation which make it hard to track down what is missing.

https://github.com/prescottprue/react-redux-firebase/blob/mast

[2019-12-06 12:06] prescottprue commented on #631
@Beamanator Added to the migration guide, thanks for pointing out it was a hang up for you

[2019-12-07 03:28] dparrelli commented on #621
Looks like this issue is specific to `type: 'redirect'`. If you change the type to be `popup` instead, it works.

eg.
[code]

Here are the versions I'm using:
[code]

[2019-12-08 21:31] kudenv opened #797 "TypeError: Cannot read property 'enableLogging' of undefined"
** current behavior?**
while trying to initialize firebase app, base with React App & Redux  the process is throwing Error
TypeError: Cannot read property 'enableLogging' of undefined
here:
createFirebaseInstance.js:23 Uncaught TypeError: Cannot read property 'enableLogging' of undefined

configuration and implementation have been taken from https://react-redux-firebase.com/docs/getting_started.ht

[2019-12-09 04:49] prescottprue commented on #797
Weird... It seems like the check for firebase.database existing first should catch this, I will try to replicate.

In the meantime, did you try adding `import 'firebase/database';`? Not ideal if you aren't using database, but it should fix any errors due to not importing it.

[2019-12-09 08:39] kudenv commented on #797
hi, Yes I am trying to use your solution, but it brings me to another issue where I got what app begin been initialized twice! What lead me to make validation if firebase.app.lenght() -> het instance if not then Initialize

[2019-12-09 19:16] #797 closed

[2019-12-10 12:28] lucasharada opened #799 "providerData is written as an Array with one empty Object in Firestore"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`providerData` gets written as an Array with one empty Object. My current `profileFactory` can be seen below (I saw that Firestore has some issues on storing custom Objects, that's why I parsed after stringifying the `providerData` Object):

[code]

I just added this `test` field to see if the probl

[2019-12-10 13:05] asasi007 opened #800 "How to load n number of random documents of collection?"
useFirestoreConnect([
    {
      collection: 'words',
      where: ['createdBy', '==', auth.uid],
      limit:10,
    }
  ])

[2019-12-11 00:30] prescottprue commented on #800
Not sure what you are asking here - they query you provided should work to load 10 documents from the words collection. Are you looking for that to be a random 10 or are you saying this query doesn't work?

[2019-12-11 00:40] prescottprue commented on #799
Did you try adding logic to your profileFactory to confirm that there are values within the providerData before writing it? Something like the following:

[code]

Something else to note: As mentioned [in the roles recipes docs](http://react-redux-firebase.com/docs/recipes/roles.html#cloud-function), it is probably best to handle setting role through a cloud function so that you can have your datab

[2019-12-11 01:00] lucasharada commented on #799
@prescottprue Since the `test` field is filled correctly, I guess we can assume the `providerData` has, at least, one element which is not empty. If I'm mistaken on this, I'll reply once again tomorrow morning, when I have the time to test again.

Thanks for pointing out the roles tip. Since the app doesn't have any dangerous `admin` related data, it wasn't our main concern.

[2019-12-11 16:25] magrinj opened #803 "fix(docs): clarify usage of resetPassword"
Hello,

When I want to implement the resetPassword on my app, I faced against a documentation error.
I'll explain why:
On this link http://react-redux-firebase.com/docs/auth.html#resetpasswordcredentials, the documentation talk about a credential object, with in example this object:
[code]
So, I was a little bit disappointed, because if we follow the documentation the user need to specify his pass

[2019-12-11 17:19] lucasharada commented on #799
@prescottprue You were right! I'm not sure why, but creating the object the previous way was not storing the inner object. Thanks again!

[2019-12-11 17:31] lucasharada commented on #799
@prescottprue You were right. I'm not sure, but `newProfile` already has an empty object. This issue is not related to Firestore itself. Closing it now.

[2019-12-11 17:31] #799 closed

[2019-12-11 19:44] prescottprue commented on #803
Hmm, yeah it seems like the docs may just be incorrect. I believe the original intention was to just pass the email as a string, so feel free to make a PR. Thanks for reporting!

[2019-12-12 02:36] AnurajRicky commented on #800
Yes this is working fine! and my question is how to get the random ten documents of from collection?

[2019-12-12 02:51] asasi007 commented on #800
Yes, this is working fine! my question is how to load ten random documents from a collection?

[2019-12-12 09:42] magrinj commented on #803
@prescottprue You can find the PR just above !

[2019-12-12 15:08] prescottprue commented on #800
Since that is not something directly supported by the Firebase API as a method, it isn't a feature here either.

For something like this it may be more advantageous to go with a Cloud Function that generates a random list of words by querying all the words and selecting a random set (maybe using [javascripts Math.random](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2019-12-12 15:15] #473 closed

[2019-12-13 08:17] AlexHyslop opened #805 "Duplicates post but clears on hard refresh"
I am creating an app which can display projects, this project has a few child components and server-side functions running when a user creates a new project. This results in the props changing which causes the ProjectList to refresh which is fine but it then also produces two of the submitted project when in the database it shows one and when you refresh it displays one.

[Screenshot of duplicated

[2019-12-13 18:21] goleary opened #806 "bug(docs): useFirestoreConnect Link in docs broken"
**What is the current behavior?**
clicking the red circled link brings you to the `useFirebaseConnect` page in the docs.
![image](https://user-images.githubusercontent.com/16123225/70822322-1bf9ae00-1d92-11ea-960a-f92fb069a2ee.png)

http://react-redux-firebase.com/docs/api/useFirebaseConnect.html

[2019-12-13 18:51] goleary commented on #806
https://github.com/prescottprue/react-redux-firebase/blob/master/docs/api/useFirestoreConnect.md

seems like even the docs for this function are incorrect with the examples referencing `useFirebaseConnect`, not `useFirestoreConnect`.

[2019-12-14 00:18] henrymingwu commented on #785
I'm working through a similar issue right now (while migrating from v2 to v3 of react-redux-firebase), but seeing (I think) that the instance of `firestore` exposed through `getFirebase().firestore()` (in v3) doesn't have access to the same statics as the one that `getFirestore()` exposed (in v2).

Specifically, statics like `firestore.Timestamp` and `firestore.FieldValue` don't seem to be availab

[2019-12-15 07:59] goleary opened #807 "bug(useFirebaseConnect): array of values for "recompute" ignored"
The example shown below appears to suggest that if you pass an array of values to `useFirebaseConnect` then it will only "recompute" if those values change.  Looking at the definition (below in the screenshot) I don't see a 2nd parameter being accepted in the `useFirebaseConnection` function so I can't understand how that would work.
![image](https://user-images.githubusercontent.com/16123225/7085

[2019-12-16 10:24] magrinj opened #808 "bug(build): can't build the project"
Hi there,

I'm actually trying to add `reauthenticate` functions to the project because I need them in my current project, but I can't `build` or `link` the project locally.

(Using `login` function instead of `reauthenticate` actually is not working as it clear the state, en then signIn, so the user is logout during a small amount of time)

I'm using node v13.2.0

The beginning of the stack trace

[2019-12-16 14:29] prescottprue commented on #808
Could you provide your package.json so I can try to replicate on my end? Is this on Windows or Mac/Linux? Do you see the same thing when trying to build in CI? Or when trying to use a tool like Codesandbox?

[2019-12-16 14:31] magrinj commented on #808
@prescottprue Actually it happen, on the fork of the project, the package.json is exactly the same as right know, it seams that the error isn't happening on CI, because my last PR pass all the tests
I'm using Mac OS X

[2019-12-16 14:38] prescottprue commented on #807
The second argument end up no longer being used as far as I am aware. I can update the example, but did you need help getting a project started? If so you may want to checkout [generator-react-firebase](https://github.com/prescottprue/generator-react-firebase).

[2019-12-16 16:29] prescottprue commented on #808
Did you try using node 12 or node 10? Wondering if one of the dependencies is what is causing it since I'm not aware of anything not being compatible with newer node version - I'll look into try to repro.

[2019-12-16 20:24] john1914 commented on #673
Correct me if i am missing some thing or i am wrong because i a new for React-redux-firebase but this works for me...
[code]

[2019-12-18 09:31] magrinj commented on #808
@prescottprue Sounds it works with node 10, not with node 13 and node 8, maybe something should be add in the package.json like:

[code]

[2019-12-18 17:08] mustaqeem opened #809 "How to call firebase function?"
**Can anybody help me to know how to call firebase functions using react-redux-firebase?**

[2019-12-18 17:45] prescottprue commented on #809
You can use `firebase.functions()` directly if you have imported `firebase/functions` as noted [in the firebase docs](https://firebase.google.com/docs/functions/callable#call_the_function).

There are not currently any methods which dispatch actions or any cases in the reducers for updating state based on functions calls.

[2019-12-18 18:04] mustaqeem commented on #809
Thanks @prescottprue. I was missing importing `firebase/functions`

[2019-12-18 18:04] #809 closed

[2019-12-23 00:57] esbenvb opened #811 "UpdateAuth should update profile like when logging in"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I want to update the user profile document in firestore, whenever I update the firebase auth data. For instance, when I update the `displayName` and `photoURL` in of a Firebase.User.

Currently, a `firebase.login()` will copy the `displayName` and map the `photoURL` to the `avatarUrl` field of `users

[2019-12-25 12:36] lesmo commented on #794
I think it _could_ be proper to have it be part of both `firebase` and `firestore` keys because, well, the `profiles` collection would be expected to be seen under `firestore` anyways...

[2019-12-30 02:28] lesmo opened #815 "store.firebase is undefined"
**What is the current behavior?**

Following the [SSR recipe](http://react-redux-firebase.com/docs/recipes/ssr.html), the `store.firebase` property is undefined and thus it's not possible to follow it:

[code]

I'm trying to get this to work under Razzle/Express. I understand that both `firebase` and `firestore` won't be defined at this point (after all we're just setting up reducers here), but I'

[2019-12-30 09:36] harish-aka-shivi commented on #815
You can try calling `store.getState()` method of the store. It will give the current state of `firebase` and `firestore`

[2019-12-30 10:11] lesmo commented on #815
Thanks for the answer, but that’s not what I’m trying to do. I’m trying to “preload” the store’s state prior to rendering it and returning it from the server.

[2019-12-30 10:47] harish-aka-shivi commented on #815
I agree, but I think `createStore` is a synchronous function. So the state should be initialized as soon as we call it. So you should be able to send the state to the client and use it as described the Redux SSR documentation. And regarding how firebase is initialized, It is done by initializeApp function of firebase and it is extended using `createFirestoreInstance`. Please let me know if I am no

[2019-12-30 13:42] harish-aka-shivi opened #817 "bug(docs): cannot access useFirestoreConnect in documentation."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When going through the documentation, I cannot access the useFirestoreConnect. It is just not selecting the useFirestoreConnect Menu.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or si

[2020-01-01 03:53] lesmo commented on #815
Yeah, I believe I haven't explained myself as good. What I want to achieve is preload data into the Redux store during Server Side Rendering.

According to the documentation, this can be achieved by calling the `store.firestore.get()` method after the store has been created. However, the `store.firestore` property is `undefined` after the store is created... so it cannot be done.

For now I've tak

[2020-01-01 07:03] harish-aka-shivi commented on #815
Hmm, I get it. Actually someone just asked the same question on RRF Gitter community. He had used getFirebase to workaround the issue. Please check if there is getFirestore method on the store. In any case, the documentation needs some change to provide clarity on the issue.

I'm currently importing getFirebase from react-redux-firebase to get around it, but I feel like this may be an issue in the

[2020-01-01 09:33] harish-aka-shivi opened #818 "feat(code generation): create a custom template for CRA to get started with RRF"
**Do you want to request a *feature* or report a *bug*?**
feature

**Description**
Create React App provides support for custom templates from version `3.3.0`. It would be cool to create a template to get started with react-redux-firebase just by installing the template.

[2020-01-01 09:33] harish-aka-shivi commented on #818
I am willing to work on it. 🙂

[2020-01-01 10:14] harish-aka-shivi commented on #791
I have been working on the firestore example and able to get it working. Can i create a PR for it?

[2020-01-01 13:56] harish-aka-shivi opened #819 "fix(example): firestore example should work out of the box"
**Description**
Copying and running the Firestore example should work but it does not work. The user faces a lot of issues. As discussed in #791, it needs some fixing. @prescottprue has worked on it in his branch fix-firestore-examples, where he is moving this example to simple-firestore-example code but these errors have not been fixed yet

So, I think this can be made a separate issue just to fi

[2020-01-02 04:14] prescottprue commented on #791
Merged changes in [this PR](https://github.com/prescottprue/react-redux-firebase/pull/820) which fixes a number of issues.

@doublejosh I added a [section to the README of the example](https://github.com/prescottprue/react-redux-firebase/pull/820/files#diff-6c723d76e71cf2cdfd6093d20f54fdd4R11-R27) to clarify the format of the todo and where they are loaded from. You can also create a new todo thro

[2020-01-02 04:14] #791 closed

[2020-01-02 04:14] prescottprue commented on #819
@harish-aka-shivi Thanks for reporting. As noted in #791 the firestore example has been updated - let me know if things aren't working as expected for you.

You may already know if it, but you may prefer using [generator-react-firebase](https://github.com/prescottprue/generator-react-firebase) for starting a new project instead of needing to copy the example anywhere. As you saw on that other bran

[2020-01-02 04:14] #819 closed

[2020-01-02 04:41] prescottprue commented on #818
This is actually something I have wanted to do since I heard of the idea, love that you are willing to work on it! You may already know about it, but [generator-react-firebase](https://github.com/prescottprue/generator-react-firebase) start projects with pretty close to the output of create-react-app, so that might be a good source of inspiration.

Let me know if you need anything from me 😄

[2020-01-02 04:49] harish-aka-shivi commented on #818
Thank you for the response. I will have look at the generator-react-firebase and will get started with the custom template.😊

[2020-01-02 05:58] prescottprue commented on #818
Yup! Started on a basic template here: [cra-template-rrf](https://github.com/prescottprue/cra-template-rrf)

Still needs some work though

[2020-01-02 17:26] harish-aka-shivi commented on #818
I went through the generator-react-firebase, It is great and gives a lot of configurability. But I am confused about how dynamic should the creation of CRA Template be:
- one option is to make a project with a static config file just like the simple Firestore example or the output of generator-react-firebase. Here the user would have to just replace the Firebase config object after installation.
-

[2020-01-03 15:45] ShabariRepo opened #823 "upgrade to v3: TypeError: Cannot read property '_' of undefined"
Upgraded from v2 briefly to v3 due to not being able to use connectedRouter (instaed of BrowserRouter)

- throws a type error at createFirebaseInstance and doesnt render DOM

Tried:
- rolling back to older version of v3
- back to v2 (but i need the connectedRouter which means i need react-redux v6 and up, etc..)
- tried putting store and configs in the index.js file to preveng issues during import

[2020-01-03 16:09] ShabariRepo commented on #823
ok so i found the issue.  As i suspected it was something super small.

the documentation doesnt describe this currently and my package json at this time was all LATEST for related packages to this thread.

the issue was that appart from the {...rrfprops} spread you also need to pass something into the firebase property or else it will read the whole thing as undefined.  I will post more but for n

[2020-01-03 17:46] prescottprue commented on #823
Thanks for documenting - the [use section of the README](https://github.com/prescottprue/react-redux-firebase#use) covers passing in `firebase` as part of those props, but that said, since you ran into the issue, I'm sure it could happen to others.

[2020-01-03 19:34] ShabariRepo commented on #823
hey @prescottprue thanks for updating, yeah i noticed that after i solved that as well..  I think my mistake was to look at just the Migration guide page which didnt specify this oddly particular thing and/or then google things!  My mistake, but thought it would be easily accessible if they search it this way :).

Thanks for the update above as well & love the library 👍

[2020-01-03 19:34] #823 closed

[2020-01-04 10:35] harish-aka-shivi commented on #788
Looking into it. 🙂

[2020-01-05 21:02] orenk86 commented on #70
I am facing a similar issue, I need to fetch the Firebase API key from an API call to our backend and only then I can init the Firebase app.
This works in version `3.0.0-alpha.3` (perhaps by accident?). I can initialize the app wrapped in the `ReactReduxFirebaseProvider` without providing an API key in the config, and call `firebase.initializeApp(config)` once I have the API key.

In versions `3.0

[2020-01-06 04:38] prescottprue commented on #70
@orenk86 Interesting... I am interested to hear the reasoning behind dynamically loading the API key. If you want to open up a new issue a description and code for reproduction, we can look more deeply to see what changed to cause the issue

[2020-01-06 20:51] orenk86 commented on #70
@prescottprue Specifically for the API key, this is due to security requirements in my organization.

But ideally in the future we would like to have the entire configuration fetched from the backend and loaded dynamically so we can have full flexibility, as we only log in and connect to the database when we need to, and we might decide to split the data across multiple databases.

Anyway no probl

[2020-01-07 12:14] dsgriffin commented on #410
@prescottprue just ran into this when deleting a firestore document from a collection and noticed the empty row still displayed on-screen due to the collection having a document with a `key: null` - would the best practice here be to do something like filtering it at the `reselect` level i.e.

[code]

[2020-01-07 14:55] SiddharthVarshney opened #825 "question(query): How to add multiple userProfile during redux binding for firebase?"
How can I add multiple or two collection name in my userProfile during redux binding for firebase?
Basically I have two different collections that collect user for registration and login purpose differently.
I have tried this to achieve this but the console is throwing error :

[code]
Is there is any other possible way to achieve this?

[2020-01-07 20:10] prescottprue commented on #825
There isn't a current way to achieve this through react-redux-firebase - you may want to start by creating a cloud function which copies data over and have the user just write to one collection. This is actually a pattern I have used in the case of needing to have public/private profiles (since the cloud function can strip any unwanted data as it is copying).

The error you are getting in the cons

[2020-01-08 19:24] #788 closed

[2020-01-08 19:25] prescottprue commented on #788
Thanks @harish-aka-shivi!

[2020-01-10 17:21] Cchumi opened #829 "Cannot Add property _, object is not extensible"
Hi just today I attempt to start a new project with react-redux-firebase (3.0.6), redux-firestore (0.11.0) and react-native-firebase (6.0.2).
EDIT: react-native (0.61.5) react (16.12.0)

So I follow your page and the result is the error message
**Cannot Add property _, object is not extensible**
This error is located at:
    in ReactReduxFirebaseProvider

[code]

I search but cannot found any solu

[2020-01-10 18:48] prescottprue commented on #808
Updating firebase (dev dependency) to `^7.6.2` fixed the issue with node 13 (grpc is a dependency of it), so released that in v3.0.7. Reach out if it doesn't fix things for you - thanks for reporting!

[2020-01-10 18:48] #808 closed

[2020-01-10 18:49] prescottprue commented on #825
Going to close since supporting this is out of the scope of the library and can be handled using cloud functions as mentioned above. Thanks for reaching out!

[2020-01-10 18:49] #825 closed

[2020-01-10 18:59] prescottprue commented on #829
Duplicate of [240 in redux-firestore](https://github.com/prescottprue/redux-firestore/issues/240)

There are some solutions discussed in that thread but the basic jist is that react-native-firebase changed how their library works internally (now uses Object.freeze). This will require an overhaul of the internals of react-redux-firebase and redux-firestore to use `extendApp` as done in in [this PR]

[2020-01-10 19:15] #803 closed

[2020-01-11 08:38] Cchumi commented on #829
@prescottprue thanks a lot for your answer.
I have this new react project to get the new query parameter like array-contains-any and in.
Indeed this test is before merging to a production app. So I will wait for your library update.

Thank you again.

Cchumi

[2020-01-11 14:28] 1990-X opened #835 "Cannot use orderBy() with "asc" and "desc"."
I am attempting to sort some news posts within my `react-native` application using `orderBy()` from newest to oldest. They are saved in Firestore. Whenever I use `orderBy("date", "asc")` or even `orderBy("date", "desc")` for that matter, it fails to retrieve any results.

My code for adding posts to Firestore looks like the following:

`this.props.firestore.add({ collection : "posts" }, { ...detai

[2020-01-11 14:41] #835 closed

[2020-01-12 18:58] knour89 opened #836 "how use getFireSotre() inside action ?"
Dears,

I am using react-redux-firebase/redux-firestore v3.... as I know there is no more getFireSotre().

I read the manual and i can't get it what I should use instead I am suing react-reudx + thunk

[2020-01-13 17:22] prescottprue commented on #836
`getFirebase.firestore()` can be used as described in #785 . The firebase instance is now managed with react context instead of being placed on the redux store as `store.firebase` (or `store.firestore`).

[2020-01-13 17:22] #836 closed

[2020-01-19 09:08] jhefreyzz opened #838 "Logout causes rejection error"
**Do you want to request a *feature* or report a *bug*?**   bug

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

This issue relates to #529 which was closed.

**What is the current behavior?**
When a authenti

[2020-01-19 17:33] knour89 commented on #836
it doesn't work,  but I found another way... using withFirestore() then send the props to action

[2020-01-20 19:11] beautifwhale commented on #508
This is still an issue.

[2020-01-20 20:31] knour89 opened #839 "getFirebase(...).firestore(...).set is not a function -- how to make firestore work inside action like vs please help"
as we know from V3 no more getFirestore() it should be replaced with getFirebase().firestore() - but it's not working and give me below message `getFirebase(...).firestore(...).set is not a function`

here is my action

[code]
--------------------------------
here my configure store

[code]

[2020-01-21 17:31] prescottprue commented on #839
## Main Issue
If `firestore.set` is not available It may be due to not having imported Firestore - what do the imports look like along side your main `initializeApp`? Also, would help to include your app setup.

In the next section I describe how there is built in logic for doing what you seem to be writing logic for:

## A Built In Way To Do Similar

Something to note: the functionality that you

[2020-01-21 18:11] prescottprue commented on #838
Do you attach any listeners on the page which is loaded? Did it show what path the auth error is for? Are any errors written to redux state?

Seems like it may be the profile listener?

Can you provide this logic in a repo, codesandbox, or other similar tool so I can make sure I am fully replicating on my end?

[2020-01-21 18:16] prescottprue commented on #838
After searching through the issues it seems https://github.com/prescottprue/react-redux-firebase/issues/508 may be related or even the same issue

[2020-01-22 12:35] illuminist commented on #811
You need to pass `true` to second parameter of `firebase.updateAuth()` for it to sync profile data with database

[code]

It will call `firebase.updateProfile` to do an actual update on your database.

[2020-01-22 15:06] jhefreyzz commented on #838
Hi @prescottprue sorry take too long to reply.
I've created a repo https://github.com/jhefreyzz/react-redux-firebase-demo to replicate the issue mentioned above.

[2020-01-24 04:38] lesmo commented on #815
I think I stumbled upon that question when I was researching this problem.

Totally! I'm pretty sure is more of a documentation issue than anything else. I'm no longer trying to get this solution working, *but* I can tell you that the `store` object didn't have `getFirestore` defined after creating it.

Perhaps when I get some freetime I'll try to make a repro and further research the issue.

[2020-01-24 09:28] knour89 commented on #839
hello here is my settings:

`const rrfProps = {
  firebase,
  config: {
    userProfile: "users",
    useFirestoreForProfile: true,
    updateProfileOnLogin: false
  },
  dispatch: store.dispatch,
  createFirestoreInstance
};
`

and firebase config
`const firebaseConfig = {
  apiKey: " ",
  authDomain: " ",
  databaseURL: " ",
  projectId: "r ",
  storageBucket: "r ",
  messagingSenderId: " ",
  a

[2020-01-24 19:25] prescottprue commented on #815
React context is used now instead of placing the extended Firebase instance on the store (under `store.firebase`). In v3 `store.firebase` and `store.firestore` being undefined is expected. I agree it is probably an issue of docs not being up to date

[2020-01-24 19:50] prescottprue commented on #508
Fix [released in v3.1.0](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.1.0) - thanks to @illuminist for the PR!

[2020-01-24 19:50] #508 closed

[2020-01-24 19:51] prescottprue commented on #838
Fix [released in v3.1.0](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.1.0) - thanks to @illuminist for the PR!

[2020-01-24 19:51] #838 closed

[2020-01-25 08:33] daithimorton opened #846 "bug(query): orderBy in firestoreConnect() causing component re-render"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Using `orderBy` in `firestoreConnect` causes a re-render.

![bug_001](https://user-images.githubusercontent.com/3397660/73118460-52f3df80-3f4c-11ea-966f-a372f2fadff8.gif)

[code]

It seems like the `projects` collection is first being fetched and rendered, then the `orderBy` part of the logic is bein

[2020-01-25 10:01] TimRotich commented on #817
Am trying to connect to Firebase authentication but anytime i try to register a new user via the android app i get the message saying invalid api key,please pass a valid api key.... kindly help

[2020-01-25 12:45] knour89 commented on #846
actually iam end with this library, he did a lot of change in v3 without good docs.

[2020-01-26 05:13] harish-aka-shivi commented on #817
Please check that the key that you are trying to pass is valid? Also, if you need help more synchronously, you can ask the question on the [gitter](https://gitter.im/redux-firebase/Lobby) community:

[2020-01-27 09:52] henricazottes opened #847 "Question: usage of initialState and history in configureStore"
Hi,

I'm not an expert in redux, I just have a question about the example [given here](https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/typescript/src/store.ts) which shows how to configure the store using `configureStore`:

[code]
Why aren't `initialState` and `history` arguments used?

[2020-01-27 17:32] prescottprue commented on #846
Not sure I understand the issue of re-render. It seems like two different renders would be happening due to loading two different list of data. Can you provide a full reproduction of the issue or at least provide the logic you are using for handling loading?

@knour89 v3 has been out for quite some time - the changes were to more closely match with patterns in the React community (using new Contex

[2020-01-27 17:45] beautifwhale commented on #846
Your right it's two different renders, but that's not what you want when you use `orderBy` right? You want a single render with the sorted list.

[2020-01-27 18:18] prescottprue commented on #846
@beautifwhale You are querying two different sets of data - the notifications and the projects, which would be the two renders. If you just had the one query for projects with the `orderBy`, then yes, you would expect one render - How are you connecting to the projects within state?

It could be that your detail page is also loading data into `projects` since you are presumably loading a project o

[2020-01-27 18:22] prescottprue commented on #839
I am not seeing any imports in your example, are you sure you are importing Firestore? Could you provide a full repo where this can be reproduced?

Based on your settings, as I noted above, you should be able to do the following without creating a separate custom action:

[code]

[2020-01-27 18:23] prescottprue commented on #817
@TimRotich please open a new issue with steps to reproduce your issue since it does not seem related to this broken docs link. My guess is that you are not passing a valid API key since that is what the error is saying, but impossible to know without more context

[2020-01-27 18:29] prescottprue commented on #847
Initial state can be assed into your redux store as the second argument to createStore ([as seen in the redux docs](https://redux.js.org/recipes/configuring-your-store/#the-solution-configurestore)) - history is not used anymore since browserHistory is most commonly used directly now [as noted in the react-router docs](https://reacttraining.com/react-router/web/api/history)

[2020-01-27 18:29] #847 closed

[2020-01-27 23:36] Wgil opened #848 "useFirestoreConnect dependencies"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**
`useFirestoreConnect` should accept a dependencies array so the queries can re-run based on another hooks. Right now, when I try to do it, I get a compilation error:
[code]
My custom hook goes like this:
[code]

Let me know if I can open a PR.

[2020-01-28 02:52] prescottprue commented on #848
Feel free to open a PR - maybe I'm wrong, but I was thinking that conditionally calling a hook was frowned upon though. What I have done in this case is loaded the user in a higher component then passed the value down.

[2020-01-28 15:55] Wgil commented on #848
In fact, my implementation was wrong. I thought the listener was not getting updated on query change so I will close this issue,

Thanks.

[2020-01-28 15:55] #848 closed

[2020-01-28 16:17] wissile opened #849 "Firebase Email Link Authentification with react-redux-firebase auth methods"
I'm checking in reference to a post in June 2018 about creating a new authentication method: 'EmailAuthProvider' in react-redux-firebase for developers using Firebase with Email Link in JavaScript: https://firebase.google.com/docs/auth/web/email-link-auth

I'm wondering if it is still on the roadmap?
or is there any other alternative solutions to sync Firestore user auth data with the redux state?

[2020-01-29 04:57] prescottprue commented on #806
Fixed, thanks for posting

[2020-01-29 04:57] #806 closed

[2020-01-29 04:58] prescottprue commented on #818
Going to close since we started the other repo. I referenced the other repo in the Starting A Project section of the README of this repo

[2020-01-29 04:58] #818 closed

[2020-01-29 04:59] prescottprue commented on #817
Fixed in recent update. @TimRotich please feel free to open a new issue describing the problem you are having

[2020-01-29 04:59] #817 closed

[2020-01-29 05:03] #624 closed

[2020-01-29 05:04] #199 closed

[2020-01-29 05:06] prescottprue commented on #212
The proposed solution is a viable workaround - also using Firebase's new `in` query can return a list of items in a single query (by id or other parameter)

[2020-01-29 05:06] #212 closed

[2020-01-29 05:10] prescottprue commented on #829
Please follow #777 for updates on changing to support `Object.freeze` by switching to `extendApp` instead of extending the Firebase object

[2020-01-29 05:10] #829 closed

[2020-01-29 15:02] eliasnorrby commented on #839
I believe I am having the same problem. I believe I have set everything up
according to the instructions (I'll summarize below).

1. I've initialized `firebase` & `firebase.firestore()`
2. I've passed `getFirebase` as an extra argument to `redux-thunk`
3. I've added the appropriate reducers to my `rootReducer`
4. I've wrapped my app in react-redux's `Provider` and in `ReactReduxFirebaseProvider`

[2020-01-29 16:02] goleary commented on #806
It looks like the link is fixed, but the example still uses `useFirebaseConnect`, not `useFirestoreConnect`. I'd be happy to submit a PR with the changes later

[2020-01-29 18:03] goleary opened #852 "[docs] useFirestoreConnect examples are using useFirebaseConnect instead"
referenced here #806

Opening a new issue to be closed with a PR I'll be submitting shortly.

[2020-01-29 21:06] prescottprue commented on #852
Fixed in comment within src and regenerated docs. Thanks for posting!

[2020-01-29 21:06] #852 closed

[2020-01-29 21:49] goleary commented on #852
for future reference, it would have been nice if you'd made the changes in my PR so that I got some amount of credit for them.

Thanks for the quick action.

[2020-01-29 23:11] prescottprue commented on #839
A full repro in codesandbox would be good - The usage of the new context API changes how gathering the extended firebase instance works.

[2020-01-30 08:59] eliasnorrby commented on #839
Okay, here's an example: https://codesandbox.io/s/rrf-bug-repro-839-nret4

It started pretty minimal but grew when I wanted to test different cases, I hope there's not too much fluff. The demo just fetches a document from firestore in different contexts (component vs thunk), using different apis (base vs extended) and different ways of acquiring the firestore instance (`firebase.firestore()` vs `u

[2020-01-30 21:46] matchatype opened #854 "Firebase state incompatible with serializable-state-invariant-middleware from @reduxjs/toolkit"
I'm using [@reduxjs/toolkit](https://redux-starter-kit.js.org/) which is pretty awesome. However, one of the cool middleware loaded in development, [serializable-state-invariant-middleware](https://redux-starter-kit.js.org/api/other-exports#createserializablestateinvariantmiddleware) complains about a couple of keys not being serializable:

[code]

This happens once authenticated, with auth loaded

[2020-01-31 02:08] prescottprue commented on #854
I believe this is a duplicate of #761 - no current way that I am aware of to config other than what you are describing

[2020-01-31 02:08] #854 closed

[2020-02-01 04:55] mariotacke commented on #703
I'd like to capture any `FirebaseError: Missing or insufficient permissions.` when using `useFirestoreConnect`. Is this currently possible? My use case is "trying to access documents you shouldn't". I'd like to capture this "403 - Forbidden" scenario somehow and redirect the user.

[2020-02-02 02:21] knour89 commented on #839
can u please create an example how to use firestore inside actions?

[2020-02-02 02:36] knour89 commented on #839
again here is my codes:
Firebase.js
[code]
 Configure Store:
[code]

root reducer:
[code]

index,js

[code]

[2020-02-03 20:39] prescottprue commented on #703
@peteruithoven I really like the idea of hooks returning functions to help load from state - this will be particularly useful for v1 of redux-firestore since it stores things in state under the query path

[2020-02-03 20:42] prescottprue commented on #839
Has anyone tried using `getFirestore` from redux-firestore?

[2020-02-03 23:21] prescottprue commented on #849
@wissile Syncing firestore user data with redux state can be done with the following config:

[code]

This is described in [the firestore section of the react-redux-firebase docs](http://react-redux-firebase.com/docs/firestore.html#profile) - that said, I think I'm also going to add a section in the profile recipes so it is even easier to find.

[2020-02-03 23:27] #849 closed

[2020-02-04 02:46] mariotacke commented on #703
@prescottprue, yeah I've noticed there is an error object on the state that records these things. I used that one. Thanks for your help!

[2020-02-04 05:27] wissile commented on #849
@prescottprue Thank you for taking the time to answer my question.
I have already configured the rrfConfig as you mentioned above. Probably I haven't formulated my question clearly:

1) How to log in users signed up with email link (passwordless) using the methods you have outlined in the auth section?

2) Similarly, how to create users with createUser(credentials, profile) using email link (passw

[2020-02-04 05:57] eliasnorrby commented on #839
Yes, that's where I started. I've added that option to the sandbox. Calling `getFirestore` in the thunk gives me the error:

`Firebase instance does not yet exist. Check your compose function.`

[2020-02-04 10:19] illuminist commented on #703
@prescottprue More input from me, it'd be better if we have a helper to create selector function instead.

For example

[code]
So the accessing to state isn't exclusive to hooks and should be able to be used in firestoreConnect and redux connect HOC. And it even has potential to combine data and ordered state selector to denormalize data if we're going to change ordered state to store only id.

[2020-02-04 11:26] illuminist commented on #777
It also would be great for reducing confusion between normal firebase instance and extended instance.

Few more things to consider is:
- The extended instance should be able to initialize outside of react render tree, so the library should act like 'redux-firebase' instead of 'react-redux-firebase', same as 'redux-firestore'. It's currently can be done with calling `createFirebaseInstance` and vic

[2020-02-04 12:07] Salakar commented on #777
Heads up that v6.3.0 of RNFirebase is out which should now be working with `react-redux-firebase` - please try it out and report back.

[2020-02-04 20:26] prescottprue commented on #777
@Salakar Thanks for the heads up!

[2020-02-04 20:29] prescottprue commented on #703
@illuminist That is a really great point and I like the proposed API - thanks for sharing!

[2020-02-04 22:09] wissile opened #857 "feat(auth): support passwordless login (email link)"
@prescottprue Thank you for taking the time to answer my question.
I have already configured the `rrfConfig` as you mentioned above and everything else according to your documentation. Perharps, I haven't formulated my question clearly:

1) How to log in users with `firebase.login({params})` that are signed up with [email link (passwordless)](https://firebase.google.com/docs/auth/web/email-link-au

[2020-02-05 17:32] kellymestre opened #858 "firebase.updateProfile error in version 3.1.1"
Hi,
I'm using the profile feature using  "react-redux-firebase": "~3.1.1", and followed the https://react-redux-firebase.com/docs/recipes/profile.html.

Previously I implemented with version 2 and it worked. But with version 3.1.1 when calling the firebase.updateProfile, I'm getting the following error:

**TypeError: Cannot read property '_getService' of undefined
    at firebaseAppImpl.<computed>

[2020-02-05 18:25] prescottprue commented on #858
@kellymestre Can you provide your app setup? Are you sure you have imported `firebase/auth`?

[2020-02-05 18:38] kellymestre commented on #858
@prescottprue Yes I have firebase/auth imported.
And if I do firebase.auth() I get a valid result.

![image](https://user-images.githubusercontent.com/45340221/73871740-4756c180-4846-11ea-812a-a1fda8c470c8.png)

![image](https://user-images.githubusercontent.com/45340221/73871755-52a9ed00-4846-11ea-9ef8-dc07fc9e12b3.png)

![image](https://user-images.githubusercontent.com/45340221/73871797-68b7ad8

[2020-02-07 05:39] dnewball commented on #857
+1 I’m also blocked with the same issue, I’m getting started with react native and Firebase auth and was planning to use email link auth but it is hardly documented anywhere it would be great together some advice on this

[2020-02-08 11:12] illuminist commented on #858
`import * as firebase from 'firebase/app'` usually cause an issue. You need to import default without star:

[code]

[2020-02-08 11:25] kellymestre commented on #858
@illuminist thanks for the reply! I've tested with that change but still getting the same error.

[2020-02-08 14:40] illuminist commented on #858
I notice that you're using an app instance from `initializeApp` function and passing it to ReactReduxFirebaseProvider props, but that is difference from generic instance gotten from `import firebase from 'firebase/app'`. Maybe try:

[code]

[2020-02-08 15:00] kellymestre commented on #858
@illuminist yes that worked. Thanks a lot for the help!

[2020-02-08 15:00] #858 closed

[2020-02-09 00:08] knour89 commented on #839
help please, I did turn around  = I used withFirestore &  withFirebase as hoc then pass it aas urgmenets to action but this is alot of code here

[code]

[2020-02-12 00:03] matchatype opened #859 "Keeping email synced among firebase auth, firebase profile and firestore"
Updating user email is easy using firebase hooks. You just call `firebase.updateEmail({email: 'new@email.com'})`.

If you are storing user profiles you can pass a second argument to update the profile as well `firebase.updateEmail({email: 'new@email.com'})`.

However, what happens if the user change his/her mind, and clicks on the email link received from firebase auth? User's email address would

[2020-02-12 01:08] prescottprue commented on #859
When logging in the account is updated from the auth object, so that means that the next time the user logs in, if they did the change through Firebase, they should still have the same UID. That means that the new email should also be written (unless you set `updateProfileOnLogin` to `false`).

Is this not what you are seeing? I agree that this should be documented in the profile section just to c

[2020-02-12 02:46] matchatype commented on #859
Here's the course of action:

- Authenticate the first time using Google provider: a new user is created in firebase auth and a new user is added to the firestore's `users` collection with matching `uid`. All good.
- I update account email using `firebase.updateEmail(email, true)`: user account in firebase auth is updated with the new email and the firestore's related document in `users` collectio

[2020-02-12 02:48] matchatype commented on #859
For the sake of completeness, here's my config object:

[code]

[2020-02-12 12:45] markoelez opened #860 "inaccurate role based auth recipe for redux-auth-wrapper v2"
I noticed that the Roles (Access Management) Recipe at `docs/recipes/roles.md` is out of date for react-router v4 + redux-auth-wrapper v2.

- Redux-auth-wrapper v2 does not export a `UserAuthWrapper` object as used in the recipe. Rather, it uses `connectedRouterRedirect`.
- The example also imports `browserHistory` which is not exported by react-router.

The recipe for react-router v4 + redux-auth

[2020-02-12 17:32] prescottprue commented on #860
@markoelez totally open to a PR fixing the issue if you get a chance. Thanks for reaching out!

[2020-02-12 19:14] h36ahmed opened #863 "Feature: Disable creation of Profile in Firestore if userProfile is provided"
**What is the current behavior?**
If you provide `userProfile`, it will get and create profile in firestore or real time database.

**What is the expected behavior?**
 I would like the client side not to create profile if the user sign ups or logs in with a provider like Google. This can be achieved by putting a flag, `createProfileOnSignup` on ReactReduxFirebaseConfig for creating user profile or

[2020-02-12 19:54] markoelez commented on #860
@prescottprue  I just opened a PR fixing the issue!

[2020-02-13 00:42] prescottprue commented on #860
Thanks for the PR!

[2020-02-13 00:42] #860 closed

[2020-02-13 00:59] markoelez commented on #796
@illuminist  @prescottprue  Could I try tackling this issue? I am looking to get some practice :)

[2020-02-13 04:25] prescottprue commented on #859
After your third bullet point, have you tried logging out and back in with the old email (since you have reverted the change?). That is the only way I am thinking it would work is if a client is aware of the UID having the old email since the library is running in client side code.

[2020-02-13 12:40] matchatype commented on #859
Yes I did. Although I am kicked out anyway once I click the link, so logging back in with the old email is required.

[2020-02-16 08:14] viveshCodes opened #868 "Filter data specific to current user uid"
I am using **react-redux-firebase** for my project. Data of various users are being stored in a collection **quotes** in Firebase as in the image at the bottom.
Now, I want to filter the data from the collection **quotes**. I want to access data specific to current logged in user.
_**BUT**_ I'm unable to retrieve any data. P.S When I remove **where: [["quote.authId",'==',props.auth.uid]],** line f

[2020-02-18 10:43] seanenriquez commented on #452
Hey, was wondering why firestore queries don't have the same `isEmpty `and `isLoaded` property provided on them like a firebase auth profile does.  I see that they have different states, `undefined`, `null`, and value while working pretty well with the helper functions but think it would be more clear with the properties on the state.

 Or maybe i'm missing a simple redux implementation.

[2020-02-19 02:53] prescottprue commented on #868
Have you tried waiting for auth to load before creating the query? Otherwise the query will contain undefined - This practice is described [in the queries section](https://react-redux-firebase.com/docs/queries.html#loading) and [in the auth recipes section](https://react-redux-firebase.com/docs/recipes/auth.html#loading) of the docs

[2020-02-20 01:23] #690 closed

[2020-02-20 06:46] deepankar14693 commented on #839
@knour89 did you find any solution, because I'm also stuck with the same?

[2020-02-20 09:37] deepankar14693 commented on #839
@knour89  : Here is the solution of your exact problem. Instead of calling
await firebase.set(`users/${createdUser.user.uid}`, { ...newUser }) from action creator try the given below function from registerForm, you just have to import from {withFirestore} from react-redux-firebase and use it as a HOC in RegisterFormComponent. It works for me because I was stuck in the same problem.

onFormSubmit =

[2020-02-20 22:11] eliasnorrby commented on #839
@deepankar14693 : That surely works, but the issue here is specifically related to using firestore in a redux thunk. We don't want to call `firestore.set` within a `onClick` or `onFormSubmit` handler, but within a thunk, i.e.

[code]
The workaround for now seems to be to get hold of the firestore instance within the component (using either the hooks or the HOC API) and pass it along in the action

[2020-02-21 09:29] hemantkumar5151 commented on #839
TypeError: getFireStore is not a function when pass argument  in action creator.

firebase.js
import firebase from 'firebase/app';
import 'firebase/firestore';
import 'firebase/auth';

var firebaseConfig = {
secretKey
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.firestore()
 ##
export default firebase;

Root.jsx
import { combineReducers } from 'redux';
import authRedu

[2020-02-23 03:02] knour89 opened #869 "auth/network-request-failed"
my app was working good with social login (Facebook/Gmail) but from yesterday tell today I am getting below error:

[code]

[2020-02-24 19:17] prescottprue commented on #869
That error is coming directly from the Firebase SDK, so really it would be whatever they suggest to debug auth. Is this happening with both Facebook and Gmail? Does it happen on other computers? Have you checked your network connectivity?

[2020-02-25 06:52] deepankar14693 commented on #839
@eliasnorrby I was just trying to help @knour89  out so that he can move on with further development and not just get stuck.
I tried finding the solution to use getFirestore in redux-thunk but currently I'm unable to do so.
If you have found out the answer, please let me know I'll be highly thankful to you.

[2020-02-25 13:57] eliasnorrby commented on #839
@deepankar14693 Yes, of course, it's just that from @knour89 's latest comment it seemed he was using a workaround involving `withFirestore` already, so I was a little confused as to what you meant. :smile:

Haven't found a solution yet, but I'll let you know if I do. Likewise to you – if you find one I'd be very grateful to know. 🙏

[2020-02-26 04:17] prescottprue commented on #777
As mentioned by @Salakar, the v6.3.0 version of react-native-firebase should fix this issue. For all looking for it, [this is the commit that removes `Object.freeze`](https://github.com/invertase/react-native-firebase/pull/3157/files#diff-55efcaa4f5f3cd77d42b7201a43349d6L251).

I am going to close this since updating should make this no longer an issue. If anyone updates to v6.3.0 of react-native-

[2020-02-26 04:17] #777 closed

[2020-02-26 05:08] deepankar14693 commented on #839
@eliasnorrby what about createFirestoreInstance which is imported from redux-firestore as passed as props to ReactReduxFirebaseProvider. Infact it takes firebase as parameter and in return gives a firestore instance.
Time for some R&D......

[2020-02-27 17:34] markoelez commented on #114
any update on testing patterns with the `useFirestoreConnect` hook? Was this issue opened?

[2020-02-28 12:43] h36ahmed opened #873 "Bug: Incorrect Type for `onAuthStateChanged`"
As per docs,

the correct type for `onAuthStateChanged` should be

[code]

[2020-02-28 15:05] AlexHyslop opened #874 "Props not loading until refresh page"
I have a project where the user can login and submit posts, but currently when the user logs in they need to refresh the page when the first visit the page for the props to show. This only happens when they first visit the dashboard, if the leave and comeback / refresh its fine. But if they hard refresh or open in incognito they will need to refresh the page when logged in to see their posts again

[2020-03-01 18:26] prescottprue commented on #874
If you have security rules in place you should make sure that auth loads before you attach any listeners. This is covered in a few places in the docs including [the auth recipes section](http://react-redux-firebase.com/docs/recipes/auth.html#loading), and [the queries section](http://react-redux-firebase.com/docs/queries.html#loading)

[2020-03-02 08:19] AlexHyslop commented on #874
Thank you! I did eventually figure this out but your references will help me fix it properly. Much appreciated.

[2020-03-02 15:12] AlexHyslop commented on #874
The error it produced :

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.
Here is my index.js file, any help is much appreciated. Thanks in advance

import React from 'react';
import Re

[2020-03-02 16:40] AlexHyslop commented on #874
Trying to convert to v3 :

[code]

[2020-03-02 18:25] prescottprue commented on #874
Are you sure you are exporting? Can you provide a full repo where the issue can be reproduced?

[2020-03-03 00:25] prescottprue opened #876 "feat(example): testing a component with useFirestoreConnect"
**Do you want to request a *feature* or report a *bug*?**
* an example of how to test a component that is using hooks such as `useFirestoreConnect`

[2020-03-03 00:26] prescottprue commented on #114
@markoelez I made a new issue for tracking that - thanks for reaching out

[2020-03-03 09:26] AlexHyslop commented on #874
Hi, Thanks for your help. Here is a full list of the components involved. Thanks again

Index.js ( updated since previous message )

[code]

App.js

[code]

RegisterPage.js

[code]

Now seeing this error :

![Screenshot 2020-03-03 at 09 21 12](https://user-images.githubusercontent.com/28648199/75761437-fcd74080-5d30-11ea-86ce-1008b90723aa.png)

[2020-03-03 09:28] AlexHyslop commented on #874
authError is supposed to come from my authReducer, so it looks like something has broken my reducer when migrating from v2 to v3

AuthReducer.js

[code]

[2020-03-03 10:05] AlexHyslop commented on #874
ah i found the issue! I needed to change my middleware to

[code]

Thanks for you quick replies anyway

[2020-03-03 10:05] #874 closed

[2020-03-05 09:48] makannew commented on #839
@knour89
firestore().set is not a function. For what you are trying to do try this:
[code]

"set" method is available for "documentReference" for more information:
https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference?authuser=0#set

[2020-03-05 10:11] makannew commented on #839
@deepankar14693
Hi, for using getFirestore in redux-thunk you can use this setting for store:
[code]
And in your actions you can access it by invoking getFirestore()
[code]
But actually you don't need it, getFirebase().firestore() working fine same as getFirestore()

[2020-03-06 01:47] makannew commented on #839
@knour89
Hi,

I find that when firestore instance created by firebase.firestore() we don't have access to "set", because it is not a native firestore method, you can change your code like this:
[code]

In addition of "set" there are other methods such as "get, add, update, delete ,..." which they are available through getFirestore(). For more information you can check [reduxFirestore enhancer](htt

[2020-03-08 18:00] StanSarr commented on #876
hey @prescottprue
I add an example on how to use it in this gist: https://gist.github.com/StanSarr/6ef363403793456686b96d0aaa893f65
I'm gonna create a PR If there is none yet :-)

[2020-03-08 19:59] lucasharada opened #877 "Add support to Microsoft accounts or write a guideline to it"
**Do you want to request a *feature* or report a *bug*?**
Request a feature.

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
Currently, I had to inject some manual code to d

[2020-03-09 06:11] vivekweb2013 opened #878 "Passing local state to firestoreConnect()"
I'm storing the user input filter as query into component's local state(not redux store), I want to use this as a filter criteria inside firestoreConnect

`<input type="text" onChange={event => { this.handleQueryUpdate(event.target.value) }} value={this.state.query} />`

I didn't find any way to pass the local state to firestoreConnect since it only gets the props.

Its seems totally unnecessary a

[2020-03-09 11:31] vivekweb2013 opened #879 "How to use select filter with firestoreConnect()"
The select query is supported by core firestore apis
[https://cloud.google.com/nodejs/docs/reference/firestore/0.8.x/Query#select
](https://cloud.google.com/nodejs/docs/reference/firestore/0.8.x/Query#select
)

This select query helps a lot when I want to just retrieve some field out of large documents to show it as a summary.

I don't see any option for using such select query with firestoreConne

[2020-03-09 19:47] Wgil commented on #114
I ended up mocking the module by doing:

[code]

Not sure if it's the best approach.

[2020-03-09 19:52] Wgil commented on #114
If you need to make assertions on the `firebase` prop, you might make that module in the test file instead

[2020-03-10 15:29] prescottprue commented on #879
@vivekweb2013 The link you provided is to the legacy API for Firestore - the [newer API docs do not show the select functionality](https://firebase.google.com/docs/reference/js/firebase.firestore.Query#methods_1). For now, only methods and queries that are supported by the official SDK are supported.

That said, I personally would really like this feature as well, not sure why they would have drop

[2020-03-12 23:42] prescottprue commented on #878
You can pass that state as props to a component which is using `firestoreConnect` then you can use those props in your query. Another method you can use is calling `setListeners` or `setListener` to manually set listeners since you may want to do some debouncing if it is connected to a user input.

[2020-03-13 14:09] prescottprue commented on #876
@StanSarr a PR would be great! Thanks for sharing

[2020-03-13 17:57] vivekweb2013 commented on #878
The same component whose local state I want to use has the `firestoreConnect`
Now I can't pass the local state to `firestoreConnect`
sending the state to redux and having it in `redux` store just for the sake of using it with `firestoreConnect` doesn't seem correct

[2020-03-14 05:29] prescottprue commented on #878
You do not need to pass into redux state. As mentioned, you can pass that state down as props to another component:

[code]

You may also want to look into using hooks since that would give you a much easier way to do this all in one component:

[code]

[2020-03-14 21:46] OlesyaKlochko commented on #674
I have the same issue..
Have you found some solution?

[2020-03-16 06:01] auahmed opened #883 "SET_PROFILE not getting fields referenced data for users profile"
**What is the current behavior?**

I am using react-redux-firebase + redux-firestore.

- have set my ReactReduxFirebaseProvider config `useFirestoreForProfile` to true and `userProfile` to `users`.
- in the users collection in firestore if the document contains no references everything works great and `SET_PROFILE` from the package sets my users profile as expected.
- make one of the fields in the

[2020-03-17 01:31] Anne-Anq opened #884 "useFirestoreConnect only listens to the first doc of my array of doc queries"
First I wanna point out I was so happy when I saw there was a hook for it. thanks

**Do you want to request a *feature* or report a *bug*?**
a bug

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is th

[2020-03-17 14:20] prescottprue commented on #884
I believe it is because your data from the two queries are running over eachother since they both have the `storeAs` set to `specificEvents` - if you want them to not run over eachother you should give them a unique key in that storeAs. If you do something like `specificEvents-${index}` (i.e. `specificEvents-0` and `specificEvents-1`) then they will be stored separately in redux and will no run ov

[2020-03-18 04:10] Anne-Anq commented on #884
Thank you Scott,
Indeed if I give a different storeAs to to all my documents it sets different listeners.

I thought it worked Also with a unique storeAs In the HOC, so I expected the same behavior from the hook. ( I have a custom middleware reducer that orders the data as it comes in the action.meta.payload so I make sure there that it doesn’t over write.)

Thanks for your  fast answer

Anne.

[2020-03-20 22:27] dhruvishp158 opened #885 "TypeError: Cannot read property 'dispatch' of null"
import React from 'react';
import Notifications from './Notifications';
import ProjectList from '../projects/ProjectLists';
import {connect} from 'react-redux';
//  import fbconfig from '../../config/fbconfig';
import {compose} from 'redux';
import { firestoreConnect } from 'react-redux-firebase'

class Dashboard extends React.Component{

    render(){
        const {Projects}=this.props;

[2020-03-21 16:00] prescottprue commented on #885
Could you to provide a codesandbox or a full repo where an issue can be reproduced? It is hard to tell what is going on with the current syntax highlighting. Also, are you sure you followed the setup in the README?

[2020-03-21 18:42] dhruvishp158 commented on #885
export default
compose(
    connect(mapStateToProps),
    firestoreConnect(() => ['Projects']))
    (Dashboard);

Here I am getting an error.
I am getting my firestore from this code:

import authReducer from './authReducer';
import projectReducer from './projectReducer';
import { combineReducers } from 'redux';
import {firestoreReducer } from 'redux-firestore';
const rootReducer=combineReducers({

[2020-03-21 18:47] dhruvishp158 commented on #885
ReactDOM.render(<Provider store={store}><App /></Provider>, document.getElementById('root'));
I am calling the Provider but I do not know why it is not visible here.

[2020-03-21 19:22] prescottprue commented on #885
@dhruvishp158 Could you replicate this in a tool like codesandbox and share the link or provide a link to a repo with all of the code? Still not able to parse through things with the syntax highlighting and formatting appearing like this

[2020-03-21 19:34] dhruvishp158 commented on #885
got the answer
Actually I was not using the ReactReduxFirebaseProvider
than you

[2020-03-21 20:05] #885 closed

[2020-03-21 21:01] FrancisLeigh opened #887 "Basic Populate Parameters users not working for me."
*I am working with React native *
_____________________________

Hello,
I am following these steps http://react-redux-firebase.com/docs/recipes/profile.html#populate-parameters but can't seem to get the described output.

`"react-redux-firebase": "^3.1.2",`
[code]
My realtime database structure looks like this:
<img width="409" alt="Screenshot 2020-03-21 at 21 00 06" src="https://user-images.githu

[2020-03-21 22:30] prescottprue commented on #883
One of the things that redux mentions as a best pattern is to only store normal objects in the redux store, which is a reason that features such as this one haven't been supported.

That said, I'm wondering if it might work to pass non-normal objects from Firebase in the action, but just not store them in state. I'll leave open until more can be investigated around this

[2020-03-21 22:37] prescottprue commented on #887
@FrancisLeigh You still need to use `populate` when pulling data out of redux. `profileParamsToPopulate` just creates the listeners for the necessary data to go into redux. Like so:

[code]

This is described in the [populate role example within the recipes section](https://react-redux-firebase.com/docs/recipes/populate.html#populate-role) of the docs.

[2020-03-23 22:30] alexding123 opened #890 "Conflict with redux-persist"
**What is the current behavior?**
The homepage of my app listens to a document with Timestamp data. The listener populates the store with data such as
[code]

However, using redux-persist to persist the store causes it to store the serialized Timestamp object
[code]
which does not have access to the methods.

This means that every time I refresh the page, after redux-persist rehydrates the seriali

[2020-03-24 06:11] reggieofarrell opened #891 "useFirestoreConnect does nothing"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Calling `useFirestoreConnect` produces nothing in Redux. Is it compatible with `react-redux@7.2`? Other functionality (auth, user profiles, etc) seems to be working fine so my config can't be completely wrong, but maybe I've missed something.  I can see `firestore` in the Redux Devtools, but it never p

[2020-03-24 08:33] reggieofarrell commented on #891
I figured it out...

I was trying to pull `createFirestoreInstance` from `react-redux-firebase` rather than `redux-firestore`.

I'm really surprised I didn't get any kind of error from that.  Is there a `createFirestoreInstance` export in `react-redux-firebase` as well?

[2020-03-24 16:35] prescottprue commented on #891
@reggieofarrell No there is not, it would be pulling in `undefined`

[2020-03-24 17:18] reggieofarrell commented on #891
Yeah, I agree.  It's an easy mistake to make.  That would be helpful for anyone falling down this particular hole in the future.  Also, thanks for this amazing library!

[2020-03-25 19:05] prescottprue commented on #890
Thanks for reaching out - this makes sense due the the serializing you mentioned. Not really sure about how this would be addressed other than the workaround mentioned

[2020-03-26 15:34] daithimorton commented on #846
@prescottprue I figured out what was wrong here, `firestoreConnect` in a child component. For example, I have a Dashboard with multiple child components, `Header`, `Footer`, `ProjectList`, and `ProjectDetails` was at another route.  I was using `firestoreConnect` in `ProjectList` so when I clicked a project to view the details the `ProjectList` unmounted the listeners and the `ProjectDetails` comp

[2020-03-26 15:34] #846 closed

[2020-03-30 22:31] rusakovic commented on #731
@prescottprue
Hello. I have the same problem.
[code]

![image](https://user-images.githubusercontent.com/17801144/77967341-9886ad00-72ed-11ea-9e39-1036a67e9d76.png)

But:
![image](https://user-images.githubusercontent.com/17801144/77967405-b48a4e80-72ed-11ea-9b97-c68bbb5c2cd1.png)

I tried:
[code]

[2020-03-31 01:14] prescottprue commented on #731
@rusakovic That is the expected functionality with Firestore which comes directly from the firebase SDK - the value is null initially on the client since it is a server timestamp, the value is only set once it is on the server. More about this can be found [in this medium post about serverTimestamp](https://medium.com/@CodingDoug/the-secrets-of-firestore-fieldvalue-servertimestamp-revealed-29dd7a3

[2020-03-31 07:07] rusakovic commented on #731
@prescottprue
Thank you. Sure. I absolutely agree that is normal for firebase SDK.
But how to add this logic
[code]
to
`useFirestoreConnect` listener?

I think this info will be very helpful. And it can be added to docs.
I can help with it.

[2020-04-01 21:17] alekseykarpenko commented on #891
@prescottprue Hey, I've got similar error related to imports. Im using TypeScript and trying to achieve AppState interface acceptance, using this example: https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/typescript/src/reducer.ts

But Im getting TS errors when importing 'firestoreReducer` and `FirestoreReducer` interface from `redux-firestore`. So I've tried to pi

[2020-04-01 23:17] prescottprue commented on #891
@alekseykarpenko Can you open a new issue describing your issue so that we can track addressing it there?

[2020-04-02 21:11] rusakovic opened #898 "useFirestoreConnect clear 'storeAs' state after UNSET_LISTENER"
Hello
Thank you for your plugin.
It's not mentioned into the doc. But, is it possible to reset `useFirestoreConnect` each time, when `UNSET_LISTENER` is triggered?

![image](https://user-images.githubusercontent.com/17801144/78300066-9320a100-753f-11ea-956a-fb13ce4b05c1.png)

If not, is it possible to add this feature?
Thank you.

[2020-04-03 00:19] prescottprue commented on #898
@rusakovic It is not currently supported. It is usually suggested to use a unique key for your query using `storeAs` - in the case of fetched messages you can make the key contain the user name:

[code]

Make sure you also grab the data from this new section of state with the same key!

[2020-04-03 02:08] reggieofarrell commented on #891
@prescottprue We can close this if you want.  Wasn't sure if you were leaving it open for some reason since you were the one that reopened it.

[2020-04-03 06:18] rusakovic commented on #898
@prescottprue
Thank you very much for this tip. Maybe it will be helpful for others.
[code]

[2020-04-03 17:30] alekseykarpenko commented on #891
@prescottprue Okay, I will try to provide separate repo with TS included

[2020-04-03 17:33] alekseykarpenko commented on #898
@prescottprue How do you feel about storing **list** of documents and the **each** document separately? Maybe you have some recipe about how to get separate document from the list if it was previously fetched, but still without fetching the whole list of the docs when you need only one of them?

[2020-04-03 18:07] prescottprue commented on #898
@alekseykarpenko That is actually the idea for v1 of redux-firestore:
* results are stored under a key representing the query instead of just the collection/subcollection path
* all subcollections are stored at the top level of redux (instead of nested within a parent collection)
* only ids will be stored in the ordered list and then data by key will be grabbed from

[2020-04-05 13:02] theunreal opened #904 "Integration with rematch"
**Do you want to request a *feature* or report a *bug*?**

Bug or documentation request, not sure.

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
App fails to load, error:

[2020-04-05 17:27] prescottprue commented on #904
I don't believe that the way you are using the ReactReduxFirebaseProvider will work as expected. It seems like you are mixing the old API (which used a store enhancer named `reactReduxFirebase`( with the new API which has the ReactReduxFirebaseProvider (for using context)

[2020-04-05 17:59] theunreal commented on #904
@prescottprue I really can't figure out how to put it both together. No answers at stackoverflow either

[2020-04-05 20:37] sincness commented on #508
The tip or takeout for me was that you not should make a redirect on your signOut function.
Seems to work just fine without it! :rocket:

[2020-04-06 03:46] karlmarxlopez opened #905 "Outdated documentation for `useFirestore`"
**Do you want to request a *feature* or report a *bug*?**

This is a bug report and documentation update request. I think the documentation uses the old API for the extended firestore object?

**What is the current behavior?**

`firestore.add` throws cannot read `apply` of `undefined`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the

[2020-04-06 13:05] webdevchintan opened #907 "Logout user from everywhere except current session"
is there any feasibility available when one user login from one tab than it will logout all other loggin session automatically?

[2020-04-06 15:59] prescottprue commented on #907
Thanks for reaching out

This is a question for the Firebase SDK - this is just a wrapper for that SDK to interact with redux.

[2020-04-06 15:59] #907 closed

[2020-04-06 16:04] prescottprue commented on #905
Are you sure that you have everything setup correctly? It seems that this could happen if you haven't pulled in the firebase sdk correctly with Firestore. Can you provide a codesandbox for a full reproduction of the issue?

[2020-04-07 20:02] h36ahmed opened #908 "Do you guys support Apple Sign In?"
I would like to use this library and have Apple Sign In feature for my users. Is this possible at the moment?

[2020-04-09 03:19] serinuntius commented on #905
@kadikraman Did you forget to write this?

`import 'firebase/firestore'`

https://github.com/prescottprue/react-redux-firebase#use

[code]

[2020-04-09 06:49] karlmarxlopez commented on #905
@serinuntius I have the import on my setup. I'll try to upload a sandbox app today or tomorrow morning.

[2020-04-11 02:53] alekseykarpenko opened #909 "firebase.reauthenticate isn't working"
**Do you want to request a *feature* or report a *bug*?**

Seems like a **bug** regarding the documentation

**What is the current behavior?**
Actually I can't use `reauthenticate()` as described in [docs](https://react-redux-firebase.com/docs/auth.html#logincredentials-and-reauthenticatecredentials).

**If the current behavior is a bug, please provide the steps to reproduce and if possible a mini

[2020-04-11 14:59] karlmarxlopez commented on #905
I think I've found the issue, I'm using `add` method instead of `set` when adding a document. For example `firestore.set('users/myuid/todos/randomid', {id:'randomid', task: 'eat'})`

[2020-04-11 21:10] #905 closed

[2020-04-11 21:43] doublejosh opened #910 "Docs for watchEvent()"
Looks like missing and/or incorrect docs for `watchEvent()` in snippets.

https://github.com/prescottprue/react-redux-firebase/blob/master/examples/snippets/watchEvent/README.md

**Current behavior**
It doesn't include the use of `watchEvent()` in the example.

[2020-04-11 22:13] doublejosh opened #911 "wacthEvent() does not use queryParams option"
### Bug

It appears that the `wacthEvent()` function just returns all contents from the path, regardless of additional parameters.

https://react-redux-firebase.com/docs/api/firebaseInstance.html#watchevent

**Current behavior**

The function doesn't use the `queryParams` option when firing the event. It's unclear if the `storeAs` name should be enough to "remember" the query that built it, but wi

[2020-04-13 15:18] dhamilton91 commented on #674
Hi, I was able to get pagination working in a hook by using a hack. I'll post it below.
Each paginated batch of records has to be stored with a new key in the ordered object within firestore. This is then able to be merged together when a component requests it.
By fetching n+1 records I am able to use the last record to determine if there is a next page.

[code]

Within a component:
[code]

Later

[2020-04-14 17:07] prescottprue commented on #911
Thanks for reaching out! Looks like it may be due to [this if statement which checks for `isQuery`](https://github.com/prescottprue/react-redux-firebase/blob/fe7a4cef10003bc62a08eb915dc53b146055cce9/src/actions/query.js#L83), I know it isn't documented, but could you try passing `isQuery: true` as another item to the options object.

Not actually sure what this logic was/is for, so I'm going to lo

[2020-04-16 15:37] dhuber666 opened #912 "Error in typescript example - codesandbox example inside."
Look at this line from the example:

https://github.com/prescottprue/react-redux-firebase/blob/cd8bfba717108b799b8416121233ce0556fed618/examples/complete/typescript/src/reducer.ts#L20

I did exactly the same thing and in the `combineReducer` call it looks like this:

[code]

But I get this error:

Here is a minimal codesandbox link:

https://codesandbox.io/s/great-perlman-p6g7p?file=/src/store/ind

[2020-04-17 08:25] enkuush-ca opened #913 "local state to firestoreConnect"
I want to use this as a filter criteria inside firestoreConnect storing the user input filter as query into component's local state(not redux store

[2020-04-17 18:54] alekseykarpenko opened #914 "Getting all data from the profile collection working incorrectly"
**Do you want to request a *feature* or report a *bug*?**

**Bug**

**What is the current behavior?**

When I'm using `useFirestoreConnect` to get the data from collection, that was previously provided to store user profiles  (as `userProfile` option), I'm facing a very strange behavior, that seems like a bug. My component is being continuously updated, adding one new element to collection state a

[2020-04-17 18:56] prescottprue commented on #914
Make sure you are passing an array of query configs to `useFirestoreConnect` instead of a single object

[2020-04-17 19:04] prescottprue commented on #913
Are you having an issue with doing that? Could you provide a code sample if so? This should be able to be done with hooks pretty easily:

[code]

[2020-04-17 19:18] alekseykarpenko commented on #914
@prescottprue Thanks for your quick response! I've changed the parameter, but the behavior left almost unchanged. Values are adding one by one.

[2020-04-17 19:42] alekseykarpenko commented on #914
@prescottprue This strange behavior changes only if request another collection, that was not used as `userProfile`

[2020-04-17 21:08] alekseykarpenko commented on #914
**UPD**: If I remove this from config, the same code works as expected, so it's definitely a bug related to `profile` and `useFirestoreConnect`:
[code]

[2020-04-17 21:30] alekseykarpenko commented on #914
UPD 2: I see a bunch of [DOCUMENT_ADDED](https://github.com/prescottprue/redux-firestore/blob/06e4bb47acac5246aac8145a4dd9d2cdd70454ad/src/constants.js#L78) actions in my Redux console., so it's thinking that i'm adding those documents into my collection at the same while i'm actually requesting them:
![image](https://user-images.githubusercontent.com/4648983/79615567-cbada680-810b-11ea-9662-f4a79

[2020-04-18 12:45] alekseykarpenko commented on #914
@prescottprue Could you please take a look on this bug? This is kind of blocker for me, as I was trying to implement some internal functionality with user profiles.

[2020-04-18 18:04] jakebern opened #915 "Update Docs - Populate is now supported with Firestore"
https://react-redux-firebase.com/docs/firestore#populate

If I understand correctly, populate works with Firestore  - but is not supported with hooks yet (https://github.com/prescottprue/react-redux-firebase/blob/master/docs/api/useFirestoreConnect.md).

[2020-04-19 18:57] jakebern commented on #915
Source suggesting was supported: https://github.com/prescottprue/redux-firestore#population

[2020-04-20 16:47] raghavendracs opened #916 "When is isLoaded set to 'true' with queries?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

I am trying to run a query to populate specific data in my component as follows,

[code]

**What is the expected behavior?**

I was expecting that isLoaded(allUploads) would be set to true when the query is completed. I seem to be getting a true before that. Am I doing somthing wrong?

[2020-04-21 05:14] karlmarxlopez opened #917 "No type definition for `profileFactory`"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**
Type error on an RN TS project.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**
1. Create RN TS project
2. Create a `.ts` file (e.g. `index.ts`)
3. Paste the followi

[2020-04-21 17:38] Grixi commented on #846
Could you please show me how did you solve it.
I dont understand the text above.

[2020-04-21 17:45] daithimorton commented on #846
Hey @Grixi the text above is basically saying

You need to use `firestoreConnect` in a root component that will mount the listeners once. When you use it in a child component, for example a tab on a page, the component may be mounted and unmounted as the user navigates through the tabs. If you use `firestoreConnect` on a tab page it will mount and unmount listeners, you don't want to do that.

[2020-04-22 08:21] Grixi commented on #846
@daithimorton So I did initialize it (idk if Ive done it right) in my root component (App.js) but now how can I use it in the Dashboard component?
Sorry Iam new in React.

[2020-04-23 01:26] prescottprue commented on #915
Populate should work the same with hooks as it does with HOCs - are you sure you are capturing from state correctly?

Can you provide a code sample to reproduce the populate not working?

[2020-04-24 10:06] dhuber666 opened #921 "orderBy in "useFirestoreConnect" config object gives a typescript type error"
Hiho,

working much lately with this awesome library.

I encountered another Typescript type related issue:

If you use the `useFirestoreConnect` hook like this:

[code]

you will get this warning:

It happens after I added this prop `orderBy: "timestamp" `

According to the docs over here:

https://github.com/prescottprue/redux-firestore#query-options

I use it fine, but I get this warning.
In th

[2020-04-24 14:01] Grixi commented on #846
But how do I access it back to dashboard ?

[2020-04-26 17:17] didrip commented on #785
I confirm that `getFirebase().firestore()` is a different instance than the one exposed via `useFirestore` for example.

For example `firestore().add('/some-collection', document)` does not work (must use `firstore().collection('some-collection`).add(document)`.

[2020-04-27 01:27] prescottprue commented on #921
Did you try providing an array? I.e. `orderBy: ['timestamp']`? The array represents the two arguments being passed to orderBy

Either way, we should update the types to support both since I believe the Firebase SDK supports passing just one

[2020-04-27 13:16] GautierT opened #922 "How to populate from firestore within a subcollection ?"
Hi,
I have a subcollection of `ingredients` containing data and a ref to the main ingredients collection.
![image](https://user-images.githubusercontent.com/6089653/80376234-d00b5980-8899-11ea-9478-2f5fe7313c2c.png)

I want to populate data on my subcollection with the data from the main ingredients collection.

I thought about doing something like this :
[code]
but i still the firestore object in

[2020-04-27 13:17] GautierT commented on #915
Hi.
Probably related to https://github.com/prescottprue/react-redux-firebase/issues/922#issue-607540672

[2020-04-27 15:47] jakebern commented on #915
@prescottprue Thanks - I was just commenting that the docs seem out of date/inconsistent: ([A](https://github.com/prescottprue/react-redux-firebase/blob/master/docs/api/useFirestoreConnect.md) vs. [B](https://github.com/prescottprue/react-redux-firebase/blob/master/docs/api/useFirestoreConnect.md)
<img width="854" alt="Screen Shot 2020-04-27 at 8 42 18 AM" src="https://user-images.githubuserconten

[2020-04-27 20:18] prescottprue commented on #922
Hmm interesting use case - I believe the populate parameters should live on the top level. Also how are you selecting data from state?

[2020-04-28 00:45] #916 closed

[2020-04-28 02:23] alekseykarpenko commented on #914
@prescottprue Any thoughts on this?

[2020-04-28 13:36] GautierT commented on #922
I was expecting data to be populated in the redux store.
To have a clean database with all needed data populated on the redux store and be able to pick what i need in it.
I have to use connect ?

[2020-04-28 23:52] ricjohn-acosta opened #923 "React-redux-firebase with gatsby.js"
Hi there,

What's the best way to incorporate react-redux-firebase with a gatsby.js app? Can't find any up to date resources/examples regarding this.

Thank you!

[2020-04-29 10:06] ricjohn-acosta commented on #923
Spoke too soon. Solution: https://github.com/prescottprue/react-redux-firebase/issues/702

[2020-04-29 10:06] #923 closed

[2020-04-30 14:52] gregfenton opened #925 "Incomplete sentence in Queries doc page"
On the [PARSED](https://react-redux-firebase.com/docs/queries.html#parsed) section of the Queries page there is an incomplete sentence/thought:

...parse....what/why/when?  :)

[2020-04-30 14:55] gregfenton opened #926 "Non-obvious example"
On the queries page, section [PARSING](https://react-redux-firebase.com/docs/queries.html#parsing), the first code example:

[code]
it isn't obvious how/why these two code samples differ.  Also, the fact that the prop and the variables are the same name makes it doubly less obvious what is going on here or why these two lines would behave any differently (other than the order of the array entries)

[2020-05-01 22:41] prescottprue commented on #922
@GautierT Yes - populate attaches listeners for all needed data, which then goes into the redux store UNPOPULATED, this is so that you can populate in some places and not others if needed based on how you connect to state. To pull populated data out of state, use the `populate` util which grabs the data and combines it based on populate settings

[2020-05-02 05:04] prescottprue commented on #913
Going to close since an example was provided - reach out if it isn't clear

[2020-05-02 05:04] #913 closed

[2020-05-02 05:04] #891 closed

[2020-05-02 05:05] prescottprue commented on #917
Released in [v3.3.1](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.3.1)

[2020-05-02 05:05] #917 closed

[2020-05-04 11:24] zenway-js commented on #811
Maybe, you should add it to the documentation?

[2020-05-06 14:07] olivertuckwebdev commented on #630
@prescottprue would it be possible to have the listener set up like firebaseConnect(query) and then have query pointing to a query object where you can manually increase the limit upon scrolling? Or would this keep doing a re-fetch of all of the previous records as well? I'm a bit confused about the best way to go about this even with your answer

[2020-05-07 05:22] MichaelJC91 commented on #285
Am I able to use a similar structure for creating custom meta data?

[2020-05-07 16:18] prescottprue commented on #285
@MichaelJC91 Yes that is what `fileMetadataFactory` is for - feel free to open a new issue if it isn't working as you expect

[2020-05-07 21:56] huzaifah050 commented on #620
The update doesn't recommend the usage to reduxFirestore but createFirestoreInstance, still did it and got Error: Firebase instance does not yet exist. Check your compose function. But when I revert to reduxFirestore, the seems to be no error.

[2020-05-08 17:17] prescottprue commented on #620
@huzaifah050 Can you please open a new issue if you are experiencing something unexpected? Feel free to reference this issue - I just want to make sure we correctly track reproduction and fixing of what you are experiencing

[2020-05-08 22:47] codedpills commented on #925
"query parameters into the actual value or particular data type ( e.g. null, number, boolean) instead of the string containing the value."

If the above makes sense, I'll submit a PR now to patch it.

[2020-05-10 00:17] ajmal-zennify commented on #620
had the same issue and this solution worked for me

[2020-05-11 02:30] chrislewispac opened #932 "firebase.updateProfile throws error when using firestore to store profile"
I have used the example from the docs...

[code]

When I use the following configs:

[code]

I get the following error:

[code]

If I use the following configs:

[code]

It performs as sexpected.

[2020-05-11 03:46] prescottprue commented on #932
It looks like it is having an issue finding Firestore, how does your Firebase import look? Does it include importing of Firestore?

[2020-05-11 03:49] chrislewispac commented on #932
I am using firestore successfully for all other purposes. I am not importing firestore in the actual component where I am attempting to update the profile, I am only importing it here. (and in other components where I am using it to make queries/updates/etc.

[code]

[2020-05-11 18:03] prescottprue commented on #932
@chrislewispac Can you post what you have in the file in this import: `import { myFirebase } from "./firebase";` - it seems that is where Firebase is being imported

I'm looking to try to replicate the issue

[2020-05-11 18:42] chrislewispac commented on #932
[code]

[2020-05-11 23:14] anujmv opened #933 "Offline app startup fails to SET_PROFILE, stops at LOGIN action"
I have enabled firestore offline persistence.
Offline startup fails to SET_PROFILE, Even with redux persist, since the LOGIN action clears the firebaseReducer.profile

log:-

reactReduxFirebase/AUTHENTICATION_INIT_STARTED
reactReduxFirebase/AUTHENTICATION_INIT_FINISHED

reactReduxFirebase/LOGIN
2020-05-11T22:58:13.199Z]  @firebase/firestore: Firestore (7.14.3): Could not reach Cloud Firestore back

[2020-05-12 03:39] JonnyBoy333 opened #934 "Firebase.auth.Auth.prototype.signInAndRetrieveDataWithCredential is deprecated"
Getting this warning when calling firebase.login({ credential }) passing in credentials from facebook provider. This is in a react native environment using expo. Here is my code:

[code]

I have react-redux-firebase v3.4.0 installed and firebase v7.9.0 installed.

The full error is:
`firebase.auth.Auth.prototype.signInAndRetrieveDataWithCredential is deprecated. Please use firebase.auth.Auth.proto

[2020-05-12 08:54] anujmv commented on #933
Adding on to issue, was able to load profile using

const rrfConfig = {
  preserveOnLogin: { auth: true, profile: true },
...config
}

How ever the isEmpty on profile changes to true on LOGIN action, and remains there even though profile is loaded via persistence.
profile:{
...restOfProfile,
isEmpty: true,
isLoaded: true
}

Is there a way to run SET_PROFILE action in offline mode.

[2020-05-13 00:59] codedpills opened #935 "Non-matching example in Queries doc page (limitToFirst)"
On the Queries page, in the Query Params section, under [limitToFirst](http://react-redux-firebase.com/docs/queries.html#limittofirst), the code in the second example does not match the example being demonstrated.

[code]

The code example with the object notation has no limitToFirst param passed in at all. Instead shows example for orderByChild and equalTo params.

[2020-05-13 01:12] codedpills commented on #926
I agree, it's hard to tell how or why those two code samples should work any differently considering they have the same params with similar values. Also at a first glance, it's not hard to miss the difference in positioning (assuming that matters at all).

I think in the second instance, the orderByValue param should not be passed at all.

[code]

[2020-05-13 17:16] prescottprue commented on #926
Yeah, the example was to show that order does in fact matter, agreed that it isn't that clear

[2020-05-14 02:09] codedpills commented on #926
@prescottprue what happens if you don't pass the orderByValue param at all? Is limitToFirst and startAt parsed or they remain as strings?

[2020-05-14 14:03] MeryAmun commented on #885
@dhruvishp158  good day,please i need help navigating through the same problem you posted above,but i dont still understand how you went around it. thanks in advance

[2020-05-14 23:19] oliver-ni commented on #876
Any update on this? I checked out @StanSarr's gist it doesn't seem to show testing.

[2020-05-15 15:36] prescottprue commented on #933
I have not experimented with the profile in offline mode, thanks for reporting

[2020-05-16 21:18] Gnk27 commented on #885
@dhruvishp158 Hi! can you give a hand in how did you solve this please?

[2020-05-18 12:35] prescottprue commented on #885
@MeryAmun and @Gnk27 be sure that you are using ReactReduxFirebaseProvider and passing correct values. If you are still experiencing an error, please open an issue with code and steps to reproduce

[2020-05-18 12:48] Gnk27 commented on #885
@MeryAmun i work it out by enclosing <App/> in an < ReactReduxFirebaseProvider> an passing your config, in my case: rrfProps

[2020-05-18 19:41] gregfenton commented on #925
Thanks @codedpills & @prescottprue !

[2020-05-18 19:41] #925 closed

[2020-05-19 14:48] Dhanushreddy09 commented on #72
import {createStore,combineReducers,compose} from 'redux'
import firebase from 'firebase'
import 'firebase/firestore'
import {reactReduxFirebase,firebaseReducer} from 'react-redux-firebase'
import {reduxFirestore,firestoreReducer} from 'redux-firestore'
//Reducers
//@todo
const firebaseConfig={
    apiKey: "AIzaSyB-pyEKd5G3XqLokxcYsa66UsG8a_y0gMA",
    authDomain: "reactclientpanel-27246.firebasea

[2020-05-19 14:50] Dhanushreddy09 opened #937 "i am getting this object not found error for my particular following code"
import {createStore,combineReducers,compose} from 'redux'
import firebase from 'firebase'
import 'firebase/firestore'
import {reactReduxFirebase,firebaseReducer} from 'react-redux-firebase'
import {reduxFirestore,firestoreReducer} from 'redux-firestore'
//Reducers
//@todo
const firebaseConfig={
apiKey: "AIzaSyB-pyEKd5G3XqLokxcYsa66UsG8a_y0gMA",
authDomain: "reactclientpanel-27246.firebaseapp.com",

[2020-05-19 16:33] prescottprue commented on #937
`reactReduxFirebase` is no longer part of the API in v3, there is instead the `ReactReduxFirebaseProvider`. Make sure you follow the [use section of the README](https://github.com/prescottprue/react-redux-firebase#use)

[2020-05-19 16:39] carolinemcq opened #938 "The previous state received by the reducer has unexpected type of "Function". Expected argument to be an object with the following keys: "firebase", "firestore""
**Bug**

I was following the getting started javascript instructions [posted here](https://react-redux-firebase.com/docs/getting_started.html) and get the following Console error:

"The previous state received by the reducer has unexpected type of "Function". Expected argument to be an object with the following keys: "firebase", "firestore"".

**Project info:**

[code]
**Screenshot of error**
![Si

[2020-05-19 16:54] prescottprue commented on #938
Can you provide the full application code where this can be reproduced?

[2020-05-19 18:40] carolinemcq commented on #938
Sure, here's a link: https://snack.expo.io/@carriemcq/react-redux-firebase-setup

[2020-05-19 19:28] prescottprue commented on #72
@Dhanushreddy09 As noted in other issue, you appear to be using the old API

[2020-05-19 20:02] prescottprue commented on #938
I believe the issue is the extra root reducer you were passing which wasn't returning any state. I'll show a working file then I'll break down some things I found

Here is a modified version of that app file:

[code]

Things that were changed:
1. Empty reducer was removed since it was causing an error of cannot read property "action" of undefined - this seems to be the cause of the original issue

[2020-05-20 00:45] jaddoescad opened #939 "flickering when dragging firestore list"
Hi,
I'm running into a problem and I'm trying to figure out if there's a possible solution using your library. I have attached a gif below to illustrate my problem. It seems like there is a delay in updating the store. I have turned off my internet connection to test while offline, and the flickering still occurs.

I'm not sure what's causing the delay, When I hook up the table to a regular store

[2020-05-20 08:05] Dhanushreddy09 opened #940 ""cannot read property dispatch of null""
Clients.js file
import React, { Component } from 'react'
import {Link} from 'react-router-dom';
import PropTypes from 'prop-types'
import {connect} from 'react-redux'
import  {compose} from 'redux'
import {firestoreConnect} from 'react-redux-firebase'

class Clients extends Component {
    render() {
        const {clients}=this.props;
        if(clients){
            return (
                <div

[2020-05-20 11:48] gunjan768 commented on #620
Thanks man @ckifer it solved my problem

[2020-05-21 06:49] Dhanushreddy09 commented on #885
i am unable to get.Can someone help me out with this problem

store.js file

import React from 'react'
import { render } from 'react-dom'
import { Provider } from 'react-redux'
import firebase from 'firebase/app'
import 'firebase/auth'
import 'firebase/firestore' // <- needed if using firestore
// import 'firebase/functions' // <- needed if using httpsCallable
import { createStore, combineReducers

[2020-05-21 09:46] Dhanushreddy09 opened #941 "I have come across this error "cannot call a class as a function" .can someone help me out with this.Thank u in advance !:)"
This is Clients.js file

import React, { Component } from 'react'
import {Link} from 'react-router-dom';
import PropTypes from 'prop-types'
import {connect} from 'react-redux'
import {compose} from 'redux'
import {firestoreConnect, withFirestore} from 'react-redux-firebase'

class Clients extends Component {
render() {
const {clients}=this.props;
if(clients){
return (

{''}
Clients{''}

[2020-05-21 15:08] prescottprue commented on #941
`reactReduxFirebase` is no longer part of the API, you should instead use the ReactReduxFirebaseProvider [as shown in the setup in the use section of the README](https://github.com/prescottprue/react-redux-firebase#use). It appears you are using the v2 API, so you may also want to check out the [v2 -> v3 migration guide](http://react-redux-firebase.com/docs/v3-migration-guide.html)

[2020-05-21 15:08] #941 closed

[2020-05-22 19:54] kilroy05 commented on #909
Having similar issue which is probably related :
`Property 'GoogleAuthProvider' does not exist on type '() => FirebaseAuth'.`

[2020-05-23 16:30] SKempin commented on #621
I am experiencing this with `signInWithPopup` with Google as the provider. Has there been any progress?

[code]

[2020-05-23 17:47] jaddoescad opened #943 "firestore connect loading everything before applying filter"
I have the following code to load content based on a specific Id:

[code]

unfortunately, use selector loads all the data the first time. then loads the filter the second time. Not sure if this is a bug or if i'm missing something.

<img width="1352" alt="Screen Shot 2020-05-23 at 1 45 56 PM" src="https://user-images.githubusercontent.com/12466304/82737038-f2a75b80-9cfb-11ea-95fc-5aef15e1ab6c.png"

[2020-05-23 18:36] jaddoescad commented on #943
using storeas fixes my issue, but still not sure why this happens

[2020-05-24 22:46] waynebrantley commented on #580
@prescottprue Any thoughts on this feature being implemented.  Your library is really nice!

[2020-05-25 10:08] codewithrohit opened #945 "Require Cycle Warning"
Getting below warning message from yesterday :

Require cycle: node_modules\react-redux-firebase\lib\utils\index.js -> node_modules\react-redux-firebase\lib\utils\events.js -> node_modules\react-redux-firebase\lib\utils\populate.js -> node_modules\react-redux-firebase\lib\utils\index.js

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for

[2020-05-26 17:50] prescottprue commented on #909
Thanks for calling out - Right now [we are just using `() => AuthTypes.FirebaseAuth`](https://github.com/prescottprue/react-redux-firebase/blob/master/index.d.ts#L589) where AuthTypes comes from Firebase. I'll look into how they are doing the types for Auth since it should also include statics

[2020-05-26 18:48] sebitoelcheater commented on #761
Rather than disabling `serializableCheck`, shouldn't the serialization problem be solved?

[2020-05-26 19:26] anujmv opened #946 "<React.StrictMode> wrapping in index.js by latest cra can cause the AUTH_INIT run twice & also login"
**Do you want to request a *feature* or report a *bug*?**
Bug
(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

<React.StrictMode> wrapping in index.js by latest cra can cause

[2020-05-27 11:50] #938 closed

[2020-05-28 04:42] prescottprue commented on #761
@sebitoelcheater Yes - open to PRs if you get a chance, but I have been too busy recently to look back into this

[2020-05-28 21:52] #943 closed

[2020-05-30 05:03] alekseykarpenko commented on #556
+1

[2020-05-30 16:21] alekseykarpenko commented on #556
@prescottprue any plans on this?

[2020-05-31 21:04] prescottprue commented on #922
@GautierT So is this good to close with that understanding? We might also want to clarify further in the populate docs

[2020-05-31 21:06] prescottprue commented on #940
Hey, thanks for reaching out. It is a bit hard to tell what is going on from the current syntax highlighting of your example. Could you provide a full example of the issue in a full repo or a tool like codesandbox?

[2020-05-31 21:06] #937 closed

[2020-05-31 21:07] prescottprue commented on #945
Thanks for reaching out, could you provide a reproduction of this issue? Either through a repo or a tool such as codesandbox?

[2020-05-31 21:09] prescottprue commented on #912
Going to close since it seems like it was solved by the above noted PR - please reach out if that is not the case

[2020-05-31 21:09] #912 closed

[2020-05-31 21:16] prescottprue commented on #910
Thanks for reaching out - the example in that folder actually uses `watchEvent`, but it wasn't mentioned in the README. This has been corrected

[2020-05-31 21:20] #910 closed

[2020-05-31 21:20] #915 closed

[2020-05-31 21:24] #935 closed

[2020-05-31 21:35] prescottprue commented on #909
I actually appears that part of what they are doing [matches what we are doing](https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth-types/index.d.ts#L483-L485), but there is [some other types in there](https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth-types/index.d.ts#L460-L482) that we will need to match.

[2020-06-02 14:29] rgbutov opened #952 "populate() with hooks and without HOC"
How to implement populate without HOC?
I'm trying to do something like that:

const [profile, setProfile] = useState<any>(null);
useFirestoreConnect(() => [
	{
	  collection,
	  storeAs: profileStorageName,
	  populates,
	  where: ['name', '==', params.id],
	}
]);

const profiles = useSelector((state: RootState) => populate(state.firestore, profileStorageName, populates, shallowEqual));

useEffect

[2020-06-03 00:38] prescottprue commented on #952
You shouldn't be setting to component state or calling `useEffect` - the state is already managed in redux. You can just render the `profiles` data

[2020-06-03 00:58] rgbutov commented on #952
Ok, that makes sense.
But why this:
`const profiles = useSelector((state: RootState) => populate(state.firestore, profileStorageName, populates, shallowEqual));`
trigger changes every time when I call setState from useState?
Cuz useEffect just monitors state changing.

It works properly on from connect and HOC:
[code]
So I guess that can cause performance issue.

[2020-06-03 01:42] prescottprue commented on #952
I am not sure what you are using to set state - using an HOC will have the listeners reattached on mount/unmount of the component but only changes the listeners if settings change. If you are using the hook, then when your component re-renders you will be recalling the render function regardless of if listeners have changed.

It is not so much a performance issue as it is a different way to organi

[2020-06-03 02:01] rgbutov commented on #952
I see...
But if I'm using:
`const profiles = useSelector(state => state.firestore.data.profiles);`
instead of:
`const profiles = useSelector(state => populate(state.firestore, profileStorageName, populates, shallowEqual));`
It's working properly: not triggering `profiles` changes.
So the problem is from `populate` function that updating every time when I call `setState`(re-rendering).
But without

[2020-06-03 15:12] sebadom opened #953 "Using useFirebaseConnect with null"
**Do you want to request a *feature* or report a *bug*?**  BUG

The documentation says that useFirebaseConnect can be potentially used passing **null** as an argument, therefore NO sync is done.
First issue: null is not supported when using typescript, undefined is.
Second issue: using this approach makes the component to throw an error when unwatches the event

**What is the current behavior?**

[2020-06-03 15:24] harveychow commented on #630
I've struggled with this as well. I eventually fixed this by using `firestoreConnect`. Then in my <FlatList> `onEndReached` I copy the firestore state to the local state. And then append the new `firestore.get()` to the local state like so:

[code]

[2020-06-03 18:50] prescottprue commented on #952
Going to reopen and rename this so we can look deeper, thanks for the detail

[2020-06-03 23:01] lukeKonopka opened #955 "Typescript - `isLoaded` should narrow type"
**Do you want to request a *feature* or report a *bug*?** feature

**What is the current behavior?**
Using `isLoaded` helper with argument of type `T | undefined` doesn't narrow the type of the argument to `T`.

[code]

**What is the expected behavior?**
`isLoaded` function should return a type predicate so that invoking it with argument of type `T | undefined` narrows it down to `T`

[code]

[2020-06-04 01:02] rgbutov commented on #952
So:
`const profiles = useSelector(state => populate(state.firestore, profileStorageName, populates, shallowEqual));`
I found that every time when component re-rendering it get new `profiles` value from `useSelector` when `populate` is using and `useEffect` detecting that `profiles` value was changed.
So this is wrong behavioral.
Without `populate` `useSelector` is working correctly.

Thanks

[2020-06-04 11:00] olddustysocksunderthecouch opened #958 "Bug: auth.stsTokenManager.accessToken is assigned incorrectly to the value of tokenId"
**What is the current behavior?**
The value of auth.stsTokenManager.accessToken is assigned to the value of the tokenId instead of the accessToken which is return after successfully signing it.

This behavior was experienced when using Firebase Google Sign In

**What is the expected behavior?**
accessToken should have the correct value
tokenId should be added to the stsTokenManager object

[2020-06-04 20:17] prescottprue commented on #953
`useFirebaseConnect` should recieve an array argument, so you could do:

[code]

[2020-06-05 05:33] NiliusJulius commented on #914
I see the same thing happening. At the moment you cannot use user profiles and retrieve the users collection without this issue occurring.

[2020-06-05 09:52] kubwensu commented on #846
Interesting I was doing the same project and have the firebaseConnect in the Dashboard component but I got the same problem, would you be able to post your code?

[2020-06-05 10:33] daithimorton commented on #846
You need to setup the listeners in e.g. App.js, then hook your Dashboard component up to your Redux store. When the listeners mount they will update your Redux store, which will then make your data available to the Dashboard component.

[2020-06-05 11:08] sebadom commented on #953
Mmm I see... let me try that out. On the other hand I believe the documentation is wrong perhaps

![image](https://user-images.githubusercontent.com/3877952/83869850-9bde5080-a703-11ea-8f4d-9f64944776a2.png)

It says it supports array, string, object, function or null if we don't want to sync. And the example is using a string also

Let me set things up using just an array and I will come back. Th

[2020-06-05 12:18] sebadom commented on #953
I think its working fine with empty array!  It might have been me, but I was confused by the documentation
Thanks!

[2020-06-05 12:18] #953 closed

[2020-06-05 22:22] alekseykarpenko commented on #914
@prescottprue I have founded, that this bug is not related to `profiles` only, but to any situation, when you first connect the particular doc, and then query all the collection:
[code]

the second query in that case will trigger multiple `DOCUMENT_ADDED` events and rerender the Component after each update. This seems to me as very serious bug, you definitely should look on it.

[2020-06-08 01:56] jaddoescad commented on #452
having similar issues

[2020-06-08 08:11] FrancisLeigh commented on #32
@prescottprue I am running into an issue when using `geofirestore` with `react-redux-firebase`, i have raised [this ticket](https://github.com/MichaelSolati/geofirestore-js/issues/178) on `geofirestore` and Michael (the creator/maintainer) is unsure to wether having this layer to my firestore via `react-redux-firebase` could cause issues wit `geofirestore`

Have you manged to implenent `geofiresto

[2020-06-10 06:21] kanlanc commented on #761
So, should the dev tool kit be removed for the package to work properly?

[2020-06-11 19:16] MananDesai54 commented on #718
import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';
import App from './App';
import * as serviceWorker from './serviceWorker';
import { createStore,applyMiddleware,compose } from 'redux';
import { Provider } from 'react-redux';
import rootReducer from './store/reducers/rootReducer';
import thunk from 'redux-thunk';
import { getFirestore,reduxFirestore } from 'redux-f

[2020-06-11 19:22] MananDesai54 commented on #718
it worked when i restared all thing , i don't no why 😂😂😂😂

[2020-06-11 20:03] rgbutov commented on #914
I found the same wrong behavioral.
When I'm trying to get list of docs in child component if the parent doc get docs from the same collection i see multiple "@@reduxFirestore/DOCUMENT_ADDED" actions.

[2020-06-18 14:27] AWIXOR opened #965 "TypeErro: Object(...) is not a function when calling `useFirestoreConnect`"
**Do you want to request a *feature* or report a *bug*?**

### Bug

**What is the current behavior?**

I'm using `react-redux-firebase` and `redux-firestore` packages. I'm trying to connect firestore to redux using the `useFirestoreConnect` hook, but after calling this hook it gives me a TypeError like in this picture.

![image](https://user-images.githubusercontent.com/43700517/85031815-09b06080-

[2020-06-20 15:34] DavidConstantine88 opened #967 "Improve Description Of enableCLaims refreshToken"
Hi guys,
I want to suggest an enhancement to the documentation.

It seems like the description

"Note: If a claim is added to a user who is already logged in those changes will not necessarily be propagated to the client. In order to assure the change is observed, use a refreshToken property in your userProfile collection and update it's value after the custom claim has been added. Because react-r

[2020-06-23 15:51] lidaof opened #968 "possible to update 2.5.0 to remove warning of lifecycle methods?"
Hi there,

is there possible to upgrade 2.5.0 to remove the warning below? somehow v2 and v3 are very different to use...i tried to upgrade to v3 in my project but just no luck...
there is one command fix for this i guess? `npx react-codemod rename-unsafe-lifecycles`

Thank you in advance!
[code]

[2020-06-23 16:57] prescottprue commented on #967
Open to changes if you get a chance to make a PR, if not I will see when I can get to it. Thanks for reaching out!

[2020-06-23 18:37] prescottprue commented on #968
Haven't done much upkeep of the v2 versions, but it should be easy enough to do

[2020-06-25 04:04] kanlanc opened #970 "Removing a signed up user from firebase authentication"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

Couldn't find a function for removing users that are signed up from firebase authentication in the docs

**What is the expected behavior?**

Provide a function that removes a signed up user

[2020-06-25 16:11] prescottprue commented on #970
@kanlanc This is something that seems like it should be handled using the firebase-admin SDK in a node environment like cloud functions. There is not a method in [the firebaseJS SDK auth section](https://firebase.google.com/docs/reference/js/firebase.auth.Auth) for removing users, so there isn't really anything I am aware of that can be exposed for doing this.

Please let me know if I am misunders

[2020-06-25 16:14] #970 closed

[2020-06-26 23:01] zachlyoung opened #971 "feat(auth): github OAuth provider option in login"
Hello, I searched around the docs and seems like the only provider options are: `provider: "facebook | google | twitter | microsoft.com"`. It seems like there is no support for other OAuth providers like Github and I was wondering why or if that was a feature that was being looked into. The typescript declaration file also does not allow "github" as a provider

[2020-06-27 03:27] zachlyoung opened #972 "firebase.login() Promise does not"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

firebase.login() returns a Promise with the user object but does not update the Redux Store so that the auth can be immediately acted upon in the .then() statement.

*Login Method in Login Component*
[code]

*Private Route*
[code]
*Ugly Current Workaround*
firebase.login(credentials).then(() => {
  f

[2020-06-29 07:18] alexandermckay opened #973 "Examples are not working in the documentation"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
[In the documentation](https://react-redux-firebase.com/examples#examples) the examples do not work when clicked.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**
Go

[2020-06-29 08:33] cotieno1 commented on #620
Thank you very much @ckifer .  The biggest challenge is that we depreciate and update our builds almost every day but we don't do that to our online learning tools on  Youtube, Cousera , EDX  most of them are outdated. Eish!! the challenge  is trying to refactor code and learn at the same time

[2020-06-29 16:28] prescottprue commented on #972
The way that auth updates are happening currently is through `onAuthStateChanged` - because some auth functionality such as redirect required it (not sure whether or not this is the case anymore). Agreed though that it should only resolve after the state update has been made. Open to PRs if you get a chance, but thinking this might be a breaking change that needs a new major version

[2020-06-29 16:32] prescottprue commented on #973
That would be because the main page of react-redux-firebase.com is actually just the README of this repo. If you [go to that section in the README itself](https://github.com/prescottprue/react-redux-firebase#examples) then the links all should work.

Was under the impression that Gitbook was handling this, but it should for sure work in both places. Thanks for reporting

[2020-06-29 16:34] prescottprue commented on #971
@zachlyoung Should for sure be supported. Open to a PR if you get a chance, otherwise I'll try to get to it when I can

[2020-07-02 22:14] zachary-young opened #975 "bug(types): return type for firebase.updateProfile is not a promise"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Typescript shows an error when appending .then() to firebase.updateProfile()

`Property 'then' does not exist on type 'void'`

**What is the expected behavior?**

Typescript recognizes updateProfile() as promise in index.d.ts

`  updateProfile: (profile: Partial<ProfileType>, options?: Object) => voi

[2020-07-03 12:48] bawahakim opened #976 "createUser profile is using database instead of firestore, even when useFirestoreForProfile is true"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When creating a user with createUser and passing in a profile, I get the following error : `Error: You attempted to use 'firebase.database' but this module could not be found.` I have `useFirestoreForProfile: true` in my config. User is created correctly, but profile is not. All other firebase/firest

[2020-07-03 21:47] feelthepain444 commented on #976
I dug a bit in the source, and I think I found the culprit: in `actions/auth.js`, in `createUserProfile`, when it does the check in
[code]
I think the check for firebase.database actually calls the database package. It it's not installed, that's how you get the `Error: You attempted to use 'firebase.database' but this module could not be found`. I tried adding a null check `!firebase?.database` bu

[2020-07-06 10:29] Alirazakhan commented on #885
I am getting the same issue. can you help me solve this problem?

[2020-07-06 15:24] #955 closed

[2020-07-06 17:00] nk015015 commented on #635
### TypeError: onSuccess is not a function

import { firestore } from "../../firebase";

export const loadBanners = (onSuccess, onError) => {
  return (dispatch, getState) => {
    firestore
      .collection("BANNERS")
      .orderBy("index")
      .get()
      .then((querySnapshot) => {
        let bannerdata = [];
        if (!querySnapshot.empty) {
          querySnapshot.forEach((doc) => {

[2020-07-06 17:01] prescottprue commented on #885
This error most often points to an invalid store as "dispatch" is supposed to be a method on "store", so if you store is null, hence the error "cannot read property 'dispatch' of null".

Please open up a new issue with reproduction steps if you feel that your setup is valid

[2020-07-06 17:03] prescottprue commented on #940
Ping - waiting on a full repro

[2020-07-06 17:04] prescottprue commented on #955
Thanks for the PR and for closing!

[2020-07-06 17:17] prescottprue commented on #975
Thanks for reporting. Open to a PR if you get a chance

[2020-07-06 17:53] prescottprue commented on #976
Maybe we can switch it to check if `typeof firebase.database === 'undefined'`? Not sure if that will still throw the error

When trying in codesandbox to do firebase.database, I just get undefined and no error, so wondering how/where the error is thrown. I also couldn't find that wording anywhere in the firebase sdk when looking to see how they check for it

[2020-07-06 18:28] jordyvg commented on #946
StrictMode runs certain callbacks/methods twice (dev only). See [this](https://kentcdodds.com/blog/react-strict-mode#it-runs-code-twice) blogpost.

[2020-07-07 08:35] alexlouden opened #977 "Accessing firebase from redux sagas in v3 (firebase.ref is not a function)"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I've just upgraded from react-redux-firebase v2 to v3, and my root saga is throwing an error:

I was using getFirebase before (as per the v2 saga demo), but now I'm passing the firebase instance straight to the rootSaga.

I think there's a timing issue in the saga - it runs `firebase.ref` before the

[2020-07-07 15:46] Shahed7010 commented on #620
@ckifer this worked for me too. thanks :)

[2020-07-07 18:05] prescottprue commented on #452
@seanenriquez I think you are going down the right path with the isEmpty isLoaded - those are on auth/profile.

With null it should work, but could anyone that is having an issue with some specific data not loading correctly open a new issue with full code and reproduction steps?

[2020-07-07 18:18] prescottprue commented on #914
@alekseykarpenko Agreed that it is a big issue - It seems to be because of how Firebase's SDK is returning that data if it already has been loaded by the SDK in another listener.

[As seen here](https://github.com/prescottprue/redux-firestore/blob/d7a561361fecff128b35cf37712f852637a66f41/src/utils/query.js#L765) `docChanges` is being used to dispatch changes to documents if they exist and the upda

[2020-07-08 03:56] starcrest commented on #808
Seeing the same problem with node v14 in the material example. Error pasted below.

Works* when I use node@12.

Thanks!

[code]

[2020-07-08 03:57] starcrest commented on #808
*Also, separately, I  think you need redux-firestore in the package.json. Pasting the line below works for me:
[code]

[2020-07-09 16:30] prescottprue commented on #808
@starcrest Thanks for reaching out, feel free to make a PR if you get a chance

[2020-07-09 17:06] feelthepain444 commented on #976
Hm I did a bit more research and I think it turns out `"@react-native-firebase/app": "^7.3.0"` is the culprit. That firebase object seems to have a database property, that whenever is referenced tries to call the `@react-native-firebase/database `module. Since it's not installed, I get the error thrown.  I tried to simply do a `console.log(typeof firebase.database)` and I still get the error throw

[2020-07-09 17:22] prescottprue commented on #976
Yeah, it sounds like it may be a deviation between the functionality of the firebase JS SDK and react-native-firebase

There may be a change that can be made in react-redux-firebase to handle this, but yeah we should find out from them hot to test whether or not a service exists

[2020-07-09 17:58] gregfenton opened #978 "docs: image is broken (URL is 404) on React Native page"
### Bug

The [RRF docs page for React Native](http://react-redux-firebase.com/docs/integrations/react-native.html) has a link to an image that is 404 (i.e. the image is "broken").

### Repro

See the "xcode config" image just this is broken just before the title of [this section of the RN page](http://react-redux-firebase.com/docs/integrations/react-native.html#set-open-urls)

### Cause
This broke

[2020-07-09 19:19] prescottprue commented on #978
Thanks for reporting - Feel free to make a PR if you get a chance, otherwise I will get to it when I can

[2020-07-09 19:26] gregfenton commented on #978
You want me to make a copy of the image and upload, or link to the historic
version it used to point to?  I'm unsure of your philosophy on such
things.  Your project, I don't want to "pollute it" on you.

Greg Fenton
--
email: *greg.fenton@gmail.com <greg.fenton@gmail.com>*
linkedin: *http://ca.linkedin.com/in/fentongreg*
<http://ca.linkedin.com/in/fentongreg>
twitter: *@gregfenton*

On Thu, 9 Jul

[2020-07-10 17:20] Wgil commented on #562
I need to have access to the latest auth token and I thought that `stsTokenManager` had the latest token. It would be nice to dispatch an action when the token refreshes. Something like:
[code]

Is `stsTokenManager.accessToken` used for something internally?

[2020-07-11 08:34] indvinoth commented on #945
Hi @prescottprue,

The above mentioned warning is shown on the metro terminal with the latest react-native setup, if you require a repo to reproduce this issue happy to set one up.

[code]

[2020-07-13 16:12] #978 closed

[2020-07-14 08:23] alexlouden commented on #977
I ended up waiting for the ref to exist:

[code]

[2020-07-14 09:38] rajivsubra1981 commented on #914
@alekseykarpenko and others - Thanks for catching this, it does hurt first-load performance. Any workarounds?

[2020-07-14 15:19] tjvanderende opened #982 "How is the "Roles" example for react-router v4 + redux-auth-wrapper v2 supposed to be used?"
**Do you want to request a *feature* or report a *bug*?**

Feature / enhancement

**What is the current behavior?**
Its not clear where profile is coming from in the permission based example (last example from https://react-redux-firebase.com/docs/recipes/roles.html). Same example does also not check for permission, which makes it unclear how to get the permission parameters from the user profile.

[2020-07-15 04:18] jake-nz commented on #473
I see these are in the codebase now, but they don't seem to be exposed. `linkWithCredential` is [exposed on firebaseInstance](https://github.com/prescottprue/react-redux-firebase/blob/fe7a4cef10003bc62a08eb915dc53b146055cce9/src/createFirebaseInstance.js#L511) but it looks like `linkWithPopup` is not. Am I missing something? How can I use `linkWithPopup`

[2020-07-17 20:10] TMcLoone commented on #976
Did you guys get anywhere with just? Just hitting the error myself

[2020-07-17 20:40] feelthepain444 commented on #976
Well, if we try to fix the problem in react-redux-firebase, it might break the library for some people. We'd have to investigate with the React Native Firebase library.

For now, I forked the project and removed the check for `firebase.database`, so it should work for you. You can use this in your package.json. I hope it's not against the rule to post a fork like that :)

`"react-redux-firebase":

[2020-07-18 18:23] nithish1245 commented on #754
https://react-redux-firebase.com/docs/firestore

read this , may be helpful

[2020-07-19 21:53] sdwru commented on #808
This worked for me with node.js `v14.5`

[2020-07-21 14:32] cyonder commented on #857
+1 I can't find a proper documentation either. I would appreciate any help with this. At this moment I am not even sure if it is possible to implement passwordless authentication with this package.

[2020-07-22 20:20] prescottprue commented on #857
Hey folks, thanks for all of the input. Yeah not sure we ever added the support in for passwordless. Open to PRs if anyone gets a chance, otherwise, I will try to get to it soon

[2020-07-23 04:51] prescottprue commented on #562
@Wgil I don't believe it is - feel free to open a new issue to request that as a feature so we can track

[2020-07-23 17:15] Wgil opened #985 "[Feature request]: Refresh accessToken automatically"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
`stsTokenManager.accessToken` is not refreshed.

**What is the expected behavior?**
it would be nice to refresh it using [firebase.auth().onIdTokenChanged](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onidtokenchanged) as mentioned in https://github.com/prescottprue/react-redux-

[2020-07-24 08:33] DavidConstantine88 opened #987 "bug(types): handleRedirectResult does not exist on extended firebase instance"
Hi,
I'm trying to move my project to TypeScript.

and it seems like there is an issue in he way firebase extended in react-redux-firebase

[https://github.com/prescottprue/react-redux-firebase/blob/master/src/createFirebaseInstance.js](https://github.com/prescottprue/react-redux-firebase/blob/master/src/createFirebaseInstance.js
)
[code]

when I try to use in my code firebase.handleRedirectResult

[2020-07-26 01:21] #971 closed

[2020-07-26 14:56] dpoellath opened #989 "bug(populate): Populating with missing permissions"
**What is the current behavior?**
When using populate-hook without permission, it raises an unhandled error.
`"Unhandled Rejection (Error): permission_denied at /... Client doesn't have permission to access the desired data."`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or simila

[2020-07-26 15:48] dpoellath commented on #989
As far as I can tell it would be an easy fix:

`src/utils/populate.js`

[code]

since i can not run tests on windows with this project i can't submit a push-request

cheers

[2020-07-26 18:38] prescottprue commented on #989
That change would prevent an error from being thrown. Not sure of the impact, but I'm thinking we may want to have an option to preserve backwards compatibility

[2020-07-26 18:46] dpoellath commented on #989
The design does not specify errorhandling. But I think there is a error handling missing. As far as I understand this topic, populate is designed to be used as middleware and there is no other way to handle errors as inside the middleware. I mean, how can you handle the errors else then there? So as far as I can tell, it can not break things but help using permissions on database.

[2020-07-26 19:34] prescottprue commented on #989
Well - to my knowledge an unhandled error would be thrown without placing a catch there (which is where the message that you saw came from). I know it isn't traditional "error handling", but by not directly handling the error a message will be displayed to the developer in the console. Adding the catch will mean that the error is not thrown, which will mean that this message will not appear, it do

[2020-07-26 19:38] dpoellath commented on #989
AS of React V16 unhandled Promise.reject() will crash the app.
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html

[2020-07-26 19:43] dpoellath commented on #989
AS of React V16 unhandled Promise.reject() will crash the app.
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html

The suer is holing own data and can turn visibility on, to make the data visible to other users. Users can view other users and see also keys they are not allowed to query. And you're correct: I should be able to handle this by extending the query with a filter. I gue

[2020-07-26 20:13] prescottprue commented on #989
Yeah the crash or hitting an error boundary you have set is the intention so that you notice this during development - thats part of why I'm saying we shouldn't just return a value in the catch and not throw. The error is indicating that you are attempting to read data that your security rules have specified should not be allowed - as mentioned this can appear if you are attempting to use your sec

[2020-07-26 20:38] dpoellath commented on #989
In my understanding populate should enable the developer to nest distributed data. As DaaS need to be secured by rules, the data needs to be accessed by query/filter. the combination is intended way, to ensure security. I couldn't figure out how to add a filter/query to populate. perhaps i misused populate and in this case it's not intended. I'll instead use a filtered query. the reference in the

[2020-07-26 20:38] #989 closed

[2020-07-28 11:34] younes0 commented on #904
@prescottprue is the createStoreWithFirebase still needed ?
react-redux-firebase doc doesn't mention it unlike redux-firestore doc

BTW, I'm also facing issues while integrating with easy-peasy.
easy-peasy and rematch beeing very similar (and the most popular libs for easing redux usage)
https://github.com/ctrlplusb/easy-peasy/issues/524

[2020-08-06 14:00] komachi commented on #815
React context is hard to use on server as it require to render app twice. So enhancers on store makes everything much simpler and faster.

I wanted to preload data from firestore, and I don't like the idea of populating store by hand. I found that redux-firestore [still exports reduxFirestore enhancer](https://github.com/prescottprue/redux-firestore/blob/master/src/enhancer.js#L47), and it works a

[2020-08-07 06:02] bhadpr commented on #620
@ckifer this worked for me too. thanks :)

[2020-08-10 11:22] SH-Stark commented on #740
Hello! Does anyone know how to do a batch writes with react-redux-firebase please?
For example lets say have a collection A and B, I would like to update both of them but if one update fails I would like the other one to fail also.
Thank you :pray:

[2020-08-10 15:33] prescottprue commented on #740
@SH-Stark The full firebase SDK is exposed by react-redux-firebase, so you should be able to do `firebase.firestore().batch` or `firebase.firestore().runTransaction` the same way [described in the firestore docs](https://firebase.google.com/docs/firestore/manage-data/transactions)

[2020-08-11 06:49] mzu commented on #945
I am getting the same warning.

[2020-08-12 15:15] devth commented on #815
Is there not a simple way to pull stuff out of react context in `getInitialProps`?

[2020-08-13 05:33] alexandermckay commented on #114
Why was this closed? It is an important issue

[2020-08-13 05:48] alexandermckay commented on #876
@prescottprue the lack of testing examples has been an ongoing issue for over 3 years (#114). As the author of this library I think you would be best suited to writing an example detailing best practices when testing.

I greatly appreciate the work you have put into this library.

[2020-08-19 01:22] prescottprue commented on #945
Yeah a repro would be great - I haven't used react-native as much recently

[2020-08-19 01:24] prescottprue commented on #114
A new issue was opened for tracking this: https://github.com/prescottprue/react-redux-firebase/issues/876

[2020-08-19 01:37] prescottprue commented on #876
As noted [in this post](https://github.com/prescottprue/react-redux-firebase/issues/114#issuecomment-596745263) testing can be done through mocks if you would like to write component tests.

Personally I have found more integration style tests to be most helpful in a production environment and easiest to maintain - to do that approach you would write tests which actually use the Firebase emulators

[2020-08-26 12:39] dancixx opened #993 "React-dropzone Upload"
Hi guys!

I try to use react-dropzone to upload files. Uploading is working fine, but when the uploading action is done i cant see the response data on firebase.data.filesPath in redux store, only get the payload.

[code]

Is this a bug or something wrong?

[2020-08-29 22:21] shopeyin commented on #344
hi  @prescottprue, In my component, I am returning a query that meets a certain condition but the first time the components mounts, it returns all the data in the array before returning the queried data after some seconds. How can I  solve this?

My firestoreConnect function

export default compose(
  connect(mapStateToProps, mapDispatchToProps),
  firestoreConnect((props) => {
    return [

[2020-08-30 03:42] #993 closed

[2020-08-30 03:42] dancixx commented on #993
Its solved.

[2020-09-01 09:04] pcorpet opened #996 "`login` return type is broken/messy"
I think this is a bug, especially when using TypeScript, otherwise it's mostly an inconsistent state.

**What is the current behavior?**

When `firebase.login` returns a `Promise` which resolves in an object that has various types:
 * if the sign in was done using Google login for instance it returns a UserCredentials object
 * if the sign in was done by email + password it returns an object conta

[2020-09-01 09:18] emilieguth opened #997 "Namespace '"/usr/app/node_modules/@firebase/storage-types/index"' has no exported member 'UploadTaskSnapshot'"
This is a bug, reported using Typescript.

**What is the current behavior?**

[code]

**What is the expected behavior?**

We can correct the issue writing :
`metadata: StorageTypes.UploadTaskSnapshot['metadata'],`

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**

I don't know if this bug occurred in previous ver

[2020-09-01 13:16] arpitBhalla opened #998 "Multi Factor Auth"
**Do you want to request a *feature* or report a *bug*?**   feature
(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

**If the current behavior is a bug, please provide the st

[2020-09-03 09:21] solveretur opened #999 "2.5.1 - not saving user profiles when using firestore"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

The userProfile collection - `users` - is not created in the cloud

[2020-09-03 13:22] abdulghanitech commented on #838
I can confirm this issue in 3.6.0

[2020-09-03 15:40] prescottprue commented on #999
I will have to look, but I'm not sure this was a feature back in the v2 series. Is there a reason you can't be using v3*?

[2020-09-03 18:40] prescottprue commented on #838
@abdulghanitech Thanks for reaching out. Please open a new issue with a full reproduction

[2020-09-04 07:06] solveretur commented on #999
Thanks a lot. I've found out that the issue is a little bit different than I described. Basically currently I've been moving my firebase app from real time database to the cloud firestore.
Currently my react-redux-firebase config looks like that

[code]
 I moved all of the documents under this path to the same path in the cloud firestore database. So now in theory I should have the same state of d

[2020-09-04 17:29] prescottprue commented on #999
You should try using a different storeAs with your users query - the single overwrite may be from the listener for the user. Still sounds like an issue, but hopefully that unblocks you:

[code]

[2020-09-06 22:00] mrjogo opened #1000 "profileFactory userData type definition incorrect"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The `userData` argument on the `profileFactory` callback is typed as `AuthTypes.User`, however the object that gets passed to the callback is `AuthTypes.UserCredential`.

**What is the expected behavior?**

The type definition of `userData` should be `AuthTypes.UserCredential`.

**Which versions of d

[2020-09-06 23:37] mrjogo commented on #1000
Actually, playing around a little more, it seems `userData` is different types depending on the signup method. With `createUser({ email: 'xxxx@xxxx.xxx', password: 'xxxx' })` it gets `AuthType.UserCredential`, but with `login({ provider: 'google' })` it gets `AuthType.User`, or something like that.

[2020-09-07 08:38] solveretur commented on #999
unfortunately not working

[2020-09-08 11:11] dabo248 commented on #70
@orenk86 any update on this? :) I'm trying to achieve the same thing.

[2020-09-09 01:53] agiguere commented on #839
Have you found a solution? I am having a similar issue but I am using the redux toolkit, all HOC functions and hooks works fine, but passing the getFirebase & getFirestore to thunk failed, it says Firebase not defined ...

according to the doc, store enhancers are deprecated in V3 in favor of the React context API, looks like the API documentation is not up to date for Thunk in V3

thanks

[2020-09-10 09:40] alexandermckay commented on #740
[Example](https://stackoverflow.com/a/63825776/9221698)

[2020-09-10 09:49] orenk86 commented on #70
@dabo248 unfortunately no, I got caught up in more urgent things and eventually forgot about this.
Thanks for reminding me, I'll open an issue now :)

[2020-09-10 10:25] orenk86 opened #1001 "Connecting and disconnecting to a database dynamically"
Hello,
I'm raising an issue that was already discussed here some time ago:
https://github.com/prescottprue/react-redux-firebase/issues/70

In our app we have only some specific pages in which a connection to Firebase is needed, and we prefer to be connected to the database only when needed.
Also due to security requirements in our organization, we use a custom authentication system in which upon e

[2020-09-10 15:07] solveretur commented on #977
same here - had to downgrade to v2 otherwise had error that database didn't exist yet

[2020-09-11 08:23] artall64 commented on #997
Reproduced on latest version OS X

[2020-09-11 11:10] eliasnorrby commented on #839
@agiguere Haven't been working on the related project for some months. Not really up to date on whether there has been any updates to react redux firebase to solve it, but the workaround I described in a [previous comment](https://github.com/prescottprue/react-redux-firebase/issues/839#issuecomment-589374532) should still work, I guess.

Since (like you're saying) the hooks work, you can get hold

[2020-09-13 20:24] prescottprue commented on #999
I'm not sure I understand the issue - are you saying accounts are not made in Firestore on login? Is this only for users that already existed or for new users as well? Could you provide a repo where the issue can be reproduced?

[2020-09-13 20:27] prescottprue commented on #1001
Really great to know what version things work in. I'll try to reproduce, but would it be possible for you to provide an example repo so I can be sure to be handling your use case? Not sure of a change that would have caused this break, but I'll look through the git history and see if anything sticks out

[2020-09-14 15:49] solveretur commented on #999
Why is data under the userProfile path loaded incrementally and how to make it load instantaneously ?

<img width="626" alt="Zrzut ekranu 2020-09-14 o 17 47 08" src="https://user-images.githubusercontent.com/20731076/93107807-60640280-f6b2-11ea-9515-270dd2dc8078.png">

[2020-09-14 17:30] prescottprue commented on #999
It seems like you are using `isLoaded(users)` - you should be loading profile from `state.firebase.profile`

Still not sure I understand your original issue and there have been multiple question - are you able to provide an example where the issue can be reproduced?

[2020-09-14 18:05] IkennaU opened #1005 "FirebaseError: Function CollectionReference.add() requires its first argument to be of type object, but it was: a function"
Pls Help, each time i try to submit, it gives the error...
FirebaseError: Function CollectionReference.add() requires its first argument to be of type object, but it was: a function

pls help me out

import React, { useState } from "react";
import { Link } from "react-router-dom";
import { useFirestore } from "react-redux-firebase";
import { useFirestoreConnect } from "react-redux-firebase";
impor

[2020-09-14 19:49] prescottprue commented on #1005
`newClient` will be a function because of the line:
[code]

`setClients` is a function because of this line here:

[code]

Since this is an implementation question you usually get a faster and more complete response if you reach out over [Gitter](https://gitter.im/redux-firebase/Lobby)

[2020-09-14 19:49] #1005 closed

[2020-09-14 20:30] IkennaU commented on #1005
Thanks

[2020-09-15 15:16] solveretur commented on #999
The original question is not relevant. My actual issue is that after I setup the `userProfile` path as `users`
[code]
When I want to fetch all of the documents under the path `users`, the library fetches them incrementally first returning my current logged-in user, then by dispatching `DOCUMENT_ADDED` actions it adds all of the rest of the profiles. Because of that my code returns undefined becaus

[2020-09-16 14:25] ashfaqnisar commented on #972
Thanks for the w

Thanks for the workaround @zachlyoung buddy!

[2020-09-18 08:45] Jsh007 commented on #839
Cool !
However, I'm getting a duplicate Firebase App warning. Doesn't that create
security loopholes and how do I solve it?

![duplicate_fbApp](https://user-images.githubusercontent.com/22448140/93577129-4734ad80-f961-11ea-879d-bde7710fd337.png)