[2018-11-27 01:47] alexpchin commented on #571
Just for people who are curious before populate is added to `.get`:

[code]

[2018-11-27 05:52] prescottprue commented on #467
Released [v2.2.4](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.2.4) with the change that only calls `signInAndRetrieveDataWithEmailAndPassword` if `signInWithEmailAndPassword` is not defined (so it won't be called if you are using the newest Firebase SDK version).

If anyone still sees warnings or incorrect behavior after updating to `v2.2.4` reach out!

[2018-11-27 05:52] #467 closed

[2018-11-27 15:27] muscaiu opened #575 "Switch status is not being updated on db value"
Not sure why this is happening either react-redux-firebase library or material-ui, so i posted this issue on both pages.

Please check the example below ot get the full details of the issue.

[Codesandbox Demo](https://codesandbox.io/s/j3yl9wz555)

[2018-11-27 16:31] prescottprue commented on #575
When checking out the sample I am not sure I understand the issue.

The data is changing in Firebase, and it appears that you are just not waiting for it to load before rendering. It will be `undefined` before loading, then it will be the value from the database.

If you add the following to you Header.js component, then you are waiting for the data to load before setting the value:

[code]

Here

[2018-11-27 16:34] #575 closed

[2018-11-28 12:41] salmazov opened #576 "How to deploy app with react-redux-firebase as a firebase function?"
I want to deploy my app as SSR-ready via using firebase function.

But I got an error:
`i  functions: preparing functions directory for uploading...

Error: Error occurred while parsing your function triggers.

undefined`

It's very difficult to understand what I do wrong. But when I comment compose function - it works.
//   ,
//   compose(
    // applyMiddleware(
    //   thunk.withExtraArgument(

[2018-11-28 19:36] prescottprue commented on #576
It seems like you are using `window.` which I don't believe will be available when running SSR (since node doesn't have the window variable). It may be best to start with a redux SSR example and add react-redux-firebase.

[2018-11-28 20:26] Nolence opened #577 "createPersistoid: error serializing state on createUser failure"
**Do you want to request a *feature* or report a *bug*?**
A Bug

**What is the current behavior?**
I'm not trying to persist the error myself, but when the createUser function times out, the error created by the catch won't be correctly serialized and saved by redux-persist. I thought it might be related to  [this question](https://github.com/rt2zz/redux-persist/issues/644) but it looks more like

[2018-11-28 22:22] Nolence commented on #577
Nope, I think I found the right key of the reducer and I tried adding some persist config but that didn't do it.

[code]

[2018-11-28 23:12] kubalobo commented on #513
I used this workaround to achieve that functionality:
https://stackoverflow.com/a/38013551/7844300
And it's working fine ;)

[2018-11-28 23:41] prescottprue commented on #577
Hmmm super interesting. Was this every type of error with `createUser`? How were you able to cause the error that then didn't persist?

Later tonight I will try to intentionally dispatch some errors and see if I can get this to happen. Thanks for reporting!

[2018-11-29 01:30] prescottprue commented on #513
@kubalobo Good to know, it seems like that is the signing out right after as I was mentioning. I am open to supporting that, but it doesn't really make sense with `signIn: false` - it seems like the option should be something like `logOutAfterCreation: true`.

[2018-11-29 03:00] Nolence commented on #577
@prescottprue
HI Scott, I haven't tried to blacklist anything else yet, but I've found that this same error occurs for me even using the  `login` method exposed by `firebase`.

I ran into the problem by just not having any internet connection and trying to register or sign-in using the above methods on my react-native app from an android simulator. With an internet connection, both `createUser` an

[2018-11-29 07:38] kubalobo commented on #513
Not exactly. I needed to allow administrator to create account for new users, so after that nothing should happend - neither singIn or logOut.

[2018-11-29 10:59] illuminist commented on #576
So the solution is to check whenever `window` is available or not. For me, it is:
[code]

[2018-11-29 11:32] premitius opened #578 "firestoreConnect not updating when inserting new document"
**What is the current behavior?**

Inserting a new document to a Firestore subcollection does not update the Firestore data with the added document.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

Using firestoreConnect to get user data and subcollections of a user:

[

[2018-11-29 12:55] salmazov commented on #576
Thank you! I'll try it

[2018-11-30 00:22] prescottprue commented on #578
@premitius How are you connecting to state for the component (i.e. where is the `connect` in comparison to the `firestoreConnect`, and what is the connect logic)? I would be interested to replicate directly, but it may be an issue that was already fixed on a soon to be released version of `redux-firestore`.

There is `0.6.0`, but without more info I can't be positive that this issue will be addres

[2018-11-30 02:07] prescottprue commented on #513
@kubalobo Is there a reason that couldn't be done through a cloud function using the `firebase-admin` sdk? It seems like that might be the more secure way to do that (unless you write all of the correct role specific database rules). That is actually what I usually/currently do - that pattern also works nice for having the ability to pre-create accounts with specific info then when the person firs

[2018-12-01 20:04] kubalobo commented on #513
Yea it sounds like much better approach. Thanks!

[2018-12-01 21:38] prescottprue commented on #513
Glad to know it will work for you 😄

I'm going to switch this issue to capture getting rid of the `signIn` feature all together since it is pretty unclear. Also, I'm going to try to find a place in the docs for the solution mentioned above (maybe below `signIn`?).

[2018-12-01 21:43] prescottprue commented on #548
Closing since this is in `redux-firestore` and I believe it is solved in newer versions. If that is not the case, feel free to open an issue on that repo. Thanks for reporting!

[2018-12-01 21:43] #548 closed

[2018-12-04 17:32] compojoom opened #579 "Usage with 2 firebase projects"
I'm trying to move our firestore data to a different region and for this I created a new project.
I'm planning to use the old project to authenticate the users, then with custom claim authenticate them in the new project. We use firestore for profile. the authentication part works. I can also store data in the new project, but react-redux-firebase has difficulties populating with the correct fires

[2018-12-04 19:38] prescottprue commented on #579
Interesting use case. I wondering if it would respond the same if you placed `reduxFirestore` before `reactReduxFirebase`.

Current Solution Option: You can use two stores and have one app in each then use [`createFirebaseConnect`](http://react-redux-firebase.com/docs/api/connect.html?q=stores#createfirebaseconnect) or `createFirestoreConnect` and pass the key of the store (defaults to `'store'`).

[2018-12-04 20:43] raygadas opened #580 "Populating roles into profile from Firestore"
**Do you want to request a *feature* or report a *bug*?**
Bug

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
Populate feature doesn't work properly when trying to populate

[2018-12-05 00:16] GuyWithCookies commented on #578
I can confirm the bug. I used the following code to update the firestore. The local redux store wouldn't update without the highlighted manual get call.
[code]

[2018-12-05 03:29] prescottprue commented on #578
@GuyWithCookies Good to know. Have you tried out `0.6.0` or `next` at all?

[2018-12-05 08:13] prescottprue commented on #580
@raygadas Did you include `profileParamsToPopulate`? For real time database `populate` works with the `profile` by automatically attaching listeners when passed `profileParamsToPopulate` as [outline in the populate docs](http://react-redux-firebase.com/docs/recipes/populate.html#populate-profile-parameters) (since the listener is automatically managed). That said, I am not sure of whether I got th

[2018-12-05 13:42] GuyWithCookies commented on #578
Perdon, I somehow must have missed the new version. I tried it now but apparently the version change introduces an error in the application:

![image](https://user-images.githubusercontent.com/17498736/49517099-99473480-f89b-11e8-8c28-9474e03a8fe8.png)

I use the same code as above - with `0.6.0` it breaks - with `0.5.8` it works (except of the bug discussed in this issue - of course).

Is this a

[2018-12-05 13:53] raygadas commented on #580
@prescottprue I tried including it before but it gave me a warning on the console so I deleted it. I have now added it again, I keep getting the same warning and the profile isn't populated. I think I wrote/did everything properly, but maybe you can point out any mistake.

Here's what I'm doing:
**Index.js**
![image](https://user-images.githubusercontent.com/11649786/49517382-b4954e00-f861-11e8-84

[2018-12-05 19:09] optimistiks commented on #230
My investigation of this issue https://github.com/kirill-konshin/next-redux-wrapper/issues/91#issuecomment-444603647

[2018-12-05 22:30] prescottprue commented on #580
Yeah, you are doing everything right. That warning is letting you know that this feature doesn't exist yet for Firestore 😄. Good to hear there is interest in the feature though. I'll update when I have a better sense of when I can get to adding it.

[2018-12-05 22:39] prescottprue commented on #578
@GuyWithCookies It does seems like something we should open in a new issue. It appears to relate to `redux-persist` since I see `PersistGate` in the stack (although I'm not sure).

I would be interested to hear if this new error remains without `redux-persist`, but either way I would like to address both.

[2018-12-05 22:56] raygadas commented on #580
Sure, thank you. Any ideas of a how I could do it in the meantime?

[2018-12-05 23:16] prescottprue commented on #580
You can query directly for the role by passing it as a prop and creating a query (either manually or through `firestoreConnect`). Then `populate` should have what it needs to create a populated profile.

I'll try to get to an example of what I mean some time this week, but adding support for the feature should be coming soon too.

[2018-12-05 23:45] raygadas commented on #580
Sound good, I'll give it a try and will wait for your example too. Thanks for the help!

[2018-12-06 02:31] #400 closed

[2018-12-06 02:49] prescottprue commented on #250
Working on support for SSR and multiple apps [as part of v3.0.0](https://github.com/prescottprue/react-redux-firebase/wiki/v3.0.0). There is also going to be a focus on bundle sizes.

@nicolasgarnier I know this was a while back, but did you end up coming up with a solution that worked for authing single users during SSR?

[2018-12-06 03:49] markerikson opened #581 "Support React-Redux v6"
**Do you want to request a *feature* or report a *bug*?**

Bug / compatibility issue.

**What is the current behavior?**

`FirestoreConnect` currently tries to access the Redux store out of legacy context:

https://github.com/prescottprue/react-redux-firebase/blob/34b8f08e4f221ba9d04fdeeb071a26f393cfd9ff/src/firestoreConnect.js#L32

That's never been part of the React-Redux public API.  React-Redu

[2018-12-06 07:30] prescottprue commented on #579
Added this to [the proposed features of the 3.0.0 roadmap](https://github.com/prescottprue/react-redux-firebase/wiki/v3.0.0-Roadmap#proposed-features).

[2018-12-06 07:37] Fandekasp commented on #581
@prescottprue can you add a timeline estimate to the roadmap ?
react-redux v6 also breaks a lot of stuff in my project (not a good idea to write unittests with store as a props), and I'd love to organize myself as to match with the release of react-redux-firebase v3 (or redux-firebase v1).

[2018-12-06 07:39] prescottprue commented on #508
@debaosuidecl `logErrors: false` should be passed as part of your config into the store enhancer ( `reactReduxFirebase`) when creating your store:

[code]

@MoSwilam have you tried this? We may want to open a new issue with repro steps and versions

[2018-12-06 07:49] prescottprue commented on #581
I avoided that initially since it is hard to say accurately for a number of the features, especially this one since it is such a re-write. I will try to add timelines as soon as I can get a better understanding of scope though, so thanks for the suggestion.

A good way to go for now is to assume that you should build for how things are currently. I try to keep a clear/visible update path for major

[2018-12-06 13:08] nicolasgarnier commented on #250
Yes I had something that worked (partly) and that can now be improved with Service workers (so only in browsers that supports it)

The base principle is to send the ID Token of the user as part of the request to the server. And decode it on the server and sign the user into a Firebase app.

**On the Server you:**
 - Read, decode the ID token and verify it's valid So that you have the UID of the us

[2018-12-06 16:23] prescottprue commented on #250
@nicolasgarnier Awesome, thanks for the full explantation. I may end up trying to write that into the docs or an example to clarify for others.

[2018-12-07 07:07] domcodesjs commented on #581
No wonder why my code wasn't working today 😭😭😭 Thanks for the heads up!

[2018-12-08 10:09] Apps4YOU1 opened #582 "TypeError: Cannot read property 'firebase' of undefined (firebaseConnect)"
Iam running into problems when using firebaseConnnect()  to authenticate to firebase and this is code

**and this is an images showing the error**

[https://www.photobox.co.uk/my/photo/full?photo_id=501429776753](url)

**App.js**
[code]

**and this is Login.js**

[code]

**and here is my store setup**

[code]

**and this is Package.json**

[code]

[2018-12-08 23:04] prescottprue commented on #582
Are you using react-redux v6? It has a new api that is not yet supported as outlined #581.

[2018-12-09 04:14] prescottprue commented on #581
Started looking into this, and I was able to get a change working with `firebaseConnect` in the simple example. It was a pretty major change like we were thinking, and actually doesn't use `store` for the firebase instance at all:

**NOTE**: This is just a prototype I threw together, and is not an available API. Just showing how I got things working

[code]

Then it doesn't even require the store

[2018-12-10 11:52] GuyWithCookies opened #583 "TypeError: Cannot assign to read only property '0' of object '[object Array]'"
This bug elaborates on the discussion in Issue #578.

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When upgrading `react-firestore` from version `0.5.8` to `0.6.0` the Error:

`TypeError: Cannot assign to read only property '0' of object '[object Array]'`

is thrown when using the below code.

**What is the expected behavior?**
The component shou

[2018-12-12 01:21] prescottprue commented on #581
Just started the provider for firestore.

When using just Firestore, the provider setup is like so:

[code]

Having both providers can be done through the main provider like so:

[code]

Equivalent to:

[code]

Still haven't released it to npm, but now that all of the HOCs use this new pattern on my branch I am planning on getting it published into an alpha version. Don't want to speak too soon, b

[2018-12-12 20:46] optimistiks opened #585 "bug(helpers): isLoaded incorrectly returns false on non-existing data that is loaded using storeAs"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If you use `storeAs`, `isLoaded` will return false on the related data item, if that item does not exist in the actual database.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or simil

[2018-12-12 23:21] prescottprue commented on #585
`undefined` usually means that the value is not loaded yet for Real Time Database, since the value is `null` if it is loaded and does not exist. Are you sure you aren't getting query errors of some sort? Maybe related to rules?

Other than that, wondering which version of redux-firestore you are running.

[2018-12-13 11:02] salmazov opened #586 "Broken links in RN Documentation"
![image](https://user-images.githubusercontent.com/1635615/49934526-abe6ec80-fedf-11e8-9eda-29220c01cbfe.png)

[2018-12-13 22:35] prescottprue commented on #586
Yup, that whole section looks a bit old. Thanks for reporting!

[2018-12-13 22:40] prescottprue commented on #585
Interesting, thanks for the input from your debugging. Always open to a suggested code change if you get the time, otherwise I will try to look into it soon.

[2018-12-14 14:49] qalqi opened #587 "bug(actions): pushWithMeta and updateWithMeta not working with react-native-firebase"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behaviour?**
Current Behaviour is we get an error 'Cannot read property 'TIMESTAMP' of undefined on using pushWIthMeta or updateWithMeta in react-native with properly configured react-native-firebase along with react-redux-firebase.

The fix is when using react-native-firebase we have to use
const serverTime = fi

[2018-12-15 07:42] prescottprue commented on #587
@qalqi Thanks for reporting. Open to a PR if you get the time. Otherwise I will try to get to it when I have a chance.

[2018-12-15 07:43] qalqi commented on #587
I can do PR.. suggest me how should I go about detecting the react-native-firebase integration ?

[2018-12-15 07:45] qalqi commented on #587
Also, noticed push() and update() are not thenable and doesn’t return promise. Instead they return a Reference Object

[2018-12-15 09:33] prescottprue commented on #587
We could just do it by detecting if `database.ServerValue` is defined for this case (just handling the error you reported initially by falling back to your suggestion).

Do you mean `push` and `update from react-native-firebase are not thenable? The ones from react-redux-firebase and the firebase js sdk should both be thenable, so not sure why they wouldn't be. Do you have an example or want to op

[2018-12-15 09:45] qalqi commented on #587
Here is the reference to database API https://rnfirebase.io/docs/v5.x.x/database/reference/Reference

As per them
The web SDK includes a Reference & ThenableReference interface. In RNFirebase, Reference combines these into one.

Now, that react-native-firebase push is not thenable, I have noticed react-redux-firebase push also is not thenable and not returning promise instead return reference obje

[2018-12-15 10:31] prescottprue commented on #573
Released I released `v3.0.0-alpha` to the `next` tag (it can be installed with `npm i --save react-redux-firebase@next`). Also published [the v3.0.0 section of the docs](http://docs.react-redux-firebase.com/history/v3.0.0/#use) which explains how to install and includes a [migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html).

@Fandekasp do you want to

[2018-12-15 10:31] #573 closed

[2018-12-15 10:47] chethanbhat commented on #467
Hello, if you are following Brad Traversy's React Front to Back Course from Udemy and getting this warning, you should use following code
`    firebase.auth().signInWithEmailAndPassword(email, password).catch(err => notifyUser('Invalid Login Credentials', 'error'));`

Do not use below code from the original tutorial.
`    firebase.login({email,password}).catch(err => notifyUser('Invalid Login Cred

[2018-12-16 01:41] dev-tim opened #588 "Github login doesn't trigger createUserProfile"
Hello folks!
In `actions/auth.js` I think there is a bug.`createUserProfile` is not called during Github login, so as result profile is not being created.

To my understanding on login to Github  `handleRedirectResult` should trigger `createUserProfile`  but it doesn't happen because, `firebase.getRedirectResult()` resolves promise with empty data.

I had to trigger profile creation manually, usin

[2018-12-16 04:44] prescottprue commented on #573
@Fandekasp Thanks 😄 . It may still change up a bit, but wanted to get some out since so many in the community were interested.

[2018-12-16 19:11] prescottprue commented on #467
@chethanbhat Thanks for reaching out about the context for the tutorial. Something to note is that doing that will mean that one won't get the functionality listed with `login` like profile creation.

With newer versions of react-redux-firebase you shouldn't get the warning even when using `login`. If anyone is still seeing the warning we should reopen this issue.

[2018-12-17 04:09] weslenng opened #591 "withFirebase.render - TypeError: Cannot read property 'dispatch' of undefined"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Current Behaviour is we get an error "Cannot read property 'dispatch' of undefined" on using withFirebase in React Component.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.

[2018-12-17 04:12] prescottprue commented on #591
@weslenng Did you include the `ReactReduxFirebaseProvider`?

[2018-12-17 04:35] prescottprue commented on #591
@weslenng What version are you using of react-redux and react-redux-firebase? If you are using a `2.*.*` version of react-redux-firebase you need to also make sure to include the `reactReduxFirebase` store enhancer.

If you are using a `v6.*.*` version of react-redux, you will need to use a `v3.*.*` version of `react-redux-firebase` from the `next` tag/branch (as mentioned [in the installation sec

[2018-12-17 04:41] weslenng commented on #591
I lost that detail, sorry.
Thank you for your help!

[2018-12-17 04:42] #591 closed

[2018-12-17 04:51] prescottprue commented on #591
@weslenng All good! Actually glad to know it happened to another person. I am going to look into adding a warning in the current version since you are not the first to have this happen.

[2018-12-17 08:57] JCBsystem commented on #583
same for me 0.6 broke my code
going back to 0.5.8 its all good again

[2018-12-17 10:01] salmazov commented on #581
<img width="733" alt="screenshot 2018-12-17 at 13 00 15" src="https://user-images.githubusercontent.com/1635615/50079889-dbf20080-01fb-11e9-92ed-b7294087b473.png">
Please correct the docs

[2018-12-17 11:12] shafaqat309 opened #593 "React/Redux with Firebase getting compile error, Module not found: Can't resolve 'debounce'"
I am creating a React/redux app in VS Code and connecting with firebase. I have installed a package, it installed successfully but I am getting error when compiling, I tired to re install the packages and did not get any error but still getting compile error, can anybody help?

packages installed

Error I am getting

Module not found: Can't resolve 'debounce' in '[my file system location]\\[my pro

[2018-12-17 12:01] #593 closed

[2018-12-17 14:02] optimistiks commented on #585
Sorry, I don't have time to make a PR, but here is another example of the bug, but now I'm not even using "storeAs". Trying to load non-existing data, `/books/123`. In redux, `store.firestore.data.books.123` should become `null` after loading, but it is `undefined`, and `isLoaded(state.firestore.data.books.123)` is always `false. Hopefully it will help to catch that bug.

![selection_062](https://

[2018-12-17 17:53] prescottprue commented on #581
@salmazov Fixed. Thanks for reaching out. Feel free to open a new issue if anything is not working as you expect or if you find other typos in the docs.

[2018-12-17 20:36] pennjammin opened #594 "TypeError: undefined is not an object (evaluating 'this.store.firestore')"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When following the migration guide (I changed everything in the diff) and ensuring that I upgraded my react-redux-firbase package to v3.0.0-alpha, those changes lead to the following error. Both my Firebase and Firestore objects are empty when I var dump the state.

**If the current behavior is a bug,

[2018-12-17 21:16] prescottprue commented on #594
@pennjammin What are your dependency versions? Did you make sure to upgrade `react-redux` to 6 and `react` to `^16.4`? You may not be able to keep your actions the same if you were using `getFirebase` or `getFirestore`. If you post your action creator code, but it doesn't seem like that is it.

Something to note is that `getFirebase` and `getFirestore` are no longer part of the API in v3 (this may

[2018-12-17 21:19] prescottprue commented on #583
@JCBsystem Great to know, thanks for reaching out.

[2018-12-17 21:34] pennjammin commented on #594
@prescottprue Thanks so much for responding! Such a well maintained package, haha. So I did check to make sure I was indeed running v6.0.0. and `react` to `^16.4`. So after you mentioned this I think that it does indeed have something to do with passing getFirebase and getFirestore to the thunk middleware. Any suggestions on what to pass in instead? Also, cheers on the tip, I will be sure to chang

[2018-12-17 22:02] JCBsystem commented on #583
@prescottprue
for me the errors is when
i try to add data straight to the object (coming from the firestore)
for example
in one place instead of updating the object true redux i just set a flag on the object
obj.removed = true
that throwes errors in 0.6
not in 0.5.8
so maybe its not a bug :)
maybe it suppose to be like that

[2018-12-17 23:02] pennjammin commented on #594
@prescottprue Cool! Yeah I just had an arbitrary UID in there for testing, should have been clearer, my b. I still get the error but I will persist and report back. May be silly, but if I use the above method then would I just use mapDispatchToProps for whatever actions aren't handlers?? I am going to go pour back over redux and your docs haha. Still a bit new to this all and despite having it wor

[2018-12-17 23:06] GuyWithCookies commented on #583
@JCBsystem Thanks for pointing it out!
Indeed for me was the same problem.
I mutated the `conversations` object with the sorting function in the GiftedChat Component.

Removing this (actually just clone the array and sorting this instead) solved the issue.

@prescottprue I assume this is intended behavior but maybe a slightly clearer ErrorMessage could help next users to prevent this?

Thanks - an

[2018-12-17 23:06] #583 closed

[2018-12-18 02:40] prescottprue commented on #594
Upon further investigation it seems like there was still some code using the old context pattern in `firestoreConnect`, so I released a fix in [v3.0.0-alpha.3](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.3). Going to try to get unit tests back in place for the v3 features to catch stuff like this sooner.

Let me know if things don't work as expected now and we ca

[2018-12-18 02:40] #594 closed

[2018-12-18 02:52] prescottprue commented on #505
Closing since no repro provided.

[2018-12-18 02:52] #505 closed

[2018-12-18 02:52] prescottprue commented on #586
Fixed! Thanks for reporting

[2018-12-18 02:52] #586 closed

[2018-12-18 08:24] shafaqat309 opened #596 "React read from firebase, error"
I am trying to get data from firebase collection but getting this error, can anybody help?
I am getting this error

import React, { Component } from 'react'
import Notifications from './Notifications';
import ProjectList from '../projects/ProjectList';
import {connect} from 'react-redux';
import {firestoreConnect} from 'react-redux-firebase';
import {compose} from 'redux';
import { firebaseConnect

[2018-12-18 13:58] salmazov commented on #581
@prescottprue Okey! Thanks!

[2018-12-18 16:09] prescottprue commented on #596
As noted in the error you need to be using `react-redux-firebase` version 3, and it appears you have v2.2.5 installed. Try installing from the next tag: `react-redux-firebase@next`.

[2018-12-18 16:11] #596 closed

[2018-12-25 09:58] michaelspeed commented on #564
thanks going to try this now

[2018-12-25 10:43] michaelspeed commented on #564
no exported member 'ReactReduxFirebaseProvider'
with type script? index.d.ts not updated?

[2018-12-26 09:11] mynksrv commented on #563
@HamzaMehmood786  how did you solve it?

[2018-12-26 18:19] prescottprue commented on #563
@mynksrv Make sure you are importing `'firebase/auth'`

[2018-12-26 18:49] mynksrv commented on #563
wow! that works.
thanks. @prescottprue

[2018-12-26 19:21] prescottprue commented on #564
@michaelspeed Yeah, the context's themselves were exported, so you can do `ReactReduxFirebaseContext.Provider`, but I also am planning on a releasing a change with the providers exported. Thanks for reaching out.

[2018-12-27 10:10] Louis-Chen opened #598 "version: v3.0.0-alpha.3 Object(...) is not a function"
this is my configureStore.js
https://gist.github.com/Louis-Chen/b62ca309f263b6e3a73896dbac089354

and throw error

![https://i.imgur.com/PKmsDEW.png](https://i.imgur.com/PKmsDEW.png)

[2018-12-27 10:19] Max-Zviagintsev commented on #598
Having the same issue

[2018-12-28 09:13] Louis-Chen commented on #598
thanks i fixed it

[2018-12-28 09:13] #598 closed

[2018-12-28 11:13] sungmin-kim-0129 opened #599 "feat(auth): role(admin, user) is overwritten whenever signed-in with google"
**What is the current behavior?**
I tried to sign in with Google and set the role as admin with `profileFactory` but the role is changed to user when I change `role: "admin"` to `role: "user"` in profileFactory

- the head in index.js
**index.js**
![image](https://user-images.githubusercontent.com/37981164/50513707-79a0c780-0a67-11e9-97d8-2bbb8e23e6b8.png)

1. set up the role as an admin
**index.j

[2018-12-29 05:47] prescottprue commented on #599
1. Setting `updateProfileOnLogin` to `false` should prevent the profile from being overwritten
1. You may not want to be writing role from your client, but instead from a cloud function. This way your rules can prevent that node from being written by clients (good move to prevent a client from changing their own role in attempt to become an admin).
1. Unrelated, but you shouldn't need `attachAuthI

[2018-12-29 11:36] dirathea opened #600 "Save to firestore after upload photos is not working?"
**What is the current behavior?**
I'm using react-redux-firebase@next with firestore, and tried to use firebase.uploadFiles. The file is uploaded but the record is not saved on firebase even the configuration is already set up :

config
[code]

implementation
[code]

**What is the expected behavior?**

The file uploaded and record is added

Thanks.

[2018-12-29 19:17] sungmin-kim-0129 commented on #599
**Gosh!** Thanks, Scott!  The role is no longer overwritten(not overridden:) ). I really appreciate it!
And Thank you for the additional information about `attachAuthIsReady`! Happy New Year

[2018-12-29 20:38] gotdibbs commented on #388
I'm having the same issue with on `v3`. It appear as though `authActions.init` never gets invoked so there is no listener setup for successful logins. I'm not sure where the functionality from `enhancer.js` is intended to map to in the new version, but that operation and `createAuthIsReady` seem to be missing currently.

[2018-12-30 05:09] dirathea commented on #600
Ah turns out, the config must include `firebase.database` [in this line](https://github.com/prescottprue/react-redux-firebase/blob/next/src/actions/storage.js#L67) even I only use firestore and state `useFirestoreForStorageMeta` on config.

Am I doing it wrong or it should be configure without firebase database if the user only use firestore?

[2018-12-31 15:54] yorickreum opened #602 "this.props.firebase.auth.GoogleAuthProvider is undefined"
report a *bug*

**What is the current behavior?**
trying to follow the Google Auth example https://github.com/prescottprue/react-redux-firebase/blob/master/examples/complete/react-native/src/Home.js#L2 with current version 3.0.0-alpha.3 (using <ReactReduxFirebaseProvider>), I can't find any auth providers in this.props.firebase.auth.

[2018-12-31 16:32] yorickreum commented on #602
I guess the actually issue is at react-native-firebase https://github.com/invertase/react-native-firebase/issues/1801

[2018-12-31 16:46] #602 closed

[2019-01-01 22:59] prescottprue commented on #388
@gotdibbs Thanks for reporting - I'm going to look into calling that as part of the provider for v3

[2019-01-01 23:48] prescottprue commented on #599
@sungmin-kim-0129 Glad to hear!

[2019-01-01 23:48] #599 closed

[2019-01-02 00:11] prescottprue commented on #600
Fixed in both v2.2.6 and v3.0.0-alpha.4. Thanks for the PR

[2019-01-02 00:11] #600 closed

[2019-01-02 00:14] prescottprue commented on #388
@gotdibbs v3.0.0-alpha.4 now includes auth initialization in the Providers, but I don't believe that addresses this issue, so going to leave it open.

[2019-01-02 00:15] prescottprue commented on #564
@cvanem I made some changes and published v3.0.0-alpha.4. Can you give it a shot now and see if it works as expected?

[2019-01-02 00:46] cvanem commented on #564
@prescottprue Thanks, fixed the typescript error.  Firebase is showing up in the redux store, but firebase.auth.isLoaded always equals false and I can't get authIsReady to fire.  It may be something configured incorrectly on my end.

This is how my reducer is configured, which I believe is correct:

    firebase.initializeApp(firebaseConfig);
    firebase.auth();
...

    function buildRootReducer

[2019-01-02 00:57] cvanem commented on #564
@prescottprue It looks like I needed to add the initializeAuth property.  This worked:

    const rrfProps = {
      firebase,
      config: rrfConfig,
      dispatch: store.dispatch,
      initializeAuth: true,
    };

[2019-01-02 02:36] prescottprue commented on #564
@cvanem You shouldn't have to pass the initializeAuth prop yourself - seems like it was a misspelling in the default prop, so I am going to release a fix for that.

As for getting from context - Yes, `withFirebase` and `firebaseConnect` are both still good ways to get the wrapped Firebase instance. It is also available as a render prop if you use `ReactReduxFirebaseContext.Consumer` like so:

[cod

[2019-01-02 03:36] cvanem commented on #564
@prescottprue Ok, good to know.  I tested v3.0.0 alpha.5 and everything is working as expected (without manually setting initializeAuth).  Thanks.

[2019-01-04 09:14] Louis-Chen opened #605 "Ver.3.0 Maybe need to add import firebase key points"
my project firebase version is 5.7.2

when  i import firebase in configureStore.js  reference from example

[code]
firebase is not working

but i find another way to import firebase like this

[code]

firebase are working fine

so i think maybe need to add import firebase keypoint in ver.3.0

my ref :

https://stackoverflow.com/questions/51470126/import-as-firebase-from-firebase-no-longer-working-

[2019-01-04 10:37] dirathea commented on #379
Just playing around with https://github.com/firebase/firebaseui-web-react several days ago, and got the same issues, and I think this might solve the issue.

1. I think we need to export `handleRedirectResult`, since the authData is similar to what firebase-ui callbacks returned.
2. Stop redirect and call `handleRedirectResult` with the respond from callbacks.

with this one, The issue should be s

[2019-01-04 16:42] prescottprue commented on #379
@dirathea Thanks for posting, it should be easy enough to add this to the docs.

[2019-01-04 18:20] cgestes opened #606 "bug(HOCs): withFirestore doesn't provide firebase anymore"
**Do you want to request a *feature* or report a *bug*?**
not sure if this is a feature or a request!

withFirestore only set firestore on branch 'next'. It used to set dispatch and firebase also.

The obvious fix is to use withFirebase to get firebase.

I guess, we could either document it in the migration guide or fix it :)

[2019-01-04 23:24] yorickreum opened #607 "question(integrations): how to get firebase instance in v3.*.* since getFirebase() is deprecated"
Since the change to the React context providers (more precisely: https://github.com/prescottprue/react-redux-firebase/pull/566) the getFirebase() is not available anymore. But how do we access our firebase instance from Redux store now, for example from inside of an action creator?

[2019-01-06 20:15] prescottprue commented on #607
@yorickreum I have been sticking to passing the instance from `props.firebase`. The current plan is to go expose a middleware and actionCreators so that you can just dispatch the action creators directly with your data. Since it isn't finished yet, I haven't written docs about it yet, but we can discuss more on Gitter. Interested to hear your thoughts!

[2019-01-06 20:37] yorickreum commented on #607
Sounds good!

Exposing a middleware for thunk would be the same approach as getFirebase() was?

In my particular case I wanted to sign up and send a verification mail directly afterwards. Because I didn't see an actionCreator for sending a verification mail I started to write an own actionCreator, but saw no possibility to access our getFirebase instance... Passing it from the props could be a wor

[2019-01-06 23:37] prescottprue commented on #607
The goal for the middleware is for it to be even more simple that `getFirebase` and expose sync action creators for everything instead of wrapped async methods.

All of that aside, `auth` is exposed so you can call all of the methods directly. The methods that are exposed are wrapped in dispatch since most of them update state, since you don't necessarily need a state update, you can just do a han

[2019-01-07 00:21] rscotten opened #610 "feat(typings): general upgrade of typescript definitions/typings"
Hello,

Big fan of this library so far.  Great job!

As a Typescript user, I'd like to help out on the Typescript definition file.  I've forked the repo and have been upgrading the types on the 3.0.0-alpha.5 branch.  I'll make a pull request when ready.

Just to make sure I'm not duplicating anyone's work,

is anybody else was working on this?

[2019-01-07 00:47] #605 closed

[2019-01-07 13:16] idesignpixels commented on #494
I still get this problem in 2.2.6, In my case i want the user profile (/users[uid]) to be read only by user, could this be causing it?

[2019-01-07 18:16] prescottprue commented on #494
@idesignpixels Yes it could be based on how you are logging in. Do you have `updateProfileOnLogin` set to false? Otherwise when trying to login you will be attempting to update the profile. If thats not it, then feel free to open a new issue with your exact use case

[2019-01-08 01:07] rscotten opened #611 "bug(firestoreConnect): Warning: Failed prop type when using connect(..., mapDispatchToProps)"
The following console warning appears when calling `firestoreConnect()` with `react-redux`'s `connect(..., mapDispatchToProps)`, but everything still works as expected.

[code]

Seems like a rogue propType issue.

The code is here:

[code]

Interestingly, there's no warning if and only if `firestoreConnect` is called before `connect` AND `mapDispatchToProps` is `null`.  But the warning appears if

[2019-01-08 01:19] prescottprue commented on #611
It is totally a rouge propType issue. This was also reported [in the redux-firestore repo](), so there is already a [change in for PR to fix the issue](https://github.com/prescottprue/react-redux-firebase/pull/609).

[2019-01-08 01:37] rscotten commented on #611
Just tried out the `v3.0.0-alpha.6` and confirmed no more warning.  Thanks and great work!

[2019-01-08 01:38] #611 closed

[2019-01-08 02:41] Frank-The-Tank opened #612 "View Not Updating Without Hard Refresh"
Hey, I am having an issue where my view is not being auto updated when I update a value in a textfield. Meaning if I update the value in the textfield, for the new field to be shown, I have to do a hard refresh. I am not sure exactly why this is happening but it may have to do with how I am passing my data down to my child components. I am sending a large hash (which can be very variable in size)

[2019-01-08 02:43] Frank-The-Tank commented on #612
So when iterating over the data prop things do not update automatically, but when I reference a prop that references a value directly like say "unallocatedBudget" then things work as intended.

[2019-01-08 04:38] prescottprue commented on #612
How does your state connection logic look? You should try passing down just ids and connect to item data at the lowest level possible.

[2019-01-08 04:39] prescottprue commented on #611
@rscotten Glad to know. Just released it to the `next` tag.

[2019-01-08 04:42] prescottprue commented on #610
Reach out with any updates (even small ones). We can get changes out to the `next` tag/branch pretty quickly, and I am sure that there are others using typescript that would enjoy the changes.

[2019-01-08 04:44] prescottprue commented on #588
@dev-tim Thanks for reporting

[2019-01-08 09:21] idesignpixels commented on #494
I still get it on logout with the following config.
[code]

[2019-01-08 15:59] Frank-The-Tank commented on #612
What do you mean pass just ids? Right now I have a data hash that I pass down from the parent component that has two sub arrays of hashes.

[2019-01-08 21:17] prescottprue commented on #494
@idesignpixels Wondering if that is due to it being with firestore. Would you mind opening a new issue with all of your info so we can track solving it on there (this issue was for RTDB).

[2019-01-08 21:20] prescottprue commented on #612
I can explain more, but not even sure that is really your issue. It will be easiest to understand/debug if you can provide how you connect to state and query this data or better yet a full running repro of the issue.

[2019-01-10 03:15] Frank-The-Tank commented on #612
Thanks for the help, here is how I am connecting all the data and querying it:

I have a budget dashboard component that queries all of the firestore data and then sends the hash grabbed to a budget list component which then sends this data to a budget list content component which uses the data to display.

**BudgetDashboard.jsx**
[code]

**BudgetList.jsx**
[code]

**BudgetListContent**
[code]

So

[2019-01-10 09:02] jancama2 opened #614 "docs(perf): document the correct way reference to state.firestore when creating selectors"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
For some reason i dont understand the reference to `state.firestore` is changed with every action.
When using default memoization used by reselect's `createSelector`, the data is never memoized (the default memoization uses reference equality). This issue causes too many unnecessary updates of any reac

[2019-01-10 18:44] prescottprue commented on #614
Thanks for reporting! Performance has been a big focus for the `v1.0.0` redux-firestore buildout that is currently going on (installable from the `alpha` tag). What version are you currently running?

[2019-01-10 18:47] prescottprue commented on #606
@cgestes Great to know - I'll look into the fix

[2019-01-11 08:03] jancama2 commented on #614
I'm using `react-redux-firebase@2.2.4` and `redux-firestore@0.6.0`, i've just realized i've put the issues into the wrong project, but to be honest i had quite similar problems with the `state.firebase` object and fixed it the same way :)

[2019-01-14 16:17] maria-le commented on #612
I am also having a similar issue.

[2019-01-15 05:09] prescottprue commented on #612
Having the example in a codesandbox may help to prove any solutions, but a few things I would try after looking at the code a bit

* giving `storeAs` may be helpful since your are loading a sub-collection (instead of loading the whole collection first) - there are some known issue with sub-collections
* Try `v1.0.0-*` pre-release versions available on `alpha` tag (beware that the API is a bit diff

[2019-01-15 05:27] #543 closed

[2019-01-16 03:19] Frank-The-Tank commented on #612
Your third point worked, I started pulling my data using data instead of ordered. Thanks a lot!

[2019-01-16 03:19] #612 closed

[2019-01-18 09:58] Manouli opened #616 "Does where respect the array_contains inside firebaseConnect?"
Hello please accept my apologies for posting here. I tried the chat first but nobody came back to me.

I am trying to get a field inside firestore which is an array of numbers. [1, 2, 3].

When I do the following the data that are being returned are all the data and not the data containing only the number passed as the 3rd argument.

When I do a traditional onSnapshot I am getting the desired data

[2019-01-18 10:38] Louis-Chen opened #617 "question(integrations): support for redux-observable in v.3?"
i found in ver.3

`getFirebase` is deprecated

i want to ask how the way to use firebase in redux-obserable?

[2019-01-18 14:33] Manouli commented on #616
I will close this issue as I am being dumb! its `array-contains` and not `array_contains`

[2019-01-18 14:33] #616 closed

[2019-01-21 09:16] dejanstrancar commented on #508
I made it working without that error, with updating Firebase database rules section to:
[code]

[2019-01-21 20:47] nahuelhds opened #618 "bug(query): SET event fired after UNSET_LISTENER"
**Do you want to request a *feature* or report a *bug*?**

This is a bug.

**What is the current behavior?**

I have a component that uses `firebaseConnect` and does the following:

[code]

Basically, `TripViewContainer` is mounted every time I have a new trip accepted by a driver. When that happens I receive the trip firebase ref in `props.currentTrip.tripRefPath` which is something like "new_tri

[2019-01-21 21:13] nahuelhds commented on #618
Temporarilly, I'm manually executing the `off` native method like so:

[code]

[2019-01-25 21:20] idanlo commented on #607
any update on this? I want to still have access to firebase instance but use `firestoreConnect` which I cannot because I use react-redux v6

[2019-01-26 06:18] 411c0d3d commented on #508
calling `Firebase.logout() ` after `firebase.auth().signOut() `  fixed the problem for me :

[2019-01-26 14:51] asadnawaz126 commented on #563
@HamzaMehmood786 @prescottprue I'm getting this exact error, but it won't go away with what you guys have suggested

[2019-01-27 11:31] oloflindh opened #619 "feat(query): support FieldPath within query config"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to use FieldPath in a query's where parameters, I get TypeError: where.map is not a function.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**
I'm trying to run a

[2019-01-27 13:51] sambokai commented on #610
Commenting to voice my support for this move.

@rscotten Are you currently working on it?

[2019-01-27 18:34] rscotten commented on #610
@sambokai yes, I have updated some types for the functions I'm using, but it's by no means complete.

You can see my current draft here: https://github.com/rscotten/react-redux-firebase/blob/v3.0.0-alpha.6-upgrade-ts-definitions/index.d.ts

[2019-01-27 21:38] rscotten commented on #610
Just got motivated to work on this right now.

@prescottprue Any reason why this package has a package.json devDependency of `"firebase": "4.12.0",` instead of `5.8.1`?

[2019-01-28 00:03] rscotten commented on #610
@sambokai made some more progress on this.  It's still not complete, but if you're in a pinch, you can replace your `index.d.ts` file with mine and it might help out some.

[2019-01-28 06:43] ZwelLHAg commented on #563
@prescottprue Thank . Really work with import auth from '@firebase/auth'

[2019-01-28 21:51] jalvarson opened #620 "Error: Firebase instance does not yet exist. Check your compose function."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When following the migration guide (I changed everything in the diff) and ensuring that I upgraded my react-redux-firbase package to v3.0.0-alpha, those changes lead to the following error:
`Error: Firebase instance does not yet exist. Check your compose function.`

<img width="656" alt="skarmavbild 20

[2019-01-28 23:29] sambokai opened #621 "bug(profile): provider login not creating user profile"
### Bug

**What is the current behavior?**

Logging in using `this.props.firebase.login({provider: 'google', type: 'redirect'});` does not create a user profile in firestore. Using E-Mail & Password with the same config and environment does create user profiles.

**My Config:**
[code]

[code]

Firestore Security Rules :
Set to 'Allow All' for debugging purposes
[code]
**What is the expected behavi

[2019-01-28 23:40] sambokai commented on #610
Will try it and report back if i notice anything

[2019-01-29 10:00] jalvarson commented on #620
I tried your solution by adding `reduxFirestore(fbConfig)`

But then i got an other error instead: `TypeError: firestore.collection is not a function`

I dont know if I'm doing it totally wrong. I cant make it possible to use firestore bindings in my action creators.

[2019-01-31 18:17] jalvarson opened #622 "bug(reducer): firestore.ordered dosen't update correctly after adding document in sub-collection"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Im trying to add documents that's in a sub-collection. Like this:

[code]

**And this is how I get the data with firestoreConnect:**
[code]

_The doc's are added properly in the Firebase Console_ _But my firestore state is not updating correctly_. All the document id's gets undefined EXCEPT the first o

[2019-02-01 19:08] lucasharada opened #623 "Facebook login removing email field from Firebase"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

I have a use case where I request a valid email if the user doesn't allow my application to get it from Facebook during Facebook login. After that, I'm getting the user email and updating the user profile on Firebase. If the user do logout and login with Facebook again, the email field is nullified.

[2019-02-01 21:33] idanlo opened #624 "feat(core): decrease bundle size"
![image](https://user-images.githubusercontent.com/28350511/52150813-c6387d80-2679-11e9-823c-e21d0ecdbc3f.png)

[2019-02-01 21:57] prescottprue commented on #624
@idanlo What is your build setup (i.e. webpack, rollup?) Also what version or whichever tool? It seems like this screenshot is showing how big the bundle itself is (guessing the UMD bundle?), but if you are using a new version of webpack, you should be loading the Commonjs build and have treeshaking take care of removing any code you aren't using.

[2019-02-01 22:02] prescottprue commented on #623
If you provide `updateProfileOnLogin: false` then the user's profile will not be updated when logging in if it already exists. That said, update should not be removing anything, so I would be interested to try to replicate to see if an invalid value is passed for email or something.

[2019-02-01 22:38] idanlo commented on #624
using create-react-app

[2019-02-02 01:42] prescottprue commented on #624
@idanlo create-react-app uses react-scripts to contain all of the build settings. Which version of react-scripts are you running? Also which tool are you using to check bundle size?

[2019-02-02 01:43] prescottprue commented on #620
@jalvarson Glad to hear you found a solution. You will also most likely want to update to the newest redux-firestore available on the `alpha` tag.

[2019-02-02 01:44] prescottprue commented on #563
@ZwelLHAg Things have changed since when I made that response. You are correct that it is now `@firebase/auth`

[2019-02-02 01:47] prescottprue commented on #621
Thanks for reporting! I'll look into trying to replicate. Not sure it would impact anything, but you may want to try using the new version of `redux-firestore` available from the `alpha` tag (it was made to work with the new react-redux-firebase).

[2019-02-02 01:49] prescottprue commented on #610
@rscotten The old dev dependency is just from how long ago I set it, I'm sure it won't break anything.

Even if it isn't finished I am open to trying out some of the changes because I agree with @sambokai that the typings for `firebaseConnect` would be super useful

[2019-02-02 01:52] prescottprue commented on #619
Yeah, never really tried using a FieldPath as part of the query. When doing this I usually just grab the value of the path like:

[code]

That said, we should definitely support FieldValue in queries.

[2019-02-02 10:16] jalvarson commented on #622
If you looked at my code I am using both `storeAs` and have the latest `redux-firestore` trough the alpha tag, @prescottprue. Im also storing the subcollection outside of the document. This is why I wrote this issue.. because I have already gone trough the documentations and other issues people had.

[2019-02-02 20:03] prescottprue commented on #622
@jalvarson The newest version of redux-firestore has a different api [as noted in the v1.0.0 roadmap](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap), but your case should work since as you noted you provided `storeAs`.

It is really interesting that there aren't ids accept on the newest one, thanks for reporting!

[2019-02-03 10:21] omrihaim commented on #368
Hey @proscottprue, I still encounter this issue :/

[2019-02-03 11:07] prescottprue commented on #368
@omrihaim could you possibly open up a new that lists the versions you are using to bump it to the top? It can also point to this issue for reference.

[2019-02-03 21:32] jalvarson commented on #622
I cant get my head around it @prescottprue. Feel's like I have tried every possible solution.. :(  Working with sub-collections they way it says in the documentation. But deleting/adding/update document's to a collection works great tough.

I also think i have posted this wrong. Should have placed it in redux-firestore ?

[2019-02-04 13:53] lucasharada commented on #623
Thanks, @prescottprue! This will solve my problem for now. I can't provide a way to replicate the exact behaviour I described in my app, but I mapped the issue to be exactly what I mentioned: when logging in with Facebook and access to email is not provided, the user profile will be updated to set email to null on every sign in.

[2019-02-04 13:53] #623 closed

[2019-02-04 18:02] jalvarson commented on #622
@prescottprue I can confirm that this problem was made by the newer version of redux-firestore trough the alpha tag. I downgraded the version to 0.6.3 and now everything works. The problem with all the documents id's in a subcollection being undefined, is now working?

How can that be?! :O

[2019-02-05 00:44] prescottprue commented on #622
@jalvarson Very weird, no idea! 😆  Either way, thanks for updating

[2019-02-05 15:19] idanlo commented on #610
@prescottprue  I'm working on some types, will open a PR to the `next` branch soon.

[2019-02-05 18:24] rscotten commented on #610
@prescottprue @idanlo I submitted my PR: https://github.com/prescottprue/react-redux-firebase/pull/627

[2019-02-08 06:13] prescottprue commented on #624
@idanlo I am thinking that changing the top level export structure may be one way to combat this, definitely large.

Also having folks import like `import firebaseReducer from 'react-redux-firebase/firebaseReducer'` would help, but not sure everything is setup to do that correctly for all the versions.

Open to any changes you have in mind regardless of how drastic. Thanks for reaching out!

[2019-02-08 06:16] #606 closed

[2019-02-08 06:22] #576 closed

[2019-02-08 08:32] SenikFarsyan opened #630 "react-redux-firebase"
Hi everyone. I use firebaseConnect(['Posts]), but i want to imlement lasy loading or infinite scroll, to load posts not all at once just part by part. Can somebody help me to figure out?

[2019-02-08 18:23] prescottprue commented on #630
You may want to try using `limitTo` on your query to control the group size, then add something like [react-waypoint](https://github.com/brigade/react-waypoint) and use it to trigger [manual queries](http://react-redux-firebase.com/docs/queries.html#manual).

[2019-02-08 18:30] prescottprue commented on #617
Haven't looked a best approach for this yet specifically, but it seems like `createFirebaseInstance` should be exposed so that a singleton could be made then passed around.

Open to ideas if anyone wants to give an example a go. Going to add this to `v3.0.0` todo, thanks for reaching out.

[2019-02-08 18:34] prescottprue commented on #618
@nahuelhds Wondering if the fact that the `connect` is before the Firebase connect is impacting it since props are used in the query? Either way, I will try to repro, thanks for reporting.

[2019-02-08 18:39] prescottprue commented on #513
Planning to have this be one of the "potentially breaking changes" in `v3.0.0`, should go to pre-release soon. Open to PRs to `next` if anyone gets a chance, otherwise I will try to get to it soon. Thanks to everyone for the input and patience.

[2019-02-08 18:47] prescottprue commented on #473
@barbsicle Always open to the PR if you get a chance, otherwise I will try to get to it when possible.

[2019-02-08 19:10] prescottprue commented on #577
I thought I saw this at some point as well when using redux-persist, but didn't get it to happen again when going back to repro. Does anyone have a full example to repro the issue? The original message points to a non existing version of react-redux-firebase, so kinda confused.

Going to close for now, but down to reopen if it can be reproduced.

[2019-02-08 19:10] #577 closed

[2019-02-08 19:19] prescottprue commented on #607
@idanlo The version of `react-redux-firebase` available on the `next` branch has support for react-redux v6 [as mentioned in the installation section of the README](https://github.com/prescottprue/react-redux-firebase#installation). That said, I think there is still an open question of the best way to access the instance within separate actions/middlewares/flows such as thunks/sagas or redux-obser

[2019-02-08 19:20] prescottprue commented on #617
Closing since I believe it is a similar question to #607

[2019-02-08 19:20] #617 closed

[2019-02-08 19:24] nahuelhds commented on #618
I didn't figure out how to get the props from my other stores if I set `firebaseConnect` **before** `connect`.

Having `connect` first, let me access to the props retrieved from the other stores.

Maybe that can be done in other way I really don't know. If you could guide, that'd be nice.

Thanks in advance!

[2019-02-08 19:28] prescottprue commented on #529
Going to close since this has been inactive for a while. `v2.*.*` has also been out for a while.

If anyone is still seeing this, feel free to reference this in a new issue.

[2019-02-08 19:28] #529 closed

[2019-02-08 19:29] #531 closed

[2019-02-08 19:37] prescottprue commented on #622
I believe this is similar to [121 of redux-firestore](https://github.com/prescottprue/redux-firestore/issues/121) even though the symptoms are slightly different. Going to close this issue and make updates on there. Thanks for reporting.

[2019-02-08 19:37] #622 closed

[2019-02-08 19:39] prescottprue commented on #578
Though these symptoms include redux-persist, I believe it is a similar issue to [121 of redux-firestore](https://github.com/prescottprue/redux-firestore/issues/121). Since it is a redux-firestore issue, going to move communication about it to that issue. Thanks for reporting.

[2019-02-08 19:39] #578 closed

[2019-02-08 19:47] prescottprue commented on #618
@nahuelhds You can use `connect` before `firebaseConnect` to get props to be used in a query. It is just usually suggested to use `connect` later down in the component try to actually get the Firebase data out of state. This is common because listeners are often attached a higher level (usually at the page/route level) since they are attached/detached on mount/unmount and `connect` is used at the

[2019-02-08 20:07] nahuelhds commented on #618
So I've been fooled by my own thinking.

For being able to access props in my state I needed, I thought that I needed to fill the props before trying to access them in the firebaseConnect.

Such a lineal thinking from me haha.

I'll give it a try by writing `firebaseConnect` **after** and see how it works.

Thanks for you feedback.

No need to say that this project rocks, but I'll say it anyway xD

[2019-02-08 20:15] sanbeaman commented on #581
It took me a little while to figure out how to use  firestore profile instead of RTDB, you mentioned how to do it in the Readme for v3 but not the migration guide:
react-redux-firebase config
[code]

[2019-02-08 20:44] prescottprue commented on #581
@sanbeaman Thanks for mentioning, I'll be sure to add it in there.

[2019-02-09 17:39] eleventhaus commented on #582
I'm having a similar issue where withFirebase provides `firebase` but firebaseConnect() doesn't.

Using the Auth Recipe, I wired up my component:
[code]

but keep getting this error:
![screen shot 2019-02-09 at 9 29 15 am](https://user-images.githubusercontent.com/34343079/52524085-e6ee6d80-2c4d-11e9-8d5d-8883b60ccebd.png)

Thought it was something to do with my store:
[code]

but withFirebase usi

[2019-02-09 18:55] sbtgE opened #631 "attachAuthIsReady doesn't work"
In version 3.0.0 it seems that

`reactReduxFirebase(firebaseInstance, {attachAuthIsReady: true}) `

doesn't work.

[code]

getting

[2019-02-09 21:17] prescottprue commented on #582
@eleventhaus It looks like changes in 8b3b7f9 actually removed the prop during the internal renaming of the prop. I was under the impression the rename was just internal.

The test that was also modified only included verifying passing of colliding prop names that are used internally, it doesn't confirm the prop is passed (as it should).

Thanks for reporting, I'll look into making the fix and als

[2019-02-09 22:59] prescottprue commented on #631
@sbtgE What is your intended use case? authIsReady was originally added for supporting SSR, but it has had a number of issues.

That said, it shouldn't cause issues, just wondering so that we can make sure it is still needed. The plan was to phase that feature out all together.

[2019-02-10 00:20] sbtgE commented on #631
I wanted to render after auth will be ready, but I could definitely do that without Promise in store.

[code]

[2019-02-10 00:23] sbtgE commented on #631
```store.firebaseAuthIsReady.then(() => {  ReactDOM.render(    <MuiThemeProvider theme={theme}>      <Provider store={store}>        <ReactReduxFirebaseProvider {...rrfProps}>          <ConnectedRouter history={history}>            <App />```

[2019-02-10 00:23] #631 closed

[2019-02-10 00:31] ladislavjacho opened #635 "feat(core): new pattern for firebase instance in thunks/sagas (getFirebase not part of v3 API)"
`getFirebase` is not returning firebase instance. Getting `undefined`.

[2019-02-10 01:48] eleventhaus commented on #582
Thanks for the quick turnaround! I updated react-redux-firebase to v3.0.0-alpha.9 but still can't get to the provided `firebase` prop. I tried using _firebaseRef as well.

[2019-02-10 02:25] eleventhaus commented on #582
If `withFirebase` is used instead of `firebaseConnect()` everything works in both class and functional components.

[2019-02-10 09:12] prescottprue commented on #582
@eleventhaus That is weird since I added a test for firebaseConnect and now things are being passed the same way as withFirebase as before. I'll look into it tomorrow.

[2019-02-10 09:13] prescottprue commented on #635
@sbtgE What version are you using? How/when are you using getFirebase. It depends on when your instance is initialized.

[2019-02-10 12:23] sbtgE commented on #635
@prescottprue trying "3.0.0-alpha.9" and I want to access firebase instance in thunk:

[code]

actions.js

[code]

[2019-02-11 23:06] prescottprue commented on #635
@sbtgE `getFirebase` is not part of the `v3.0.0` api. The new API uses the stable React context api and does not have any store enhancers. The way that context is now passed means that the wrapped firebase instance, which was kept on the store (store.firebase), is no longer necessary. That said, there is an open question of best pattern within thunks/sagas.

I have personally been leaving the busi

[2019-02-12 02:33] Eli1bamboo commented on #346
Same question here.

[2019-02-12 05:28] prescottprue commented on #346
@Louis-Chen and @Eli1bamboo The values are dispatched in the actions since the assumption was that this value would be streamed into a view. It should be in a reducer, so [#556 will capture adding that](https://github.com/prescottprue/react-redux-firebase/issues/556). Open to a PR if anyone gets a chance, otherwise I will try to get to it soon.

[2019-02-12 12:52] sbtgE commented on #580
@raygadas @prescottprue can you tell me where I can find an example of how to do that? it would be very helpful!

[2019-02-12 15:41] sbtgE commented on #635
Thank you for the comprehensive answer. First of all, I have to admit, that I am not so experienced in the topic but I will do my best to describe the whole thing. According to my current experience context API is great, but I don't see an easy way to switch from using the store and thunk with a lot of custom actions to using context actually. Imho the best way for this moment would be to support

[2019-02-12 18:59] prescottprue commented on #635
@sbtgE No problem at all, glad to talk out the options. I like the idea of keeping the API similar for this version, but still need to look into how that would be done. As for a chat line, there is the [the gitter channel](https://gitter.im/redux-firebase/Lobby).

[2019-02-12 23:42] Eli1bamboo commented on #346
@prescottprue thank you bro !! I tried to add an storage reducer on my own but ir didn't work. This level of code is up to my skills. I'll wait for the update. thanks again for your effort :)

[2019-02-13 03:03] barbsicle commented on #473
@prescottprue please go ahead. I've since moved on and no longer require the functionality, so I haven't prioritized writing the PR.

[2019-02-13 06:53] mate-h opened #636 "bug(docs) Missing profileFactory from defaultConfig in constants page"
Just though I would let you know that despite providing `profileFactory` in [Change how profiles are stored](http://react-redux-firebase.com/docs/recipes/profile.html#change-how-profiles-are-stored) it's not included in the `defaultConfig` object in the constants page of the docs.

[2019-02-13 08:05] prescottprue commented on #636
Fixed, thanks for reporting!

[2019-02-13 08:05] #636 closed

[2019-02-13 20:43] oloflindh commented on #619
@prescottprue Yeah that's is what I normally would have done. But I think the fact that it's an email complicates things. If I'm not mistaken your solution would have worked fine for a uid, but the '.' of an email address messes with the doc path, which is why I tried to use FieldPath in the first place.

[2019-02-14 10:55] prescottprue commented on #619
@oloflindh I wonder if you put a `\` in front of the `.` in the email if that would fix things? Either way, would definitely like to support this.

[2019-02-15 02:07] geminiyellow opened #637 "bug(ordered): ordered not sync with data"
**What is the current behavior?**

![image](https://user-images.githubusercontent.com/929878/52829827-a1301a00-3111-11e9-9795-53d6597f3318.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

i just update firestore's data, and the local data was changed, but the order

[2019-02-15 02:17] Louis-Chen opened #638 "Error : Firebase database is required to create watchers"
react-redux-firebase version: v3

I create react app by next.js

when i connect firebase data i will get this error throw

my connection firebase code
[code]
maybe this problem from nextjs ssr?

[2019-02-16 02:30] tevanovich opened #639 "How do you create a new user"
I think is a stupid question but, I tried to register a new user and save it to the Database.

I'm getting two errors and I don't know how to fix them, I've read the docs and still have no clue.

Error: Real-Time Database or Firestore must be included to enable user profile
Uncaught TypeError: firebase.database is not a function

Any help would be great, thanks for this awesome project.

[2019-02-16 08:58] prescottprue commented on #639
Did you make sure to import database when importing Firebase? Like so:

[code]

Just noticing that the Use section of the README still uses the old import method that Firebase no longer suggests, though both should work.

[2019-02-16 08:59] prescottprue commented on #638
@Louis-Chen Are you sure you imported database? Like so:

[code]

[2019-02-16 09:06] prescottprue commented on #637
I think this is a duplicate of [#121 on redux-firestore](https://github.com/prescottprue/redux-firestore/issues/121). If it is not, can you open another issue on [redux-firestore](https://github.com/prescottprue/redux-firestore) instead? It will be easier to track that way since that is where the reducer logic is contained.

[2019-02-16 09:06] #637 closed

[2019-02-16 14:20] tevanovich commented on #639
Thanks that resolved my issue. I feel so silly by overlooking this. If I want to save it to the firestore and not the realtime DB, how is it

[2019-02-18 04:29] geminiyellow commented on #637
thank you @prescottprue , maybe it is caused by redux-firestore. keep tracking.

[2019-02-19 07:06] prescottprue commented on #639
@tevanovich Details on how query Firestore [are covered in the Firestore section of the docs](http://react-redux-firebase.com/docs/firestore.html)

[2019-02-19 07:06] #639 closed

[2019-02-20 13:18] vincenzomann commented on #344
Hi, when I try to use firestoreConnect to filter by uid, I get this error "FirebaseError: Function Query.where() requires a valid third argument, but it was undefined."
I am trying to return a collection
where: [[ 'userID', '==', props.auth.uid ]]
So it doesn't seem to recognise props even thought I pass it into firestoreConnect( (props) => ...
Could someone please help?

[2019-02-20 22:44] prescottprue commented on #344
@vincenzomann You are most likley running the query before auth is defined. You need to wait for data to load, [as shown in the query docs](http://react-redux-firebase.com/docs/queries.html#loading) and the [state based query snippet example](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/snippets/stateBasedQuery). This is also commonly done with HOCs as described in [fu

[2019-02-20 22:48] vincenzomann commented on #344
@prescottprue Thank you! I literally solved it 10 minutes ago but really appreciate it :)

[2019-02-21 17:19] smakosh commented on #616
Hey @Manouli  Please open this again as I'm having issues with `array-contains` as it returns `null` all the time

[2019-02-21 22:45] jamesjryan commented on #621
Hey @prescottprue - I'm also experiencing this. I've got the following versions working together and experiencing the same issue - please advise if this isn't a viable configuration.

[code]

If this is a bug - can you point me in the direction of which library you suspect the regression is in, or which library you intended on implementing this in, and I'll have a go at putting a PR together.

I i

[2019-02-22 01:04] prescottprue commented on #616
@smakosh Please open a new issue with the versions that you are using and repro steps (preferably with a codesandbox or similar where the issue can be replicated).

[2019-02-22 01:06] smakosh commented on #616
I managed to solve it! never mind 😆

[2019-02-22 07:12] prescottprue commented on #621
@jamesjryan It is in this library (react-redux-firebase). You will want to make updates for the alpha version in PRs that are against the `next` branch.

[2019-02-22 22:36] eleventhaus commented on #452
Having a similar issue where `isLoaded` returns `true` before `firestore.data` or `firestore.ordered` have loaded.

[code]
![screen shot 2019-02-22 at 2 35 41 pm](https://user-images.githubusercontent.com/34343079/53275249-2639a700-36af-11e9-93b9-7366a3c961d0.png)

[2019-02-22 23:28] prescottprue commented on #452
@eleventhaus It is `undefined` before it exists, so you need to make use of `isEmpty` as well as `isLoaded` if you are doing things that way in your connect.

It is`undefined` before loading then defined if it does exist, and `null` if it does not.

[2019-02-22 23:41] eleventhaus commented on #452
I might be using `isEmpty` incorrectly but `isEmpty` remains false regardless of whether the firestore data is empty.

In my previous reply, at `SET_LISTENER`, `isEmpty` is false but there is no data in firestore.

I get `undefined` up until the `LISTENER_RESPONSE` action is called by firestore.

[2019-02-23 21:48] eleventhaus commented on #452
Could it be because I'm using storeAs as in issue #585 ?

[2019-02-24 14:30] vijayst opened #642 "Deleting an item from a nested collection of a document does not update redux store"
**Do you want to request a *feature* or report a *bug*?**
Bug.

I have a user document with nested photos collection.
![screenshot 2019-02-24 at 7 26 05 pm](https://user-images.githubusercontent.com/3457565/53300474-d228f100-386d-11e9-8f19-6fa1e5440ff7.jpg)

On removing a photo from the user document, a redux firestore listener event is triggered with the following payload
![screenshot 2019-02-24

[2019-02-24 21:39] pROFESOR11 commented on #642
+1.
The store is updated when I use `arrayUnion` method, but the store is not updated when I use `arrayRemove` method.
I also noticed that: `firestore.data` path is updated, but `firestore.ordered` is not! They are not same when remove method is used..

[2019-02-25 00:31] prescottprue commented on #642
I think this is a duplicate of [115 on redux-firestore](https://github.com/prescottprue/redux-firestore/issues/115). Try using `storeAs` so that the data is not as deeply nested.

The v1.0.0 pre-releases (available on the `alpha` tag) may be of help. As described [in the v1.0.0 Roadmap](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap), the new versions store sub-collections at

[2019-02-25 08:41] pROFESOR11 commented on #642
Hi @prescottprue,
I have now checked the docs, it also advises to use storeAs. I will check and get back soon.

[2019-02-28 19:04] prescottprue commented on #607
This is also a duplicate of #635, so going to close this and make future updates there. Thanks to everyone for reaching out with thoughts!

[2019-02-28 19:04] #607 closed

[2019-02-28 19:05] prescottprue commented on #635
#607 was another duplicate of this question. Clearly something that will needs to be addressed.

[2019-02-28 19:06] prescottprue commented on #638
@Louis-Chen Going to close assuming that things were not correctly imported. Feel free to reach out if you are still experiencing the issue.

[2019-02-28 19:06] #638 closed

[2019-02-28 20:42] prescottprue commented on #624
I was able to confirm that pulling things in directly from the `lib` folder helps, so I will most likley be changing the docs to use this pattern instead:

[code]

And import cost also verifies:

![image](https://user-images.githubusercontent.com/2992224/53597041-03e3d580-3b56-11e9-902b-5ed14df03fee.png)

That said, I would still like to aim to make things much smaller than that. Thinking that the

[2019-03-02 06:30] mungees opened #645 "Usage Question: How to add custom fields for userProfile?"
I'm using userProfile to store data associated with a user.

In addition, to add a custom properties(such as role, active in my case), I'm using 'profileFactory'.

For example,

[code]

However, it seems like when user logs in, the user object always updated to the original data(active becomes false and role becomes 'user').

I don't want this behaviour every time when user logs in. The user objec

[2019-03-02 10:29] prescottprue commented on #645
There is a the config option named `updateProfileOnLogin` (described [in the `constants` section of the docs](http://react-redux-firebase.com/docs/api/constants.html#defaultconfig))  which is set to `true` by default to handle cases of when the user's auth data changes in relation to their profile. If you set that to `false` you should see the behavior you are expected.

Feel free to reach back ou

[2019-03-02 10:29] #645 closed

[2019-03-04 11:48] maysam opened #646 "[Question] if we use onRedirectResult, how can we retreive of the redirect resulted in an error instead of results"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to re

[2019-03-04 13:42] wizzywit opened #647 "bug: my firebaseConnect() higher order component not working"
Good day developers I am still new to React.JS and i have been working with react, redux and firebase and my firebase is well configured and connected to my react app as it submits the data from the form to the database but on working on my dashboard using the compose to combine different HOC to one so i could display that data i get this error messages on console:

index.js:1446 Warning: Failed c

[2019-03-04 19:38] prescottprue commented on #647
@wizzywit As stated in the error, if you are using react-redux v6 ([which you appear to be](https://github.com/wizzywit/mario/blob/0a65061dab783ae1a930e7cf3251f546010736a6/package.json#L9)), you must upgrade to react-redux-firebase v3. The [install section also mentions how to install the v3 version from the `next` tag](https://github.com/prescottprue/react-redux-firebase#installation) - but since

[2019-03-04 19:40] #647 closed

[2019-03-04 19:41] prescottprue commented on #646
What method are you calling that causes the redirect result? For example, if you are calling `login`, then the error should be passed back to the `catch` of that promise.

[2019-03-04 19:52] maysam commented on #646
@prescottprue this is true with popup calls, but when we come back from a redirect, the promise is not there no more

[2019-03-04 20:11] prescottprue commented on #646
@maysam [The error is dispatched to state by default](https://github.com/prescottprue/react-redux-firebase/blob/master/src/actions/auth.js#L423-L430), so you can connect to that piece of state and display a message or redirect if that error exists. Alternatively, you should be able to set `getRedirectResult` directly on your Firebase instance - [that is is what is being done internally](https://gi

[2019-03-04 20:16] maysam commented on #646
@prescottprue I know about this internal version, but when we have onRedirectResult in the config, it's good to also be able to handle the error in that place too

[2019-03-04 23:11] prescottprue commented on #646
@maysam I'll change this to a ticket to track that as a feature

[2019-03-05 12:52] marcobiedermann commented on #552
@donPuerto
I run into the same issue. Could you please share your Firebase config how to fix it.

Right now I have set everything to read and write

[code]

I know this should never be the case for production but for local development it would be fine. Still I get `null` for each collection

[2019-03-05 13:04] illuminist commented on #614
I don't think memoizing `state.firestore` object is necessary, but instead "antipattern". `createSelector`  is used for memoize function with expensive calculation and usually should have an relevant object as it's argument and firestore object is too shallow to be memoized as any change in firestore state will update the state reference.

For correct example

[code]
With this `reselect` will memo

[2019-03-05 20:55] kelset commented on #635
Related to this, I've hit myself this issue and I feel it's also caused by the fact that neither the release tabs nor the docs for v3.0 mention this (it's actually [still there](http://docs.react-redux-firebase.com/history/v3.0.0/docs/api/get-firebase.html?q=)) - even [the migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html) doesn't mention it.

[2019-03-05 21:10] prescottprue commented on #552
@marcobiedermann Please open a new issue with the query you are running - my guess is that a query error is being written to state (since `null` is an indication of empty, meaning that the query did most likely go out).

[2019-03-05 21:11] prescottprue commented on #614
@illuminist I agree - we should add more to the docs about this

[2019-03-05 23:55] marcobiedermann commented on #552
@prescottprue

Sorry, my bad. I used `firebaseConnect()` instead of `firestoreConnect()` 🙈

[2019-03-09 20:40] Aparus opened #648 "Array field updates on the client (firestoreConnect) only when I add to it items. But not updates when I remove from it items."
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I send to server objects with array field categories:["id1", "id2", ...] and everything works fine, even data updates on client. When I put new items. But when I remove something from array and send it to server ([ ] or ["id1"] - for example), data stores on server, but not updates on client. They will

[2019-03-10 02:59] wesleyamaro opened #650 "Uncaught TypeError: getFirebase is not a function"
Hey Guys,

I am having a problem when using `getFirebase` with `redux-thunk`. I was reading and trying to figure out that problem through the [documentation](http://docs.react-redux-firebase.com/history/v3.0.0/) but I couldn't solve it.

I don't know what I am doing wrong :/

**Packages version:**
`redux: 6.0.0`
`react-redux-firebase: 3.0.0-alpha.10`
`redux-thunk: 2.3.0`
`redux-firestore: 0.7.1`

[2019-03-10 05:57] Aparus commented on #642
+1.
I think my issue the same. [Array field updates on the client (firestoreConnect) only when I add to it items. But not updates when I remove from it items.](https://github.com/prescottprue/react-redux-firebase/issues/648)

In my case array field updates when I add to it new elements. But doesn't updated when I remove elements.

[2019-03-10 05:59] pROFESOR11 commented on #642
Hi @Aparus,
Using storeAs fixed the problem in my case. You should give it a try!

[2019-03-10 06:40] Aparus commented on #648
I have found a solution. It was just `npm i redux-firestore@0.7.1`, in new version this issue is fixed

[2019-03-10 06:40] #648 closed

[2019-03-10 07:40] Aparus commented on #642
@pROFESOR11 , i didn't understand how to use storeAs ) but I fixed the problem with update redux-firestore to 0.7.1 version , which released about 2 weeks ago )

[2019-03-10 19:39] prescottprue commented on #642
Going to close this since the newer versions of redux-firestore fix the issue, and it can also be worked around using `storeAs`. Thanks to all for input.

[2019-03-10 19:39] #642 closed

[2019-03-10 19:40] prescottprue commented on #650
@wesleyamaro `getFirebase` is not part of the v3 API. There have been a number of o

[2019-03-10 19:42] #650 closed

[2019-03-10 20:33] francodgstn opened #651 "bug(firestore): No results with firestoreConnect() and orderBy"
Hi, it looks like that `firestoreConnect` doesn't work properly with `orederBy`.

I have this simple query that runs fine without orderBy but gives no results if I add the orderBy. Both `firestore.data` and `firestore.ordered` are empty. Please note that the index for that field is already defined in firebase.

[code]

  Currently I'm using these versions:
[code]

A similar bug was already fixed i

[2019-03-10 20:46] prescottprue commented on #651
@francodgstn You are most likely missing the index for this. Did you check state to see if there are any listener errors?

[2019-03-10 21:07] francodgstn commented on #651
Hi, yep I already set an index on Firebase.

When I add the orderBy I see this error in the listner errors.

[code]

This is the complete action:
[code]

[2019-03-13 05:32] illuminist commented on #651
It has to be a composite index with 3 keys. When an error occurs, take a look in a console, firebase will tell you about the error and will give you a link to create a proper index.

PS. @francodgstn  your second comment has orderBy key different from the first comment: `start` and `startDate`

[2019-03-13 23:45] wen-l commented on #635
So I've also ran into this issue and only after a few hours of trying to fix this, did I stumble upon this thread. I am still quite new to react, redux and firestore but if you still require any insight into use cases for thunks, my thoughts are that the logic put in thunks are more so for organisational and re-usability purposes as action creators can be reused by multiple components.

But again

[2019-03-14 02:44] prescottprue commented on #635
@wen-l Your logic can be separated into actionCreators as you mentioned without needing to use thunks - thunks are only needed when dispatching in async.

### Dispatching Actions (Async & Sync)
Since `mapDispatchToProps` from `connect` accepts a function or an object you can do either of the following:

As an object (each item is assumed to be a named action creator, so it is wrapped in dispatch):

[2019-03-15 01:53] wen-l commented on #635
Ok thanks for this, I'm learning new things about react 😄
There's only one other thing I can think of regarding the separation of logic into other files and that is probably that thunk has the added bonus of automatically passing the dispatch method to the external handler so that we do not need to manually pass the dispatch method to every external handler as well. Your above examples are nice an

[2019-03-17 00:53] wen-l commented on #635
Also further from this, since we do not use the `reactReduxFirebase` method to attach the firebase instance to the store, we are not able to use the "attachAuthIsReady" setting as this config is not passed to the store and hence no function `firebaseAuthIsReady` is attached to the store object. Is there another way to access this promise, or for now do we need to create our own promises?

[2019-03-17 23:07] opula commented on #635
I cannot speak on thunk, but I have been using redux-saga for the past two years.  This is my first attempt at creating an app using firebase.  In my opinion, running firebase commands prior to dispatching redux actions isn't a viable solution.  The point of saga is to manage async and sync operations in a reasonable fashion.  Imagine the following scenarios: updating / pushing multiple documents

[2019-03-18 03:53] prescottprue commented on #635
@opula That was actually what I was thinking would be in the docs for the new version - that should be fine. Still need to investigate if there are issues with sharing listener count across instances, but other than that things should work as expected.

What you are bringing up with saga may fit better with a middleware I have been proposing for a while which would allow dispatching an action (som

[2019-03-18 09:05] illuminist opened #653 "feat(core): Support for react hook"
### PR https://github.com/prescottprue/react-redux-firebase/pull/684

**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

There isn't any hook support for react@16.8

**What is the expected behavior?**

Provide `useFirebaseConnect`, `useFirestoreConnect`, etc.

The usage might not be much different from the current implementation. Except, `react-r

[2019-03-18 19:13] prescottprue commented on #653
Love the idea, thanks for posting! For now you should be able to create your own custom hooks that call react-redux-firebase internally (since there is nothing preventing usage with hooks).

[2019-03-19 13:08] houdiiny opened #654 "User profile is not loading on store"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
User profile is permanently at state:
{isEmpty: true, isLoaded: false}
even with configurations set correctly:
    reduxFirestore(fbConfig),
    reactReduxFirebase(fbConfig, {
    	useFirestoreForProfile: true,
    	userProfile: 'users-profile'
    })
The updateProfile on firebase works but profile is

[2019-03-19 18:20] prescottprue commented on #654
@houdiiny I am not able to reproduce locally, are you able to share a fully working example codebase (on codesandbox or similar). Here is a starting place: https://codesandbox.io/s/xpq3784jvw.

[2019-03-20 00:08] houdiiny commented on #654
While trying to reproduce the problem on a "clean" simpler POC I stumbled across its solution, for some reason my client and backoffice stores were both being created and it generated some unexpected behavior (like not loading user profile on the client store). I rewrote some parts of it and now works correctly.

Thanks for [rubber ducking](https://en.wikipedia.org/wiki/Rubber_duck_debugging) this

[2019-03-20 00:08] #654 closed

[2019-03-21 21:24] eleventhaus commented on #452
@prescottprue I've tried using `firestoreConnect` and `isLoaded`/`isEmpty` with and without `storeAs` but no combination seems to load data from firestore into props.

I continue to get `undefined` up until the LISTENER_RESPONSE action is called by firestore.

[2019-03-22 01:13] Louis-Chen opened #656 "question(query): is it possible to populate child ordered data ?"
example:

[code]

[2019-03-22 01:34] Louis-Chen commented on #656
nothing  i find the way!

just add  keyProp
[code]

[2019-03-22 07:14] #656 closed

[2019-03-22 18:41] wizzywit commented on #249
hello i am having a slight issue on my react app concerning this same typeError: firebase.auth not a funtion but am not passing a firebase app instance

the code below is my index.js
![snnipet 1](https://user-images.githubusercontent.com/40175713/54845571-f693b400-4cd9-11e9-92f9-14cceedcb15f.PNG)

 below is my fbConfig.js file
![fbConfig](https://user-images.githubusercontent.com/40175713/54845598

[2019-03-22 18:43] wizzywit commented on #249
below is the error message i get
![error](https://user-images.githubusercontent.com/40175713/54845838-bb45b500-4cda-11e9-97c5-a4830bb61c4f.PNG)

[2019-03-22 19:07] prescottprue commented on #249
@wizzywit As per the setup examples you should be calling `initializeApp` in when creating the store instead of in the config file. Try exporting just the config from your fbConfig file instead of the whole firebase instance - it seems like some of the firebase lib is not being passed on.

[2019-03-23 10:46] wizzywit commented on #249
okay thanks.. did what you suggested still giving same error

[2019-03-23 11:00] wizzywit opened #657 "Getting 'TypeError: firebase.auth not a function'"
hello i am having a slight issue on my react app concerning ' typeError: firebase.auth not a funtion

the code below is my index.js
![index](https://user-images.githubusercontent.com/40175713/54865246-eaa00480-4d62-11e9-9927-ac21624106bb.PNG)

below is my fbConfig.js file
![config](https://user-images.githubusercontent.com/40175713/54865256-158a5880-4d63-11e9-88ae-78d0cec72aab.PNG)

also the authA

[2019-03-23 11:01] wizzywit commented on #657
this is the error message i get
![error](https://user-images.githubusercontent.com/40175713/54865275-58e4c700-4d63-11e9-8e2c-1bc18cbf5ab6.PNG)

[2019-03-23 15:50] GitHubGreg opened #658 "Query field in specific subcollection"
Sorry if this is not a bug, but I am trying to return only `private` images inside the `images` subcollection of a `user` using a where clause.

[code]

My understanding was that querying across multiple subcollections isn't possible, but within a given subcollection it is.

But the above is not working. If I remove the where clause it works and returns all the image documents.

[2019-03-24 02:37] prescottprue commented on #657
@wizzywit The instance that you are referencing does not contain auth. If you are attempting to use auth and dispatch your own actions, you can just use firebase directly. The instance you are using is comes from react-redux-firebase and has methods on it which already dispatch actions.

[2019-03-24 02:45] prescottprue commented on #658
@GitHubGreg Did you check to see if errors were being dispatched and writing into redux? This sometimes happens when folks have not setup indexes in Firestore.

[2019-03-24 14:52] GitHubGreg commented on #658
Thanks for the reply. Good question. I would gave expected that since it is a new query, but no firebase 'create index' message was returned.

Good point re. the id. I also tried with a known profile id assigned directly without success. But the id field works dynamically too since the query works when I remove the where clause.

[2019-03-25 06:56] prescottprue commented on #658
So you did try the other query I show above? With the query parameters at the sub-collection level?

[2019-03-26 05:44] MufassirShaw opened #659 "User Profile doesn't load correctly even after configuration"
**Do you want to request a *feature* or report a *bug*?**

A bug possibly

**Note: I'm using this package with RNfirebase**

**What is the current behavior?**

The user profile loads correctly on first few builds but then starts to break.

**What is the expected behavior?**
The user profile should load correctly on each build and not only on the first few builds

**Which versions of dependencies,

[2019-03-26 16:36] GitHubGreg commented on #658
Yes, I did try that but it still fails to return anything. Only when I remove the where clause does it work. I have verified that the images do indeed have `labelValue` set to 'private'.

[2019-03-27 05:35] prescottprue commented on #659
As stated [in the installation section of the README](https://github.com/prescottprue/react-redux-firebase#installation), if you are looking for support react-redux v6, use the [upcoming version released through the `next`](https://github.com/prescottprue/react-redux-firebase/tree/next) tag. The setup is different for the new version, so make sure [to checkout the new setup instructions](https://g

[2019-03-28 04:16] Frank-The-Tank opened #660 "firestoreConnect With Multiple Listeners to Same Collection"
Hey guys, I am been trying to solve my issue by looking at a few other issues include #368, but I have not been able to get my code to work. I have two different pages you can navigate to with react router that change the url (navigated to with a navbar) and both are pulling data from the same collection -> document but then differ on the inner collection they are grabbing. When I try to alternate

[2019-03-28 09:35] prescottprue commented on #660
@Frank-The-Tank I think that it might be that you aren't [waiting for auth to load](http://react-redux-firebase.com/docs/queries.html#loading before attaching your query. You should also try placing your connect after the `firebaseConnect` (though it is hard to tell if that would even help since the state collection logic is not provided). Something else you might want to try is [`storeAs`](http:/

[2019-03-28 13:06] selimyalinkilic opened #661 "question(examples): firestoreConnect pagination need help"
Hi,

I wanna make pagination, but i can't make it. Maybe someone knows how to make it. Can you help me please. My dashboard component codes are as below.

[code]

[2019-03-28 13:34] Frank-The-Tank commented on #660
Connection logic:

[code]

Load Logic:

[code]

[2019-03-28 13:35] Frank-The-Tank commented on #660
When I add storeAs to either of my firestoreConnect return hashes it causes the page to never load

[2019-03-28 17:49] prescottprue commented on #660
What version of redux-firestore are you using? It seems like it is an issue merging on the subcollection level, so also sure why `storeAs` wouldn't work. What do you mean by "return hashes it causes the page to never load"? Did you change the connection logic to match the new `storeAs` names you where using?

It would be much easier to understand what is going on with a full working application to

[2019-03-29 04:53] MufassirShaw commented on #659
I'm still facing the same issue even though i have migrated to v3. The profile loading is unpredictable, loads correctly but as i refresh a few times it stop loading.  :(

[2019-03-29 12:26] selimyalinkilic commented on #661
I found this, https://codepen.io/PiotrBerebecki/pen/pEYPbY?editors=0110 and i used in my project. It's working good.

[2019-03-29 17:20] prescottprue commented on #659
@MufassirShaw Please provide code that replicates the issue. Not sure where AuthReducer is being pulled from. Also not sure if react-native-firebase is working exactly the same as firebase's sdk would in this situation.

[2019-03-29 17:30] PeterPil commented on #581
I can't import ReactReduxFirebaseProvider from react-redux-firebase. There is no file such like this

[2019-03-29 17:54] prescottprue commented on #581
@PeterPil That would most likely be because you are using an incorrect version. Make sure to follow the [v2 to v3 migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html). If things still aren't working as expected, please feel free to open a new issue with code that replicates the unexpected behavior.

[2019-03-29 17:56] prescottprue commented on #661
@selimyalinkilic Thanks for posting, glad to know you got something going.

Not sure that the posted solution will work for all folks since it seems that it is loading all data then just breaking it down into pages instead of only querying data necessary for the current page and loading other pages once they are navigated to (interesting task to accomplish on real time database)

[2019-03-29 18:14] PeterPil opened #662 "Can't import ReactReduxFirebaseProvider"
I want add a firebase to project, but i can't import ReactReduxFirebaseProvider, only have an error: "Cannot resolve symbol 'ReactReduxFirebaseProvider'".
 I use the latest version of all libs:
"react": "^16.8.6",
    "react-dom": "^16.8.6",
    "react-redux": "^6.0.1",
    "react-redux-firebase": "^2.2.6",
    "redux-firestore": "^0.7.2"

[2019-03-29 18:35] prescottprue commented on #662
`ReactReduxFirebaseProvider` is only available in `v3.0.0` versions of `react-redux-firebase` as showing in [the v3 migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html). Since you are still using v2, you will want to follow the [main instructions in the README](https://github.com/prescottprue/react-redux-firebase#use).

[2019-03-29 19:01] PeterPil commented on #662
Thanks for the issue, it's all okay. I missed it.

[2019-03-29 19:01] #662 closed

[2019-03-29 20:07] selimyalinkilic commented on #661
yes I know. I applied this way because I failed in real-time database. I didn't find a result despite searching on the internet. I started the project after a video series I saw on youtube and wanted to add some non-features. How can I do it in real time database? can you help me ?

[2019-03-31 03:34] MufassirShaw commented on #659
Hi Thank you much for response here is the detail code. And I have noticed that the issue is because firestore doesn't load up. I have access to firebase though.

**App.js**
`import React, { Component } from 'react';
import { Container, Button, Text } from 'native-base';
import { Provider } from "react-redux";
import { Store } from "./src/Store";
import Form from "./src/Components/Form/index";
imp

[2019-03-31 10:23] PeterPil opened #663 "Trying use getFirebase, but catch an error"
I use the newest version of react-redux-firebase: "^3.0.0-alpha.10" and react-firestore: "1.0.0-alpha.2" and want use getFirebase, but i can't use it, because get an error: "getFirebase is not a function". I found issue #620  but It useful for getFirestore. With getFirestore i have no problem.
![image](https://user-images.githubusercontent.com/42355415/55287897-fcfbed00-53b7-11e9-95ab-14b904c05d35

[2019-03-31 23:37] prescottprue commented on #663
getFirebase it not part of the new v3 api due to how the new context setup works (using a provider). Not sure, but from the error you showed it appears that you won't need to use `getFirebase` if you use [`login`](http://react-redux-firebase.com/docs/auth.html#logincredentials) which supports email login and automatically dispatches auth actions.

[2019-04-01 04:28] illuminist commented on #658
Firebase dispatched error doesn't state that the query is lack of index, just plain
[code]
which isn't meaningful. But firebase will usually logs into a console that something is wrong, in this case might be
[code]
which indicates that the query doesn't have an index to use.

The `orderBy` query should be in the subcollection as it should do ordering within subcollection, while the parent collecti

[2019-04-01 08:04] Louis-Chen opened #665 "Could upload file without default uuid ?"
when i upload file
like

[code]

it will produce new uuid  and my database are ugly

firebase structure like

[code]
but i want a single file structure

lieke

[code]

could I ?

[2019-04-01 22:16] prescottprue commented on #659
@MufassirShaw Glad to have the detail, but is it possible to share it in a project with the package file and everything? I was hoping to run the actual code

[2019-04-01 22:19] prescottprue commented on #665
You can use `uploadFile` - `uploadFiles` assumes you are passing a list of files, which requires pushing to the location provided - otherwise files in the list would run over each other.

[2019-04-02 06:19] MufassirShaw commented on #659
@prescottprue  Here is the complete repo. You can use 03139277452 for demo with a code of 123456. Or if you want you can tell me to add another number of demo purposes. Hope this will help

[2019-04-03 04:45] MufassirShaw commented on #659
@prescottprue  I did a few more tests and find out that i can write perfectly to the firestore but having issues when reading from it. May be there is so issue in the firestoreReducer or i'm not doing it "the right way"

[2019-04-03 07:39] Louis-Chen commented on #665
i use `uploadFile` and upload data to firestore but dbpath also create uuid , the function seem create `collections` when it store image data to firestore

can`uploadFile`  create dbpath to `doc` not `collections`?

[2019-04-03 23:53] prescottprue commented on #659
@MufassirShaw You shouldn't need to attach a listener to the whole collection of `Users` if you are just trying to get the profile (which lives in `profile`). You also don't need to attach your own listeners if you use `userProfile: "Users"`. [The profile section of the docs](http://react-redux-firebase.com/docs/recipes/profile.html#basic) explains how this value lives on `state.firebase.profile`

[2019-04-04 11:33] MufassirShaw commented on #659
@prescottprue  actually i wanna handle the auto phone verification for android as mentioned [here](https://rnfirebase.io/docs/v5.x.x/auth/phone-auth#3.-[Android]-Handle-Auto-Verification). I don't know how to handle that in redux. And i don't think the issue is because of this event listener as it is not even used on an emulator. Anyway i removed the listener at all but still had the same issue.

[2019-04-04 20:13] lazarljubenovic opened #667 "bug(types): wrong types for firebaseConnect"
**Do you want to request a *feature* or report a *bug*?**

Bug.

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

Writing

[code]

causes

[code]

**If the current behavior i

[2019-04-04 20:56] prescottprue commented on #667
@lazarljubenovic I have noticed that the types on the `next` branch aren't perfect as well. I have started updating some of them, so I will check into this one. @rscotten has also been a huge help in updating them, so one of us should be able to get to it soon.

[2019-04-04 21:01] lazarljubenovic commented on #667
@prescottprue Thanks for the update! I've change the .d.ts locally like this:

[code]

It's around like 450. It certainly fixes the problem at hand, but now I'm battling some other weird issue for an hour, caused apparently by mismatch of installed Firebases.

![image](https://user-images.githubusercontent.com/7661457/55588149-50aa6580-572d-11e9-9706-3dd22010cd2c.png)

Various combinations I'm try

[2019-04-04 21:16] lazarljubenovic commented on #667
Apparently I swapped `import firebase from 'firebase'` with `import firebase from 'firebase/app'` (or vice versa) while fiddling with versions 4 and 5 or `firebase`, which caused the mismatch in types. Few.

[2019-04-04 22:20] prescottprue commented on #659
@MufassirShaw Thanks for letting me know, I'll try to replicate.

[2019-04-05 01:03] rscotten commented on #667
@lazarljubenovic @prescottprue I don't use the Firebase Realtime DB, so I can't help with any of those types.  I just did my best based on a quick glance at the react-redux-firebase docs.  If you want my feedback regarding Firestore, Storage, or Auth, I'm happy to help! :)

[2019-04-05 09:15] MufassirShaw commented on #659
@prescottprue I'm really looking forward for a fix or a work around. Thanks

[2019-04-05 11:33] lazarljubenovic opened #670 "Providing type for the schema"
**Do you want to request a *feature* or report a *bug*?**  Feature

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

No type info for the schema of used database.

**What is

[2019-04-05 13:15] lazarljubenovic opened #671 "bug(types): scopes is required in `firebase.login`"
**Do you want to request a *feature* or report a *bug*?**  Bug

**What is the current behavior?**

Using

[code]

results in an error.

[code]

**What is the expected behavior?**

It should work according to the docs; and it _does_ work when I cast as `any`.

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**

Both

[2019-04-05 18:00] prescottprue commented on #671
Made `scopes` optional and pushed that up to `types-overhaul`. Is it working as expected now? Planning on getting these changes into a new version soon.

[2019-04-05 18:04] prescottprue commented on #670
I really like this idea, thanks for posting! Also got a laugh out of some of the wording like "more types to the current query thingy" 😆 I am a really big fan of the fact that doing the typing of all of this stuff makes the lack of naming of certain things so apparent.

[2019-04-05 19:36] lazarljubenovic commented on #671
Yup, it works now, thanks! Not sure when do we close issues (merge to next? merge to v3? merge to master?) so Imma leave that to you. :sweat_smile:

[2019-04-05 20:37] prescottprue commented on #671
I usually close it when it has been released (either merging to master or next).

[2019-04-05 20:42] QQ031004 commented on #581
Hi.
I am a beginner of react App.
I got problem
Error:
Context from react-redux not found. If you are using react-redux v6 a v3.*.* version of react-redux-firebase is required. Please checkout the v3 migration guide: http://bit.ly/2SRNdiO
And I tried install react-redux-firebase v3 but i got just V2.2.8. Why?

[2019-04-05 20:51] QQ031004 commented on #581
By the way, iI followed: v2 to v3 migration guide.

[2019-04-05 21:37] prescottprue commented on #581
@QQ031004 it is available through the `next` tag, but you are installing `latest`. You should install by calling `npm i --save react-redux-firebase@next`

[2019-04-05 21:40] QQ031004 commented on #581
Thank you above: npm i --save react-redux-firebase@next
That works well!

[2019-04-07 14:58] GitHubGreg commented on #556
Hi @prescottprue, as always thanks for this amazingly helpful tool.

Is there a simple way to get the upload progress in state?

Thanks again.

[2019-04-09 13:59] wen-l opened #673 "firebaseAuthIsReady is undefined"
**Do you want to request a *feature* or report a *bug*?**

A bug, firebaseAuthIsReady is undefined.

**What is the current behavior?**

After setting the react-redux-firebase config for attachAuthIsReady to true, the firebaseAuthIsReady property of the store remains undefined.

**What is the expected behavior?**

I assume that the expected behaviour is that the authIsReady promise should be attach

[2019-04-09 19:48] prescottprue commented on #673
@wen-l What are you attempting to use `authIsReady` for? It was originally added as an aide for SSR, but it seems that some folks have been using it instead of [waiting for data to load](http://react-redux-firebase.com/docs/queries.html#loading). If you use `authIsReady` then you could be preventing your application store from correctly being created until after auth has loaded, which can cause an

[2019-04-09 19:50] prescottprue commented on #581
@QQ031004 It looks like you are still including the store enhancer (`reactReduxFirebase`), which is not part of the v3 API. As noted in [the migration guide that should be removed](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html).

[2019-04-09 20:17] wen-l commented on #673
I'm using authIsReady to delay the loading of the app. This is because for example if a component of the app lets say the navbar has different links for logged in and logged out users, then on initial loading of the app (whilst auth is not loaded), it would briefly display the logged out links, and then after the auth is loaded and the stored session data recognises that the user is actually still

[2019-04-09 21:05] prescottprue commented on #673
@wen-l Yes it can - and it is preferred to handle what you are describing. To handle auth loading, you get it from the store - that way you can actually handle data persistence at that level for things.

[2019-04-09 21:11] wen-l commented on #673
How would I get it from the store? Do you mean fetch where the user data is stored?

[2019-04-09 22:07] prescottprue commented on #673
[The auth recipes section of the docs shows how you can wait for auth to load](http://react-redux-firebase.com/docs/recipes/auth.html#wait-for-auth-to-load) after getting it from the store.

[2019-04-09 22:52] wen-l commented on #673
Can the isLoaded function be used like a promise?

[2019-04-09 23:34] prescottprue commented on #673
@wen-l No - it is for checking props loaded how state as per how that is not how state connection to redux works. You can use the `onAuthStateChanged` to add promise based handling, but I am not really sure what you are asking.

For issues, we ask that there is an explanation of things not working as expected and preferably code to reproduce an issue. Since this is more usage questions than an iss

[2019-04-09 23:34] #673 closed

[2019-04-10 06:30] #661 closed

[2019-04-10 06:31] selimyalinkilic opened #674 "firestoreConnect pagination need help"
Hi,

I wanna make pagination, but i can't make it. Maybe someone knows how to make it. Can you help me please. My dashboard component codes are as below.

[code]

[2019-04-10 11:07] Akash187 commented on #635
I am using my original firebase instance. Is this a correct practise.
`import { firebase } from "../../config/fbConfig";

export const signIn = (credentials) => {
  return (dispatch, getState) => {
    firebase.auth().signInWithEmailAndPassword(
      credentials.email,
      credentials.password
    ).then(() => {
      dispatch({type: 'LOGIN_SUCCESS'})
    }).catch((err) => {
      dispatch({typ

[2019-04-11 06:30] jake-nz opened #675 "bug(firebaseConnect): 'reserved props' prevents connect before firebaseConnect"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When wrapping with redux `connect` an error is thrown because a prop named `dispatch` is passed.

[relivant react-redux-firebase code](https://github.com/prescottprue/react-redux-firebase/blob/v3.0.0-alpha.11/src/firebaseConnect.js#L106)

**If the current behavior is a bug, please provide the steps to

[2019-04-11 07:55] Akash187 opened #676 "bug(docs): auth section of v3.0 docs still contains v2.0 code"
I just went through the documentation of react-redux-firebase and found that code in auth section (Wait For Auth To Be Ready) of v3.0 is not up to date actually contain v2.0 code if you compare it with the migration guide for v2 to v3.

Please consider updating it.

[2019-04-11 19:36] QQ031004 commented on #581
Thank you Scott Prue!
It seems too difficult for me as a beginner to handle the changing from V2 to V3...
I just couldn't understand how I should correct my exercise file so I can move on.
Everything is wrong after I updated to V3...
What is your suggestion? Should I give up to use react redux?

[2019-04-11 22:43] hamsahmedansari opened #678 "firestoreConnect how to change collection name"
Hey guys, I am confused !! I used collection **"Users"** to fetch all users from firebase and it added to state.firestore.user... but when I am  try to fetch sub-collection of user **"chatRooms"** it overwrite the previous state of state.firestore.user is it possible to change key in **chatRooms** of **Users**
Code
`export default compose(
  connect(
    mapStateToProps,
    mapDispatchToProps
  )

[2019-04-11 23:32] mdmad7 commented on #631
Sorry for resurrecting a closed issue. in v2 we use to wait to render only after auth is ready by using store.firebaseAuthIsReady promise. Without i in v3 how can we wait and render only when auth is ready?

[2019-04-12 14:00] illuminist commented on #678
Apply `storeAs` to change data location.
[code]
A new data will be available in `state.firestore.data.userChatRooms` and `state.firestore.ordered.userChatRooms`,

[2019-04-12 14:38] mattvick opened #679 "Enabling Anonymous Auth causes profile listener error"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to re

[2019-04-12 23:54] jnamkung opened #680 "bug(storage): uploadFiles() not updating metadata"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When I call `uploadFiles` with a third argument, metadata is not being updated, instead I get the following error:

<img width="739" alt="uploadFiles-console-error" src="https://user-images.githubusercontent.com/5976470/56071268-26b2fd80-5d42-11e9-8072-882019bbc304.png">

**If the current behavior is

[2019-04-12 23:55] jnamkung commented on #665
@Louis-Chen Which version of react-redux-firebase are you using, 2 or 3? Curious because I am having trouble with `uploadFiles(storagePath, files, dbPath)` using version 3.

[2019-04-13 07:21] esbenvb opened #681 "Possible to do load data based on a state change in the connected component"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Not possible as far as I can see

**What is the expected behavior?**

In my Firestore, I have two collections,

[code]
[code]

In React I have a component where a user does the following:
- Select a tournament from all tournaments
- Select a team or view standings from the list of teams in the cu

[2019-04-13 17:13] illuminist commented on #681
You already can map whatever redux state into props for `firebaseConnect`. Therefore your `mapStateToProps` need to return `state.selectedTournament.currentSeasonId` along with the other state value.

[code]
Then `currentSeasonId` will appear as a prop in `firebaseConnect`.

[2019-04-13 20:58] mapendopndc commented on #631
wondering the same thing

[2019-04-13 21:02] mdmad7 commented on #631
In the firebase state under auth you get isLoaded and isEmpty. IsLoaded can be used to hold the UI from  rendering unless it sets to true. IsLoaded and isEmpty is also available under profile object in the firebase state. I think that gets set when you using Firestone to store user profile as well but use the one under the auth object and not the profile object. Profile object loads after auth obj

[2019-04-13 22:00] esbenvb commented on #681
@illuminist Thanks :) I did not expect that one to work, since I assumed that the `mapStateToProps` was only applied AFTER loading the data from firestore, so the props mapped here from `state.firestore` would not exist.

I think this solution is a good compromise, instead of letting `firestoreConnect` use the local component state if even possible...

[2019-04-13 22:00] #681 closed

[2019-04-14 04:26] MufassirShaw commented on #659
@prescottprue i don't know if this is really the issue with this package but i solution to the problem is to only reopen your app in the emulator with ever closing the packager or the emulator. **Every time the firebase or firestore dbs aren't hooked up, just close the app and reopen it (with closing the emulator)** plus i don't think this bug is gonna be there in the production environment as you

[2019-04-14 04:55] illuminist commented on #681
But it's still true that `mapStateToProps` can't find firestore data before loading from firestore if one query depends on data of another query. Because of that initially doc id will be undefined and could cause `firestoreConnect` to load entire `seasons` collection instead one single doc.

To prevent that, you can lodash `_.get` function to get state that might initially not exist to prevent err

[2019-04-14 11:17] esbenvb commented on #681
@illuminist yes indeed I have to guard the second query until the first one has delivered the prop values.

I tried a simple solution like this, but unfortunately, `firestoreConnect` does not accept undefined entries...

[code]

Therefore, I had to make it like this.

[code]

[2019-04-14 12:53] esbenvb opened #682 "bug(types): signature of `firestoreConnect` not understood correctly by `compose`"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`compose` gives me an error: `Expected 0 arguments, but got 1.ts(2554`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

This code makes Typescript give the error above.

[

[2019-04-14 14:48] mattvick commented on #679
I've found a way to solve this, or at least remove the error message. If this seems like a reasonable way to solve this I would be happy to create a PR that adds my tiny project to the examples.

_However I now have an issue, which might or might not be related, where [LISTENER_RESPONSE does not update ordered](https://github.com/prescottprue/redux-firestore/issues/91#issuecomment-482978661)._

**

[2019-04-14 16:29] illuminist commented on #681
You can also use `Array.filter` to filter out undefined value. Or use lodash `_.compact`. Or push only available query to returning array. Or even spread operation with empty array in tertiary condition.

[2019-04-14 17:30] hamsahmedansari commented on #678
You're a Rockstar

[2019-04-14 17:31] #678 closed

[2019-04-15 10:45] ladislavjacho commented on #631
@mdmad7 @mapendopndc  exactly! you can also define an action which will return a promise in this particular case.

e.g. something like that:

[code]

[2019-04-16 20:28] prescottprue commented on #631
Correct, it is best to use state for this instead of waiting to complete store creation until auth is ready (especially if you are planning to have any state persistence).

[2019-04-16 20:31] prescottprue commented on #679
@mattvick Totally a reasonable solution for now, and it would be great to add to the docs.

That said, I do think it makes sense to include this in the api moving forward - that way we could have a way to opt in/out of using profiles for anonymous users.

[2019-04-16 23:11] prescottprue commented on #682
Thanks for reporting, I was not aware that compose required the functions to be single argument. Not sure how that would work though since there can be multiple arguments passed to `connect` as well. I think the issue may be within the typings of `firestoreConnect` - there is currently work being done on the typings on the [`next`](https://github.com/prescottprue/react-redux-firebase/tree/next) br

[2019-04-17 21:46] quickresolve commented on #673
I am experiencing this same issue, while I followed the docs auth recipes section as described.

[2019-04-18 04:52] philberg opened #687 "firestoreConnect passing incorrect value to firestore.ordered"
**What is the current behavior?**
I have a situation where I am modifying an array of objects in the firestore
The document is a `game` and the field is `game.cards` where each item in `game.cards` is it's own object

When I modify `game.cards` from an array with a few items, into a new, empty array, it breaks.
When using firestoreConnect to pass this down as state and into props, the data in `fir

[2019-04-18 05:19] illuminist commented on #687
Could you provide reproduction or some part of the code where you said it was an issue? It isn't easy to figure the problem code from given description.

[2019-04-18 06:16] prescottprue commented on #676
@Akash187 I was not aware of this, it must have slipped through. Thanks for reporting!

[2019-04-18 06:25] prescottprue commented on #673
@quickresolve firebaseAuthIsReady was made for SSR only, and is not currently supported for v3. As mentioned above, if you are waiting for auth to load you should use auth state - otherwise it could be a long time to meaningful paint in a browser since you are waiting for auth before rendering anything.

[2019-04-18 06:26] #659 closed

[2019-04-18 06:27] Akash187 commented on #676
@prescottprue Happy to Help. You may close this thread if bug is fixed.

[2019-04-18 06:30] prescottprue commented on #675
Yeah, this was introduced [in v3.0.0-alpha.7](https://github.com/prescottprue/react-redux-firebase/pull/615), and I was thinking something like this may appear. I like the idea of switching that to a warning instead of an error through - also though, dispatch may not need to be in that list.

@theashguy & @iamthefox did either of remember why it was a throw instead of just a warning?

[2019-04-18 06:55] prescottprue commented on #635
Yes, that should work just fine @Akash187. But again, if you are doing email login and want to dispatch an action, you can use `login` (a method which dispatches actions on success/error of logins of all types, including email).

[2019-04-18 20:09] philberg commented on #687
Sorry if that was unclear.

See sample code below to reproduce:
[code]
Document before change
![Screen Shot 2019-04-18 at 1 06 44 PM](https://user-images.githubusercontent.com/7586829/56388091-fd2f2180-61da-11e9-93fe-5b7de4d38cf6.png)

After removing a single map from the array
![Screen Shot 2019-04-18 at 1 06 56 PM](https://user-images.githubusercontent.com/7586829/56388110-03250280-61db-11e9-975

[2019-04-19 05:34] illuminist commented on #687
I definitely think it related to https://github.com/prescottprue/redux-firestore/issues/140

Not sure how I couldn't reproduce the issue in https://codesandbox.io/s/k5yz4x71r5 even adding and removing from array directly via console still update both `data` and `ordered` state correctly.

[2019-04-19 07:53] maotora opened #688 "Failed context type: The context `store` is marked as required in `FirebaseConnect(Connect(ComponentName))` but its value is `undefined`."
Hello, This is actually my first time to use this library and after installation and setup as directed [in the getting started guide](https://react-redux-firebase.com/docs/getting_started.html) and everything looked fine. My authentication state was downloaded and added to `firebase.auth` redux state.

 So then, I made this code on one of my components to test if I can access my database records.

[2019-04-19 10:15] illuminist commented on #688
Please provide dependencies list from package.json.

Your problem might be:
1. Using `react-redux` higher than v5. If yes then downgrade to `^5.1.1`, or upgrade `react-redux-firebase` to v3
2. Missing redux-redux's Provider component. Then refer to https://react-redux.js.org/5.x/introduction/quick-start

[2019-04-19 19:16] prescottprue commented on #688
This is also noted in the [beginning of the installation section of the README](https://github.com/prescottprue/react-redux-firebase#installation).

[2019-04-20 01:40] philberg commented on #687
That is strange.  You do have slightly a slightly newer react-redux version, although I doubt that matters.

I'll play around with it a bit and see what I can come up with

[2019-04-20 06:06] maotora commented on #688
Thanks, your solution worked perfectly!

So I went with the downgrading `react-redux@^5.1.1` option.

[2019-04-20 06:06] #688 closed

[2019-04-21 18:17] prescottprue commented on #680
Did you provide a `fileMetadataFactory`? It seems like the stack trace is pointing to your `config.js` file - so that seems like it has to do with custom `fileMetadataFactory` logic, but not sure.

[2019-04-21 18:22] prescottprue commented on #687
@philberg If you are able to repro could you open an issue on [redux-firestore](https://github.com/prescottprue/redux-firestore) since that is where the logic for firestore lives currently.

[2019-04-21 18:22] #687 closed

[2019-04-21 18:23] prescottprue commented on #657
Closing since this appears to be a misunderstanding more than an issue.

[2019-04-21 18:23] #657 closed

[2019-04-21 18:24] prescottprue commented on #663
This has been noted in the migration guide for v2 -> v3, so going to close

[2019-04-21 18:24] #663 closed

[2019-04-21 18:35] prescottprue commented on #658
@illuminist @GitHubGreg  Did either of you try providing `logListenerError` true to get the listener error? That should make it so that the error is logged to the console.

Made [this new issue in redux-firestore to track passing that message to the action dispatch](https://github.com/prescottprue/redux-firestore/issues/207).

Going to close since it appears this was due to the index error message

[2019-04-21 18:35] #658 closed

[2019-04-21 18:43] prescottprue commented on #419
Closing in favor of the same issue opened in redux-firestore. Thanks for reporting

[2019-04-21 18:43] #419 closed

[2019-04-22 07:51] MrHazimAli opened #689 "onAuthStateChanged did not update user profile"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

User can use the app without login, but if the user login, they can see their profile data.
after login, onAuthStateChanged is triggered, auth is updated with login user but profile still empty. this only occurring during sign in.. for sign out, user profile automatically cleared. the only way to get

[2019-04-22 18:29] jnamkung commented on #680
I do provide a `fileMetadataFactory` but I was returning the wrong value for downloadURL. I had

`downloadURL: downloadURLs[0], `

and that's where the error was. Thanks for the pointer!

[2019-04-22 18:29] #680 closed

[2019-04-24 16:26] prescottprue commented on #689
The profile loading is separate from auth loading. Auth is needed in order for the listener for profile data (which lives in `users/:uid`) to be attached. With that in mind, profile loading will always come after auth exists.

The `onAuthStateChanged` callback is where the profile listener is attached, but it should still be attached if the user is authenticated.

It could have to do with it being

[2019-04-25 09:57] MrHazimAli commented on #689
hye @prescottprue , here is the repo to reproduce the issue

https://github.com/MrHazimAli/firebaseRepro

here is credential:
**email**: hazimhis23@gmail.com
**pwd**: 123456

[2019-04-25 15:15] illuminist commented on #689
I still couldn't run your repro. But here's my speculation about the code

1. You are not supposed to observe the props inside `onAuthStateChanged`. The listener is called when login, but props.profile still doesn't have actual profile because it need to get a data from firestore and it will be updated into redux state later. And you won't see the change because `onAuthStateChanged` is triggered o

[2019-04-26 03:16] MrHazimAli commented on #689
@illuminist ,

number 1 make sense.. but apparently, when `SET_PROFILE` is only called after I kill the app and open it back. otherwise, after `LOGIN`, no redux dispatch actions are called.

![Screen Shot 2019-04-26 at 10 10 17 AM](https://user-images.githubusercontent.com/6757574/56778988-8a8df980-680b-11e9-970c-6e114127389a.png)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com

[2019-04-26 06:48] atultherajput commented on #635
If **getFirebase** is not part of the **v3.0.0** api then why it is mentioned here: http://docs.react-redux-firebase.com/history/v3.0.0/docs/api/get-firebase.html ?

[2019-04-26 10:33] el1f opened #690 "LOGIN_ERROR with null error dispatched before all LOGIN actions"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Whenever `this.props.firebase.login()` is called a `LOGIN_ERROR` action is dispatched with a single `null` item as the content of the `state.firebase.errors` array before dispatching the `LOGIN` action with the correct data.
![image](https://user-images.githubusercontent.com/10723208/56801958-11989d0

[2019-04-26 11:46] el1f commented on #690
Probably a duplicate of #388, tried the possible solutions proposed in that issue but it didn't seem to help in any meaningful way. Also, when multiple logins fail the `errors` array is filled by consequential pushes of `null` elements. Is this the intended behaviour?

[2019-04-27 12:57] esbenvb opened #691 "Event handler callbacks when getting responses etc."
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

N/A

**What is the expected behavior?**

When I configure the store and add the `reactReduxFirebase` enhancer, I expect a way to specify a callback that can be called in certain events. An example could be when a document mapped with `firestoreConnect` is received, and the `@@reduxFirestore/LISTE

[2019-04-27 13:45] esbenvb commented on #691
I've made a workaround that solves the problem for now, by making a middleware which gives me the dispatched actions, and then switch for the actions that originate from redux-firestore and react-redux-firebase
[code]

[2019-04-28 11:55] illuminist commented on #691
I had the same situation before but with facebook API. I thought it was too redundant to use cloud functions to update those API into firestore, but instead directly pull data from facebook API into redux with duplication and expiration checking logic. So I ended up with writing an entire library of react-redux-facebook(not publish yet).

[2019-04-29 02:33] iamthefox commented on #675
it was done to fix this https://github.com/iamthefox/react-redux-firebase/blob/next-nested-issues/examples/complete/nested-issue/src/Home.js#L30

And yes it will complain because most probably connect will pass "firebase" prop (that comes from firebase reducer)

I feel like this solution not quite working, will look into it.

[2019-04-29 23:14] prescottprue commented on #691
@illuminist Glad to hear! I'm sure there is some way that we could work the logic in.

@esbenvb Thanks for posting your solution!

[2019-04-29 23:17] prescottprue commented on #635
@atultherajput That is because it was copied over from the v2 docs. I will remove it from there, thanks for posting.

All of that said, we may end up having to keep `getFirebase` in the v3 api since there is so many folks looking to keep using it. Personally, I have been trying to remove this from the API for a while since I don't find it to be very clear.

If folks could post their reason for sti

[2019-04-30 21:25] prescottprue commented on #690
@el1f Open to a change in the reducer logic, what is it specifically that makes it "harder to use `isEmpty` and `isLoaded`"? The `LOGIN_ERROR` action dispatch with null is to clear any existing errors, but definitely not clear naming, so maybe a new action name?

[2019-04-30 22:42] el1f commented on #690
That would be a lot of help already! I'm starting to dig deeper into the specific issue I had and I've already unearthead details that make me strongly think that I am actually mishandling my specific use case. Still this is a collateral thing that obviously misled me into thinking that my issues were caused by the lib not behaving as it should. I would definitely expect `LOGIN_ERROR` to be there

[2019-05-03 13:37] arroyoruy commented on #508
me too, thanks!

[2019-05-04 13:11] WhoIsDT commented on #676
Can you please help to repair store.firebaseAuthIsReady in 3.0 version? My app using this method but after update everything broke:(

[2019-05-04 18:25] prescottprue commented on #676
@WhoIsDT there is a bunch of discussion about that in [this issue](https://github.com/prescottprue/react-redux-firebase/issues/635). Would be interested to hear your use case about why it is folks find it necessary to have things on the store - the new context API changes how things are done, so there isn't the instance on the store anymore. `firebaseAuthIsReady` was intended for SSR, and so that

[2019-05-06 19:38] esbenvb commented on #681
FYI i actually found that I can skip the mapping the redux state to props before using it in the query.

2nd argument of `firestoreConnect` seems to be the Redux store, so I can say

[code]

[2019-05-07 05:01] illuminist commented on #681
@esbenvb That's undocumented part of the library and it won't work with v3 and newer as it relies on react's legacy context api. If you plan to migrate to v3 then you should do the documented way.

[2019-05-07 07:02] esbenvb commented on #681
@illuminist Thanks for noting that it's not part of v3.

Do you have any link to "the documented way", or is it just like you mentioned, to map redux state to props, map props to firestore queries, and then map the query results of the state, to props?

It just seems like quite a detour to run all these connect functions multiple times if it can be avoided...

[2019-05-07 08:49] illuminist commented on #681
Seem I wasn't quite right because a way of mapping redux state to connector query doesn't documented anywhere. I see this as the best practice for me, you don't really need multiple `connect`,  you can use single `connect` for both getting redux state for a query and for a result.

[code]
So I map both `itemId` to be used in query and `itemData` which is a result from the query within the same `co

[2019-05-07 15:20] matchatype commented on #531
@prescottprue can you elaborate more on the ways around keeping things in sync? I thought I would implement something like the [client side implementation described in the docs](https://firebase.google.com/docs/auth/admin/custom-claims#client_side_implementation_javascript), but I'm having a hard time doing so inside onAuthStateChanged config prop.

[code]

I did set my cloud function to define cu

[2019-05-08 06:33] prescottprue commented on #531
@matchatype - looks like you are just attaching the callback directly to the Firebase instance instead of passing into the config of react-redux-firebase (not sure that is to blame, but something to note).

For the initial signup - if you are only attaching the listener after successful auth, it won't trigger a change event for the first write since that would happen after authing right? Seems lik

[2019-05-08 22:57] alex-r89 commented on #635
Hi,

I seem to get conflicting information from this thread.

`getFirebase` is not working in V3 (3.0.0-alpha.11). Is it going to be added back in or is this being removed?

If it's going to be removed, has it been replaced with something? If not, can anyone link to information on how to replace `getFirebase` and pass this into a `thunk` extra argument (IE: `thunk.withExtraArgument({ getFirebase }

[2019-05-10 00:24] khmaies5 commented on #638
i imported database like what you said but i still have the same Error

[2019-05-10 01:29] khmaies5 opened #698 "Uncaught Error: Firebase database is required to create watchers"
react-redux-firebase v3
i imported database like what you said but i still have the same Error
[code]
i have also two warnings in the console:
Warning: Failed prop type: The prop `dispatch` is marked as required in `FirebaseConnectWrapped(Course)`, but its value is `undefined`.
Warning: Failed prop type: Invalid prop `firebase` of type `string` supplied to `FirebaseConnectWrapped(Course)`, expecte

[2019-05-10 02:21] khmaies5 commented on #698
my bad, i was importing react-redux-firebase/lib instead of react-redux-firebase

[2019-05-10 02:21] #698 closed

[2019-05-10 06:12] prescottprue commented on #638
@khmaies5 How is your store setup? Are you passing any config into the react-redux-firebase enhancer?

[2019-05-10 12:06] samsoul16 commented on #635
**Hello Guys, i would like to share a working solution for getting redux, react-redux, react-redux-firebase, redux-firestore, redux-thunk and redux-devtools-extension completely working back up.**

The below code uses the latest version of all the libraries so please look at the version of dependencies on the left first and to get it working in your project.

Please take a look at this code-pen :

[2019-05-11 00:04] khmaies5 commented on #638
@prescottprue i was importing react-redux-firebase/lib and that what caused the error.
now i have other error :
Uncaught Error: Supplied prop/s "firebase", "dispatch" are reserved for internal firebaseConnect() usage.

this happens when i use react-redux-firebase inside a component and then call that component inside other component where i also use react-redux-firebase

[2019-05-12 20:27] harshithmullapudi opened #699 "bug(profile): providerData is written as empty array in Firestore"
It 's updating the profile in firestore with provider data as empty array and if we by default set profile how do we know that it's first login

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
react-redux-firebase : 3.0.0 - 11

[2019-05-13 10:24] omern92 commented on #635
I'm struggling with the same issue.
I think that this part:

Is not very clear.
I mean, for something simple as to sign in a user, and after that dispatch some action, which was very simple with "thunk" and "getFirestore()", now doesn't seem clear.

How can I do it now without the "getFirebase()"? How can I access the Firebase functions?
`export const signInAsync = (creds) => {
  return async (dis

[2019-05-14 01:19] khmaies5 opened #700 "Uncaught Error: Supplied prop/s "firebase", "dispatch" are reserved for internal firebaseConnect() usage."
Uncaught Error: Supplied prop/s "firebase", "dispatch" are reserved for internal firebaseConnect() usage.

this happens when i use react-redux-firebase v3 inside a component and then call that component inside other component where i also use react-redux-firebase

store.js
[code]
reducers
[code]

_Originally posted by @khmaies5 in https://github.com/prescottprue/react-redux-firebase/issues/638#iss

[2019-05-14 06:45] illuminist commented on #700
Duplicate https://github.com/prescottprue/react-redux-firebase/issues/675

[2019-05-14 08:29] samsoul16 commented on #635
Helllo @omern92 Using firebase instance directly might not be a good strategy going ahead, instead you should `firestore instance in props` as a parameter to your `action creator` which is `signInAsync`.
Declare your action creator as such
[code]
Now you can pass `firebase` as a prop using 2 ways from your component
1. use `withFirestore` HOC which will automatically add `firebase` in the `props`

[2019-05-14 23:07] prescottprue commented on #638
Looks like you are using the new version (from next) with the syntax from the old version (uses the `reactReduxFirebase` store enhancer) - this is detailed in [the v3 migration part of the docs](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html).

[2019-05-14 23:08] prescottprue commented on #700
Yeah, this is definitely an issue, thanks for pointing out the duplicate @illuminist

[2019-05-14 23:16] khmaies5 commented on #638
@prescottprue ithe only difference from v3 migration was that i am importing firebaseStateReducer not firebaseReducer i changed that to the correct one but i still get: Uncaught Error: Supplied prop/s "firebase", "dispatch" are reserved for internal firebaseConnect() usage.

even after i tried [this ](https://github.com/prescottprue/react-redux-firebase/issues/675#issuecomment-487438179)

[2019-05-17 08:47] atultherajput commented on #622
I am getting wrong values from firestore.ordered while firestore.data is giving correct values.

[2019-05-17 16:31] matchatype opened #702 "Gatsby with ReactReduxFirebaseProvider and SSR"
I'm trying to implement react-redux-firebase v3 alpha with Gatsby v2, but I think I have issues with SSR.

I am passing the new ReactReduxFirebaseProvider component and registering it inside wrapRootElement in gatsby-browser.js. Everything works well in dev, but the project doesn't build. I couldn't find any useful documentation so far.

Here is a repo with the setup: https://github.com/matchatype

[2019-05-17 20:44] peteruithoven opened #703 "Feature request: Easier access to errors in components"
Feature request: Easier access to errors in components

**What is the current behavior?**
When a error arises when requesting data the error information is stored in the Redux state at `firestore.errors.byQuery.[query id]`. A query id could simply be the name of a collection like `todos`, but when specifying a `limit` it becomes `todos?limit=6` making it hard to read out and forward to a component

[2019-05-18 14:49] matchatype commented on #702
I was able to work around the issue by tweaking the configuration object, but... man, it looks terrible 🤦‍♂

[code]

[2019-05-20 00:55] guilopes22 opened #704 "Filter by multiple fields on firestoreConnect"
Hi, I want to do a filter by multiple fields, something like that:

[code]

[2019-05-20 06:46] illuminist commented on #704
firestoreConnect(({ location }) => [
  {
    collection: 'students',
    where: [
      ['age', '>=', 12],
      ['name', '==', 'Gabe'],
    ]
  },
];

[2019-05-20 07:36] illuminist commented on #703
redux-firestore has internal utility function called `getQueryName` which is being used for determining and creating query name from query object input into `firestoreConnect`.

It hasn't been officially exported, so to use this you can import it by
[code]
Example usage:
[code]
I think it's a good idea to export `getQueryName` or some way to return a query name from the connector itself.

[2019-05-20 08:16] peteruithoven commented on #653
Shouldn't this issue be closed now that the PR is merged?

[2019-05-20 09:00] peteruithoven commented on #703
Thanks for the reply! Making `getQueryName` seems like a great improvement.

I see you've created the new React hooks, like `useFirestoreConnect()`, maybe those can make things easier. We probably don't want to retrieve the error directly from `useFirestoreConnect()` since, like the data it should probably always be connected to that data in redux. But maybe it could return the query name it's con

[2019-05-20 09:31] illuminist commented on #703
Thank you! I like the second idea where a hook returns state selectors for its own query. That should make life much easier for everyone.

I've been thinking about making pagination easier which I planned to take the same approach, which should include `{ readNext, readPrevious, readAppend }`, but I still need to research and refactor redux-firestore internal to be able to do that first.

[2019-05-20 11:23] illuminist commented on #653
@peteruithoven I still need some more input and developer feedback so I can implement more features into a hook so I think it's might unnecessary to close this issue yet.

[2019-05-20 11:35] peteruithoven commented on #653
Ah, in that case, let me copy one idea from https://github.com/prescottprue/react-redux-firebase/issues/703#issuecomment-493899513. My suggestion was to have `useFirestoreConnect` return selectors to access Redux state. Example:

[code]

[2019-05-20 12:34] illuminist commented on #653
Take a note that query as an object need to be memoized in order to use the hook correctly
[code]

[2019-05-20 13:49] DevJHansen opened #705 "Prevent isAuthenticated from continually re-rendering the component"
The route protection wrapper is constantly re-rendering my component. This rendering is causing my material UI dialogue box to close

To re-create it you can simply create a component that contains a material UI dialogue box. Protect that component with your route protection, open the dialogue and you'll see that it will automatically close after a few seconds.

[2019-05-20 15:35] esbenvb commented on #508
@411c0d3d

Thanks it also did the trick here. However, I wonder why this works. The type defs of my `firebase` module (5.8.6) does not include the `logout()` method, and neither does the [official documentation](https://firebase.google.com/docs/reference/js/firebase).

I still believe that it is a bug, that you have to call an undocumented function in order to avoid errors.

What also makes me won

[2019-05-20 23:01] rmscoelho opened #706 "Cannot read property "SDK_VERSION" of undefined"
A member of the group I'm in is having this bug when she imports the library.

I installed it with yarn because anything else would basically make the project full of errors (I know this because one of the group members tried with another library)

Using Windows 10.
Also using redux-firestore, redux-thunk, axios-middleware.

![60598400_323037235058257_5596033797582749696_n](https://user-images.git

[2019-05-20 23:50] prescottprue commented on #706
Seems like you are not passing a valid firebase instance into the library. It is hard to say for sure though without more context. Can you provide code that reproduces the bug so more investigation can be done?

Not sure what what exactly is being described with `I installed it with yarn because anything else would basically make the project full of errors (I know this because one of the group mem

[2019-05-20 23:55] rmscoelho commented on #706
I'll ask her what she did for this error to appear and post it here.

I meant using npm install. Sorry for not being clear enough.
And I have no idea why it happened, but it fucked the project and I had to give her an older version, and we didn't get anymore errors after installing stuff with yarn.

[2019-05-20 23:56] prescottprue commented on #508
There should for sure be improved documentation as well as improved typings that include this.

Also, the logout method itself should handle calling `firebase.auth().signOut()` internally, so I'm thinking there is still something wrong here, so going to reopen.

[2019-05-21 00:00] prescottprue commented on #702
Thanks for reporting, haven't tried the newer version with SSR much so glad to have this pointed out.

[2019-05-21 07:21] illuminist commented on #702
From my experience with NextJS SSR is the server side has already initiated firebase instance. And when second client request a page, a server will try to initiate firebase instance again for a second time but fails to do so and that throws the error. Not sure how Gatsby work though.

 My code to prevent the issue is:
[code]

[2019-05-21 08:11] illuminist commented on #705
There're dozens of different way to implement things in an app, and with your *minimal* description, I couldn't figure out which kind of implementation that causing an error. https://codesandbox.io/s/reactreduxfirebase-templete-6cv6g feel free to fork this sandbox to create a repro.

[2019-05-21 10:24] rmscoelho commented on #706
![60467815_2200272043616823_3960587178425188352_n](https://user-images.githubusercontent.com/50850007/58088510-befe9680-7bba-11e9-93f5-25ee246a8455.png)

Here as promised.
We import reactReduxFirebase and getFirebase and then call the store and it gives that error.

Sorry for bothering you, and thanks in advance

[2019-05-21 10:28] DevJHansen commented on #705
My apologies for the bad description. I'll try to re-create my problem with code sandbox. But in the meantime I'll give you more info here.

My material-UI dialogue box is either opened or closed based on the current state of my component.
So if open: false then the dialogue box is closed and if open: true, then it is open. By default the state is set to false.
What is happening is that the compon

[2019-05-22 10:15] esbenvb opened #707 "[Bug] `firebase.auth` not updated when user data is changed"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

In my app (React Native), the user can connect his phone number to the firebase user (signed up by facebook).

done using
[code]

After updating the phone number, i can see in Firebase console that the phone number of the user is set.

But when I look in the redux state, `firebase.auth.phoneNumber` i

[2019-05-22 16:59] thibautvdu commented on #702
@illuminist I'm having some trouble to get this solution to work with nextJS SSR, I could use a hand if you don't mind ! Did you have to do any specific configuration apart from the [getting started instructions](http://react-redux-firebase.com/docs/getting_started.html) ?

I'm having the following error :
`TypeError: firebase__WEBPACK_IMPORTED_MODULE_4___default.a.initializeApp is not a function`

[2019-05-22 17:00] thibautvdu commented on #702
@illuminist I'm having some trouble to get this solution to work with nextJS SSR, I could use a hand if you don't mind ! Did you have to do any specific configuration apart from the [getting started instructions](http://react-redux-firebase.com/docs/getting_started.html) ?

I'm having the following error :
`TypeError: firebase__WEBPACK_IMPORTED_MODULE_4___default.a.initializeApp is not a function`

[2019-05-22 21:47] matchatype commented on #702
Firebase's initialization references the window object. This isn't a problem in development, but running gatsby build is a bit different. window does not exist in the node environment and you have to be careful where and when you try to access the object.

Normally I would use a singleton to inizialize firebase, then call it within a component's lifecycle method, where we can be pretty confident t

[2019-05-23 02:06] zzbynzz opened #708 "How do integrate firestore react-redux-firebase with react-native-firebase"
I am using react-native-firebase instead of firebase/app . So I can't import firestore of 'firebase/firestore'. How can do that with react-native-firebase ?
Thanks you very much.

[2019-05-23 06:22] illuminist commented on #702
@matchatype That's weird. My NextJS server also doesn't have `window` object but able to initialize successfully, and able to load data from firestore within node environment. I think the main purpose of doing SSR is to initially fetch a data to be rendered into `<meta />` or a page itself. Skipping firebase totally seem to defeat it.

[2019-05-23 06:29] illuminist commented on #705
Usually re-rendering doesn't reset component state, unless the said component getting unmounted. I think there's another issue lying in here.

Also I believe `isAuthenticated` isn't a thing in react-redux-firebase as I tried to find by keyword.

[2019-05-23 13:17] thibautvdu opened #709 "[v3] TypeError: firebase.auth is undefined"
Hello everyone,

I followed the v3.0.0 getting started guide and the Auth recipe. I'm using Next JS (with the [redux-thunk recipe](https://github.com/zeit/next.js/tree/canary/examples/with-redux-thunk)) and it seems that firebase is correctly initialized, however when calling firebase.login as per the Auth recipe, I get the following error :

[code]

This is my next.js app wrapper :
**src/app/page

[2019-05-23 15:14] illuminist commented on #709
I copied your code, modified a little bit on what's missing from what you provided, and it runs fine even got through logging in. How did you call `firebase.login`?

My recommendation about posting code, please **name your files and their path**, not just detail on what it does.

[2019-05-23 18:42] matchatype commented on #702
@illuminist with Gatsby what you (usually) want is to structure data through gatsby's data layer. In that case, you will use gatsby node api (which creates pages at some point in the bootstrap sequence) to retrieve your data and then query from a component with graphql. Yes, you can still use unstructured data, but the tradeoffs of foregoing gatsby’s data layer are quite important, and you are for

[2019-05-23 19:19] thibautvdu commented on #709
@illuminist Thanks for your recommendation, I updated the original post according to it.

This is how I'm calling it from one of my next js page :
**src/app/pages/index.js**
[code]

[2019-05-24 02:16] harrison0723 commented on #490
@prescottprue What is a good way to convert anon users with email/password for now?
https://firebase.google.com/docs/auth/web/anonymous-auth

[2019-05-24 06:32] illuminist commented on #709
One more file please, `store.js`. I suspect that the error might come from there.

[2019-05-24 08:39] thibautvdu commented on #709
@illuminist  Many thanks for your help. Here is the file :
**src/app/redux/store.js**
[code]

[2019-05-24 08:43] esbenvb opened #710 "feat(query): callback when data is ready from firestore.setListener"
I suggest the following feature.

* Get a callback on the first response, when setting up a listener with `firestore.setListener()`.

Use case:
When starting an app, before navigating in the UI, i need to check that some of the user generated content meets all requirements, otherwise, I'll send the user to the another screen in order to complete the data, before navigating to the main screen of th

[2019-05-24 09:53] illuminist commented on #710
`setListener` isn't supposed to do synchronized job.

Here's my suggestions:
- Easy way: directly read data using `await firestore.collection(...).get()`. Or...
- Hard way: use `firestoreConnect` and use `connect` to get data and loading state, then redirect user inside component when conditions are not met.

[2019-05-24 10:02] illuminist commented on #709
Still unable to reproduce an error. Could you take my repro https://github.com/illuminist/rrf-issue709 and  run? Maybe find some difference in our code too.

[2019-05-24 10:49] #705 closed

[2019-05-24 12:49] thibautvdu commented on #709
@illuminist After a lot of trials I finally found the origin of this error thanks to your repo : I both had the **@firebase/auth** and **firebase** npm packages in my package.json, which is the only difference between your code and mine. Somehow (honestly not really sure how as my imports doesn't include the @) that was conflicting.

A clean re-install of my dependencies without @firebase/auth sol

[2019-05-24 12:49] #709 closed

[2019-05-24 22:39] esbenvb commented on #707
I can see that this feature was already added as `firebase.reloadAuth()`

https://github.com/prescottprue/react-redux-firebase/pull/281

[2019-05-24 22:39] #707 closed

[2019-05-25 03:46] AlexChaseJones commented on #581
Hey fellas,, having some trouble integrating with V3. I'm able to do all the above and connect to a firestore instance and fetch data using compose and firestoreConnect, but I don't have any of the methods for adding/updating/setting methods that i believe used to come with `{reduxFirestore} from redux-firestore`Can't seem to figure this out either using the docs... any hints?

[2019-05-26 17:18] prescottprue commented on #706
@rmscoelho It appears that you aren't passing the Firebase instance to the store enhancer (`reactReduxFirebase`), it should be the first argument and config should be the second argument:

[code]

The error is happening because you aren't passing that instance (since it can not find SDK_VERSION parameter of the Firebase instance)

[2019-05-26 17:18] #706 closed

[2019-05-27 01:44] iamthefox commented on #700
This issue is caused by https://github.com/prescottprue/react-redux-firebase/pull/613

Idea was if your firebaseConnect() was added after connect() it was overriding firebase data that was connected via firebaseReducer. I don't think this solution is working and I feel like that PR could be reverted as it does not really solve that issue.

[2019-05-27 01:47] khmaies5 commented on #700
@iamthefox yes it does not fix this problem, i was willing to investigate it more but i didn't find the time for that

[2019-05-27 04:43] iamthefox commented on #700
hey @prescottprue, is there any particular reason why props order changed, and "firebase" is the first one in "next" branch (https://github.com/prescottprue/react-redux-firebase/blob/next/src/firebaseConnect.js#L120) and last one in master (https://github.com/prescottprue/react-redux-firebase/blob/master/src/firebaseConnect.js#L97)

I moved it back to where it was in 2.x branch and it fixed the or

[2019-05-27 04:50] khmaies5 commented on #700
@iamthefox
to understand you well
you chnaged this:
[code]
to this ?
[code]

[2019-05-27 06:48] iamthefox commented on #700
https://github.com/iamthefox/react-redux-firebase/blob/next-patched/src/firebaseConnect.js#L103

[2019-05-27 14:17] dinorhythms opened #711 "How to store user auth in localStorage"
Please am having problem storing user auth into localstorage. Need to store auth in localstorage for persistency. I think its not friendly as user keeps waiting on page refresh for auth load.

Thanks.

[2019-05-27 19:46] Wgil commented on #410
Hey,

Where should I add `preserveOnDelete` key? in redux-firestore or react-redux-firebase config? None of them are working for me. I'm using:

[code]

[2019-05-28 07:44] illuminist commented on #711
The idea is to save redux state into localStorage with [redux-persist](https://github.com/rt2zz/redux-persist). You can figure it out.

[2019-05-28 10:10] dinorhythms commented on #711
@illuminist thanks for the hint. will look into it.

[2019-05-28 10:10] #711 closed

[2019-05-30 23:07] yrufai opened #712 "question(core): firebase.auth is not a function"
okay thanks.. did what you suggested still giving same error

_Originally posted by @wizzywit in https://github.com/prescottprue/react-redux-firebase/issues/249#issuecomment-475859493_

came to the same issue and so far no solution has worked for me. please how were you able to solve that problem

[2019-05-31 03:15] prescottprue commented on #712
@yrufai Please provide code to reproduce the issue - in the referenced comment it was noted that the action was being dispatched without passing a firebase instance into the action.

[2019-05-31 03:20] prescottprue commented on #249
`getFirebase` is a function that returns the internal Firebase instance - it does not return the instance itself. You should change the following:

[code]

All of this noted: you shouldn't need to be creating a seperate action with dispatches since actions are dispatched when you call [`login`](http://react-redux-firebase.com/docs/auth.html#logincredentials). Also worth noting: the plan is to remo

[2019-05-31 03:21] #712 closed

[2019-05-31 03:26] prescottprue commented on #702
All good! Yeah I might go with using a connector or writing your own connector logic to load data through node/graphql as you mentioned.

I have actually used Gatsby quite a bit - though I have mostly just connected to Firebase within the front end I could totally understand wanting to load data in the normal node/graphql way using the firebase admin SDK. I would be open to working on a connector

[2019-05-31 03:31] prescottprue commented on #710
+1 to what @illuminist said

Another way to accomplish this is using Higher Order Components as described in the [routing recipes section of the docs](http://react-redux-firebase.com/docs/recipes/routing.html#auth-required-route-protection) (often called route protection)

[2019-05-31 03:32] #704 closed

[2019-05-31 03:38] prescottprue commented on #581
@AlexChaseJones `reduxFirestore` is the store enhancer from the old API of `redux-firestore` - as mentioned in [the migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html#remove-store-enhancer), the store enhancer should be removed since the old context API is no longer being used (in favor of the new API). The HOCs which come from `react-redux-firebase`

[2019-05-31 03:39] prescottprue commented on #410
@Wgil If you are intended to preserve nothing, then you don't need to provide `preserveOnDelete` (which is for preserving data)

[2019-05-31 03:41] prescottprue commented on #490
@harrison0723 There is not currently support in `login` for anonymous auth, but feel free to open an issue requesting that as a feature so we can outline the exact case. Thanks for reporting!

[2019-05-31 03:45] prescottprue commented on #708
@zzbynzz You can follow their instructions for importing and pass the react-native-firebase instance in as [mentioned in the react-native section of the docs](http://react-redux-firebase.com/docs/integrations/react-native.html#native-modules).

Feel free to reach back out if it doesn't work as intended

[2019-05-31 03:45] #708 closed

[2019-05-31 03:46] prescottprue commented on #703
Love all of this discussion and input! We may want to expose `getQueryName` at the top level

[2019-05-31 03:48] prescottprue commented on #699
You can provide `profileFactory` to change how profiles are written to Firestore (or Real Time Database if you are using that instead) as noted [in the profile recipes section of the docs](http://react-redux-firebase.com/docs/recipes/profile.html#change-how-profiles-are-stored).

That said, provider data should only be included if it isn't an empty array, so I'll switch the ticket to focus on that

[2019-06-01 09:48] farzansalimian opened #713 "Different firestore queries on same collection"
**What is the current behavior?**

I have a web app that uses react-redux-firebase and react-firestore. There is a collection with this model:
Task {title:string, tagIds:array, tags:map, creatorId}

I built a query which returns the list of tasks based on a tagId in tagIds array.
That works fine but there is a scenario which messes up the query results. Basically, if I delete a document, or if I d

[2019-06-02 20:44] electricBonfire commented on #675
I am trying to access `this.props.firebase.storage()` as described in the docs: http://react-redux-firebase.com/docs/storage.html

I am using `firestoreConnect` and do have a `this.props.firebase` property however I get the error `TypeError: this.props.firebase.storage is not a function`

When I try to add `firebaseConnect` I get the error as mentioned in this thread.

Is there another way to acce

[2019-06-03 12:05] Wgil commented on #410
@prescottprue I don't have the `preserveOnDelete` key set and when I delete a document from firestore, it's being set as `null` in `data.storeKey.id`. Is this the expected behavior?

[2019-06-03 17:13] thibautvdu commented on #635
I'm currently facing the same issue, except that I would like to access to my firestore instance during SSR.

The [current v3 documentation](http://docs.react-redux-firebase.com/history/v3.0.0/docs/recipes/ssr.html) seems outdated as it suggests to use store.firebase which isn't available anymore.

useFirestore() or useFirebase() cannot be used either as hooks aren't allowed inside getInitialProps

[2019-06-04 05:42] olufemi424 commented on #508
`firebase.logout()` thats all you need...

[2019-06-04 23:33] prescottprue commented on #410
@Wgil Yes - `null` allows the client to know that data has loaded, but does not exist. Matching if you were to try to query a document that does not exist. In this case, both `isLoaded` and `isEmpty` will be true, where if it is `undefined`, `isLoaded` will return false (since the client is not yet aware of if data exists in that part of Firebase/Firestore)

[2019-06-04 23:34] prescottprue commented on #675
@electricBonfire That seems like a bug since we still want to be passing down the storage instance, I will continue to investigate

[2019-06-05 01:50] electricBonfire commented on #675
My mistake, I needed to import firebase/storage.

https://stackoverflow.com/questions/56420198/react-redux-firebase-cannot-get-firebase-storage/56420208#56420208

This was not clear in the docs, it might be helpful to others if it was added to the storage documentation. I followed a video series that integrated this library and I did not read through the setup/installation docs for the lib. If thi

[2019-06-08 10:39] farzansalimian commented on #713
solution is calling `firestore.unsetListener` more info:
https://github.com/prescottprue/redux-firestore/issues/222

[2019-06-08 11:02] #713 closed

[2019-06-12 10:54] rijkerd commented on #635
If getFirebase is removed, please recommend a way to use firebase with on thunk.

[2019-06-12 15:10] Taerarenai opened #714 "Element Type is invalid (due to ReactReduxFirebaseProvider component)"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**

Getting element type is invalid because of `<ReactReduxFirebaseProvider/>`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

Not quite sure how to repro it since i kinda did

[2019-06-12 15:17] Taerarenai commented on #714
This has apparently happened because the firebase app did not initialize. Quite weird that the error means something totally different in react tho'.

[2019-06-12 15:17] #714 closed

[2019-06-12 16:08] Taerarenai opened #715 "bug(auth): google is not a valid auth provider for your firebase instance"
**Do you want to request a *feature* or report a *bug*?**
Bug.
**What is the current behavior?**

Using ``this.props.firebase.login({provider: 'google', type: 'popup'})`` like the examples suggest throws this error -> ``Error: google is not a valid auth provider for your firebase instance. If using react-native, use a RN specific auth library.``

I'm not using RN and the authentication is enabled

[2019-06-12 16:50] Taerarenai commented on #715
I tried using twitter now. That one throws the same error. Does the auth work in V3 or am i doing something wrong here?

[2019-06-12 19:48] prescottprue commented on #715
@Taerarenai auth does work for v3, but when you are using react-native you need to do auth a bit differently using something like [react-native-google-signin](https://github.com/react-native-community/react-native-google-signin) as mentioned in the [react-native section of the docs](http://react-redux-firebase.com/docs/integrations/react-native.html#add-react-native-google-signin)

[2019-06-12 21:36] Taerarenai commented on #715
This is nto a react native project. Forgot to mention, my bad. It is actually a web project using
[code]

[2019-06-14 02:43] prescottprue commented on #715
@Taerarenai Oh interesting... How are you importing firebase? Did you also import auth?

[2019-06-14 12:25] Taerarenai commented on #715
@prescottprue I'm using NextJS. This is how i implemented react-redux-firebase and tested if its working ( i can see myself authenticated in the redux state, probably because i just refactored my app for NextJS and i logged in previously using email/password).
I just started using NextJS and firebase so i might've messed something up, but it is a bit weird cause the error doesn't really help and i

[2019-06-14 19:33] electricBonfire opened #716 "issue getting multiple docs from the same collection"
I am trying to get multiple documents from a single collection.
My use case is somewhat detailed but a simplified version would be the following:

I have 2 collections, `users` and `groups`

When I load a particular user I am trying to do the following:

[code]

the issue I am facing is that `store.firestore.data.groups` only contains the last object `{collection: 'groups'}` listed in the `collect

[2019-06-14 19:36] #716 closed

[2019-06-14 19:37] electricBonfire commented on #716
I just realized the data is stored in firestore.data not firestore.ordered

[2019-06-14 21:50] ianitsky commented on #714
I have the same issue

@Taerarenai , you fixed it?

[2019-06-14 22:36] Taerarenai commented on #714
@ianitsky Yes i did. My code wasnt initializing firebase ( `firebase.initializeApp()` ). You can check more of the code in this issue if it helps. #715 , tho' i'm not quite sure that code is 100% correct either (but at least i have the firebase app initialized and i can see its redux state)

[2019-06-18 21:53] prescottprue opened #717 "feat(query): config option to allow for showing a warning for repeat listeners"
**Do you want to request a *feature* or report a *bug*?**
*Feature*

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
Sometimes there are repeat listeners which can cause unex

[2019-06-19 10:44] Taerarenai commented on #715
Pssst...any idea?

[2019-06-20 03:10] isubhokarma opened #718 "TypeError: Object(...) is not a function"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**Bug**

**What is the current behavior?**

**On LocalHost** -- TypeError: Object(...) is not a funct

[2019-06-20 06:37] illuminist commented on #718
You're using `react-redux-firebase` version 3 but initialized using version 2 method. Please refer to v3 documents for proper initialization http://docs.react-redux-firebase.com/history/v3.0.0/

[2019-06-20 09:58] isubhokarma commented on #718
@illuminist downgraded to the current stable version 2.2.6. Still giving the same output.

https://github.com/neonbroly/neonbroly-main-web/tree/sector-firebase-setup-v-1

![Annotation](https://user-images.githubusercontent.com/49366380/59840173-75e36300-936f-11e9-8915-240421e6e20c.png)

[2019-06-20 10:05] illuminist commented on #718
You also misspelled `reactreduxFirebase` it has to be `reactReduxFirebase`

[2019-06-20 10:13] isubhokarma commented on #718
AAAAAAAAAAAAAA BROOOOOOOO THAAAAAANNNKKKKKSSSSSSS
YOUUUUUUU AREEEEEEE AWESOOOMEMEMEMEM

[2019-06-20 10:14] isubhokarma commented on #718
@illuminist AAAAAAAAAAAAAA BROOOOOOOO THAAAAAANNNKKKKKSSSSSSS
YOUUUUUUU AREEEEEEE AWESOOOMEMEMEMEM

[2019-06-20 10:14] #718 closed

[2019-06-20 16:13] adjeteyboy commented on #635
hi, is there a way to wait for firebase for the auth to be ready in hooks and functional components

[2019-06-20 19:38] prescottprue commented on #715
Not really sure, haven't gotten a chance to try to debug yet. Would it be possible to provide a full codebase where it could be reproduced?

[2019-06-21 06:31] tsubramanian commented on #674
Have you got to make it work?. Can you shed some lights on how you have solved it? I don't see any reference documentation using the firestoreConnect way.

[2019-06-21 09:13] selimyalinkilic commented on #674
I couldn't find any way. So i didn't make pagination

[2019-06-24 16:04] vans163 opened #719 "array removal still broken in 0.8.0, 0.7.0 did not fix it"
So the standard case firestoreConnect a doc and match on ID.  map it doc[0]. Now do a firestore.collection().doc().update() where the doc has 1 less element, firestore DB sees the correct array, redux seems to do a merge, and by the time render function is hit, it renders the collection with erroneous elements.

A workaround is to use storeAs, but it should work without it as well.

Ref: https://g

[2019-06-28 17:11] JorgeMoralesLopez opened #720 "feat(storage): pass file metadata through uploadFile to storage.put"
I'm doing login with facebook and when I enter the profile image in firebase storage I get a file with extension application / octet-stream, I need this file to have jpg, jpeg, png image format ... How can I put contentType?

`
 const firebaseLib = getFirebase()
 const imageName = uuid.v4();
 const path = `${user.uid}/user_images`
 const options = {
    name: imageName,
 };
const response = await

[2019-06-28 19:35] prescottprue commented on #720
You can specify `contentType` as part of your call as shown [in the firebase storage docs](https://firebase.google.com/docs/storage/web/upload-files#add_file_metadata)

[2019-06-28 19:55] JorgeMoralesLopez commented on #720
Thank you for your reply @prescottprue ... Yes, I've tried it several times but it does not work.
`const newMetadata = {
    contentType: 'image/jpeg'
 }
let uploadedFile = await firebaseLib.uploadFile(path, response, newMetadata, options);`

[2019-06-28 23:24] prescottprue commented on #720
@JorgeMoralesLopez It actually appears that file metadata wasn't being passed along, so I started to work on that as a new feature for an upcoming version. The new syntax will look like so:

[code]

[2019-06-29 08:55] JorgeMoralesLopez commented on #720
Thank you @prescottprue, I'm glad to hear that I was not on the wrong path because I searched the web and tried many ways.
If I upgrade to the new version, would I have to update other libraries like firebase, redux, react-redux, redux-firestore, thunk?

"firebase": "^5.4.1",
"react": "16.8.3",
"react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz", (0.59 version)
"react-

[2019-07-01 20:59] prescottprue commented on #719
Reopened the redux-firestore issue. Going to close this one so we aren't tracking it in two places

[2019-07-01 20:59] #719 closed

[2019-07-02 19:22] lidaof opened #723 "Uncaught Error: Firebase database is required to create watchers"
Related to #638 but I didn't find a solution.

version 2.2.6
my import:
[code]
Error msg:
![image](https://user-images.githubusercontent.com/102806/60540319-7c110200-9cd4-11e9-9009-55e420695d74.png)

Can you please suggest a way to fix this? thank you.

[2019-07-03 18:00] prescottprue commented on #723
The import should look like so:

[code]

Notice that there is no `*`

[2019-07-05 09:06] Akash187 opened #724 "Firestore return only 1 doc for mutiple querry"
The below code only return the doc with later id.
firestoreConnect(props => {
    let test = [
      {collection: "comments", doc: "917mXClPeWjTwVHu8AOt"},
      {collection: "users", doc: "CEJ6fo6EDhcGUj57DZaSW9m3IJC3"}
    ];
    console.log(test);
    return test;
  })

The required behavior is that it returns both the documents.

[2019-07-05 12:56] Shreky commented on #653
Hi,
First, thank you for the efforts!
I just tried to use the useFirebase hook on a typescript based project and it didn't work.
apperantly, the recent version (v3, alpha 12) doesn't have an updated typescript definitions.
Do you plan to add it sometime?

Right now, my workaround is to import react-redux-firebase/src/useFirebase directly.

Thanks.

[2019-07-05 18:05] #724 closed

[2019-07-07 09:00] joerex commented on #531
@prescottprue I've added the ability to use custom claims. What is the downside of this approach?

https://github.com/joerex/react-redux-firebase/commit/ecdc308e552ad05baf1d38e1af8a161528625a90

[2019-07-08 21:14] esbenvb commented on #691
It seems like the updated state is not available, when my middleware is activated. When my `observeActions` middleware gets an action path defined as `action.meta.storeAs`, the state does not contain data at that path. It seems like my custom middleware is run before the action results are saved in the database.

I wonder why that happens? Can I do anything, like adjusting the order in the `compos

[2019-07-09 06:47] illuminist commented on #691
State is updated ***after*** you call `next`

https://redux.js.org/advanced/middleware#attempt-3-monkeypatching-dispatch

[2019-07-09 08:40] prescottprue commented on #531
@joerex I actually really like that approach and would be open to a PR for adding logic to support it - we would just need some documentation around the requirement of using a real time database or firestore location for the refresh path

[2019-07-10 12:13] esbenvb commented on #691
Thank you @illuminist

It works now with
[code]

[2019-07-10 12:17] illuminist commented on #691
I think uou need to also return the result from `next` or else you will break middleware chain.

[2019-07-13 07:24] prescottprue commented on #653
Types added in [v3.0.0-alpha.13 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.13). @Shreky the types for `useFirebase` are in there so let me know if that works well for you

[2019-07-13 07:25] prescottprue commented on #671
Released in v3.0.0-alpha.13

[2019-07-13 07:25] #671 closed

[2019-07-13 07:27] prescottprue commented on #675
Proposed solution implemented in [v3.0.0-alpha.13 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.13). Reach out if it isn't working as expected and we can reopen. Thanks to all for helping test out the next version.

[2019-07-13 07:27] #675 closed

[2019-07-13 07:27] prescottprue commented on #700
Proposed solution implemented in [v3.0.0-alpha.13 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.13). Reach out if it isn't working as expected and we can reopen. Thanks to all for helping test out the next version.

[2019-07-13 07:27] #700 closed

[2019-07-13 07:29] prescottprue commented on #676
Fixed in [v3.0.0-alpha.13 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.13). Thanks for reporting!

[2019-07-13 07:29] #676 closed

[2019-07-13 07:31] prescottprue commented on #651
Going to close since this is presumed to be an issue with indexes not being set. Feel free to reach out if that is not the case and we can reopen

[2019-07-13 07:31] #651 closed

[2019-07-13 07:34] prescottprue commented on #610
Just did a pretty big upgrade to the types as part of the [v3.0.0-alpha.13 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.13) and am planning to continue updates to them regularly. Going to close this issue for now, but please feel free to open new issues/PRs with your input. Thank you everyone for all for your contributions!

[2019-07-13 07:34] #610 closed

[2019-07-13 07:41] prescottprue commented on #715
Could you provide a full codebase through a repo or a codesandbox so that the issue can be reproduced?

[2019-07-13 07:44] prescottprue commented on #723
Going to close - Feel free to reach out if it doesn't fix the issue. Thanks for reporting!

[2019-07-13 07:44] #723 closed

[2019-07-13 07:47] prescottprue commented on #682
Just released more types updates to the `next` branch/tag that may be worth checking out. Going to leave this open until those updates are released to latest.

[2019-07-13 07:53] prescottprue commented on #710
@esbenvb do the proposed solutions work for your use case or are you still feeling that this feature has a place? Going to close for now, but feel free to reach out to discuss further - we can reopen

[2019-07-13 07:53] #710 closed

[2019-07-13 09:13] prescottprue commented on #720
Fix included in [v2.3.0 release](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.3.0) including a docs update with an example. Reach out if it doesn't work as expected. Thanks for reporting!

[2019-07-13 09:13] #720 closed

[2019-07-13 09:15] prescottprue commented on #699
Fix released in [v2.3.0](https://github.com/prescottprue/react-redux-firebase/releases/tag/v2.3.0)

[2019-07-13 09:15] #699 closed

[2019-07-15 08:25] Taerarenai commented on #715
I'll try to make a smaller repro and get back to you. Might be a few days since i'm busy and its quite tricky using nextjs.

[2019-07-16 05:18] iamthefox commented on #700
hey @prescottprue You moved `firebase` property so it is no longer overridden by outer component `firebase` prop.  (Ref: https://github.com/prescottprue/react-redux-firebase/commit/47e41da583daab08515edbd3f9698db6454aed16#diff-10defd74a58e7f8397c9c53cf8d5ee99R114)

So there is no longer need to check for clashing props at all. It is safe to remove them completely.

They are no longer required for

[2019-07-16 05:26] iamthefox opened #727 "firebase/firestoreConnect is not providing redux store"
**Do you want to request a *feature* or report a *bug*?**
_bug_

**What is the current behavior?**
firebaseConnect and firestoreConnect no longer provide redux store as a second parameter.

E.g.

[code]

**What is the expected behavior?**

Should provide redux store.

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups

[2019-07-16 05:27] iamthefox commented on #727
Ref.:

This one is passing this.store which is undefined
https://github.com/prescottprue/react-redux-firebase/blob/next/src/firebaseConnect.js#L63

This one is passing props and prop :)
https://github.com/prescottprue/react-redux-firebase/blob/next/src/firebaseConnect.js#L45

[2019-07-16 09:35] iamthefox commented on #727
I did a bit of experimenting on my custom fork and here what I came up with:

https://github.com/iamthefox/react-redux-firebase/blob/next-store/src/ReactReduxFirebaseProvider.js#L22

https://github.com/iamthefox/react-redux-firebase/blob/next-store/src/firebaseConnect.js#L45

It sort of fixes the problem I mentioned but I am not quite sure if thats the best way of doing it.

Or maybe it will make

[2019-07-16 18:25] prescottprue commented on #727
The first way you passed works - In general though I have suggested that folks actually place a `connect` before `firebaseConnect` so that you can pass state values as props and use those props in `firebaseConnect` instead of state. This is because there have been issues reported in the past with reloads not happening when state changed

[2019-07-16 18:31] botv opened #728 "bug(HOCs): withFirestore not functioning as expected"
**Do you want to request a *feature* or report a *bug*?**
*bug*

(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
Using `withFirestore` adds `firestore` to `props`, but the va

[2019-07-16 19:09] sgtpenguin commented on #344
Just chiming in to say, I could only get this to work when I put `connect` before `firestoreConnect` in my `compose` function.  Definitely seems weird, and is not what I see in examples above, but maybe it will help someone.  Was pulling my hair out on this one.

[2019-07-17 12:25] prvnbist commented on #635
`props` doesnt have a `firestore` method. Even the `ownProps` in the `mapDispatchToProps` doesn't have a `firestore` method.

[2019-07-17 16:46] harvey56 commented on #647
@prescottprue upgrading to the `next` version generates a new error : `Object(...) not found` at this line in your store : `reactReduxFirebase(firebase, config)`

[2019-07-17 19:18] prescottprue commented on #647
@harvey56 reactReduxFirebase is not part of the v3 api currently [as mentioned in the v3 migration guide](http://docs.react-redux-firebase.com/history/v3.0.0/docs/v3-migration-guide.html).

That said, a number of folks have been asking to still have access to `store.firebase` which is what the `reactReduxFirebase` store enhancer does, so it may end up being added back to the api for v3. Again thou

[2019-07-17 19:22] prescottprue commented on #635
To address this I have been considering adding back the `reactReduxFirebase` store enhancer to the v3 api. We will just need to make sure that the enhanced firebase instance that is created is shared with `ReactReduxFirebaseProvider` so that the listener tracking works across the two. That said, it is most likely that the internal API will still use the context created by `ReactReduxFirebaseProvid

[2019-07-17 19:25] prescottprue commented on #344
@sgtpenguin agreed that is the correct way to make it work. That is what is described above and done in [the query docs](http://react-redux-firebase.com/docs/queries.html#loading) and the [state based query snippet example](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/snippets/stateBasedQuery) by placing the connect in a component above where the `firebaseConnect`.

[2019-07-17 19:27] nickwebha commented on #651
I have a very similar issue. I am using TypeScript, if that matters.

[code]

[code]

When I do not use orderBy everything is peachy. When I use orderBy it sometimes pulls the data, it sometimes does not. There is never an error in the React Native Debugger console. When it does work it does not update (reflect changes in Firestore data, deletes of documents, adds of documents, etc). Again with no

[2019-07-17 19:31] prescottprue commented on #728
Hmm... weird... I will try to replicate. This is a big one thanks for reporting!

[2019-07-17 19:34] prescottprue commented on #700
Gotcha, makes total sense. I modified it to check for `firebase` in `firebaseConnect` and `firebase` and `firestore` in `firestoreConnect`, but yeah feels unnecessary.

[2019-07-17 19:37] prescottprue commented on #651
@nickwebha Can you open a new issue with a code base to reproduce the issue as well as your settings for your indexes? Seems like it may be something specific to react-native since I believe the above issue was narrowed down to an issue with indexes.

[2019-07-17 19:48] botv commented on #728
@prescottprue I figured it out. I was missing a line in the configuration.

[code]

My IDE (WebStorm) suggests that the property is never used. My bad.

[2019-07-17 19:48] #728 closed

[2019-07-17 20:07] nickwebha opened #729 "bug(firestore): No results with React Native, firestoreConnect(), and orderBy"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

When I do not use orderBy everything is peachy. When I use orderBy it sometimes pulls the data, it sometimes does not. There is never an error in the React Native Debugger console. When it does work it does not update (reflect changes in Firestore data, deletes of documents, adds of documen

[2019-07-17 20:09] nickwebha commented on #651
[https://github.com/prescottprue/react-redux-firebase/issues/729](https://github.com/prescottprue/react-redux-firebase/issues/729)

[2019-07-17 20:56] prescottprue commented on #728
Ahh, gotcha - great to know. I'll look into having a better error message

[2019-07-18 16:13] illuminist commented on #729
I'm not sure if it's a problem with `firebase-native` only or not. I've created a new repro which works fine for me so far.

https://codesandbox.io/s/react-redux-firebase-issues729-2ly3z

[2019-07-18 17:34] nickwebha commented on #729
Keep playing with it to be sure. I have had whole hours where it works fine. Rarely that long, however.

[2019-07-19 08:14] illuminist commented on #729
That would be hard to diagnose if problem occurs randomly after long period of usage. I don't have an ability to create react-native app right now. Could you port my repro to native and test it again? And maybe fork my repro, plug in your project id and test?

[2019-07-19 15:50] nickwebha commented on #729
I would love to except I also have limited ability right now. Really, I wish I could.

It is not an issue that occurs after a long period but the opposite. It is _well_ over half the time it simply does not function as intended.

I am just going to move forward without `orderBy` for now since the Firestore portions would be easy to rip out if the need arises. I will miss the automatic mounting/unm

[2019-07-19 17:41] prescottprue commented on #729
@nickwebha Something else that might be worth trying is adding `storeAs` to your query to see if that impacts things at all.

As you suggested, I'll close for now, and we can reopen later. Thanks for reporting!

[2019-07-19 17:41] #729 closed

[2019-07-20 18:23] Taerarenai commented on #715
@prescottprue  Ok, managed to make a repo.

https://github.com/Taerarenai/react-redux-firebase-next1 .
Firebase config resides in `/utils/firebase/fbconfig.jsx`

You can check the error by doing

`npm run dev`
Then go to `localhost:3000/admin` and click the button.

[2019-07-21 23:35] illuminist commented on #727
There’s a problem with passing entire store to a connector. If store state updated should a connector try to get a new query object every time even for minor store update? If not, it will cause update blocking where the store updated but it does not get the updated store until props has changed. Instead, selectively get necessary state using react-redux’s `connect` will lift almost all comparing o

[2019-07-22 00:20] iamthefox commented on #727
Make sense.

[2019-07-22 04:09] gopinav opened #731 "Firebase Timestamp returns null"
Bug

I am logging the profile object in the console and all server timestamps are returned as null.
![image](https://user-images.githubusercontent.com/13146172/61605673-3fe21900-ac64-11e9-9b9d-b66757d336b9.png)
![image](https://user-images.githubusercontent.com/13146172/61605750-92bbd080-ac64-11e9-9291-5807bf167b33.png)

Set a document field to Server TimeStamp value and read it in your component.

[2019-07-22 04:14] prescottprue commented on #731
What did you use for the timestamp, `firebase.firestore.FieldValue.serverTimestamp()`?

Is this with react-native? Are you able to provide a repo/codebase where the error can be reproduced?

[2019-07-22 06:03] gopinav commented on #731
Hi, yes this is with react native. I found out that this is a pods issue and not with this library. Will close the issue thanks!

[2019-07-22 06:03] #731 closed

[2019-07-22 10:02] nwaughachukwuma commented on #682
@prescottprue I am using this library in a react-native app and it works well in debug mode, but on building for production, the app is not going beyond the splash screen and it shows following errors when logged:

[code]
This is pointing to firestoreConnect, but I don't know it's referenced as `F`irestoreConnect. I have looked through all the files, where it's called and cannot happen to place wh

[2019-07-22 19:20] prescottprue commented on #682
Not totally sure, but since you are saying it is for production instead of dev, is it maybe being minified? Similar issues have shown up in the past with certain webpack/ugilify settings

[2019-07-23 03:01] jeloagnasin commented on #727
Is the redux store going to return in the `firebaseConnect` or `firestoreConnect` APIs? Or should we start refactoring our code to follow this pattern:

[code]

[2019-07-23 06:38] nwaughachukwuma commented on #682
Is there something I could do in this case?

[2019-07-23 07:28] jeloagnasin opened #732 "bug(HOCs): Static methods are not copied over"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Static methods are not copied over if I use `firebaseConnect`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

See: https://github.com/jeloagnasin/rrf-testing/blob/master

[2019-07-23 07:43] jeloagnasin commented on #732
Workarounds for this issue are:

[code]

or

[code]

[2019-07-23 11:03] illuminist commented on #727
I assume you meant "Is the redux store going to ***be passed into*** the functions". As for reason I and prescott mentioned before, it's going to be no.

[2019-07-23 12:19] iamthefox commented on #727
Yeah, using connect makes much more sense in this case.

[2019-07-23 13:16] illuminist commented on #715
[code]
is where it went wrong.

You are exporting only `App` instance of firebase but not an entire firebase library which `react-redux-firebase` require to access some property that doesn't included in App instance.

Content in `utils/firebase/fbconfig.jsx` must be change to
[code]

[2019-07-23 14:22] jeloagnasin commented on #727
Okay, thanks for the clarification!

[2019-07-23 15:52] jeloagnasin commented on #732
Since #733 is a temporary fix, check out #734 for a permanent solution. illuminst is refactoring `firebaseConnect` and `firestoreConnect` to use hooks.

[2019-07-24 10:32] valerii-cognite commented on #698
`react-redux-firebase/lib` proposed in examples https://github.com/prescottprue/react-redux-firebase/tree/next. Migrating to a regular import, i.e.
[code]
solved an issue for me, shouldn't we consider to update docs?

[2019-07-24 21:33] designifyer commented on #700
Hey guys,
I'm still getting this error when I try to use both firebaseConnect() and firestoreConnect(). If I use only one per component it works fine. I'm using "react-redux-firebase": "^3.0.0-alpha.13"

[2019-07-25 00:53] tomoyuki28jp commented on #621
I'm also experiencing this. Any progress?

[2019-07-25 13:32] nwaughachukwuma commented on #557
Hi @prescottprue any code snippet how this could be achieved?

[2019-07-25 19:04] prescottprue commented on #698
`import ReactReduxFirebaseProvider from 'react-redux-firebase/lib/ReactReduxFirebaseProvider'` should still work as expected. @valerii-cognite what exactly was it that didn't work for you when pulling from `/lib`?

[2019-07-25 19:05] prescottprue commented on #682
@nwaughachukwuma Disable anything that is doing minification for your production build? It is quite difficult to theorize without a codebase with which to reproduce the issue - are you able to provide that?

[2019-07-25 19:06] valerii-cognite commented on #698
I'm not sure what went wrong, but in that case error from the issue topic occurred `Uncaught Error: Firebase database is required to create watchers`

[2019-07-25 19:07] prescottprue commented on #700
@designifyer the plan moving forward is for use to remove prop checking all together, so that should fix this issue. Thanks for reporting

[2019-07-26 01:25] tomoyuki28jp commented on #699
@prescottprue I setup my react-redux-firebase like this.
https://react-redux-firebase.com/docs/recipes/roles.html#automatically-assign-role-when-user-signs-up

providerData is stored in firestore as a empty array even when user.providerData is not empty.

(Is this because firestore does not support directly nested arrays? https://github.com/firebase/firebase-js-sdk/issues/193#issuecomment-45793761

[2019-07-26 05:10] nwaughachukwuma commented on #682
Hey @prescottprue so I figured it. The issue was in my babel.config setup where I have

[code]
with `'absoluteRuntime': false`. This led to relative file path for node_modules libraries, thus causing inapt referencing of class and function defs in files. So against what I said, it's not a firestoreConnect thing.

Thanks for the swift response

[2019-07-26 06:10] nwaughachukwuma commented on #557
Hi @prescottprue so I found help https://github.com/prescottprue/redux-firestore/issues/114. Thanks for what you do.

[2019-07-26 10:10] Taerarenai commented on #715
@illuminist - Yep....you're totally right. That was the issue. I got the pop-up now and it errors out due to the consent page not being configured (i didnt do that yet) so i suppose react-redux-firebase works fine.

But damn, that error message had nothing to do with the actual error.
Anyway, thanks a lot ! :D.

[2019-07-26 10:10] #715 closed

[2019-07-28 09:31] lanice opened #736 "bug(types): firebaseConnect/firestoreConnect type definitions are missing React.FunctionalComponent"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When using `firestoreConnect` with a functional component, the Typescript compiler throws an error.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

[code]
Typescript erro

[2019-07-30 04:41] tomoyuki28jp opened #738 "LOGIN action clears firebase.profile restored by redux-persist before getting latest profile data."
**What is the current behavior?**

I am using react-redux-firebase + redux-persist.

- `persist/REHYDRATE` restores firebase.profile from localStorage
- `@@reactReduxFirebase/LOGIN` clears firebase.profile
- `@@reactReduxFirebase/SET_PROFILE` re-set latest profile data

**What is the expected behavior?**

In above case, I think it's better not to clear firebase.profile before getting the latest da

[2019-07-30 22:47] iamthefox commented on #727
Closing this since original question was answered. Maybe worth putting a note in migration guide for people who still relied on store.

[2019-07-30 22:47] #727 closed

[2019-07-31 06:00] prescottprue commented on #699
@tomoyuki28jp Thanks for posting, the example should be updated - you may also want to stick to assigning roles in a cloud function since that makes it easier when it comes times to create security rules

[2019-07-31 06:03] prescottprue opened #739 "bug(docs): profileFactory example writes empty array"
**Do you want to request a *feature* or report a *bug*?**
bug
(If this is a *usage question*, please **do not post it here**—post it on [gitter](https://gitter.im/redux-firebase/Lobby). If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**
[profileFactory docs example](
https://react-redux-firebase.com/

[2019-07-31 10:00] farzansalimian opened #740 "update multiple items using batch.commit() returns multiple responses"
**What is the current behavior?**
We have a list of items. We do a batch update on some of the items using batch.commit();

We would expect a single response for the the batch update. However, we get individual responses for each item updated. This creates an issue in rendering the list. For example, if we do a batch update for 10 items, the list gets rendered 10 times.

We can observe this using

[2019-07-31 15:03] illuminist commented on #740
I think there is a similar issue at https://github.com/prescottprue/redux-firestore/issues/191 waiting to be fixed. This issue is related to redux-firestore directly so I think it will be a good idea to discuss there instead.

[2019-07-31 18:52] prescottprue commented on #736
Fix released in [v3.0.0-alpha.14](https://github.com/prescottprue/react-redux-firebase/releases/tag/v3.0.0-alpha.14) thanks for the PR!